@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400,300);
body {
    background: #f0f0f0;
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    padding-bottom: 40px !Important;
    padding-top: 80px;
}

.row {
    margin: 0 0 0 0
}

.row.no-pad {
    padding: 10px 0px 10px 0px !important;
}

p {
    font-size: 16px;
    text-shadow: 1px 1px 0 #fff;
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400
}

sup {
    cursor: pointer;
}

div.legal sup {
    cursor: none;
}

a,
a h1,
a h2,
a h3 {
    color: #1c8bbc
}

a.no-underline {
    text-decoration: none !important
}

h1,
h2,
h3 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #042e67;
    font-weight: 300;
    line-height: 1.5;
}

h1 {
    font-size: 22px;
    /*    border-bottom: 1px solid #498fe1*/
}

h1 strong {
    font-weight: normal;
    font-size: 28px
}

h1 span {
    display: block;
    color: #6f6f6f !important;
    font-size: 18px !important
}

h1 i.required,
h1 em.required {
    font-size: 14px
}

h2 {
    font-size: 20px;
    text-shadow: 1px 1px 0 #fff;
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px;
    color: #042e67;
    text-shadow: 1px 1px 0 #f4f4f4;
    padding: 0px 0 10px 0px;
    margin: 0
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 10px;
}

.pad-none {
    padding: 0 0 0 0;
}


/*
 * Row with equal height columns
 * --------------------------------------------------
 */

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}


/*
 * End row with equal height columns*/

#header {
    position: relative;
    width: 100%;
    top: 0;
    z-index: 999
}

#header .holder {
    padding: 0;
    margin: 0 auto;
    background: #042e67;
    color: #fff
}

#header .panel {
    position: relative;
    z-index: 9999;
    background: #042e67;
    background-color: #042e67;
    padding: 0;
    border-radius: 0;
    color: #d7d7d7;
    margin: 0;
    box-shadow: none;
    border: 0
}

#header .panel .holder {
    padding: 10px 0 20px 0px;
    margin: 0 auto;
}

#header a.title {
    color: #92c3e6;
    padding: 10px 10px;
    display: inline-block;
    font-size: 130%
}

#header a {
    color: #78aeda
}

#header a:hover {
    color: #fff;
    text-decoration: none
}

header {
    border-bottom: 1px solid #008cdd;
}

#header li.active a:hover {
    background-color: #428bca !important
}

ul#top-links {
    margin: 12px 0px;
    padding: 0
}

ul#top-links li {
    font-size: 14px;
    display: inline-block !important;
    border-left: 1px solid #2e5181;
    list-style: none !important;
    margin: 0;
    padding: 0;
}

ul#top-links li:first-child {
    border-left: 0
}

ul#top-links li a {
    padding: 8px 8px 8px 8px !important
}

#header ul.links {
    margin-top: 5px;
}

#nav-upper-links .glyphicon {
    font-size: 90%
}

.required-note {
    position: absolute;
    background: #498fe1;
    color: #fff;
    padding: 8px;
    width: 110px;
    right: 16px;
    z-index: 200;
    top: 0px;
    text-align: right;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

a,
p a {
    text-decoration: underline;
}

ul > li > blockquote {
    font-size: 14px;
    border: none;
    margin: 0
}

ul.checked {
    padding-left: 20px
}

ul.checked li,
div.checked ul li {
    list-style: none;
    background-image: url(../images/bullet-checkmark.gif);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 0 0px;
    padding: 3px 3px 6px 25px;
}

.text-default {
    color: #363636!important
}

.text-primary,
.text-primary:before {
    color: #82af54!important
}

.text-inherit {
    color: inherit!Important
}

.text-sm,
.text-sm:before {
    font-size: 12px!important
}

.text-md,
.text-md:before {
    font-size: 16px!important
}

.text-lg,
.text-lg:before {
    font-size: 20px!important
}

.text-heading {
    display: block;
    color: #578429
}

.text-heading {
    font-weight: normal!Important
}

.well {
    background: #fff;
    border-radius: 0
    max-width:700px;
}

.well > .container {
    padding-left: 0px !important;
    padding-right: 0px !important
}


/******* Login CSS******/

.login-bg {
    background: url(/assets/images/login-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.container-login {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-top: 60px;
}

.login {
    display: block;
    height: 100%;
    width: 350px;
    margin: auto;
    color: #555;
    background-color: #fff;
    /*    border: 1px solid #ccc;*/
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.35);
}

.login-header {
    /*    display: block;*/
    height: 80px;
    width: 350px !important;
    padding: 20px 0px;
    margin-bottom: 30px;
    color: #555;
    background-color: #003469;
}

.login h4 {
    font-weight: 400 !important;
    margin-bottom: 10px;
}

.profile {
    background: #c6e5f7;
    border-radius: 0;
    padding: 15px 0px;
    border-bottom: 1px solid #ddd;
    margin-top: -10px
}

label {
    min-width: 120px;
    /*    opacity: 0;*/
    padding: 1px 8px 1px 8px;
    /*    background-color: #eee;*/
    font-size: 11px !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 0px
}


/*
label:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 10px;
    top: 25px;
    border: 1px solid;
    border-color: #666 transparent transparent #666;
}
label:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 18px;
  top: 30px;
  border: 1px solid;
  border-color: #fff transparent transparent #fff;
}
*/

label.show {
    opacity: 1;
}

.radio label,
.checkbox label,
label.radio-inline {
    /*    opacity: 1;*/
    font-size: 15px !important;
    color: #a6a6a6;
    background-color: transparent !important;
}
label.radio-inline span, .checkbox label span{
    color: #363636 !important
}
.control-label {
    /*    color: #6f6f6f;*/
    color: #3e8bde;
    font-weight: normal;
    text-transform: uppercase;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.left-column {
    background: #fff;
    border-right: 1px solid #3383d9
}

.top-nav {
    background: #00205c;
    color: #fff;
    border-bottom: 1px solid #3383d9;
    padding: 10px 0px 10px 0px;
    height: 72px;
    z-index: 1;
}

.top-nav.mobile {
    background: #fff;
}

.top-nav.mobile > .col-md-2,
.top-nav.mobile > .col-sm-2 {
    display: none;
}

.top-nav.mobile > .col-md-10,
.top-nav.mobile > .col-sm-10 {
    width: 100% !important;
}

.content-column,
.left-column {
    padding: 50px 30px
}

.content-column {
    text-shadow: 1px 1px 2px #fff;
}

.alert {
    margin-top: 20px;
    background-image: none;
    font-size: 14px
}

/* .section-header{
  display: inline-block;
  background: #fbfbfb;
  width: 100%;

} */

.section-header h3 {
    font-size: 13px;
    color: #498fe1 !important;
    font-weight: 300;
    text-transform: uppercase;
    text-align: left;
}

.form-group {
    padding-bottom: 10px;
    margin: 0;
    max-width: 600px;
    margin: 0 auto;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group textarea,
.form-group select {
    color: #002258;
    font-size: 14px !important;
    font-weight: 500;
    height: 38px !important;
    line-height: 1.42857143;
    width: 100%;
    /*
    border-radius: none !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0px !important;
    border-bottom: 1px solid #959595;
*/
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff !Important;
    background-repeat: no-repeat !important;
    background-position: 98% 50% !important;
    box-shadow: none !important;
    max-width: 450px;
}

input[type="text"].required,
input[type="password"].required,
input[type="email"].required,
textarea.required,
select.required {
    color: #6f6f6f !important;
    /*    background-color: #498fe1;*/
    border: 2px solid #498fe1 !important;
}

.required-sample {
    border: 2px solid #498fe1 !important;
    width: 30px;
    height: 15px;
    margin: 0px 6px 0px 6px;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    margin-bottom: -3px
}

.form-group.success-icon input[type="text"],
.form-group.error-icon input[type="text"],
.form-group.warning-icon input[type="text"],
.form-group.info-icon input[type="text"],
.form-group.calendar-icon input[type="text"],
.form-group.card-icon input[type="text"],
.form-group.cash-icon input[type="text"],
.form-group.earth-icon input[type="text"],
.form-group.location-icon input[type="text"],
.form-group.lock-icon input[type="text"],
.form-group.mail-icon input[type="text"],
.form-group.phone-icon input[type="text"],
.form-group.search-icon,
input[type="text"] .form-group.time-icon input[type="text"] {
    background-size: 16px 16px !important;
}

.success-field input[type="text"],
.success-field input[type="password"],
.success-field input[type="email"],
.success-field select,
.success-field textarea {
    border-color: #82af54 !Important;
}

.error-field input[type="text"],
.error-field input[type="password"],
.error-field input[type="email"],
.error-field select,
.error-field textarea {
    border: 2px solid #cc092f !important;
    color: #cc092f !important
}

.warning-field input[type="text"],
.warning-field input[type="password"],
.warning-field input[type="email"],
.warning-field select,
.warning-field textarea {
    border: 2px solid #c58a4b !important;
    color: #c58a4b !important
}

.info-field input[type="text"],
.info-field input[type="password"],
.info-field input[type="email"],
.info-field select,
.info-field textarea {
    /*    background-image: url(../images/input-info-icon.png) !important;*/
    border: 2px solid #4891dc !important;
    color: #4891dc !important
}

.calendar-icon input[type="text"] {
    background-image: url(../images/input-calendar-icon.png) !important;
}

.card-icon input[type="text"] {
    background-image: url(../images/input-card-icon.png) !important;
}

.cash-icon input[type="text"] {
    background-image: url(../images/input-cash-icon.png) !important;
}

.earth-icon input[type="text"] {
    background-image: url(../images/input-earth-icon.png) !important;
}

.location-icon input[type="text"] {
    background-image: url(../images/input-location-icon.png) !important;
}

.lock-icon input[type="text"] {
    background-image: url(../images/input-lock-icon.png) !important;
}

.mail-icon input[type="text"] {
    background-image: url(../images/input-mail-icon.png) !important;
}

.phone-icon input[type="text"] {
    background-image: url(../images/input-phone-icon.png) !important;
}

.search-icon input[type="text"] {
    background-image: url(../images/input-search-icon.png) !important;
}

.time-icon input[type="text"] {
    background-image: url(../images/input-time-icon.png) !important;
}

.form-group > .alert {
    display: inline-block;
    margin-top: 3px;
    font-size: 16px;
    padding: 3px 10px 3px 12px;
    border: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
    margin-bottom: 0px !important;
}

.form-group > .alert > .glyphicon {
    margin-left: -15px;
    float: left;
}

.alert-danger {
    color: #cc092f !important;
    display: inline-block;
    margin-top: 7px;
    font-size: 15px;
    font-weight: 700;
    padding: 10px;
}


/* HTML5 Boilerplate accessible hidden styles */

[type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/* One radio button per line */

.checkbox label {
    display: block;
    opacity: 1
}

[type="radio"] + span {
    display: block;
    font-size: 14px;
}


/* the basic, unchecked style */

[type="radio"] + span:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: -0.15em;
    border-radius: 10px;
    border: 1px solid #959595;
    margin-right: 0.75em;
    transition: 0.5s ease all;
}


/* the checked style using the :checked pseudo class */

[type="radio"]:checked + span:before {
    background: #498fe1;
    border: 2px solid #498fe1;
}

[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

[type="checkbox"] + span:before {
    content: '';
    background: #fff !important;
    border: 2px solid #959595 !important;
    display: inline-block !important;
    vertical-align: middle;
    width: 20px !important;
    height: 20px !important;
    padding: 3px;
    margin-right: 10px;
    text-align: center;
}

[type="checkbox"]:checked + span:before {
    content: "\e013";
    font-family: 'Glyphicons Halflings';
    color: #fff;
    line-height: 90%;
    background: #498fe1 !important;
    border: 2px solid #498fe1 !important;
    font-size: 12px !important;
}

[type="checkbox"]:focus {
    outline: 1px solid #498fe1;
    /* focus style */
}

.form-group .text-mini {
    font-size: 12px !important;
    padding: 0px 0px 0px 12px;
}

.form-group select {
    -webkit-appearance: none;
    /*Removes default chrome and safari style*/
    -moz-appearance: none;
    /* Removes Default Firefox style*/
    background-image: url(../images/icon-select.png) !important;
    background-repeat: no-repeat !important;
    background-size: auto 30px !important;
    background-position: 100% 50% !important;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-inline .control-label {
    padding-top: 10px
}

.form-group input[type="text"],
.form-group textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}

.form-group input[type="text"]:focus,
.form-group textarea:focus {
    /*
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
*/
    /*    border-bottom: 1px solid #3383d9;*/
}

.col-sm-6 .col-sm-4 {
    padding: 0px !important
}

.col-sm-6 .col-sm-4.state {
    padding: 0px 10px 0px 10px !important
}

.has-feedback label~.form-control-feedback {
    top: 40px;
    right: 10px;
    font-size: 20px !important;
    color: #a6a6a6;
}

.has-success > select {
    border-bottom-color: #82af54 !important
}

.has-success > .control-label {
    color: #82af54 !important
}

.legal {
    color: #6a6a6a;
    font-size: 11px;
    padding: 20px
}

.legal p {
    padding: 0 0 10px 10px;
}

.legal p,
.legal small {
    font-size: 13px
}

.legal small {
    display: block;
    clear: both;
    margin-bottom: 15px;
}

.legal sup {
    margin: 15px 0 0 -15px;
    float: left
}

sup {
    color: #c90000
}

.highlight {
    background-color: #FFFF88;
}

.btn {
    border-radius: 3px;
    font-size: 16px !important;
    font-weight: 300;
    height: 50px;
    line-height: 35px
}

.btn:hover,
.btn.active {
    background: #fff;
    border: 1px solid #363636
}

label.btn:hover {
    border-color: transparent!important;
    background: transparent!important
}

.btn-default {
    background: none;
    background-image: none;
    border: 1px solid #3b8ede;
    color: #042e67!important;
    text-decoration: none !important;
}

.btn-default:hover {
    background: #fff!important;
    border-color: #042e67
}

.btn-outline {
    border-color: #008cdd;
    font-size: 14px;
    background: none !important;
    background-image: none !important;
}

.btn.btn-link {
    border: none!important;
    font-size: 16px!important;
}

.btn.btn-link:hover {
    background: transparent!Important
}

.btn.wrap {
    white-space: normal!important
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    color: #65b2e9;
    font-size: 1.3em!important
}

.btn-primary {
    background: #2278c9;
    background-image: none;
    border: 1px solid #2278c9;
    text-shadow: 1px 1px 1px #00205c;
    font-size: 14px;
    color: #fff !important;
    text-decoration: none !Important;
    box-shadow: none !important
}

.btn-primary:hover,
.btn-primary.active {
    background: #00205c !important;
    border: 1px solid #00205c;
}

.btn-primary.small {
    font-size: 1em;
    width: auto!important
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    color: #fff !important;
    background-color: #00205c !important;
    *background-color: #00205c !important
}

.btn-primary:active,
.btn-primary.active {
    background-color: #00205c \9
}

.btn-lg {
    font-size: 18px
}

.btn.btn-login {
    background: #82af54;
    background-image: none;
    border: 1px solid #82af54;
    text-shadow: 1px 1px 1px #3b6114;
    font-size: 14px;
    color: #fff !important;
    text-decoration: none !Important;
    box-shadow: none !important;
    width: 100%;
}

.btn.btn-signup {
    border: none!important;
    font-size: 12px!important;
    text-align: center;
    width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus {
    color: #3383d9 !important;
    border-color: #3383d9;
    /*    background-color: #fffff6 !important;*/
}

.bppr {
    margin-right: 15px;
    width: 50px !important;
    height: auto !important;
    z-index: 1
}

.popular-blue {
    background: #00205c
}

.text-popular-blue {
    color: #00205c !important
}

.popular-red {
    background: #cc092f
}

.text-popular-red {
    color: #cc092f
}

.popular-light-blue {
    background: #a7c9ea
}

.text-popular-medium-blue {
    color: #498fe1 !important;
}

.text-popular-light-blue {
    color: #a7c9ea !important
}

.popular-green {
    background: #82af54
}

.text-popular-green {
    color: #82af54 !important
}

x .bg-light-blue {
    background: #bcddf2
}

.bg-light-blue p,
.bg-light-blue strong {
    text-shadow: 1px 1p 0 #fff
}

.bg-light-blue.percent-50 {
    background: #e0eff9
}

.bg-light-blue.percent-25 {
    background: #ecf5fb
}

.img-responsive {
    max-width: 100% !Important;
    height: auto;
}

.img-circle-profile {
    border-radius: 50%;
    border: 2px solid #fff;
    height: 100px;
    width: 100px;
}

.text-center {
    text-align: center !important
}

.table thead th,
.table tbody th {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 'Helvetica', 'Arial', "Lucida Grande", sans-serif;
    color: #042e67;
    font-weight: normal;
    font-size: 18px;
    vertical-align: middle!important;
    border-bottom: 1px solid #62ade4!important
}

.table td.grey {
    background-color: #f2f2f2!important
}

.table th.td-label,
.table td.td-label {
    text-align: left!Important;
    font-size: 14px!important;
    font-family: 'Open Sans', 'Arial', sans-serif
}

.table.visible-xs th,
.table.visible-xs td {
    vertical-align: baseline!important
}

.no-pad {
    padding: 0 0 0 0!important
}

.pad-all {
    padding: 10px
}

.pad-top {
    padding-top: 20px;
    padding-bottom: 0
}

.pad-bottom {
    padding-bottom: 20px
}

.pad-top-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pad-left-right {
    padding-left: 20px;
    padding-right: 20px
}

.pad-left-none {
    padding-left: 0px;
}

.pad-right-none {
    padding-right: 0px;
}

.pad-right-10 {
    padding-right: 10px;
}

.pad-left-10 {
    padding-left: 10px;
}

.margin-top {
    margin-top: 20px
}

.margin-top-bottom {
    margin: 20px 0 20px 0
}

.margin-right {
    margin-right: 10px
}

.padding-right-5 {
    padding-right: 5px
}

.padding-left-5 {
    padding-left: 5px
}

.margin-left {
    margin-left: 10px
}

.margin-bottom {
    margin-bottom: 20px
}

.badge {
    text-shadow: none
}

.badge.badge-danger {
    background-color: #d9534f
}

.badge.badge-primary {
    background-color: #042e67
}

footer a {
    color: #acacac
}

footer a:hover {
    color: #fff
}

footer ul.nav>li {
    display: inline-block
}

footer ul.nav>li>a {
    font-size: 12px !important;
    padding: 3px 6px 3px 0
}

footer ul.nav>li>a:after {
    content: " | "
}

footer ul.nav>li:last-child>a:after {
    content: ""
}

footer ul.nav>li>a:hover {
    background: 0;
    color: #fff
}

hr {
    border-top-color: #dbdbdb
}

hr.divider {
    width: 90px;
}

.col-divider {
    border-right: 1px solid #eee
}

.hidden-fields {
    clear: both
}

#buttons {
    padding: 40px 0 60px 0;
    border-top: 1px solid #ddd;
    margin-top: 30px;
    /*    background: #e3e3e3;*/
    border-top: 1px solid #ddd
    /*
    position: fixed;
    bottom:0px;
    background: #002663;
    height: 90px;
    width:100%
*/
}


/*Progress bar*/

#progressbar .progressbar-container {
    margin: 30px 0 30px 0;
}

#progressbar ul {
    counter-reset: step;
    margin: 0;
    padding: 0 0 0 20px
}

#progressbar ul li {
    list-style-type: none;
    /*    width: 100%;*/
    float: none;
    font-size: 12px;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    padding: 0px;
    margin-top: 5px;
    color: #7d7d7d;
    border-left: 1px solid #7d7d7d
}

#progressbar ul li:last-child {
    border-left: none
}


/*
#progressbar.num-steps-3 ul li {
    width: 33% !important
}

#progressbar.num-steps-4 ul li {
    width: 25% !important
}

#progressbar.num-steps-5 ul li {
    width: 20% !important
}

#progressbar.num-steps-6 ul li {
    width: 16% !important
}
*/

#progressbar ul li:before {
    width: 40px;
    height: 40px;
    content: counter(step);
    counter-increment: step;
    line-height: 38px;
    border: 1px solid #7d7d7d;
    display: inline-block;
    text-align: center;
    margin: 0 10px 10px -20px;
    border-radius: 50%;
    font-size: 18px;
    background-color: white;
}

#progressbar ul li.complete:before {
    font-family: 'Glyphicons Halflings';
    content: "\e013";
}

#progressbar ul li:after {
    width: auto;
    height: 100%;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 2px;
    left: 0px;
    z-index: -1;
}

#progressbar ul li:first-child:after {
    content: none;
}

#progressbar ul li.active {
    color: #82af54;
}

#progressbar ul li.active:before {
    border-color: #82af54;
    border: 2px solid #82af54 !Important
}

#progressbar ul li.active + li:after {
    background-color: #82af54;
    border-color: #82af54 !Important;
}


/*End Progress bar*/


/*OTHER PROGRESS BAR*/


/*Progress Bar*/

.p-bar {
    padding: 0 0 10px 0;
}

.p-bar > .p-bar-step {
    padding: 0;
    position: relative;
}

.p-bar .progress {
    background-image: none !Important;
    background-color: #3b8ede
}

.p-bar > .p-bar-step + .p-bar-step {}

.p-bar > .p-bar-step .p-bar-stepnum {
    color: #a7c9ea;
    font-size: 13px;
    margin-bottom: 0px !Important;
    text-transform: uppercase
}

.p-bar > .p-bar-step .p-bar-info {
    color: #999;
    color: #fff;
    font-size: 14px;
}

.p-bar > .p-bar-step > .p-bar-dot {
    position: absolute;
    width: 25px;
    height: 25px;
    display: block;
    background: #82af54 !important;
    border: 2px solid #00205c;
    top: 37px;
    left: 50%;
    margin-top: -13px;
    margin-left: -15px;
    border-radius: 50%;
}

.p-bar > .p-bar-step > .progress {
    position: relative;
    border-radius: 0px;
    height: 6px;
    box-shadow: none;
    margin: 15px 0 0 0;
}

.p-bar > .p-bar-step > .progress > .p-bar {
    width: 0px;
    box-shadow: none;
    background: #82af54 !important;
}

.p-bar > .p-bar-step.complete > .progress > .p-bar {
    width: 100%;
}

.p-bar > .p-bar-step.active > .progress > .p-bar {
    width: 50%;
}

.p-bar > .p-bar-step:first-child.active > .progress > .p-bar {
    width: 0%;
}

.p-bar > .p-bar-step:last-child.active > .progress > .p-bar {
    width: 100%;
}

.p-bar > .p-bar-step.disabled > .p-bar-dot {
    background-color: #3b8ede !important;
    background-image: none !important
}

.p-bar > .p-bar-step.disabled > .p-bar-dot:after {
    opacity: 0;
}

.p-bar > .p-bar-step:first-child > .progress {
    left: 50%;
    width: 50%;
}

.p-bar > .p-bar-step:last-child > .progress {
    width: 50%;
}

.p-bar > .p-bar-step.disabled a.p-bar-dot {
    pointer-events: none;
}


/*END Progress Bar*/


/*END OTHER PROGRESS BAR*/

.required {
    color: #c90000
}

.init-hide {
    opacity: 0;
}


/*Inputs*/

.input-initial {
    width: 60px
}


/*End Inputs*/


/*START Hide/Style these elements on App*/

body.app {
    padding-top: 80px
}

body.app .top-nav {
    padding-bottom: 20px
}

body.app.no-progress-bar {
    padding-top: 20px !Important
}

body.app.no-progress-bar .top-nav {
    display: none
}

body.app .top-nav .logo-container {
    display: none;
}

body.app .top-nav .steps-container {
    text-align: center !Important;
    width: 100% !important
}

body.app .p-bar > .p-bar-step .p-bar-stepnum {
    color: #979797 !important;
}

body.app .p-bar > .p-bar-step > .p-bar-dot {
    border: 2px solid #fff;
}

.logo-container h2 {
    display: inline-block;
    float: left;
    text-shadow: none;
    color: #a7c9ea;
    margin-left: 10px;
    padding-top: 15px;
}

body.app .top-nav {
    background: #fff !important
}

.btn-full{
  width: 10em;
}

.centered-ul {
  display: flex;
  justify-content: center;
}

/*END Hide/Style these elements on App*/

.card {
    position: relative;
    display: block;
    margin: auto;
    background-color: #fff;
    border-radius: .25rem;
    border: 1px solid rgba(0, 0, 0, .125);
    width: 100%;
    max-width: 620px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 0px 5px #ddd
}

.card-wide{
  max-width: 700px;
}

.card:hover {
    /* border: 1px solid rgba(73, 143, 225, 1); */
    box-shadow: 0px 0px 5px #ddd;
}

.card-block {
    padding: 1.25rem;
    border-top: 1px solid #498fe1
}

.card-block::after {
    content: "";
    display: table;
    clear: both
}

.card-title {
    margin-bottom: .75rem;
    color: #498fe1;
}

.card-subtitle {
    margin-top: -.375rem;
    margin-bottom: 0
}

.card-text:last-child {
    margin-bottom: 0
}

.card-link:hover {
    text-decoration: none
}

.card-link+.card-link {
    margin-left: 1.25rem
}

.card>.list-group:first-child .list-group-item:first-child {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem
}

.card>.list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem
}

.card-header {
    padding: .75rem 1.25rem;
    background-color: #f5f5f5;
    border-bottom: 1px solid rgba(0, 0, 0, .125)
}

.card-header::after {
    content: "";
    display: table;
    clear: both
}

.card-header:first-child {
    border-radius: .25rem .25rem 0 0
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: #f5f5f5;
    border-top: 1px solid rgba(0, 0, 0, .125)
}

.card-footer::after {
    content: "";
    display: table;
    clear: both
}

.card-footer:last-child {
    border-radius: 0 0 .25rem .25rem
}

.card-header-tabs {
    margin-right: -.625rem;
    margin-bottom: -.75rem;
    margin-left: -.625rem;
    border-bottom: 0
}

.card-header-pills {
    margin-right: -.625rem;
    margin-left: -.625rem
}

.card-primary {
    background-color: #0275d8;
    border-color: #0275d8
}

.card-primary .card-footer,
.card-primary .card-header {
    background-color: transparent
}

.card-success {
    background-color: #5cb85c;
    border-color: #5cb85c
}

.card-success .card-footer,
.card-success .card-header {
    background-color: transparent
}

.card-info {
    background-color: #5bc0de;
    border-color: #5bc0de
}

.card-info .card-footer,
.card-info .card-header {
    background-color: transparent
}

.card-warning {
    background-color: #f0ad4e;
    border-color: #f0ad4e
}

.card-warning .card-footer,
.card-warning .card-header {
    background-color: transparent
}

.card-danger {
    background-color: #d9534f;
    border-color: #d9534f
}

.card-danger .card-footer,
.card-danger .card-header {
    background-color: transparent
}

.card-outline-primary {
    background-color: transparent;
    border-color: #0275d8
}

.card-outline-secondary {
    background-color: transparent;
    border-color: #ccc
}

.card-outline-info {
    background-color: transparent;
    border-color: #5bc0de
}

.card-outline-success {
    background-color: transparent;
    border-color: #5cb85c
}

.card-outline-warning {
    background-color: transparent;
    border-color: #f0ad4e
}

.card-outline-danger {
    background-color: transparent;
    border-color: #d9534f
}

.card-inverse .card-footer,
.card-inverse .card-header {
    border-color: rgba(255, 255, 255, .2)
}

.card-inverse .card-blockquote,
.card-inverse .card-footer,
.card-inverse .card-header,
.card-inverse .card-title {
    color: #fff
}

.card-inverse .card-blockquote .blockquote-footer,
.card-inverse .card-link,
.card-inverse .card-subtitle,
.card-inverse .card-text {
    color: rgba(255, 255, 255, .65)
}

.card-inverse .card-link:focus,
.card-inverse .card-link:hover {
    color: #fff
}

.card-blockquote {
    padding: 0;
    margin-bottom: 0;
    border-left: 0
}

.card-img {
    border-radius: .25rem
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem
}

.card-img-top {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
}

.card-img-bottom {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem
}

.pdf-container {
    height: 792px;
    position: relative;
}

.navbar-fixed-bottom {
    background: #fff;
    border-top: 1px solid #ddd;
    padding: 20px 0px 20px 0px;
}

.list-group {
    border-radius: 0px !important;
    box-shadow: none !Important
}

.list-group li {
    border: 0px;
    border-radius: 0px !important;
    border-bottom: 1px solid #ddd;
    font-size: 16px
}

.list-group li:last-child {
    border-bottom: 0px
}

#pdf-zoom {
    display: none;
    position: absolute;
    z-index: 700;
    top: 20px;
    right: 20px
}

#pdf-zoom img {
    width: 45px;
    height: auto
}

.login-label {
    color: #3e8bde;
    font-weight: normal;
    text-transform: uppercase;
}


@media(min-width:780px){
  .margin-top-md{
    margin-top: 50px;
  }
}

@media(min-width:1024px) {
    .row > .container {
        max-width: 980px;
        margin: auto !important
    }
}

@media (min-width:544px) {

    .card-deck {
        display: table;
        width: 100%;
        margin-bottom: .75rem;
        table-layout: fixed;
        border-spacing: 1.25rem 0
    }
    .card-deck .card {
        display: table-cell;
        margin-bottom: 0;
        vertical-align: top
    }
    .card-deck-wrapper {
        margin-right: -1.25rem;
        margin-left: -1.25rem
    }
}

@media (min-width:544px) {
    .card-group {
        display: table;
        width: 100%;
        table-layout: fixed
    }
    .card-group .card {
        display: table-cell;
        vertical-align: top
    }
    .card-group .card+.card {
        margin-left: 0;
        border-left: 0
    }
    .card-group .card:first-child {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0
    }
    .card-group .card:first-child .card-img-top {
        border-top-right-radius: 0
    }
    .card-group .card:first-child .card-img-bottom {
        border-bottom-right-radius: 0
    }
    .card-group .card:last-child {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0
    }
    .card-group .card:last-child .card-img-top {
        border-top-left-radius: 0
    }
    .card-group .card:last-child .card-img-bottom {
        border-bottom-left-radius: 0
    }
    .card-group .card:not(:first-child):not(:last-child) {
        border-radius: 0
    }
    .card-group .card:not(:first-child):not(:last-child) .card-img-bottom,
    .card-group .card:not(:first-child):not(:last-child) .card-img-top {
        border-radius: 0
    }
}

@media (min-width:544px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem
    }
    .card-columns .card {
        display: inline-block;
        width: 100%
    }
}

@media(min-width:951px) {
    .left-column {
        width: 360px !important;
    }
}

@media(max-width:950px) {
    .row-eq-height {
        display: block !important;
    }
    .left-column {
        padding: 20px 20px 0px 20px;
        border-bottom: 1px solid #3383d9;
        width: 100% !Important
    }
    #progressbar ul {
        margin: auto !Important
    }
    #progressbar ul li {
        width: 100%;
        float: left;
        border-left: none !important;
        border-top: 1px solid #d7d7d7;
    }
    #progressbar ul li:last-child {
        border-top: none
    }
    #progressbar ul li span {
        display: none;
    }
    #progressbar.num-steps-3 ul li {
        width: 33% !important
    }
    #progressbar.num-steps-4 ul li {
        width: 25% !important
    }
    #progressbar.num-steps-5 ul li {
        width: 20% !important
    }
    #progressbar.num-steps-6 ul li {
        width: 16% !important
    }
    #progressbar ul li:before {
        width: 30px;
        height: 30px;
        line-height: 28px;
        display: block;
        text-align: center;
        margin: -15px 10px 10px 0px;
        font-size: 14px;
    }
    /*End Progress bar*/
}

@media(max-width:768px) {
    .col-divider {
        border-right: none !important;
        border-bottom: 1px solid #ddd
    }
    .col-sm-6 .col-sm-4.state,
    .col-sm-4.state {
        padding: 0px 0 0 0 !important
    }
    .text-center-xs {
        text-align: center !important
    }
    .row .container {
        padding-right: 0px !important;
        padding-left: 0px !important
    }
    .pdf-container {
        height: 600px
    }
    #pdf-zoom {
        display: inline-block
    }
}

@media(min-width:1280px) {
    .content-column {
        width: 980px
    }
}

@media(max-width:480px) {
    .form-group {
        padding: 0px 0px 10px 0px !Important
    }
    .btn-full-xs {
        width: 100%;
        margin: 5px 0px 5px 0px
    }
    .margin-top-xs {
        margin-top: 10px
    }
    .margin-bottom-xs {
        margin-bottom: 10px
    }
    .pad-top-xs {
        padding-top: 10px;
    }
    .pad-bottom-xs {
        padding-bottom: 10px;
    }
    .pdf-container {
        height: 400px
    }
    .list-group-full-xs {
        margin-right: -20px;
        margin-left: -20px
    }
    .list-group .text-uppercase {
        font-size: 14px
    }
}
