*{
    box-sizing: border-box;
}

:root {
    --animation-time: 6s;
    --cardinal : #D02138;
}
html,
body{
    margin: 0;
    padding: 0;
    background: #f2f2f2;
    font-family: 'Helvetica Neue', sans-serif;
}

rsamod, rsamod-load {
    display: flex;
    justify-content: center;
    align-items: center;
    /*     height: 100vh; */
}




/* Modal Styles */

rsamod .modal, rsamod-load .modal{
    /*     width: 95%; */
    max-width: 450px;
    background: #fff;
    border-radius: 5px;
    border: #CCD1D6 1px solid;
    overflow: auto;
    white-space: initial;
    position: initial;
    height: initial;
}

rsamod.modal-web, rsamod-load.modal-web {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

rsamod.modal-show, rsamod-load.modal-show {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}



rsamod .modal-body, rsamod-load .modal-body{
    padding: 24px;
}

rsamod .modal-header{
    display: flex;
}

rsamod .modal-header h3{
    margin: 0 0 0 .8em;
    font-weight: 400;
    font-size: 20px;
    color: #0F2754;

}

rsamod .modal hr{
    border: 0;
    height: 1px;
    background: #EFF3F7;
    margin: 16px 0;
}

rsamod .modal p{
    line-height: 1.5;
}

rsamod .modal-actions{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background: #EFF3F7;
    padding: 24px;
}


/* Buttons Styles */

rsamod .modal a {
    text-decoration: none;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

rsamod .modal a.disabled {
    pointer-events: none;
}

rsamod .modal .h-link{
    color: #2278c9;
}

rsamod .modal .h-link:hover{
    color: #00205c;
}

rsamod .modal .btn {
    border-radius: 3px !important;
    font-size: 16px !important;
    font-weight: 300 !important;
    padding: .8em 1.6em !important;
    line-height: 1.2 !important;
    text-align: center !important;

}

rsamod .modal .btn:hover,
.btn.active {
    background: #fff;
    border: 1px solid #363636
}

rsamod .modal label.btn:hover {
    border-color: transparent!important;
    background: transparent!important
}

rsamod .modal .btn-default {
    background: none;
    background-image: none;
    border: 1px solid #3b8ede;
    color: #042e67!important;
    text-decoration: none !important;
}

rsamod .modal .btn-default:hover {
    background: #fff!important;
    border-color: #042e67
}

rsamod .modal .btn-outline {
    border-color: #008cdd;
    font-size: 14px;
    background: none !important;
    background-image: none !important;
}

rsamod .modal .btn.btn-link {
    border: none!important;
    font-size: 16px!important;
    color: #2278c9;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

rsamod .modal .btn.btn-link:hover {
    background: transparent!Important;
    color: #00205c;
}

rsamod .modal .btn.wrap {
    white-space: normal!important
}

rsamod .modal [class^="icon-"]:before,
rsamod .modal [class*=" icon-"]:before {
    color: #65b2e9;
    font-size: 1.3em!important
}

rsamod .modal .btn-primary {
    background: #2278c9;
    background-image: none;
    border: 1px solid #2278c9;
    /*text-shadow: 1px 1px 1px #00205c;*/
    font-size: 14px;
    color: #fff !important;
    text-decoration: none !Important;
    box-shadow: none !important
}

rsamod .modal .btn-primary:hover,
rsamod .modal .btn-primary.active {
    background: #00205c !important;
    border: 1px solid #00205c;

}

rsamod .modal .btn-primary.small {
    font-size: 1em;
    width: auto!important
}

rsamod .modal .btn-primary:hover,
rsamod .modal .btn-primary:focus,
rsamod .modal .btn-primary:active,
rsamod .modal .btn-primary.active,
rsamod .modal .btn-primary.disabled,
rsamod .modal .btn-primary[disabled] {
    color: #fff !important;
    background-color: #00205c !important;
    *background-color: #00205c !important
}

rsamod .modal .btn-primary:active,
rsamod .modal .btn-primary.active {
    background-color: #00205c \9
}

rsamod .modal .btn-lg {
    font-size: 18px
}

rsamod .modal .btn.btn-login {
    background: #82af54;
    background-image: none;
    border: 1px solid #82af54;
    text-shadow: 1px 1px 1px #3b6114;
    font-size: 14px;
    color: #fff !important;
    text-decoration: none !Important;
    box-shadow: none !important;
    width: 100%;
}

rsamod .modal .btn.btn-signup {
    border: none!important;
    font-size: 12px!important;
    text-align: center;
    width: 100%;
}

rsamod .modal .btn.otherMethod {
    box-sizing: border-box;
    border: 1px solid #2278C9;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.25);
    font-size : 14px!important;
    line-height : 16px!important;
    text-align : center;
    cursor: pointer;
}

rsamod .modal .btn.otherMethod a {
    color: #3D81CE;
    text-decoration: none;
}

/* Input Styles */

rsamod .modal input {
    padding: .8em !important;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #B7C2C8 !important;
}

rsamod .modal input.input-number{
    width: 100%;
}

rsamod .modal input.input-answer{
    width: 95%;
    display: inherit;
    margin : auto;
}

rsamod .modal input[type="number"]:focus,
rsamod .modal select:focus {
    color: #3383d9 !important;
    border-color: #3383d9;
    font-size:1em;
}

rsamod .modal input[type="text"]:focus,
rsamod .modal input[type="email"]:focus,
rsamod .modal input[type="password"]:focus,
rsamod .modal select:focus {
    color: #3383d9 !important;
    border-color: #3383d9;
    /*    background-color: #fffff6 !important;*/
}


rsamod .modal input[type="text"]:focus,
rsamod .modal input[type="email"]:focus,
rsamod .modal input[type="password"]:focus,
rsamod .modal select:focus {
    color: #3383d9 !important;
    border-color: #3383d9;
    /*    background-color: #fffff6 !important;*/
}
rsamod .modal .hint_label {
    color: #959595;
    font-size: 15px;
    line-height: 17px;
    display: inline-flex;
}
/* Form Styles */

rsamod .modal form {
    display: flex;
    flex-direction: column;
}

rsamod .modal form span {
    display: flex;
}

rsamod .modal form label {
    margin-bottom: .8em;
}

rsamod .modal form img {
    margin-left: 8px;
}

/* Custom components */
rsamod .modal .messageSuccess {
    color:#268c08;
    font-size:13px;
    font-weight:bold;
}

rsamod .modal .messageFail {
    color:#ff0000;
    font-size:13px;
    font-weight:bold;
}

rsamod .modal .callCodeNumber {
    display: inline-block;
    color: #2278c9;
    font-size: 38px !important;
    font-weight: bold;
    text-align: center;
    margin-bottom: .4em;
    margin-left: 16%;
}


rsamod .modal .nonCodes {
    color: #313237;
    font-size: 15px;
    line-height: 24px;
}

rsamod .modal .nonCodesTitle {
    font-weight: bold;
}

rsamod .modal .nonCodesBody {
    margin-right: 2px;
}

rsamod .modal .enroll {
    color: #313237;
    font-size: 15px;
    line-height: 24px;
}
rsamod .modal .messageQuestion{
    width: 90%;
    color: #012445;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em !important;
    font-weight: bold;
    line-height: 30px;
    margin-top : 52px;
}

rsamod .modal .messagePhone{
    width: 90%;
    color: #5f697a;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
    font-weight: bold;
    line-height: 30px;
    margin-top : 52px;
}

rsamod .modal .labelPhone{
    width: 90%;
    color: black;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
}



rsamod .modal .rsaQuestion{
    color: #4E4E4E;
    line-height: 20px;
    text-align: left;
    font-size: 17px!important;
    padding-right: 16px;
    padding-left: 16px;
    margin-top : 48px;
}

rsamod .modal .errorAnswer{
    color: #FF0000;
    line-height: 0px;
    text-align: left;
    font-size: 11px;
    padding-right: 16px;
    padding-left: 0px;
    margin-top: 10px;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

rsamod .modal .rectangleSize{
    padding: 10px 10px;
}

rsamod .modal .rectangle{
    height: 100%;
    width: 100%;
    opacity: 0.5;
    border-radius: 5px;
    background-color: #EFEFF4;
}

rsamod .modal .rectangleError{
    height: 100%;
    width: 100%;
    opacity: 0.5;
    border-radius: 5px;
    background-color: #EFEFF4;
    border: 1px solid rgba(255,0,0,1);
}

rsamod .modal .dialogSize {
    padding: 10px 30%;
}

rsamod .modal .minimumBack{
    font-size: 17px;
}

rsamod .modal .minimumTitle{
    font-size: 17px;
}

rsamod .modal .list{
    background-image:initial;
    background-size:initial;
}

rsamod .modal .text-input{
    width: 100%;
    font-size: 18px;
    color: #B2B7BD;
}

rsamod .modal .list-item__center{
    flex-grow: 1;
    background-image:initial;
}


rsamod .modal .enrollTitle {
    font-weight: bold;
}

rsamod .modal .enrollBody {
    margin-right: 2px;
}

rsamod .modal .enrollIcons img{
    height: 100%;
    width: 100%;
}


/* common Mobile */
rsamod .modal .page,rsamod .modal .page__content,rsamod .modal .page__background {
    background-color: initial;
}
rsamod .modal .contentMobile {

    background: #fff!important;
    box-shadow: 0 -0.5px 0.5px 0 #A4A5A9, 0 0.5px 0.5px 0 #A4A5A9;
    color: #FFFFFF;
    font-size: 17px;
    line-height: 20px;
}

rsamod .modal .contentWelcome {

    background: linear-gradient(0deg, #0259A4 0%, #012D6B 100%)!important;
    box-shadow: 0 -0.5px 0.5px 0 #A4A5A9, 0 0.5px 0.5px 0 #A4A5A9;
    color: #FFFFFF;
    font-size: 17px;
    line-height: 20px;
}

rsamod .modal .toolbar {
    background: bottom no-repeat #012D6B;
    color: #FFFFFF;

}

rsamod .modal .back-button,rsamod .modal .toolbar__center,rsamod .modal .toolbar__title {
    color: #FFFFFF;
    font-size: 17px;

}

rsamod .modal .titleWelcome {
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

rsamod .modal .messageWelcome {
    line-height: 20px;
    text-align: center;
    font-size: 17px;
    padding-right: 16px;
    padding-left: 16px;

}

rsamod .modal .twoSFLogo img {
    width : 90%;
}

rsamod .modal .twoSFLogo svg {
    width: 65%;
    height: 65%;
}

rsamod .modal .button {
    background: #fff;
    color: #2278C9;
    line-height: 24px;
    letter-spacing: 0.38px;
    font-size: 20px;
    border-radius: 6px;
    padding: 10px 35%;

}

rsamod .modal .buttonContainer {
    text-align: center;
    bottom: 10px;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

rsamod .modal .buttonBlue {
    text-align: center;
    color: #fff;
    background-color: #2278C9;
}

rsamod .modal .buttonRed {
    text-align: center;
    color: var(--cardinal);
    /* background-color: var(--cardinal); */
    border: 1px solid var(--cardinal);
}

rsamod .modal .back-button__icon {
    fill : #fff;

}

rsamod .modal .back-button2 {
    border-width : 0px;
    vertical-align: top;
}

rsamod .modal .back-button2 .back-button__label {
    margin-top : -1px;
}

rsamod .modal .textQs {
    text-align: left;
    font-size: 15px;
    line-height: 21px;
}

rsamod .modal .select-input {
    width: 100%;
    font-size: 15px;
    color: #B2B7BD;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

rsamod .modal .text-input-QS {
    width: 100%;
    font-size: 15px;
    color: #B2B7BD;
}

rsamod .modal .answerQs {
    margin-top: 10px;
    margin-bottom: 5px;
}

rsamod .modal .inQsError {
    border: 1px solid var(--cardinal)!important;
}

rsamod .modal .QsError {
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;
}

rsamod button {
    background: #2278c9;
    background-image: none !important;
    border: 1px solid #2278c9;
    text-shadow: 1px 1px 1px #00205c;5c;
    font-size: 14px;
    color: #fff !important;
    text-decoration: none !Important;
    box-shadow: none !important;
}

rsamod-load .initLoadingIcon {
    text-align: center;
    overflow-x: hidden;
    overflow: hidden;
}

rsamod-load .initLoadingIcon img{
    -webkit-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    -o-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
    width : 100px;
}


/* Mediaqueries */

@media (max-width: 900px){
    rsamod .modal-actions{
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        text-align: center;
        padding-bottom: 8px;
    }
    rsamod .modal .messageQuestion {
        font-size: 1.32em !important;
    }

}

@media (max-width:600px){
    rsamod .modal input.input-number{
        width: 100%;
    }
    rsamod .modal input.input-answer{
        width: 100%;
    }
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    rsamod #questionIcon {
        margin-top: 8px;
        position: absolute;
    }
}
rsamod .tooltip {
    position: relative;
    display: inline-block;
}
rsamod .tooltiptext{
    border: 1px solid  rgb(155, 185, 207);
}
rsamod .tooltip .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: rgb(232, 244, 248);
    color: #757575;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 50px;
    right: 100%;
    font-size: small;
}

rsamod .tooltip:hover .tooltiptext {
    visibility: visible;
}

/** ----- experiment logo animation -- ** /


/* ---------- Animation ---------- */

#group {
    transform: translate(153px, 159px);
}

#one {
    animation-duration: var(--animation-time);
    animation-name: orbit;
    animation-iteration-count: 1.1;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

#two {
    animation-duration: var(--animation-time);
    animation-name: orbit;
    animation-iteration-count: 1.4;
    animation-timing-function: linear;
    animation-fill-mode: both;
}
#three {
    animation-duration: var(--animation-time);
    animation-name: orbit;
    animation-iteration-count: 1.7;
    animation-timing-function: linear;
    animation-fill-mode: both;
}
#four {
    animation-duration: var(--animation-time);
    animation-name: orbit;
    animation-iteration-count: 2.55;
    animation-timing-function: linear;
    animation-fill-mode: both;
}
@-moz-keyframes orbit {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes orbit {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-o-keyframes orbit {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes orbit {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-moz-keyframes spin { 0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(359deg); } }
@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(359deg); } }
@-o-keyframes spin { 0% { -o-transform: rotate(0deg); }
    100% { -o-transform: rotate(359deg); } }
@-ms-keyframes spin { 0% { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(359deg); } }
@keyframes spin { 0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); } }
