<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
         "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>#springMessageText("iphone.bppr.mobile" "BPPR Mobile")</title>

<!-- Change Head Color for Mobile -->
<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#003e7e">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#003e7e">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#003e7e">


<meta name="apple-itunes-app" content="app-id=508421942, app-argument=https://geo.itunes.apple.com/us/app/mi-banco-mobile/id508421942?mt=8">
<link rel="manifest" href="#springUrl("/manifest.json")" />
		
<link rel="apple-touch-icon" href="#imgUrl("/img/iphone/mb3-iphone.png")"/>
<link rel="apple-touch-icon" sizes="72x72" href="#imgUrl("/img/ipad/touch-icon-ipad.png")" />
<link rel="apple-touch-icon" sizes="114x114" href="#imgUrl("/img/iphone/touch-icon-iphone4.png")" />
#parse("layout/iphone/scripts.vm")
<meta name="viewport" content="width=320, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
<script type="text/javascript">
function updateX(selectDay ,selectMonth, selectYear, id)
{
   var dayObj = document.getElementById(selectDay);
   var monthObj = document.getElementById(selectMonth);
   var yearObj = document.getElementById(selectYear);
   var hiddenObj = document.getElementById(id);
   var date = monthObj.value + "/" + dayObj.value + "/" + yearObj.value;
    
    hiddenObj.value = date;
   
    
}
</script>
<link rel="stylesheet" type="text/css" media="all" href="#cssUrl("/iui/iui.css")"/>
<script type="application/x-javascript" src="#jsUrl("/iui/iui.js")"></script>
<style type="text/css">
.iphone-acctName {
	font-size: 18px;

}

.iphone-acctMask {
	font-size: 14px;
}

.iphone-transDesc {
	font-size: 12px;
}

.iphone-transDate {
	font-size: 16px;
	margin-right: 110px;
	color: gray;
}

.iphone-transAmt {
	font-size: 18px;
}

input[type="radio"], input[type="checkbox"] {
   width: 20px ;
   height: 20px;
   padding: 0px;
}

select {
   
   padding: 0px;
   font-size: 14px;
}

.balance {
	font-size: 16px;
}

body > .panel {
	background:url(../img/bkgmain.gif?@BUILD_TOKEN@);
}

.error {
	color: red

}


.DB {
	
}

.CR {
	background-color: #E5F3F3;
}


.positive {
font-size: 20px;
color: green;

}

.negative {
font-size: 20px;
color: red;
}


input {
	padding: 6px


}
#if($firstTime)
	html{
	
		background: url(../iui/bg-interrupt.jpg) #ddd  /*{a-bar-background-color}*/;
	background-image:  url(logopopular.png), url(../iui/bg-interrupt.jpg), -webkit-gradient(linear, left top, left bottom, from(  #ddd  /*{a-bar-background-start}*/), to(  #666666  /*{a-bar-background-end}*/)) !important; /* Saf4+, Chrome */
	background-image: url(logopopular.png), url(../iui/bg-interrupt.jpg), -webkit-linear-gradient(  #ddd  /*{a-bar-background-start}*/,  #666666  /*{a-bar-background-end}*/) !important; /* Chrome 10+, Saf5.1+ */
	background-image: url(logopopular.png), url(../iui/bg-interrupt.jpg),-moz-linear-gradient(  #ddd  /*{a-bar-background-start}*/,  #666666  /*{a-bar-background-end}*/) !important; /* FF3.6 */
	background-image: url(logopopular.png), url(../iui/bg-interrupt.jpg), -ms-linear-gradient(  #ddd  /*{a-bar-background-start}*/,  #666666  /*{a-bar-background-end}*/) !important; /* IE10 */
	background-image: url(logopopular.png), url(../iui/bg-interrupt.jpg), -o-linear-gradient(  #ddd  /*{a-bar-background-start}*/,  #666666  /*{a-bar-background-end}*/) !important; /* Opera 11.10+ */
	background-image: url(logopopular.png), url(../iui/bg-interrupt.jpg), linear-gradient(  #ddd  /*{a-bar-background-start}*/,  #666666  /*{a-bar-background-end}*/) !important;
	background-size: 100%;
	background-repeat: no-repeat;
	font-family: helvetica;
	background-color:black;
		background-image:url(../iui/bg-interrupt.jpg);
	}

#end

</style>
#if($MBSD3806)
<script type="text/javascript">
    if(/MSIE \d|Trident.*rv:/.test(navigator.userAgent))
        document.write('<script src="#jsUrl("/js/popCK/popCKIE.js")" id="jspopCK"><\/script>');
    else
        document.write('<script src="#jsUrl("/js/popCK/popCK.js")" id="jspopCK"><\/script>');
</script>
<link rel="stylesheet" type="text/css" href="#cssUrl("/css/popCK.css")" id="csspopCK"/>	
#end
</head>
<body>

$screen_content

#if(($cookieAnalyticEnabled && $cookieAnalyticEnabled == true) || (!$cookieAnalyticEnabled && "$!cookieAnalyticEnabled" != "false"))
    <script type="application/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      //New property
      ga('create', 'UA-52271388-4', 'none', {'allowLinker': true});
      ga('require', 'linker');
      ga('require', 'displayfeatures');
      ga('linker:autoLink', ['popular.com','bancopopular.com','locator.popular.com','helpcenter.popular.com','blog.popular.com','applications.bancopopular.com','fundacionbancopopular.org','labs2.popular.com', 'management.popular.com','transiciondoralbank.com']);
      ga('send', 'pageview');
      //Legacy property
      ga('create', 'UA-52271388-1', 'none', {'name':'legacyProperty','allowLinker': true});
      ga('legacyProperty.require','linker');
      ga('legacyProperty.require', 'displayfeatures');
      ga('legacyProperty.linker:autoLink', ['popular.com','bancopopular.com','locator.popular.com','helpcenter.popular.com','blog.popular.com','applications.bancopopular.com','fundacionbancopopular.org','labs2.popular.com', 'management.popular.com','transiciondoralbank.com']);
      ga('legacyProperty.send', 'pageview');
    </script>
#end
</body>
</html>