@CHARSET "ISO-8859-1";
.buttonRedeem {
    background-color: #edeeef;
    color: #71ace8 !important;
    border: 0px solid #008CBA;
    border-radius: 5px;
    padding: 10px 40px !important;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.4s;
}

.buttonRedeem:hover {
    
    color: gray !important;
}

/* The container */
.container {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 14px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 5px;
    left: 5px;
    width: 5px;
    height: 4px;
    border-radius: 50%;
    background: white;

}

.checkmark-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 14px;
    background-color: #eee;
    border-radius: 25%;
}

/* Style the checkmark/indicator */
.container .checkmark-checkbox:after {
    top: 5px;
    left: 5px;
    width: 5px;
    height: 4px;
    border: solid #2196F3;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark-checkbox {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark-checkbox {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-checkbox:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark-checkbox:after {
    display: block;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

.btn-disabled,
.btn-disabled[disabled] {
    opacity: .4;
    cursor: default !important;
    pointer-events: none;
    line-height:15px;
    padding:10px 40px;
    text-align: center;
    display:inline-block;
}

.btn-enabled,
.btn-enabled[enabled] {
    cursor: pointer;
    line-height:15px;
    padding:10px 40px !important;
    text-align:center;
    display:inline-block;
}
.container select{
/* needed */
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
border-radius: 8px;
background-color: red;
background-image: url('../../img/Chevron.png');
background-position: calc(110% - 20px) center;
background-repeat: no-repeat;
cursor: pointer;
background-size: 16px;
width: auto;
min-width: 185px;
font-size: 11px !important;
}

.selectedOption {
  background-color:#f2f7ff;
  border: 1px solid #a0bdf7;
  border-radius: 6px;
  margin: 20px; 
 
  border-radius: 6px;
  padding:20px;
  padding-left:20px;
  padding-top:10px;
  padding-right:20px;
}

.defaultColor {
   border-color: #dce0e5;
  background: #ffffff;
}
.directDepositOption {
	cursor: pointer; 
	margin: 20px; 
	height: 29px; 
	border: 1px solid #dce0e5; 
	border-radius: 6px;
	padding:20px;
	padding-left:20px;
	padding-top:10px;
	padding-right:20px;
}
.statementCreditOption {
	cursor: pointer; 
	margin: 20px; 
	height:60px; 
	border: 1px solid #dce0e5; 
	border-radius: 6px;
	padding:20px;
	padding-left:20px;
	padding-top:10px;
	padding-right:20px;
}
.cashBackWidgetContainer {background: #ffffff; width: 230px !important; position: absolute; margin-left: 475px;}
.cashBackWidgetTitleContainer {color: #ffffff; background-color: #0f2754; padding-bottom: 8px !important; padding-top: 10px; font-family: Arial, Helvetica, sans-serif, Sans; font-style: normal; font-weight: bold; text-align: center; border-top-left-radius: 4px; border-top-right-radius: 4px;}
.cashBackWidgetBotomContainer {background-color: #FFFFFF; border-left: 1px solid #CCCCCC; border-right: 1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; text-align: center; padding-top: 10px; padding-bottom: 10px;}
.cashBackRedeemButton {background-color: #3784d2; margin-left: 20px; margin-right: 20px; border-radius: 4px; margin-top: 10px; line-height: 26px; color: white !important;}
.cashBackRedeemDisabled {background-color: gray; margin-left: 20px; margin-right: 20px; border-radius: 4px; margin-top: 10px; line-height: 26px; color: white !important; display: none;}
.cashBackWidgetAmount {color: #387cb7; font-size: 25px !important;}
.cashBackErrorMessage {color: #8a6b0e; font-size: 12px !important; display: block; padding-left: 5px; padding-right: 5px;}
.no-underline, .no-underline:hover {text-decoration: none !important}
.cashBackPortalContainer {background-color: #397cca; color: white; width: auto; border-radius: 4px; float: right; padding-left: 5px; padding-right: 5px; padding-top: 2px;}
img.loading-wheel{width: 12px; height: 12px; animation: rotatingWheel .6s ease-in-out infinite;}
@keyframes rotatingWheel {0%{transform: rotate(0deg)}100% {transform: rotate(360deg)}}
.rounded-account-tittle{border-radius: 5px;background-color: rgb(245, 245, 245) !important;font-weight:bold; text-align:left; }