@charset "UTF-8"; 
/* CSS Document */
body { background-color:#fff; padding-bottom:300px; }
.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active
{ 
	border: 1px solid #3784D2 !important;
	background: #3784D2 !important;
	color: #fff !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important; 
	-moz-box-shadow: none !important; 
}

.ui-tabs .ui-state-active 
{ 
	border: 1px solid #ccc !important; 
	box-shadow:none !important; 
	-webkit-box-shadow:none !important; 
	-moz-box-shadow:none !important;
}

.ui-state-default {
	background-color:#fff;
	border: 1px solid #3784D2 !important;
}


.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default,
.ui-state-hover, 
.ui-widget-content .ui-state-hover, 
.ui-widget-header .ui-state-hover, 
.ui-state-focus, 
.ui-widget-content .ui-state-focus, 
.ui-widget-header .ui-state-focus 
{
	border: 1px solid #3784D2 !important;
	background-image: none !important;
	font-weight: normal;
}

.ui-corner-br, 
.ui-corner-bl,
.ui-corner-tr, 
.ui-corner-tl  
{
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}

#pfm_title {
	display:none;
}

#spending .footer {
	width:inherit;
}

/*button sets*/
.ui-buttonset { margin-right: 7px; }
.ui-buttonset .ui-button { margin-left: 0; margin-right: -.3em; }
.help-note .ui-buttonset:first-child {
	text-align:center;
	background-color: #F6F6F6;
	line-height: 40px;
	padding-bottom: 0 !important;
	border-bottom: 1px solid rgba(155, 155, 155, 0.5);
}
.help-note .ui-buttonset:first-child input, 
.help-note .ui-buttonset:first-child label 
{
	margin: -3px !important;
}
.help-note textarea {
	width:448px !important;
}

#timespan-calendar.border-default, 
#timespan-calendar.ui-corner-all 
{
	border:none;
}
#timespan-calendar .footer {
	background: none !important;
	border-top: none !important;
	border-bottom: 1px solid rgba(155, 155, 155, 0.5); 
}

#chart.border-default, #chart.ui-corner-all {
	border:none;
	border-top: 1px solid rgba(155, 155, 155, 0.5);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}
#pfm_totalexpenses { color: #D0021B; font-weight: regular; font-size: 18px }
#pfm_totalexpenses .creditamount { color:#90C241; font-weight: regular; font-size: 18px !important; }

#ie7text, #list-accounts strong, #list-categories strong, #list-cred-subcategories strong {
	color: #9B9B9B;
	text-transform: uppercase;
	font-weight: normal;
}

.controlgroup { margin-right: 0; }
.ui-buttonset { margin-right: 0; }

.ui-tabs .ui-buttonset .ui-state-active { border: 1px solid #82ae3c !important; box-shadow: 0 0 7px rgba(204, 204, 204, 1) !important; -webkit-box-shadow: 0 0 7px rgba(204, 204, 204, 1) !important; -moz-box-shadow: 0 0 7px rgba(204, 204, 204, 1) !important; }
.ui-tabs .ui-controlgroup .ui-state-active { border: 1px solid #82ae3c !important; box-shadow: 0 0 7px rgba(204, 204, 204, 1) !important; -webkit-box-shadow: 0 0 7px rgba(204, 204, 204, 1) !important; -moz-box-shadow: 0 0 7px rgba(204, 204, 204, 1) !important; }
.ui-btn { border:1px solid #aaaaaa; background-color: none; color:#595d5e; /* background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#dedede)); */ text-shadow: rgba(255,255,255,.2) 0 1px 1px; text-decoration:none !important; padding:3px 8px 3px 8px }
.ui-btn a { color:#595d5e !important; }
.ui-btn:hover { border: 1px solid #aaaaaa !important; background-color:#fff; background:#fff !important }
.ui-btn-highlight { border:1px solid #3784D2; background-color:#3784D2; color:#FFF !important; /* background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e1f7a6), to(#96c64a));  */text-shadow: rgba(255,255,255,.2) 0 1px 1px; text-decoration:none !important; padding:3px 8px 3px 8px }
.ui-btn-highlight a { color:#fff !important }
.ui-btn-highlight:hover { color:#fff !important; border: 1px solid #3784D2 !important; background-color:#3784D2; background:#3784D2 !important }
input[type="text"] { padding:2px; border:1px solid #c3c3c3; }
input[type="text"]:focus { border:1px solid #e4d874; background-color:#fdfdf1 }
input[type="text"].error { border:1px solid #df2028; background-color:#f8cbcd }
hr { border-top:1px solid #ccc; border-bottom:0; border-left:0; border-right:0; margin-bottom:8px }
ul.icons { margin: 0; padding: 0; }
ul.icons li { margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left; list-style: none; }
ul.icons span.ui-icon { float: left; margin: 0 3px; }
/*TABS*/
.ui-tabs { position: relative; padding: .1em; zoom: 1; }
.ui-tabs .ui-tabs-nav { margin: 0; padding: .1em .1em 0; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; font-size:12px }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 1em 1.2em; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }
/* */
.scrollable { /* required settings */ position:relative; overflow:hidden; width: 619px; height:40px; }
.scrollable .items { /* this cannot be too large */ width:20000em; position:absolute; clear:both; }
.items div { float:left; width:619px; }
/* single scrollable item */
.scrollable img { float:left; margin:20px 5px 20px 21px; background-color:#fff; padding:2px; border:1px solid #ccc; width:100px; height:75px; -moz-border-radius:4px; -webkit-border-radius:4px; }
/* active item */
.scrollable .active { border:2px solid #000; position:relative; cursor:default; }
#timespan-calendar { width:631px; padding:0px; height:79px}
#timespan-calendar .footer { background-color: #f6f6f6; border-top:1px solid #ccc; height:25px; padding:4px 0px; }
#timespan-calendar a { text-decoration:none !important; border:0px; background-color:transparent }

.months-timespan { border-spacing: 2px; border-collapse: separate; }

.months-timespan td { /* background:url(images/images.gif) 100% -42px no-repeat; */ border:1px solid #90C241; cursor:pointer; height:36px !important; text-align: center; }
.months-timespan td:hover { border-top:1px solid #82ae3c; border-bottom:1px solid #82ae3c; cursor:pointer }

.months-timespan td.inactive { background-image:none;background:#fafafa}
.months-timespan td.inactive:hover { border-top:1px solid #ffffff; border-bottom:1px solid #ffffff; cursor:default }
.months-timespan td.inactive .month { color:#a5a7a7}

.months-timespan td.active { /* background:url(images/images.gif) 100% 0px no-repeat; */ border:1px solid #90C241; background-color: #90C241; }
.months-timespan .month { display:block; font-weight:bold; margin:5px 0px 0px 0px }
.months-timespan .year { display:block; font-weight:normal; color:#a5a7a7; font-size:11px; margin:1px 0px 0px 0px }
.months-timespan td.active .year { color:#fff }
.prev, .prev-page { display:block; float:left; width:19px; height:19px; font-size:1px; padding:0px;  background:url(images/images.png) 0 0 no-repeat; background:url(images/images-x1.png) 0 0 no-repeat\9 !important;   margin-left:6px; background-size: 400px; }
.prev.disabled, .prev.disabled:hover, .prev-page.disabled, .prev-page.disabled:hover { background:url(images/images.png) 0 -38px no-repeat;background:url(images/images-x1.png) 0 -38px no-repeat\9 !important;background-size: 400px; }
.prev:hover, .prev-page:hover { background:url(images/images.png) 0 -19px no-repeat;background:url(images/images-x1.png) 0 -19px no-repeat\9 !important;background-size: 400px; }
.next, .next-page { display:block; float:left; width:19px; height:19px; font-size:1px; padding:0px; background:url(images/images.png) -23px 0 no-repeat;background:url(images/images-x1.png) -23px 0 no-repeat\9 !important; margin-left:3px; background-size: 400px; }
.next.disabled, .next.disabled:hover, .next-page.disabled, .next-page.disabled:hover { background:url(images/images.png) -23px -38px no-repeat;background:url(images/images-x1.png) -23px -38px no-repeat\9 !important;background-size: 400px; }
.next:hover, .next-page:hover { background:url(images/images.png) -23px -19px no-repeat;background:url(images/images-x1.png) -23px -19px no-repeat\9 !important;background-size: 400px; }

#help-note-calendar-navigation em { font-style: normal; color: rgba(0,0,0,0.3); font-weight: lighter; }

.icon-arrow-pointer { background:url(images/images.gif) -54px 0px no-repeat; display:block; float:left; width:7px; height:7px; margin:3px 3px 0px 0px; padding:0px !important }
.icon-calendar { background:url(images/images.png) -70px 0px no-repeat;background:url(images/images-x1.png) -70px 0 no-repeat\9 !important; display:block; float:left; width:15px; height:15px; margin:3px 3px 0px 0px; padding:0px !important; background-size: 400px; }
.icon-dropdown { background:url(images/images.png) -230px 0px no-repeat;background:url(images/images-x1.png) -230px 0 no-repeat\9 !important; display:block; float:left; width:17px; height:16px; margin:3px 3px 0px 0px; padding:0px !important; background-size: 400px; }
dl.custom-dropdown { position:relative}
dl.custom-dropdown dl.custom-dropdown dd, dl.custom-dropdown dt { margin:0; padding:0; font-size:12px !important }
dl.custom-dropdown dt { margin:0px;  padding:0px 3px 4px 5px; height:11px; cursor:pointer;}
dl.custom-dropdown dt div.label { overflow:hidden; margin:0px; padding:0px; font-size:12px !important; font-weight:normal !important; color:#595d5e !important; background:none; border:none; }
dl.custom-dropdown dt span.icon-dropdown { margin:-1px 0px }
dl.custom-dropdown dt:hover { border:1px solid #82ae3c }
dl.custom-dropdown dt:hover span.icon-dropdown { background:url(images/images.png) -230px -26px no-repeat;background:url(images/images-x1.png) -230px -26px no-repeat\9 !important; background-size: 400px; }
dl.custom-dropdown dd { position:absolute; top:27px; left: -1px; z-index:200; background-color:#ffffff; min-height:20px; min-width:350px; border:1px solid #ccc; box-shadow: 0 0 7px rgba(204, 204, 204, 1) !important; -webkit-box-shadow: 0 0 7px rgba(204, 204, 204, 1) !important; -moz-box-shadow: 0 0 7px rgba(204, 204, 204, 1) !important; font-size:12px !important }
.scroll-y { height:190px; margin: auto; overflow: scroll; overflow-x: hidden }
.subcategories { padding:6px 6px 8px 20px }
a.ui-state-default.icon-edit { background:#fff url(images/images.png) -168px 2px no-repeat !important;background:#fff url(images/images-x1.png) -168px 2px no-repeat\9 !important; padding:2px; width:17px; height:16px; display:block; float:left; border-radius: 12px; -moz-border-radius: 12px; -webkit-border-radius: 12px; background-size: 400px !important; }
a.ui-state-default.icon-edit:hover { background:#fff url(images/images.png) -168px -24px no-repeat !important;background:#fff url(images/images-x1.png) -168px -24px no-repeat\9 !important; border:1px solid #94b841; background-size: 400px !important; }
a.ui-state-default.icon-delete { background:#fff url(images/images.png) -188px 2px no-repeat !important;background:#fff url(images/images-x1.png) -188px 2px no-repeat\9 !important; padding:2px; width:17px; height:16px; display:block; float:left; border-radius: 12px; -moz-border-radius: 12px; -webkit-border-radius: 12px; background-size: 400px !important; }
a.ui-state-default.icon-delete:hover { background:#fff url(images/images.png) -188px -24px no-repeat !important;background:#fff url(images/images-x1.png) -188px -24px no-repeat\9 !important; border:1px solid #94b841; background-size: 400px !important; }
dl { margin:0; padding:0 }
dl dt, dl dd { margin:0px }
dl dt { border-bottom:1px solid #ccc; font-size:12px; font-weight:bold }
dl dt span { padding:3px 0px 6px 8px; display:block }
dl dd { color:#8d170e; font-size:18px; padding:3px 0px 4px 10px }
dl dd.footer { border-top:1px solid #ccc; color:#595d5e; font-size:11px; padding-top:0px }
dl dd.footer span { padding:1px; display:block; float:left; margin-top:3px }
dl dd.footer .container { width:150px;padding:0px 0px 2px 0px }
dl#spending { height: 73px;text-align:left;margin-right: 0;margin-top: 15px;margin-bottom: 15px;border-top-left-radius: 10px;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;border-top-right-radius: 10px;}
.ui-icon-position { padding: .4em 1em .4em 13px !important; text-decoration: none !important; position: relative !important; color: #777; }
.ui-icon-position span.ui-icon { margin: 0 5px 0 0 !important; position: absolute !important; left: .2em !important; top: 50% !important; margin-top: -8px !important; border-bottom:none !important; font-size:1px !important; padding:0px }
.blue-highlight { padding:10px; background-color:#e1f2fa; margin:3px }
h3.tbl-header { border-bottom:1px solid #929292; background-color:#fff; text-transform:uppercase; font-size:11px !important; ; margin:0; padding:3px 0px 4px 4px }
.tbl-list caption { text-align:left; font-size:14px; font-weight:normal; padding-bottom:3px; border-bottom:3px solid #fff; }
.tbl-list caption div { border-bottom:1px solid #929292; padding-bottom:2px }
.tbl-list td, .tbl-list th { text-align:left; font-size:12px; padding:6px 4px 6px 6px !important; }
.tbl-list th { border-bottom:1px solid #929292; background-color:#fff; text-transform:uppercase; font-size:11px; border-right:1px solid #dfdfdf; }
.tbl-list th:last-child { border-right:none }
.tbl-list th em, .tbl-list th i { font-weight:normal; }
.tbl-list td.no-border { border-right:none }
.tbl-list tbody tr:first-child td { background: -webkit-gradient(linear, 0% 0%, 0% 30%, from(#e6e5e5), to(#f6f6f6)) }
.tbl-list td { background-color:#f6f6f6; border-bottom:1px solid #dfdfdf; border-right:1px solid #dfdfdf; }
.tbl-list td table tr td { background-color:none !important; background:none !important; border-right:none !important; padding:12px 4px 12px 6px !important }
.tbl-list td table tr td.smaller { font-size:11px; padding:5px 4px 5px 0px !important }
.tbl-list td table tr:last-child td { border-bottom:none !important }
a { color:#538ecd; }
a:hover { color:#000; }
.tbl-list td table tr td strong, .tbl-list td table tr td b { color:#000 }
.tbl-list td ul.icons li { margin: 1px; position: relative; padding: 1px 0; cursor: pointer; float: left; list-style: none; }
.tbl-list td ul.icons span.ui-icon { float: left; margin: 0 1px; }
.tbl-list td span { padding-top:5px; display:block }
.tbl-list td:last-child { border-right:none }
.tbl-list td input[type="text"] { width:96%; border:1px solid #dfdfdf; height:19px; padding:2px; }
.tbl-list td select { border:1px solid #dfdfdf; height:23px; padding:2px; }
.tbl-list tfoot tr td { border-top:1px solid #929292; background-color:#fff }
.tbl-list tfoot tr:first-child td { border-bottom:0px; background-color:#fff }
.tbl-list tfoot tr:last-child td { border-bottom:2px solid #929292; }
.tbl-list tfoot td select { height:19px; font-size:11px; padding:1px }
.tbl-list tfoot td span { padding-top:3px; display:inline }
.tbl-list input[type="checkbox"] { margin:2px 3px; }
.tbl-list label { margin:1px 0px }
.tbl-list tr.highlight td { background-color:#ffffff !important; background: -webkit-gradient(linear, 0% 0%, 0% 30%, from(#ffffff), to(#ffffff)) !important; }
.tbl-list td.ckbox { padding-right:0px !important; width:10px; border-right:none; vertical-align:top !important }
.border-highlight { border:1px solid #3784D2 }
.border-default { border:1px solid #ccc}
.uppercase { text-transform:uppercase }
#chart { min-height:250px }
#btn-piechart { 
  background:url(images/images.png) #FFFFFF -97px 0px no-repeat !important;
  background:#fff url(images/images-x1.png) -97px 0 no-repeat\9 !important; 
  width:8px; 
  height:12px; 
  background-size: 400px !important; }
#btn-piechart.ui-state-hover, #btn-piechart.ui-widget-content .ui-state-hover, #btn-piechart.ui-widget-header .ui-state-hover, 
#btn-piechart.ui-state-focus, #btn-piechart.ui-widget-content .ui-state-focus, 
#btn-piechart.ui-widget-header .ui-state-focus, 
#btn-piechart.ui-state-active, #btn-piechart.ui-widget-content .ui-state-active, 
#btn-piechart.ui-widget-header .ui-state-active 
{ background:url(images/images.png) #3784D2 -97px -24px no-repeat !important;
  background:#3784D2 url(images/images-x1.png) -97px -24px no-repeat\9 !important; 
  background-size: 400px !important; 
  width:8px; 
  height:12px; 
}
#btn-barchart { background:url(images/images.png) #FFFFFF -127px 0px no-repeat !important;
  background:#fff url(images/images-x1.png) -127px 0px no-repeat\9 !important; 
  width: 8px;
  height: 12px;
  background-size: 400px !important; }
#btn-barchart.ui-state-hover, #btn-barchart.ui-widget-content .ui-state-hover, #btn-barchart.ui-widget-header .ui-state-hover, #btn-barchart.ui-state-focus, #btn-barchart.ui-widget-content .ui-state-focus, #btn-barchart.ui-widget-header .ui-state-focus, #btn-barchart.ui-state-active, #btn-barchart.ui-widget-content .ui-state-active, 
#btn-barchart.ui-widget-header .ui-state-active { 
	background:url(images/images.png) #3784D2 -127px -24px no-repeat !important;
	background:#3784D2 url(images/images-x1.png) -127px -24px no-repeat\9 !important;
    width:8px; 
    height:12px; 
	background-size: 400px !important; }.preloader { min-height:25px; min-width:25px; background:url(../../img/spinner.gif) 50% 50% no-repeat; }
.p-relative { position:relative }
.row-editor { position:absolute; left:0px; top:31px; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; border-bottom:1px solid #929292; background-color:#fff; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#fcfaf1)); min-height:250px; min-width:550px; margin-left:-7px; z-index:500; filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#FFFFFF', EndColorStr='#fcfaf1');
-ms-filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#FFFFFF', EndColorStr='#fcfaf1');
background-image: -moz-linear-gradient(white, rgba(252,250,241,100)); }
.smaller-editor { min-height:40px; min-width:324px; }
.ui-widget-header { border:none !important; border-bottom:1px solid #dfdfdf !important; font-size:16px; font-weight:normal; -moz-border-radius-bottomright: 0px !important; -moz-border-radius-bottomleft: 0px !important; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; }
ul.menu, ul.menu ul { margin:0px; padding:0px; list-style-type: none; }
ul.menu li, ul.menu ul li { margin:0px; position: relative; border-bottom: 1px solid #ccc; }
ul.menu li:last-child { border-bottom: none; }
ul.menu li a, ul.menu li ul li a { display: block; text-decoration: none; color: #777; padding: 3px 12px 3px 6px; border-bottom: 0; font-size:11px; }
ul.menu li a:hover, ul.menu li ul li a:hover { color:#000 }
ul.menu li:hover { background-color:#fff; }
ul.menu li ul { display:none; padding:10px; position:absolute; left:98%; top:0px; background-color:#ffffff; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#f6f6f6)); border:1px solid #ccc; box-shadow: 0 0 7px rgba(204, 204, 204, 1); -webkit-box-shadow: 0 0 7px rgba(204, 204, 204, 1); -moz-box-shadow: 0 0 7px rgba(204, 204, 204, 1); min-width:190px; z-index:400 }
ul.menu li.arrow { background:url(images/chevron.gif) 98% 50% no-repeat }
ul.menu li.add { border-top:1px solid #929292; color:#538ecd; font-size:11px; cursor:pointer }
ul.menu li:hover ul { display:block }
.no-min-height { min-height:20px !important }
tr.highlight table.no-backgrounds tr td{background-color:#096 !important;background:none !important}
.negative { color:#C00 }
.positive { color:#390 }
.ckbox-container { float:left; padding-right:15px }
.paging-numbers { float:left; padding:3px; margin-right:3px }
.pad-all { padding:10px }
.pad-r { padding-right:10px }
.pad-l { padding-left:10px }
.pad-t { padding-top:10px }
.pad-b { padding-bottom:10px }
.cb { clear:both }
.fr { float:right }
z .fl { float:left }
.align-l { text-align:left }
.align-c { text-align:center }
.align-r { text-align:right }
.hide { display:none }
.show { display:block }
#breadcrumbs a {text-decoration: none}
/* .creditamount{color:#06c176} */

/* Icon styles */
.edited-icons { position:absolute; top:-6px; z-index:4; left:52%; }
.icon-tag { float:left; width:25px; height:11px; float:left; background:url(images/icon-tag.gif) 50% 0 no-repeat }
.icon-note { float:left; width:25px; height:11px; float:left; background:url(images/icon-note.gif) 50% 0 no-repeat }
.icon-rule { float:left; width:25px; height:11px; float:left; background:url(images/icon-rule.gif) 50% 0 no-repeat }
.icon-highlight { float:left; width:25px; height:11px; float:left; background:url(images/icon-highlight.gif) 50% 0 no-repeat }
.icon-tag-title { width:25px; height:11px; display:inline; margin-left:3px; position:relative; top:3px; background:url(images/icon-tag.gif) 50% 0 no-repeat }
.editted-row-color { background-color:#fcfaf1; border:1px solid #dfdfdf; padding:7px }
.editted-row td { background-color:#fcfaf1 !important }
/*Tooltip*/
.tooltip { z-index:1001; position:relative; display:none; background:#f4eaaf; padding:15px; border:1px solid #e6d277; font-size:12px; text-shadow: rgba(255,255,255,.2) 0 1px 1px; color:#5c4801; box-shadow: 0 0 7px rgba(204, 204, 204, 1); -webkit-box-shadow: 0 0 7px rgba(204, 204, 204, 1); -moz-box-shadow: 0 0 7px rgba(204, 204, 204, 1); }
.tooltip.bottom { background:url(images/tooltip-top-arrow.gif) 0 0; ; border:1px solid #e6d277; }
.tooltip-arrow { width:15px; height:9px; background:url(images/tooltip-bottom-arrow.gif) 0 0; position:absolute; top:100%; left:50% }
#toggle-dashboard { margin:auto; padding:4px; border:1px solid #dfdfdf; color:#666; text-align:center; background:#fff; width:20%; margin-top:-20px; cursor:pointer }
#toggle-dashboard:hover { border:1px solid #555555 }
#toggle-dashboard span { cursor:pointer; margin:auto; background: url(images/icon-chart-small.gif) 0 0 no-repeat; padding:2px 5px 2px 20px }
/*Loading GIFS*/
.pfmloading_en{
		background-repeat:no-repeat;
		background-position:top center;
		background-image:url(images/loading_animated.gif);
		height:74px;
		background-color:transparent;
	}
.pfmloading_es{
		background-repeat:no-repeat;
		background-position:top center;
		background-image:url(images/cargando_animated.gif);
		height:74px;
		background-color:transparent;
	}
.icon-help { float:right; width:21px; height:21px; background: transparent url(images/icon-help.gif) 0 0 no-repeat;border-left:none !important;border-right:none !important;border-bottom:none !important;border-top:none !important;text-decoration:none;font-size:1px }
.icon-help.top{background-position: 0px 0px} 
.icon-help.right{background-position: -21px 0px} 
.icon-help.bottom{background-position: -44px 0px}
.icon-help.left{background-position: -65px 0px}  
.bubble-container { font-size:14px;width:200px; text-shadow: rgba(255,255,255,.2) 0 1px 1px; line-height:150%; padding:14px; margin:-14px; background: #feffe8; /* Old browsers */ /* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmZlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNGVhYWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(top, #feffe8 0%, #f4eaaf 100%); /* FF3.6+ */ 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #feffe8), color-stop(100%, #f4eaaf)); /* Chrome,Safari4+ */ 
background: -webkit-linear-gradient(top, #feffe8 0%, #f4eaaf 100%); /* Chrome10+,Safari5.1+ */ 
background: -o-linear-gradient(top, #feffe8 0%, #f4eaaf 100%); /* Opera 11.10+ */ 
background: -ms-linear-gradient(top, #feffe8 0%, #f4eaaf 100%); /* IE10+ */ 
background: linear-gradient(top, #feffe8 0%, #f4eaaf 100%); /* W3C */  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffe8', endColorstr='#f4eaaf', GradientType=0 ); /* IE6-8 */
}
.help-note { position:relative;padding:5px; margin:-5px;-moz-border-radius:8px; -webkit-border-radius:8px;}
.help-note .icon-help { position:absolute; left:80%; top:-6px;z-index:5;}
.help-note .icon-help.pos1 { left:95%; top:-6px }
.help-note .icon-help.pos2 { left:60%; top:-6px }
.help-note .icon-help.pos3 { left:35%; top:-10px }
.help-note .icon-help.pos-right { left:96%; top:2px }
.help-note .icon-help.tpos1 { top:18px }
.help-note.active { border:3px solid #fdfbef; margin:-3px; background-color:#fdfbef }

#tip-edit-description{ left:284px; top:67px; z-index:1000}
#tip-edit-description-noacc{ left:364px; top:67px; z-index:1000}
#tip-category{ left:420px; top:48px; z-index:1000 }
#tip-category-noacc{ left:500px; top:48px; z-index:1000 }

#tip-edit-description-inaccount{ left:273px; top:72px}
#tip-category-inaccount{ left:390px; top:53px }


#toggle-help{cursor:pointer;clear:both;font-size:14px;position:relative;height:25px;margin-bottom:10px;color:#6ba4dd}
#toggle-help:hover{color:#6c685c}
#toggle-help .icon-help {float:left;margin:-5px 4px;}

/*OVERRIDE THIS STYLES*/
#spending, #timespan-calendar{background-color:#fff}
.tooltip{z-index:1001}
.overflow-visible {overflow:visible}
#cancellink {color:rgb(83,142,205);cursor:pointer;}
/*).ui-icon-plusthick { background: none !important; } */
.ui-icon-closethick { 
	background: #fff url(images/images.png) -246px 3px no-repeat !important;
	background: #fff url(images/images-x1.png) -246px 3px no-repeat\9 !important;
	background-size: 400px !important;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border: 1px solid #3784D2;
	padding: 3px;
	margin: -13px -2px -12px -13px !important; 
}
.ui-buttonset .ui-button { margin-left: 0; margin-right: -.4em; }

input[type="submit"], input[type="button"] { 
	background-image: none !important;
	background: #3784D2 !important;
	box-shadow: none;
	color: white;
	border: 1px solid #3784D2 !important;
	text-shadow: none;	
	font-size: 12px;
}
#popup_title {
	background: none !important;
	text-align: left !important;
	padding-left: 10px !important;
}
#popup_container {
	border: 1px solid #999 !important;
	box-shadow: 0px 0px 4px rgba(0,0,0,.25) !important;
}

#popup_content.confirm, #popup_content.erase {
	/* background: url(images/images.png) no-repeat !important; */
}

.help-note .controlgroup label {
  float: left;
  width: 80px;
  height: 15px;
  margin: 0px;
  border: 1px solid #3784d2;
  overflow: hidden;
  cursor: pointer;
  padding-top: 4px;
  padding-bottom: 5px;
  text-align: center;
}

.help-note .controlgroup:first-child label {
  float: left;
  width: 140px;
  height: 20px;
  padding-bottom: 0px;
}	

.help-note .controlgroup label span {
  text-align: center;
  font-size: 20px;
  padding: 3px 0px;
  display: block;
}

.help-note .controlgroup input {
  position: absolute;
  opacity: 0;
  /*top: -20px;*/
}

.help-note .controlgroup input:checked + label {
  background-color: #3784d2;
  color: #F7F7F7;
}

.help-note .controlgroup .ui-button-right{
  
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-left:0px;
}

.help-note .controlgroup .ui-button-left{
  
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-right:0px;
}

.help-note .controlgroup .ui-button-center{
 width: 50px;
}

.ui-button-text, .help-note-pie span { font-size: 12px !important;opacity:0 }

