
html, body{
     font-size:14px;
     background-color: #ffffff;
     padding: 0;
     margin: 0;
}

table {
    font-size:14px;
}

select {
    font-size:14px;
}

.error{
    color:red;
}

header {
    background: #00205C;
}

#imagendhome{
    width: 171px;
    height: 31px;
}

#header {
    padding: 11px 20px 11px 20px;
    display:flex;
    justify-content: space-between;
}

#right-block {
    display: flex;
}

#lang-button {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 8px 24px 8px 24px;
    text-decoration: none;
    font-family: "Open Sans", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
}

#logout-button {
    border-radius: 5px;
    padding: 8px;
    text-decoration: none;
    font-family: "Open Sans", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
}

@media only screen and (min-width: 576px) {
    #header {
        padding: 23px 40px 23px 40px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}