
.progress-circular--material__secondary {
    stroke: #c2c8cc !important;
}
.progress-circular--material__primary {
    stroke: #a4a6a79e !important;
    stroke-width: 6% !important;
}


/***************************

Loading IOS Icon Anim

***************************/
div.spinner {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 36px;
    height: 39px;
    display: block;
    background: transparent;
    padding: 10px 10px 15px 10px;

}

div.spinner div {
    width: 6%;
    height: 16%;
    background: grey;
    position: absolute;
    left: 49%;
    top: 43%;
    opacity: 0;
    -webkit-border-radius: 50px;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
    -webkit-animation: fade 1s linear infinite;
}

@-webkit-keyframes fade {
    from {opacity: 1;}
    to {opacity: 0.25;}
}

div.spinner div.bar1 {
    -webkit-transform:rotate(0deg) translate(0, -130%);
    -webkit-animation-delay: 0s;
}

div.spinner div.bar2 {
    -webkit-transform:rotate(30deg) translate(0, -130%);
    -webkit-animation-delay: -0.9167s;
}

div.spinner div.bar3 {
    -webkit-transform:rotate(60deg) translate(0, -130%);
    -webkit-animation-delay: -0.833s;
}
div.spinner div.bar4 {
    -webkit-transform:rotate(90deg) translate(0, -130%);
    -webkit-animation-delay: -0.7497s;
}
div.spinner div.bar5 {
    -webkit-transform:rotate(120deg) translate(0, -130%);
    -webkit-animation-delay: -0.667s;
}
div.spinner div.bar6 {
    -webkit-transform:rotate(150deg) translate(0, -130%);
    -webkit-animation-delay: -0.5837s;
}
div.spinner div.bar7 {
    -webkit-transform:rotate(180deg) translate(0, -130%);
    -webkit-animation-delay: -0.5s;
}
div.spinner div.bar8 {
    -webkit-transform:rotate(210deg) translate(0, -130%);
    -webkit-animation-delay: -0.4167s;
}
div.spinner div.bar9 {
    -webkit-transform:rotate(240deg) translate(0, -130%);
    -webkit-animation-delay: -0.333s;
}
div.spinner div.bar10 {
    -webkit-transform:rotate(270deg) translate(0, -130%);
    -webkit-animation-delay: -0.2497s;
}
div.spinner div.bar11 {
    -webkit-transform:rotate(300deg) translate(0, -130%);
    -webkit-animation-delay: -0.167s;
}
div.spinner div.bar12 {
    -webkit-transform:rotate(330deg) translate(0, -130%);
    -webkit-animation-delay: -0.0833s;
}

.ios-loading {
    height: auto;
    padding: 20px;
    text-align: center;
    width: 250px;
    border-radius: 20px ;
    padding: 10px 20px 20px 20px;
    box-sizing: border-box;
    background: #f4f4f4;
    border: none;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.android-loading {
    display: flex !important;
    font-size: 14px;
    align-items: center;
    height: auto;
    text-align: left;
    max-width: 300px;
    width: 80%;
    border-radius: 3px;
    padding: 15px 15px 15px 15px;
    box-sizing: border-box;
    background: #f4f4f4;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fullscreen-loading-container {
    text-align: center;
    height: 100%;
    position: relative;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;
}