#signOnOobBoxTop {
	background-image: none !important;
	background-color: #ffffff;
	height: auto;
	width: 100%;
	padding-top: 10px;
}
#tblloginOobBox {
	background-image: none !important;
	background-color: #ffffff;
	width: 100% !important;
}
#signOnBoxTitle {
	color: #003366;
	font-size: 15px !important;
	font-weight: bold;
}
.signOn_boxLabels {
	font-size: 13px !important;
	font-weight: normal;
	font-stretch: normal;
	color: #535456;
}
.signOn_boxText2 a:link {
	font-stretch: normal;
}
.signOn_boxText3 {
	font-weight: normal;
	font-stretch: normal;
}
.oobOtherOptions {
	line-height: 1.7;
	height: 20px !important;
	padding-bottom: 10px;
}
.oobButtonsContainer {
	line-height: 30px;
}