/* CSS Document */

body {
	font-family: Arial, Helvetica, sans-serif;
	margin:auto;
	padding:0;
}
.outline {
	box-shadow: 0px 0px 6px #990000;
	border-color: #C00;
	border-style: solid;
	border-width: 1px;
}
.pin, .outline {
	position: absolute;
	cursor: pointer;
	z-index: 5;
}
ul {
	padding-left: 20px;
}
.show {
	display: inline;
}
.hide {
	display: none;
}
