html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
   margin: 0px;
   min-height: 100%;
   width: 100%;
}

.body-no-header {
	padding-top: 0px !important; 
}

.btnGoTo {
    margin-bottom:10px;
    padding-bottom:2px;
    text-align:center;
    width:81px;
	height:21px;
	font-size:10px;
	font-weight:normal;
	margin-right:10px;
	background:url(../../img/btnPay.gif) no-repeat;
	cursor:pointer;
	border:none;
}
.welcomeOutreach {
	font-size: 1.09em;
}

.txt_msg_error {
    color: red;
    font-size: .8em;
    width: 80%;
    position: relative;
    top: -10px;
    margin-right: -10px!important;
    padding-left: 12px;
    width: 300px;
}

.txt_msg_core_error {
    color: red;
    font-size: .8em;
    width: 80%;
    position: relative;
    top: -10px;
    margin-right: -10px!important;
    padding-left: 12px;
    width: 100%;
    margin-left: 10px!important;
    text-align: -webkit-center;
}

.labelProcess{
	border-radius: 3px;
    font-size: 16px!important;
    font-weight: 300;
    height: 50px;
    line-height: 45px;
	width:100%;
	margin:0px 0
}

@media only screen and (max-width: 990px) {
	.logo-container h2 {
		font-size: 1.4em;
	}
	
}

@media only screen and (max-width: 844px) {
	.pad-top {
    	text-align: center;
	}
	.txt_msg_error {
	 	 width: 100%;
   		 text-align: left;
   		 padding-left: 12%;
	}
}

@media only screen and (max-width: 385px) {

	.logo-container h2 {
		margin-left : 0px;
		font-size: 1.3em;
	}
	.bppr {
		margin-right: 5px;
	}
}


.panel_msg_interruption {
	margin: auto!important;
}


@media only screen and (max-width: 485px) {
	.txt_msg_error {
	 	width: 100%;
	 	font-size: 1em;
	}
	
	.panel_msg_interruption{
		width:80%;
	}
}

@media only screen and (max-width: 300px) {
	.btn_wrap_small {
		word-wrap: break-word;
		white-space:normal;
	}
}


.panel_body_interruption{
    position: relative;
    padding-right: 15px;
    padding-left: 15px;	
}

select#_address_state_pr {
	width:50%;
}

.dash_label {
	min-width: 1%;
	text-align: center;
	padding-top: 1.5%;
	font-size: 1.1em!important;
	font-weight: bold;
}