.unica-container {
	padding: 16px;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
	font-size: 15px !important;
	color: #333333 !important;
}

.unica-container h1 {
	color: #000000;
	font-weight: 700;
	font-size: 22px;
	line-height: 36px;
}

.unica-container h2 {
	color: #2278C9;
	font-weight: 700;
	font-size: 18px;
}

.unica-container ul.bullet {
	list-style: none;
	padding-left: 16px;
	margin-top: 0;
	margin-bottom: 0;
}

.unica-container ul.bullet li::before {
	content: "\2022"; 
	color: #21A9E0;
	font-weight: bold;
	display: inline-block; 
	width: 1em;
	margin-left: -1em;
}

.unica-container ul.bullet li {
	color: #333333;
	font-size: 15px !important;
	padding-bottom: 5px;
}

.unica-container div.application-number {
	margin-top: 27px !important;
	color: #333333;
	font-size: 15px !important;
}

.unica-container a.link {
	color: #2278C9 !important;
	font-size: 15px !important;
}

.unica-table {
	display: table;
	border-collapse: collapse;
	width: 100%;
	color: #333333;
	margin-top: 27px;
}

.unica-table-row {
	display: table-row;
}

.unica-table-head {
	display: table-cell;
	padding: 16px;
	background-color: #2278C9; 
	border: 1px #2278C9 solid;
	color: #FFFFFF;
	font-weight: 600;
	font-size: 17px !important;
}

.unica-table-cell {
	display: table-cell;
	padding: 16px;
	border: 1px #DDDDDD solid;
	font-size: 15px !important;
	line-height: 22px;
}

.unica-table-cell .title {
	font-size:17px !important;
	font-weight: 600;
	color: #000000;
	display: block;
	margin-bottom: 5px;
}