* {
  font-family: -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               helvetica, 'helvetica neue',
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
  font-size: 15px;
}

ons-row.message_content {
  width: 96%;
  margin: 2%;
  border-radius: 5px;
  padding: 4%;
  background-color: white;
  box-shadow: 2px 2px #88888824;
}

ons-row.new_message_content {
  width: 96%;
  margin: 2%;
  border-radius: 5px;
  padding: 4%;
  background-color: #E2F0FF;
  box-shadow: 2px 2px #88888824;
}

ons-col.icon_col {
	padding-top: 1%;
}

ons-col.message_col {
	padding-left: 2%;
}

p.message {
	color: #424242;
	margin-top: 1%;
	margin-bottom: 1%;
}

p.new_message {
	color: #424242;
	margin-top: 1%;
	margin-bottom: 1%;
	font-weight: bold;
}

p.no_message {
	color: #606060;
	padding-top: 5%;
	text-align: center;
}

p span.date {
	color: gray;
	font-size: 13px;
	padding-top: 8px;
	display: block;
}

a.message_link {
	color: #3784D2;
}

/***************************

Loading

***************************/
.loading-container {
	height: 100%; 
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
}

.loading-box-ios {
	color: #A9A9A9;
	height : 100px;
	width : 250px;
	background-color: #ffffff;
	margin: auto;
	-webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
	-moz-border-radius: 20px / 20px;
	-webkit-border-radius: 20px / 20px;
	border-radius: 20px / 20px;
	border-style: solid;
    	border-width: 1px 1px 1px 1px;
    	padding-top : 20px;
}

.loading-box-android {
	color: #000000;
	height : 80px;
	width : 85%;
	background-color: #f5f5f5;
	margin: auto;
	-webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
	-moz-border-radius: 2px / 2px;
	-webkit-border-radius: 2px / 2px;
	border-radius: 2px / 2px;

}

.loading-box-android img{
	width : 40px;
	opacity : .7;
	filter: alpha(opacity=70);
}

.loading-box-content {
	padding-left: 20px;
	padding-right: 20px;
}

/***************************

Tool Bar

***************************/

ons-toolbar.notificationCenterTB div.left, ons-toolbar div.right {width: 15%; font-size : calc(15.5px + (26 - 15.5) * ((100vw - 300px) / (1600 - 300)));}

ons-toolbar.toolbar-segment.toolbar {
	background: #fff;
	display: block;
	position:static;
}

ons-toolbar div.left, ons-toolbar div.right {
	width: 15%;
}

ons-toolbar div.center {
	width: 70%;
	color: #FFFFFF;
	padding-left: 10px;
	padding-right: 10px;
}

.toolbar--material__center.toolbar--alert-toolbar__center {
	padding-left: 0 !important;
}

.toolbar--material__center {
	text-align: center;
}

.toolbar--material__center:first-child {
	margin-left: 0px;
}

.toolbar--material__center:last-child {
	margin-right: 0px;
}

.toolbar--material {
  background-color: #003e7e;
}

.toolbar {
  background-color: #234b7f;  
}

.navbar-spacing {
	top: 44px;
}
.navbar-spacing--material {
	top: 60px;
}

/***************************

Back Button

***************************/

.back-button__icon {
    margin-right: 6px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: inline-flex;
    fill: #FFFFFF;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
}
