<!DOCTYPE html>
$!NewRelic.getBrowserTimingHeader()
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="shortcut icon" type="image/x-icon" href="#springUrl("/favicon.ico")" />
<link rel="icon" type="image/x-icon" href="#springUrl("/favicon.ico")" />

<link rel="apple-touch-icon" href="#imgUrl("/img/iphone/mb3-iphone.png")" />
<link rel="apple-touch-icon" sizes="72x72" href="#imgUrl("/img/ipad/touch-icon-ipad.png")" />
<link rel="apple-touch-icon" sizes="114x114" href="#imgUrl("/img/iphone/touch-icon-iphone4.png")" />

<title>#springMessageText("outreach.welcome.message.head" "")</title>

<link rel="stylesheet" type="text/css" href="#cssUrl("/css/outreach/all-oao.min.css")"/>
<script type="text/javascript" src="#jsUrl("/js/hashtable.js")"></script>
<script type="text/javascript" src="#jsUrl("/js/rsa.js")"></script>
<link rel="stylesheet" type="text/css" href="#cssUrl("/css/outreach/outreach.css")"/>
 <!--[if IE]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->	
</head>
<body #if($!portalDisplay == "true") style="padding-top: 20px !important;" #end>
	#if($!portalDisplay == "false")
	<div id="bppr-header" class="row top-nav navbar-fixed-top">
        <div class="container">
            <div class="col-md-6 col-sm-6 logo-container">
                <div class="text-default">
                    <object type="image/svg+xml" data="#imgUrl("/img/outreach/bppr-symbol.svg")" width="60" height="60" class="bppr pull-left">
                    </object>
                    <h2 class="hidden-xs">#springMessageText("outreach.welcome.message.head" "")</h2>
                </div>
            </div>
              #if(!$!formComplete)
            	<div class="col-md-6 col-sm-6 text-right"><a href="$request.requestURI?lang=#springMessage('language.available')">#springMessage("language.available.label")</a></div>
            #end
        </div>
    </div>
	#end
$screen_content
</body>
</html>
$!NewRelic.getBrowserTimingFooter()