@charset "UTF-8";
/* The Modal (background) */
.modal-premia {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    vertical-align: middle;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Body */
.modal-premia-body {
    padding: 2px 16px;
    display: block;
    vertical-align: middle;
    text-align: center;
    margin: 10px 10px 10px 10px;
}

.modal-premia-body p {
    font-weight: 550;
    font-size: 14px!important;
    font-family: 'Helvetica Neue', sans-serif;
    line-height: 1.5;
}

/* Modal Footer */
.modal-premia-footer {
    padding: 2px 16px 16px;
    vertical-align: middle;
}

/* Modal Content */
.modal-premia-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: premiaModal;
    animation-duration: 0.8s
}

/* Add Animation */
@keyframes premiaModal {
    from {opacity: 0}
    to {opacity: 1}
}

/* Spinner style */
.premia-loader {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* The Modal (background) */
.modal-non-premia {
    display: block; /* Visible by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    vertical-align: middle;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Body */
.modal-non-premia-body {
    padding: 2px 16px;
    display: block;
    vertical-align: middle;
    text-align: center;
    margin: 10px 10px 10px 10px;
}

.modal-non-premia-body p {
    font-weight: 550;
    font-size: 14px!important;
    font-family: 'Helvetica Neue', sans-serif;
    line-height: 1.5;
}

/* Modal Content */
.modal-non-premia-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: premiaModal;
    animation-duration: 0.8s
}

.modal-non-premia-button {
    background-color: #002062;
    border: none !important;
    color: white !important;
    padding: 10px !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px !important;
    border-radius: 8px !important;
}

.modal-non-premia-button-left {
    position: relative;
    left: 10px;
    bottom: 5px;
    float: left;
}

.modal-non-premia-button-right {
    position: relative;
    right: 10px;
    bottom: 5px;
    float: right;
}
