html { 
    background: url(bg-noise.png) #ddd  /*{a-bar-background-color}*/;
    background-image:  url(logopopular.png), url(bg-noise.png), -webkit-gradient(linear, left top, left bottom, from(  #ddd  /*{a-bar-background-start}*/), to(  #666666  /*{a-bar-background-end}*/)) !important; /* Saf4+, Chrome */
    background-image: url(logopopular.png), url(bg-noise.png), -webkit-linear-gradient(  #ddd  /*{a-bar-background-start}*/,  #666666  /*{a-bar-background-end}*/) !important; /* Chrome 10+, Saf5.1+ */
    background-image: url(logopopular.png), url(bg-noise.png),-moz-linear-gradient(  #ddd  /*{a-bar-background-start}*/,  #666666  /*{a-bar-background-end}*/) !important; /* FF3.6 */
    background-image: url(logopopular.png), url(bg-noise.png), -ms-linear-gradient(  #ddd  /*{a-bar-background-start}*/,  #666666  /*{a-bar-background-end}*/) !important; /* IE10 */
    background-image: url(logopopular.png), url(bg-noise.png), -o-linear-gradient(  #ddd  /*{a-bar-background-start}*/,  #666666  /*{a-bar-background-end}*/) !important; /* Opera 11.10+ */
    background-image: url(logopopular.png), url(bg-noise.png), linear-gradient(  #ddd  /*{a-bar-background-start}*/,  #666666  /*{a-bar-background-end}*/) !important;
    min-height: 100%;
    background-size: 170px auto, 159px 44px, auto;
    background-repeat: no-repeat, repeat;
    background-position: 0.25rem 55px, 0, 0;
    font-family: helvetica;
}
body {
    color: #666; 
    text-shadow: rgba(255,255,255,.5) 0 1px 0; 
    background: none !important;
    margin: 0px;
}
body > :not(.toolbar) {
    display:none;
    position: initial;
    width: inherit !important;
    background: none;
    min-height: inherit !important;
}
body>*[selected="true"] {
    display: block;
}
h1, h2 {
    font: bold 14px Helvetica;
    text-shadow: rgba(255,255,255,.5) 0 1px 0;
    color: #000;
    margin: 10px 20px 5px;
}
#loginForm img,
#loginoob img,
form[action=question] img,
#password img,
#home img,
#payment img { 
    display: none;
}
form[action=question] .row, #password .row { 
    border-bottom: none;
    text-align: right;
}
body > ul > li > a { 
    color: #333 !important;
    background-image: url(chevron.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 20px 17px;
}
body > ul > li > a[selected], 
body > ul > li > a:active {
    color: white !important;
    text-shadow: 0 1px 0 #303030 !important;
    background-size: 20px 17px !important;
    background: url(chevron.png) no-repeat right center #ccc !important;
}
#loginForm, #loginoob,
form[action=question],
#password { 
    padding-top: 55px; 
}
#payment { 
    padding-top: 64px;
}
#loginForm input[type=submit],
#loginoob input[type=submit],
form[action=question] input[type=submit],
#password input[type=submit],
#payment input[name=_target1],
#payment input[name=_finish],
a.botonlink { 
    color: #324509;
    min-height: 44px;
    text-shadow: rgba(255,255,255,.4) 0 1px 0;
    font-weight: bold;
    border: 1px solid #7e827a;
    -moz-box-shadow: 0 1px 2px #333333;
    -webkit-box-shadow: 0 1px 2px #333333;
    box-shadow: 0 1px 2px #333333;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px 0;
    background: #e3f9a9; /* Old browsers */
    background: -moz-linear-gradient(top,  #e3f9a9 0%, #90c241 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3f9a9), color-stop(100%,#90c241)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e3f9a9 0%,#90c241 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e3f9a9 0%,#90c241 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e3f9a9 0%,#90c241 100%); /* IE10+ */
    background: linear-gradient(top,  #e3f9a9 0%,#90c241 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3f9a9', endColorstr='#90c241',GradientType=0 ); /* IE6-9 */
    width: 100%;
}
#payment input[name=cancel],
#payment input[name=_target0] {
    color: #000;
    min-height: 44px;
    text-shadow: rgba(255,255,255,.4) 0 1px 0;
    font-weight: bold;
    border: 1px solid #7e827a;
    -moz-box-shadow: 0 1px 2px #333333;
    -webkit-box-shadow: 0 1px 2px #333333;
    box-shadow: 0 1px 2px #333333;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 0 0 10px 0;
    background:  #e9eaeb  /*{a-bar-background-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from(  #f6f6f6  /*{a-bar-background-start}*/), to(  #d3d3d3  /*{a-bar-background-end}*/)) !important; /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(  #f6f6f6  /*{a-bar-background-start}*/,  #d3d3d3  /*{a-bar-background-end}*/) !important; /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient(  #f6f6f6  /*{a-bar-background-start}*/,  #d3d3d3  /*{a-bar-background-end}*/) !important; /* FF3.6 */
    background-image:     -ms-linear-gradient(  #f6f6f6  /*{a-bar-background-start}*/,  #d3d3d3  /*{a-bar-background-end}*/) !important; /* IE10 */
    background-image:      -o-linear-gradient(  #f6f6f6  /*{a-bar-background-start}*/,  #d3d3d3  /*{a-bar-background-end}*/) !important; /* Opera 11.10+ */
    background-image:         linear-gradient(  #f6f6f6  /*{a-bar-background-start}*/,  #d3d3d3  /*{a-bar-background-end}*/) !important;
    width: 100%;
}
#loginForm input[type=text],
#loginoob input[type=text],
form[action=question] input[type=password],
#password input[type=password],
#payment input,
#payment select {
    border: 1px solid #b1b1b1;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
form[action=question] span:not(.error){ 
    color: #0d529e !important;
    font-weight: bold !important;
}
.error { 
    color: #cc0000 !important;
    line-height: 30px;
    font-size: 80%; 
    background: url(error.png) no-repeat; 
    background-size: 15px;
    padding-left: 20px;
}
.error .error {
    background: none;
    padding-left: 0;
    font-size: inherit;
    line-height: inherit;
} 
.iphone-transDesc {
    color: #000;
}
.iphone-transDate {
    padding-right: 10px;
}
body > ul#menu,
body > ul#accounts,
body > ul#transacion_menu,
body > ul#transactions,
body > ul#other,
body > ul#contactUs { 
    margin: 64px 12px 12px 12px;
    border: 1px solid red;
}
body > ul#menu li:first-child img,
#contactUs img,
#loginoob .row,
#loginForm .row {
    display: none;
}
ul fieldset {
    border: none;
    background: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
fieldset,
body > ul#menu,
body > ul#accounts, 
body > ul#transacion_menu,
body > ul#transactions,
body > ul#other,
body > ul#contactUs { 
    border: 2px solid #b1b1b1;
    -moz-box-shadow: 0 1px 2px #333333;
    -webkit-box-shadow: 0 1px 2px #333333;
    box-shadow: 0 1px 2px #333333;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background:  #e9eaeb  /*{a-bar-background-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from(  #f6f6f6  /*{a-bar-background-start}*/), to(  #d3d3d3  /*{a-bar-background-end}*/)) !important; /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(  #f6f6f6  /*{a-bar-background-start}*/,  #d3d3d3  /*{a-bar-background-end}*/) !important; /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient(  #f6f6f6  /*{a-bar-background-start}*/,  #d3d3d3  /*{a-bar-background-end}*/) !important; /* FF3.6 */
    background-image:     -ms-linear-gradient(  #f6f6f6  /*{a-bar-background-start}*/,  #d3d3d3  /*{a-bar-background-end}*/) !important; /* IE10 */
    background-image:      -o-linear-gradient(  #f6f6f6  /*{a-bar-background-start}*/,  #d3d3d3  /*{a-bar-background-end}*/) !important; /* Opera 11.10+ */
    background-image:         linear-gradient(  #f6f6f6  /*{a-bar-background-start}*/,  #d3d3d3  /*{a-bar-background-end}*/) !important;
}

a { 
    color: #003e7e;
}

/* @group Toolbar */
body >.toolbar{
    -webkit-box-sizing: border-box;
    -moz-box-shadow: 0px 0px 5px black;
    -webkit-box-shadow: 0px 0px 5px black;
    box-shadow: 0px 0px 5px black;
    /*border-bottom: 1px solid #000;*/
    padding: 10px;
    height: 44px;
    background: url(toolbar.png) #0d529e;
    background-repeat: repeat-x;
    background-size: 44px 88px;
    position: relative;
}
body > .panel { 
    background: none !important;
}
body > ul > li.group { 
    background-image: none;
    background-color: #7a7c7c;
    border-top: 2px solid #b1b1b1;
    border-bottom: 2px solid #b1b1b1;
    -moz-box-shadow: inset 0 1px 2px #4c4d4d;
    -webkit-box-shadow: inset 0 1px 2px #4c4d4d;
    box-shadow: inset 0 1px 2px #4c4d4d;
    line-height: 7px;
    font-size: 80% !important;
    text-shadow: 0 -1px 0 #000 !important;
    height: 5px;
    color: white;
}
body > ul#accounts > li.group:first-child,
body > ul#transacion_menu > li.group:first-child,
body > ul#transactions > li.group:first-child,
body > ul#other > li.group:first-child {
    border-top-right-radius: 8px !important;
    -moz-border-radius-topright: 8px !important;
    border-top-left-radius: 8px !important;
    -moz-border-radius-topleft: 8px !important;
}
body > ul > li { 
    font-size: 16px !important;
    line-height: 26px;
    border-bottom: none !important;
}
.balance {
    color: #3784d2;
}
.balance[style*="color:red"] {
    color: #990000 !important;
}
.iphone-acctName {
    color: #000;
}
.iphone-acctMask {
    color: #888;
    font-weight: normal;
}
.black-translucent .toolbar {
    margin-top: 20px;
}

.toolbar{
    display: flex;
    align-items: center;
}

.toolbar > .logoutButton {
    flex-grow: 1;
    order: 2;
    position: relative !important;
    text-align: center;
    top: auto !important;
}

.toolbar > h1 {
    flex-grow: 14;
    order: 1;
     overflow: hidden;
    line-height: 1em;
    font-size: 20px;
    font-weight: bold;
    text-shadow: rgba(0,0,0,1) 0 -1px 1px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
}
body.landscape .toolbar > h1 {
    margin-left: -125px;
    width: 250px;
}
.button, .back, .cancel, .add {
    position: absolute;
    overflow: hidden;
    top: 8px;
    right: 10px;
    margin: 0;
    border-width: 0 5px;
    padding: 0 3px;
    width: auto;
    height: 30px;
    line-height: 30px;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
    background: none;
    -webkit-border-image: url(button.png) 0 10 0 10;
}
.blueButton {
    -webkit-border-image: url(blueButton.png) 0 5 0 5;
    border-width: 0 5px;
}

.back.active {
    -webkit-border-image: url(back_button_clicked.png) 0 8 0 14;
    color: #aaa;
}
.leftButton, .cancel {
    left: 6px;
    right: auto;
}
.add {
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
}
.whiteButton,
.grayButton, .redButton, .blueButton, .greenButton {
    display: block;
    border-width: 0 12px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-decoration: inherit;
    color: inherit;
}

.whiteButton.active,
.grayButton.active, .redButton.active, .blueButton.active, .greenButton.active, .whiteButton:active,
.grayButton:active, .redButton:active, .blueButton:active, .greenButton:active {
    -webkit-border-image: url(activeButton.png) 0 12 0 12;
}
.whiteButton {
    -webkit-border-image: url(whiteButton.png) 0 12 0 12;
    text-shadow: rgba(255, 255, 255, 0.7) 0 1px 0;
}
.grayButton {
    -webkit-border-image: url(grayButton.png) 0 12 0 12;
    color: #FFFFFF;
}

.redButton {
    -webkit-border-image: url(redButton.png) 0 12 0 12;
    color: #FFFFFF;
}

.greenButton {
    -webkit-border-image: url(greenButton.png) 0 12 0 12;
    color: #FFFFFF;
}


/* @end */
/* @group Lists */
h1 + ul, h2 + ul, h3 + ul, h4 + ul, h5 + ul, h6 + ul {
    margin-top: 0;
}
ul {
    color: #535353;
    font: bold 18px Helvetica;
    padding: 0;
    margin: 15px 10px 17px 10px;
}
ul.rounded {
    -webkit-border-radius: 8px;
    -webkit-box-shadow: rgba(0,0,0,.3) 1px 1px 3px;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f6f6f6), to(#d3d3d3));
}
ul.rounded li:first-child, ul.rounded li:first-child a {
    border-top: 0;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}
ul.rounded li:last-child, ul.rounded li:last-child a {
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}
ul li {
    color: #666;
    border-top: 1px solid #ababab;
    border-bottom: #555858;
    list-style-type: none;
    padding: 10px 10px 10px 10px;
    overflow: hidden;
}
ul li:first-child{
    border-top: none;
}
ul li.arrow {
    /* background-image: url(img/chevron.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#E3E3E3)); */
    background-image: url(chevron.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 20px 17px;
}

ul li.arrow a { 
    padding: 12px 22px 12px 10px;
}

ul li.forward {
    /* background-image: url(img/chevron_circle.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#E3E3E3)); */
    background-image: url(chevron_circle.png);
    background-position: right center;
    background-repeat: no-repeat;
}
/* universal links on list */
ul li a, li.img a + a {
    color: #404040;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    padding: 12px 10px 12px 10px;
    margin: -10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    /* text-shadow: rgba(0,0,0,.2) 0 1px 1px; */
    text-shadow: rgba(255, 255, 255, .75) 0 1px 0px;
}
/*Active Link Color*/
ul li a.active, ul li a.button {
    background-color: #c8c8c8;
    color: #fff;
}
ul li a.active.loading {
    background-image: url(spinner.gif);
    background-position: 95% center;
    background-repeat: no-repeat;
}
ul li.arrow a.active {
    background-image: url(chevron.png);
    background-position: right center;
    background-repeat: no-repeat;
}
ul li.forward a.active {
    background-image: url(chevron_circle.png);
    background-position: right center;
    background-repeat: no-repeat;
}
ul li.img a + a {
    margin: -10px 10px -20px -5px;
    font-size: 17px;
    font-weight: bold;
}
ul li.img a + a + a {
    font-size: 14px;
    font-weight: normal;
    margin-left: -10px;
    margin-bottom: -10px;
    margin-top: 0;
}
ul li.img a + small + a {
    margin-left: -5px;
}
ul li.img a + small + a + a {
    margin-left: -10px;
    margin-top: -20px;
    margin-bottom: -10px;
    font-size: 14px;
    font-weight: normal;
}
ul li.img a + small + a + a + a {
    margin-left: 0px !important;
    margin-bottom: 0;
}
ul li a + a {
    color: #000;
    font: 14px Helvetica;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}
ul li a + a + a, ul li.img a + a + a + a, ul li.img a + small + a + a + a {
    color: #666;
    font: 13px Helvetica;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    padding: 0;
}
/*
@end */
/* @group Forms */
ul.form li {
    padding: 7px 10px;
}
ul.form li.error {
    border: 2px solid red;
}
ul.form li.error + li.error {
    border-top: 0;
}
ul li input[type="text"], ul li input[type="password"], ul li input[type="tel"], ul li textarea, ul li select {
    color: #777;
    background: transparent url(../.png);
    border: 0;
    font: normal 17px Helvetica;
    padding: 0;
    display: inline-block;
    margin-left: 0px;
    width: 100%;
    -webkit-appearance: textarea;
}
ul li textarea {
    height: 120px;
    padding: 0;
    text-indent: -2px;
}
ul li select {
    text-indent: 0px;
    background: transparent url(chevron.png) no-repeat right center;
    -webkit-appearance: textfield;
    margin-left: -6px;
    width: 104%;
}
ul li input[type="checkbox"], ul li input[type="radio"] {
    margin: 0;
    padding: 10px 10px;
}
ul li input[type="checkbox"]:after, ul li input[type="radio"]:after {
    content: attr(title);
    font: 17px Helvetica;
    display: block;
    width: 246px;
    color: #777;
    margin: -12px 0 0 17px;
}
/* @end */
/* @group Mini Label */
ul li small {
    color: #64c114;
    font: 17px Helvetica;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 23%;
    float: right;
    padding: 0;
}
ul li.arrow small {
    padding: 0 15px;
}
ul li small.counter {
    font-size: 17px;
    line-height: 13px;
    font-weight: bold;
    background: rgba(0,0,0,.15);
    color: #fff;
    -webkit-border-radius: 11px;
    padding: 4px 10px 5px 10px;
    display: block;
    width: auto;
    margin-top: -22px;
    -webkit-box-shadow: rgba(255,255,255,.1) 0 1px 0;
}
ul li.arrow small.counter {
    margin-right: 15px;
}
/* @end */
/* @group Individual */
ul.individual {
    border: 0;
    background: none;
    clear: both;
    overflow: hidden;
    padding-bottom: 3px;
    -webkit-box-shadow: none;
}
ul.individual li {
    background: #4c4d4e;
    border: 1px solid #333;
    font-size: 14px;
    text-align: center;
    -webkit-border-radius: 8px;
    -webkit-box-sizing: border-box;
    width: 48%;
    float: left;
    display: block;
    padding: 11px 10px 14px 10px;
    -webkit-box-shadow: rgba(0,0,0,.2) 1px 1px 3px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4c4d4e), to(#404142));
}
ul.individual li + li {
    float: right;
}
ul.individual li a {
    color: #fff;
    line-height: 16px;
    margin: -11px -10px -14px -10px;
    padding: 11px 10px 14px 10px;
    -webkit-border-radius: 8px;
}
/* @end */
/* @group Toggle */
.toggle {
    width: 94px;
    position: relative;
    height: 27px;
    display: block;
    overflow: hidden;
    float: right;
}
.toggle input[type="checkbox"]:checked {
    left: 0px;
}
.toggle input[type="checkbox"] {
    -webkit-appearance: textarea;
    -webkit-border-radius: 5px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-transition: left .15s;
    background-color: transparent;
    background: #fff url(on_off.png) 0 0 no-repeat;
    border: 0;
    height: 27px;
    left: -55px;
    margin: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 149px;
}
/* @end */
/* @group Info */
.info {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccc), to(#aaa), color-stop(.6,#CCCCCC));
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-shadow: rgba(255,255,255,.8) 0 1px 0;
    color: #444;
    padding: 15px;
    border-top: 1px solid rgba(255,255,255,.2);
    font-weight: bold;
    top:44px;
    position: relative;
}
/* @end */
/* @group Edge to edge */
ul.edgetoedge {
    border-width: 1px 0;
    margin: 0;
    padding: 0;
}
ul.edgetoedge li {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1e1f21), to(#272729));
    border-bottom: 2px solid #000;
    border-top: 1px solid #4a4b4d;
    font-size: 20px;
    margin-bottom: -1px;
}
ul.edgetoedge li.sep {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,0)), to(rgba(0,0,0,.5)));
    border-bottom: 1px solid #111113;
    border-top: 1px solid #666;
    color: #3e9ac3;
    font-size: 16px;
    margin: 1px 0 0 0;
    padding: 2px 10px;
    text-shadow: #000 0 1px 0;
}
ul.edgetoedge li em {
    font-weight: normal;
    font-style: normal;
}
/* @end */
/* @group Plastic */
#plastic {
    background: #17181a;
}
ul.plastic {
    background: #17181a;
    color: #aaa;
    font: bold 18px Helvetica;
    margin: 0;
    padding: 0;
    border-width: 0 0 1px 0;
}
ul.plastic li {
    border-width: 1px 0;
    border-style: solid;
    border-top-color: #222;
    border-bottom-color: #000;
    color: #666;
    list-style-type: none;
    overflow: hidden;
    padding: 10px 10px 10px 10px;
}
ul.plastic li a.active.loading {
    background-image: url(spinner.gif);
    background-position: 95% center;
    background-repeat: no-repeat;
}
ul.plastic li small {
    color: #888;
    font-size: 13px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
}
ul.plastic li:nth-child(odd) {
    background-color: #1c1c1f;
}
ul.plastic li.arrow {
    background-image: url(chevron.png);
    background-position: right center;
    background-repeat: no-repeat;
}
ul.plastic li.arrow a.active {
    background-image: url(chevron.png);
    background-position: right center;
    background-repeat: no-repeat;
}
ul.plastic li.forward {
    background-image: url(chevron_circle.png);
    background-position: right center;
    background-repeat: no-repeat;
}
ul.plastic li.forward a.active {
    background-image: url(chevron_circle.png);
    background-position: right center;
    background-repeat: no-repeat;
}
/* @group Metal */
ul.metal {
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: 0;
}
ul.metal li {
    background-image: none;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #666;
    font-size: 26px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(238,238,238,1)), to(rgba(156,158,160,1)));
}
ul.metal li a {
    line-height: 26px;
    margin: 0;
    text-shadow: #fff 0 1px 0;
    padding: 13px 0;
}
ul.metal li a em {
    display: block;
    font-size: 14px;
    font-style: normal;
    color: #444;
    width: 50%;
    line-height: 14px;
}
ul.metal li a.active {
    color: rgb(0,0,0);
}
ul.metal li small {
    float: right;
    position: relative;
    margin-top: 10px;
    font-weight: bold;
}
ul.metal li.arrow {
    background-image: url(chevron.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-image: url(chevron.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(238,238,238,1)), to(rgba(156,158,160,1)));
    background-repeat: no-repeat;
    background-position: right center;
}
ul.metal li.arrow a small {
    padding-right: 15px;
    line-height: 17px;
}

.down-arrow {
  padding-top:3px;
  height: 19px;
  width: 20px;
}

.map-icon {
  margin-right:10px;
  top:3px;
  position:relative;
  width: 41px;
}
/* @end */
/* @group Custom Popular */
.toolbar-logo {
    position: relative;
    width: 126px;
}

.ad {
    width:300px;
    height:145px;
    overflow: hidden;
    margin: 0px auto;
    -webkit-border-radius: 8px;
    -webkit-box-shadow: rgba(0,0,0,.3) 1px 1px 3px;
    margin-top: 10px;
}

.smallerItem {
    font-size: 17px;
}


/* @end */


/* Info hidding stuff */
body.fullscreen #home-es .info {
    display: none;
}

body.fullscreen #home .info {
    display: none;
}
/* @endInfo hidding stuff */

.infoLeft img { 
    width: 57px;
    height: 57px;
}


input#username,input#answer,input#code{
    width: 100%;
    margin-bottom: 1%;
}

.rsaQuestion {
    color: #0d529e;
    font-weight:bold;
    font-size:14px;
}

input[type="radio"]{
    vertical-align: middle;
}

#secinsDisclosure {
    padding: 20% 5%;
    text-align: justify;
    color: white;
    left: 0%;
}
form[action=loginoob] input[type=submit],form[action=loginoob] input[type=button],
form[action=login] input[type=submit],form[action=login] input[type=button],
form[action=question] input[type=submit],form[action=password] input[type=submit]{
    font-size:16px;
}

form[action=login] input[type=button], form[action=loginoob] input[type=button]{ 
    color: #324509;
    min-height: 44px;
    text-shadow: rgba(255,255,255,.4) 0 1px 0;
    font-weight: bold;
    border: 1px solid #7e827a;
    -moz-box-shadow: 0 1px 2px #333333;
    -webkit-box-shadow: 0 1px 2px #333333;
    box-shadow: 0 1px 2px #333333;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px 0;
    width: 100%;
}

