/**************************************************** cibp-1870: new portal css *****************************************************/

/*---------------------------------------------------- layout.vm style -------------------------------------------------------------*/
/*---- top menu style--------*/
.menu_top_links, .menu_top_links a:link, .menu_top_links a:visited, .menu_top_links a:hover {
	font-family:Arial, Helvetica, sans-serif, Sans;
	color:#7b7b7b;
	text-decoration: none;
	font-size:11px;
}

.menu_top_links a:hover {
	text-decoration: underline;	
}

.menu_top_separator {
	font-family:Arial, Helvetica, sans-serif, Sans;
	font-size:11px;
   	color:#7b7b7b;
}

/*---- end top menu style--------*/
/*---- footer menu style -------*/
.menu_footer_links, .menu_footer_links a:link, .menu_footer_links a:visited, .menu_footer_links a:hover {
	font-family:Arial, Helvetica, sans-serif, Sans;
	color:#989899;
	text-decoration: none;
	font-size:11px;
}

.menu_footer_links a:hover {
	text-decoration: underline;	
}

.menu_footer_separator {
	font-family:Arial, Helvetica, sans-serif, Sans;
	font-size:11px;
/*	font-weight:bold;*/
   	color:#989899;
}

.menu_footer {
  margin-top:8px;
  margin-left:2px;
  float:right;
}

#menu_footer {
   margin-top:5px;
   margin-bottom:5px;
}
/*---- end footer menu style -------*/

.Layout_Bkg {
	background-image:url(../../img/portal/regular/bkgmain.gif);
	background-color:#FFFFFF;
	background-repeat:repeat-x;
}
.loginLogo_popPortal_Regular {
	background-image:url(../../img/portal/regular/imglogoPop.gif);
	background-repeat: no-repeat;
	border:none;
    height:31px;
    width:171px;
    float: left;
    margin-top:30px;
	padding-top:0px;
	padding-bottom:10px;
}

.layout_hola_bottom_border_style {
	border-bottom:1px solid;
	border-color:#c9c9c9;
}

.layout_menu_left_top_border_style {
	border-left:1px solid;
	border-right:1px solid;
	border-color:#c9c9c9;
}

.layout_menu_left_border_style {
	border-left:1px solid;
	border-right:1px solid;
	border-bottom:1px solid;
	border-color:#c9c9c9;
}

.layout_content_right_top_border_style {
	border-right:1px solid;
	border-color:#c9c9c9;
}

.layout_content_style {
	background-color: #ffffff;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	border-bottom:1px solid;
	border-right:1px solid;
	border-color:#c9c9c9;
}

.layout_hola{
	font-size:12px;
	text-decoration: none;
	font-weight:bold;
	padding-top:5px;
	color: #4b4b4b;
}

.layout_last_login_date{
	font-size:10px;
	text-decoration: none;
	color: #4b4b4b;
	font-weight:normal;
}

.menu_big_theme{
	background-image:url(../../img/portal/A-big.png)!important;
	background-image:none;
	background-repeat: no-repeat;
	border:none;
	float:right;
    height:26px;
    width:13px;
}
.menu_small_theme{
	background-image:url(../../img/portal/A-small.png)!important;
	background-image:none;
	background-repeat: no-repeat;
	border:none;
	float:right;
	height:26px;
    width:10px;
}

/*--------------------------------------------------- end layout.vm style ----------------------------------------------------------*/
/*---------------------------------------------------- headerTop.vm style ----------------------------------------------------------*/
/*
.portal_header_height {
	height: 66px;
	background-image:url(../../img/portal/regular/portalHeaderBG.gif);
	background-repeat: repeat-x;
	background-position: -5px;
}
.portal_header {
	position: absolute;
	padding-top: 22px;
	padding-left: 14px;
	font-family:Arial, Helvetica, sans-serif, Sans;
	font-size:20px;
	font-weight:bold;
	color:#4b4b4b;
}
*/
.portal_header {
	background-image:url(../../img/portal/wealth/portalHeaderBG.gif);
	background-repeat: repeat-x;
	background-position: -5px;
	height: 46px;
	padding-top: 22px;
	padding-left: 14px;
	font-family:Arial, Helvetica, sans-serif, Sans;
	font-size:20px;
	font-weight:bold;
	color:#4b4b4b;
}
* html .portal_header {
	background-image:url(../../img/portal/wealth/portalHeaderBG.gif);
	background-repeat: repeat-x;
	background-position: -5px;
	height: 48px;
	padding-top: 22px;
	padding-left: 14px;
	font-family:Arial, Helvetica, sans-serif, Sans;
	font-size:20px;
	font-weight:bold;
	color:#4b4b4b;
}

.portal_header_line {
	background-color:#c9c9c9;
	padding-top: 1px;
}
.portal_header_line2 {
	background-color:#ffffff;
	padding-top: 3px;
}
/*------------------------------------------------ end headerTop.vm style ----------------------------------------------------------*/

/*---------------------------------------------------- portal.vm style -------------------------------------------------------------*/
#portal_account_lst_title {
	color: #595d5e;
	font-size:12px;
	font-weight:bold;
	margin-top:5px;
	margin-bottom:5px;
	padding-bottom:0px;
}

.portalAccountTblFormat {
	border:0px;
	width:100%;
}

.portalAccountTblFormat tr td a,.portalAccountTblFormat tr td a:link,.portalAccountTblFormat tr td a:visited,.portalAccountTblFormat tr td a:hover {
	color:#6ba4dd;
}

.portal_account_list {
	font-size:11px;
	color:#535456;
	bottom:40px;
	
}


.portal_account_list .spacer {
	clear:both;
	height:0px;
}

.portal_account_list a:link, .portal_account_list a:hover, .portal_account_list a:visited{
	font-size:11px;
	color:#003366;
}

.portal_account_list th{
	padding: 9px;
	font-size:12px;
	color:#003366;
}

/*--- box style ---*/
* html #portal_tlc, * html #portal_trc {height: 1%;}

#portal_tlc, #portal_trc { zoom: 1; }

.portalAccountsBoxContent {
  	padding-top: 20px;
  	padding-bottom: 0px;
  	padding-left: 20px;
  	padding-right: 20px;
}

.portalTrMouseOut {
	background-image:url(../../img/portal/regular/portal-box-bg.gif);
	background-repeat:repeat;
}

.portalTrMouseOver {
	background: #d0ecfb;
}

#portalAccountsBox {
	margin-top: 0px;
	margin-bottom: 5px; 
	padding: 0px;
	text-align: left;
	width: 415px;				
	background-image:url(../../img/portal/regular/portal-box-bg.gif);
	background-repeat:repeat;
}

#portal_tlc, #portal_trc, #portal_blc, #portal_brc
	{
	background-color: transparent;
	background-repeat: no-repeat;
	}

#portal_tlc
	{
	background-image:url(../../img/portal/regular/portal-box-top-left.gif);
	background-position: 0% 0%;
	}

#portal_trc
	{
	background-image:url(../../img/portal/regular/portal-box-top-right.gif);
	background-position: 100% 0%;
	}
	
#portal_blc
	{
	background-image:url(../../img/portal/regular/portal-box-bottom-left.gif);
	background-position: 0% 100%;
	}

#portal_brc
	{
	background-image:url(../../img/portal/regular/portal-box-bottom-right.gif);
	background-position: 100% 100%;
	}

#portal_tb, #portal_bb
	{
	background-color: transparent;
	background-repeat: repeat-x;
	}
			
#portal_tb
	{
	background-image:url(../../img/portal/regular/portal-box-top.gif);
	background-position: 0% 0%;
	}

#portal_bb
	{
	background-image:url(../../img/portal/regular/portal-box-bottom.gif);
	background-position: 50% 100%;
	}
	
#portal_rb
	{
	background-image:url(../../img/portal/regular/portal-box-right.gif);
	background-position: 100% 0%;
	background-repeat: repeat-y;
	}

#portal_lb
	{
	background-image:url(../../img/portal/regular/portal-box-left.gif);
	background-position: 0% 100%;
	background-repeat: repeat-y;
	}
/*--- end box style ---*/
/*----------------------------------------------------  end portal.vm style -------------------------------------------------------------*/

/*--------------------------------------------------- portal.messages.vm style ----------------------------------------------------------*/
.portal_Ad_boxesContainer {
	margin-left:15px;
	width:195px;
	margin-top:0px;
	margin-bottom:10px;
}
.portalMsgGreenBoxTop {
	background-image:url(../../img/portal/regular/portal-box-top-green-full.png)!important;
	background-image:none;
	background-repeat: no-repeat;
	background-position: top;
	width:191px;
	height: 25px;
	clear: both;
	font-family:Arial, Helvetica, sans-serif, Sans;
	font-size:11px;
	font-weight:bold;
   	color:#646869;
}	
.portalMsgBoxTop {
	background-image:url(../../img/portal/regular/portal-box-top-full.png)!important;
	background-image:none;
	background-repeat: no-repeat;
	background-position: top;
	width:191px;
	height: 25px;
	clear: both;
	font-family:Arial, Helvetica, sans-serif, Sans;
	font-size:11px;
	font-weight:bold;
   	color:#646869;
}
.portalMsgBoxBody {
	background-image:url(../../img/portal/regular/portal-box-sides.gif);
	background-repeat: repeat-y;
	padding-top: 10px;
	width: 191px;
}
.portalMsg4UBoxBody {
	background-image:url(../../img/portal/regular/portal-box-sides.gif);
	background-repeat: repeat-y;
	padding-top: 10px;
	color:#6ba4dd;
	width: 191px;
}
.portalMsg4UBoxBody table tr td, .portalMsg4UBoxBody table tr td div, 
.portalMsg4UBoxBody table tr td div a, .portalMsg4UBoxBody table tr td div a:link, .portalMsg4UBoxBody table tr td div a:visited, 
.portalMsg4UBoxBody table tr td div a:hover, .portalMsg4UBoxBody table tr td a:link, .portalMsg4UBoxBody table tr td a:visited, 
.portalMsg4UBoxBody table tr td a:hover{
	color:#6ba4dd;
}
.portalMsgBoxBottom {
	background-image:url(../../img/portal/regular/portal-box-bottom-full.png)!important;
	background-image:none;
	background-repeat: no-repeat;
	width: 191px;
	height: 16px;
}

/*------------------------------------------------ end portal.messages.vm style --------------------------------------------------------*/

/*------------------------------------------------ quickpayment.vm styel ---------------------------------------------------------------*/
#quickPay{
	font-size:11px;
	color:#535456;
	width:99%;
	margin-top:5px;
}

#quickPay select {
	width:140px;

}

#QPclose, #QPclose a, #QPclose a:hover {
	color:#646869;
}
/*------------------------------------------------ end quickpayment.vm styel ------------------------------------------------------------*/


/*-------------------------------------------------------- Menu Css ----------------------------------------------------------------*/
/*---- left menu style -------*/
.menu_left_width{
	width:180px;
}
/*---Menu Left Top Part---*/
.menu_left_top_bg {
	background-image:url(../../img/portal/regular/menuTopLeftBG.gif);
	background-repeat: repeat-x;
	height: 34px;
}
.menu_left_top_home{
	background-image:url(../../img/portal/regular/home-icon.png)!important;
	background-image:none;
	background-position:top;
	background-repeat: no-repeat;
	width:19px;
	height:	30px;
}
.menu_left_top_info{
	background-image:url(../../img/portal/regular/info-icon.png)!important;
	background-image:none;
	background-position:top;
	background-repeat: no-repeat;
	width:19px;
	height:	30px;
}
.menu_left_top_style2 {
	height: 68px;
}
.menu_left_top_style, .menu_left_top_style a:link, .menu_left_top_style a:visited, .menu_left_top_style a:hover {
	padding-top: 8px;
	padding-left: 8px;
	font-family:Arial, Helvetica, sans-serif, Sans;
	color:#4b4b4b;
	text-decoration: none;
	font-weight:bold;
	font-size:11px;
	text-align: left;
	white-space: nowrap;
}

.menu_left_top_style a:hover {
	text-decoration: underline;
}

.menu_left_top_line {
	background-color:#80a8be;
	padding-top: 1px;
}
.menu_left_top_line2 {
	background-color:#ffffff;
	padding-top: 1px;
}
/*---End Menu Left Top Part---*/

.menu_left_bg_light {
	/*background-color:#f7f7f7;*/
	background-color:#e1f2fa;
}

.menu_left_title_style {
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif, Sans;
	color:#4b4b4b;
	padding-top: 8px;
	padding-left:8px;
	height:20px;
	font-weight:bold;
}

.menu_left_style, .menu_left_style a:link, .menu_left_style a:visited, .menu_left_style a:hover {
	font-family:Arial, Helvetica, sans-serif, Sans;
	color:#4b4b4b;
	text-decoration: none;
	font-size:11px;
	text-align: left;
	line-height:150%;
	font-weight:lighter;
	white-space: nowrap;
	padding-left:4px;
	padding-bottom: 5px;
}

.menu_left_style a:hover {
	text-decoration: underline;
}

.menu_left_line {
	background-image:url(../../img/portal/regular/menuLine.png)!important;
	background-image:none;
	background-repeat:no-repeat;
	background-position:center;
	height: 4px;
}
/*--- end left menu style ---*/

.portal_large_button {
	margin-bottom:5px;
	margin-top:5px;
	margin-left:2px;
	font-size:10px;
	font-stretch:condensed;
	font-weight:normal;
	text-align:left;
	padding-left:15px;
	width:125px;
	height:20px;
	color:#000000;
	background:url(../../img/portal/btnLarge.gif) no-repeat;
	cursor:pointer;
	border:none;
	visibility: visible;
}

/*IE 7 Fix

html> body .portal_large_button {
	margin-bottom:5px;
	margin-top:5px;
	margin-left:2px;
	padding-left:15px;
	font-stretch:condensed;
	text-align:left;
	text-indent:0px;
	width:125px;
	height:20px;
	color:#000000;
	background:url(../../img/portal/btnLarge.gif) no-repeat;
	cursor:pointer;
	border:none;
}



* html .portal_large_button {
	margin-bottom:5px;
	margin-top:5px;
	margin-left:2px;
	padding-left:15px;
	font-stretch:condensed;
	text-align:left;
	text-indent:0px;
	width:125px;
	height:20px;
	color:#000000;
	background:url(../../img/portal/btnLarge.gif) no-repeat;
	cursor:pointer;
	border:none;
}

/*End IE 6 Fix*/

/*-------------------------------------------------------- End Menu Css ------------------------------------------------------------*/