/**************************************************** cibp-1870: new portal-big css *****************************************************/

.menu_top_links, .menu_top_links a:link, .menu_top_links a:visited, .menu_top_links a:hover {
	font-size:13px;
}

.menu_top_separator {
	font-size:13px;
}

/*---- end top menu style--------*/
/*---- footer menu style -------*/
.menu_footer_links, .menu_footer_links a:link, .menu_footer_links a:visited, .menu_footer_links a:hover {
	font-size:13px;
}

.menu_footer_separator {
	font-size:13px;
}

.layout_hola{
	font-size:14px;
}

.layout_last_login_date{
	font-size:12px;
}


.portal_header {
	font-size:22px;
}

#portal_account_lst_title {
	font-size:14px;
}

.portal_account_list {
	font-size:13px;
}

.portal_account_list a:link, .portal_account_list a:hover, .portal_account_list a:visited{
	font-size:13px;
}

.portal_account_list th{
	font-size:14px;
}

.portalMsgGreenBoxTop {
	font-size:13px;
}	
.portalMsgBoxTop {
	font-size:13px;
}

#quickPay{
	font-size:13px;
}

.menu_left_top_style, .menu_left_top_style a:link, .menu_left_top_style a:visited, .menu_left_top_style a:hover {
	font-size:13px;
	padding-top: 7px;
	padding-bottom: 7px;
	
}

.menu_left_title_style {
	font-size:15px;
}

.menu_left_style, .menu_left_style a:link, .menu_left_style a:visited, .menu_left_style a:hover {
	font-size:13px;
}

.portal_large_button {
	margin-bottom:5px;
	margin-top:5px;
	margin-left:2px;
	font-size:12px;
	font-stretch:condensed;
	font-weight:normal;
	text-align:left;
	padding-left:15px;
	width:150px;
	height:20px;
	color:#000000;
	background:url(../../img/portal/btnLarge2.gif) no-repeat;
	cursor:pointer;
	border:none;
	visibility: visible;
}

/*IE 7 Fix

html> body .portal_large_button {
	margin-bottom:5px;
	margin-top:5px;
	margin-left:2px;
	padding-left:15px;
	font-stretch:condensed;
	text-align:left;
	text-indent:0px;
	width:150px;
	height:20px;
	color:#000000;
	background:url(../../img/portal/btnLarge2.gif) no-repeat;
	cursor:pointer;
	border:none;
}



* html .portal_large_button {
	margin-bottom:5px;
	margin-top:5px;
	margin-left:2px;
	padding-left:15px;
	font-stretch:condensed;
	text-align:left;
	text-indent:0px;
	width:150px;
	height:20px;
	color:#000000;
	background:url(../../img/portal/btnLarge2.gif) no-repeat;
	cursor:pointer;
	border:none;
}

End IE 6 Fix*/
