#set($layout="layout/iphone/iphone-layout.vm")

<link type="text/css" href="#cssUrl("/css/bootstrap/enrollment-style.css")" rel="stylesheet" />

<h1 id="pageTitle" hidden></h1>

<div id="home" title="#springMessageText("login.button.login" "Con&eacute;ctate")"  class="panel" selected="true" >

    <div class="popular-header">
        <div class="row">
            <div class="col">
            </div>
            <div class="col text-center">
                <h6 class="text-white font-weight-bold vcenter">#springMessageText("login.button.login" "Con&eacute;ctate")</h6>
            </div>
            <div class="col text-right">
                <a class="btn btn-primary btn-sm"  href="$request.requestURI?lang=#springMessage('language.available')">#springMessage("language.available.label")</a>
            </div>
        </div>
    </div>
  
  
    <div class="col-sm-12 text-center py-5 ">
        <img src="#imgUrl("/img/#springMessageText('downtime.system.image.transparent' 'Downtime_SystemTransIng.png')")" class="py-5" style="display:unset" alt="DownTimeImage" class="img-responsive" usemap="#down"/>
    </div>
          
</div>  
