#set($layout="layout/iphone/enrollment-layout.vm")
#set($page_title="Enrollment")

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<link type="text/css" href="#cssUrl("/css/bootstrap/enrollment-style.css")" rel="stylesheet" />
<script language="JavaScript" type="text/javascript" src="#jsUrl("/js/bootstrap/enrollment-functions.min.js")"></script>
<script language="JavaScript" type="text/javascript" src="#jsUrl("/js/mobile/showAccountTypeFields.js")"></script>
<script language="JavaScript" type="text/javascript">

    function presscheckAvaliability() {
      document.getElementById('checkAvaliability').value=true;
    }
    function pressNOcheckAvaliability() {
      document.getElementById('checkAvaliability').value=false;
    }

    function updateQuestionSel(theElement, theText, elementSelected) {
        document.getElementById(theElement).value=theText;
        var question = document.getElementById(elementSelected).value;
        if(question.length > 31) {
            question = question.substring(0,28)+"...";
        }
        document.getElementById(theElement+'Label').innerHTML=question;
    }

</script>
<style>

#ckssnmask {
  width: 17px;
  height: 17px;
  border: 1px solid #888;
  border-radius: 3px;
  background-color: #fff;
  margin-top: 1px;
}

#ckathmask {
  width: 17px;
  height: 17px;
  border: 1px solid #888;
  border-radius: 3px;
  background-color: #fff;
  margin-top: 1px;
}

.radioMask {
        position: static!important;
        width: 17px!important;
        height: 17px!important;
        border: 1px solid #888;
        border-radius: 3px;
        background-color: #fff;
	}
	.comercial b{
		font-weight: inherit;
	}
	td.erroroption span {
        margin-bottom: -25px;
	}


#btn-submit5 {
    background-image: -webkit-linear-gradient( -90deg, rgb(42, 123, 193) 0%, rgb(42, 123, 193) 100%) !important;
	border: none!important;
	text-shadow: none;
    color: #ffffff !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top: -3%;
}


#step5 .ui-btn-down-a {
    background-image: -webkit-linear-gradient( -90deg, rgb(42, 123, 193) 0%, rgb(42, 123, 193) 100%) !important;
    border: none!important;
    text-shadow: none;
    color: #ffffff !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}
	#step5 .ui-icon-checkbox-off, .ui-icon-radio-off {
        background-color: #ccc !important;
    }

#content_agreement_final{
    border: gray 1px solid !important;
    padding-left: 37px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: -9%;
    font-weight: bold;


}  

#radioComercial{
margin-bottom: 47px !important;
}

    /* Medium devices (tablets, 768px and up) */
 @media only screen and (min-width: 768px) {

    #content_agreement_final {
        margin-top: -2%;

    } 

    #btn-submit5 {
        margin-top: -1%;
    }

    #radioComercial{
        margin-bottom: 30px !important;
    }



}

</style>

#if(!$enrollmentAvailable && !$confirm && !$incomplete)
La inscripci&oacute;n no estar&aacute; disponible durante estos momentos. Por favor trate luego. Gracias.
<br/>The enrollment is temporarily unavailable. Please try again later. Thank you.
#else

<div data-role="page" id="enrollment">

#if(!$confirm && !$incomplete) ## solo se hace bind al command obj si no es confirmacion
#springBind("enrollment")
#end
#if(!$mobileApp)

<div class="popular-header">
    <div class="row" style="margin-left:unset; margin-right:unset;">
        <div class="col" style="margin-top:10px">
            <a class="btn btn-primary btn-sm" style="background-color: #0d529e" href="login?firstTime=No"><i class="fas fa-home"></i> #springMessage("enrollment.mobile.home")</a>
        </div>
        <div class="col text-center" style="margin-top:10px">
            <a class="text-white font-weight-bold vcenter" >#springMessageText("enrollment.mobile.title" "")</a>
        </div>
        <div class="col text-right" style="margin-top:10px">
            <a class="btn btn-primary btn-sm" href="$request.requestURI?lang=#springMessage('language.available')">#springMessage("language.available.label")</a>
        </div>
    </div>
</div>
#end

#if(!$confirm && !$incomplete)
    <div class="m-3">
        <strong>#springMessageText("enrollment.mobile.instructions.header" "")</strong>
                <div style="font-size:14px">#springMessageText("enrollment.mobile.instructions.message" "The enrollment process is very easy!")</div>

        <br/>

        <div data-role="collapsible-set" data-content-theme="a" data-mini="true">

            <!-- Collapse #1 START -->

            <div id="accordion" class="accordion">
                <div class="card" style="border-radius:15px">

                    <div #if($page==0) class="card-header steps" data-toggle="collapse" #else class="card-header steps collapsed" data-toggle="disabled" #end href="#collapseOne">
                        <a class="card-title">
                            #springMessageText("enrollment.title.personalinfo" "Personal Information")
                        </a>
                    </div>
                    <div id="collapseOne" #if($page==0) class="card-body collapse show" #else class="card-body collapse" #end data-parent="#accordion" >

                    <!-- -->
                    <!-- -->
                        <form name="enrollment.personalinfo" method="post" action="enrollment" onsubmit="post_deviceprint()" target="_top" autocomplete='off' novalidate>

                            <input type="hidden" name="rtoken" value="$!remoteToken"/>
                            #springFormHiddenInput("enrollment.pm_fp" "")

                            <div class="form-group">
                                #springBind("enrollment.firstname")
                                <input type="text" name="firstname" id="firstname" class="form-control" value="#if($enrollment.firstname)$enrollment.firstname#end" placeholder="#springMessageText("enrollment.mobile.name.placeholder" "What's your name?")" />
                                <label>#springShowErrors("" "error")</label>

                                #springBind("enrollment.lastname")
                                <input type="text" name="lastname" id="lastname" class="form-control" value="#if($enrollment.lastname)$enrollment.lastname#end" placeholder="#springMessageText("enrollment.mobile.lastname.placeholder" "...And your last name?")" />
                                <label>#springShowErrors("" "error")</label>

                                #springBind("enrollment.maiden")
                                <input type="text" name="maiden" id="maiden" class="form-control" value="#if($enrollment.maiden)$enrollment.maiden#end" placeholder="#springMessageText("enrollment.mobile.maiden.placeholder" "...And your mother's maiden name?")" />
                                <label>#springShowErrors("" "error")</label>

                                #springBind("enrollment.email")
                                <input type="email" name="email" id="email" class="form-control" value="#if($enrollment.email)$enrollment.email#end" placeholder="#springMessageText("enrollment.mobile.email.placeholder" "Email")" />
                                <label>#springShowErrors("" "error")</label>

                                #springBind("enrollment.emailconfirm")
                                <input type="email" name="emailconfirm" id="emailconfirm" class="form-control" value="#if($enrollment.emailconfirm)$enrollment.emailconfirm#end" placeholder="#springMessageText("enrollment.mobile.emailconfirm.placeholder" "Confirm your email")" style="display:block" />
                                <label>#springShowErrors("" "error")</label>
                            </div>

                            <div class="form-group">
                                <label for="date" style="display:block">#springMessageText("enrollment.mobile.dob.label" "What is your date of birth?")</label>
                                #springBind("enrollment.dobmonth")#springFormSingleSelect("enrollment.dobmonth" $months "class='form-control dropdown-popular custom-select'")
                                <label>#springShowErrors("" "error")</label>

                                #springBind("enrollment.dobday")#springFormSingleSelect("enrollment.dobday" $days "class='form-control dropdown-popular custom-select'")
                                <label>#springShowErrors("" "error")</label>

                                #springBind("enrollment.dobyear")#springFormSingleSelect("enrollment.dobyear" $years "class='form-control dropdown-popular custom-select'")
                                <label>#springShowErrors("" "error")</label>

                                #springBind("enrollment.birthday")
                                <input type="hidden" name="${status.expression}"/>
                                <label>#springShowErrors("" "error")</label>
                            </div>

                            <label for="number" style="display:block">#springMessageText("enrollment.mobile.taxId.label" "Social Security Number")</label>

                            #if($MBSFE1590 && $MBSFE1590 == true)
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col">
                                            #springBind("enrollment.taxId1")<input type="password" class="form-control" maxlength="3" pattern="[0-9]*" id="taxId1" name="${status.expression}" value="$!{status.value}" autocomplete="off" style="text-align:center" />
                                        </div>
                                        <p style="margin:auto">-</p>
                                        <div class="col">
                                            #springBind("enrollment.taxId2")<input type="password" class="form-control" maxlength="2" pattern="[0-9]*" id="taxId2" name="${status.expression}" value="$!{status.value}" autocomplete="off" style="text-align:center" />
                                        </div>
                                        <p style="margin:auto">-</p>
                                        <div class="col">
                                            #springBind("enrollment.taxId3")<input type="password" class="form-control" maxlength="4" pattern="[0-9]*" id="taxId3" name="${status.expression}" value="$!{status.value}" autocomplete="off" style="text-align:center" />
                                        </div>
                                    </div>
                                    <label>#springShowErrors("" "error")</label>
                                </div>

                                    <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="ckssnmask" onclick="changessnmask();">
                                    <label class="form-check-label" for="ckssnmask">#springMessageText("enrollment.show.cleared.ssn.label" "Show Social Security Number")</label>
                                </div>

                                #springBind("enrollment.clearedTaxId1")
                                <input type="hidden" name="${status.expression}" id="${status.expression}" value="$!enrollment.clearedTaxId1"/>
                                #springBind("enrollment.clearedTaxId2")
                                <input type="hidden" name="${status.expression}" id="${status.expression}" value="$!enrollment.clearedTaxId2"/>
                                #springBind("enrollment.clearedTaxId3")
                                <input type="hidden" name="${status.expression}" id="${status.expression}" value="$!enrollment.clearedTaxId3"/>
                                #springBind("enrollment.showTaxId")
                                <input type="hidden" id="${status.expression}" name="${status.expression}" value="$!enrollment.showTaxId" />
                                <br/>

                                <div class="form-group">
                                    <label>#springMessageText("enrollment.captcha.label" "Type this security code")</label>
                                    <img class="rounded mx-auto d-block" src="#springUrl("/actions/captcha")"/>

                                    <label>#springMessageText("enrollment.captcha.here.label" "* in this box")</label>
                                    #springBind( "enrollment.captchaAnswer" )<input type="text" class="form-control" name="${status.expression}" size="20" maxlength="8" autocomplete="off"/>
                                    <label>#springShowErrors("" "error")</label>
                                </div>

                                <div class="form-group">
                                    <label>#springMessageText("enrollment.mobile.motivated.question" "What motivated you to enroll?")</label>
                                    #springFormSingleSelect("enrollment.motivated" $motives "class='form-control dropdown-popular_ncap custom-select'")
                                </div>


                                <button onclick="copyTaxId();hidebtn('btn-submit1');" class="custom-button" type="submit" name="_target1" data-theme="a" id="btn-submit1">#springMessageText("enrollment.mobile.button.next" "Next")</button>

                            #else
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col">
                                            #springBind("enrollment.taxId1")<input type="text" class="form-control" maxlength="3" pattern="[0-9]*" id="taxId1" name="${status.expression}" value="$!{status.value}" autocomplete="off" style="width:100%;display:inline;" />
                                        </div>
                                        <p style="margin:auto">-</p>
                                        <div class="col">
                                            #springBind("enrollment.taxId2")<input type="text" class="form-control" maxlength="2" pattern="[0-9]*" id="taxId2" name="${status.expression}" value="$!{status.value}" autocomplete="off" style="width:100%;display:inline;" />
                                        </div>
                                        <p style="margin:auto">-</p>
                                        <div class="col">
                                            #springBind("enrollment.taxId3")<input type="text" class="form-control" maxlength="4" pattern="[0-9]*" id="taxId3" name="${status.expression}" value="$!{status.value}" autocomplete="off" style="width:100%;display:inline;" />
                                        </div>
                                    </div>
                                   <label>#springShowErrors("" "error")</label>
                               </div>



                                <div class="form-group">
                                    <label>#springMessageText("enrollment.captcha.label" "Type this security code")</label>
                                    <img class="rounded mx-auto d-block" src="#springUrl("/actions/captcha")"/>

                                    <label>#springMessageText("enrollment.captcha.here.label" "* in this box")</label>
                                    #springBind( "enrollment.captchaAnswer" )<input type="text" class="form-control" name="${status.expression}" size="20" maxlength="8" autocomplete="off"/>
                                    <label>#springShowErrors("" "error")</label>
                                </div>

                                <div class="form-group">
                                    <label>#springMessageText("enrollment.mobile.motivated.question" "What motivated you to enroll?")</label>
                                    #springFormSingleSelect("enrollment.motivated" $motives "class='form-control dropdown-popular custom-select'")
                                </div>

                                <button onclick="hidebtn('btn-submit1');" class="custom-button" type="submit" name="_target1" data-theme="a" id="btn-submit1">#springMessageText("enrollment.mobile.button.next" "Next")</button>
                            #end

                        </form>
                        <!-- Collapse #1 END -->

                    </div>
                    <!-- Step 2 Start -->
                    <div #if($page==1 || ($page==2 && ($alreadyEnrolled||$blocked))) class="card-header steps" data-toggle="collapse" #else class="card-header steps collapsed" data-toggle="disabled" #end data-parent="#accordion" href="#collapseTwo">
                        <a class="card-title">
                            #springMessageText("enrollment.title.accountinfo" "Account Information")
                        </a>
                    </div>
                    <div id="collapseTwo" #if($page==1 || ($page==2 && ($alreadyEnrolled||$blocked))) class="card-body collapse show" #else class="card-body collapse" #end data-parent="#accordion" >
                        #if (!$alreadyEnrolled && !$blocked)
                            #if($accountIDA || $accountCCA || $accountAMEX || $accountREDI_HELOCS || $accountMLA || $accountAuto)
                                <div class="form-group">
                                    <label for="select-choice-0" class="select">#springMessageText("enrollment.mobile.accounttype.label" "What's your account type?")</label>
                                    <select name="select-choice-0" class="form-control dropdown-popular custom-select" id="select-choice-1" onchange="changeAccountType(this);">
                                        #if($accountIDA)<option value="acc" #if($enrollment.accountInfoType=="IDA") selected #end>#springMessageText("enrollment.mobile.checksavings.label" "Checks or Savings Account")</option>#end
                                        #if($accountCCA)<option value="vm" #if($enrollment.accountInfoType=="CCA" && "$enrollment.productDescription"!="Redi Equity") selected #end>#springMessageText("enrollment.mobile.cca.label" "Visa or Mastercard")</option>#end
                                        #if($accountAMEX)<option value="amex" #if($enrollment.accountInfoType=="AMEX") selected #end>#springMessageText("enrollment.mobile.amex.label" "American Express")</option>#end
                                        #if($accountREDI_HELOCS)<option value="redi" #if($enrollment.accountInfoType=="CCA" && "$enrollment.productDescription"=="Redi Equity") selected #end>#springMessageText("enrollment.mobile.rediheloc.label" "Redi Equity / HELOC")</option>#end
                                        #if($accountMLA && !$accountREDI_HELOCS && !$accountAMEX && !$accountCCA && !$accountIDA)<option value="mla" #if($enrollment.accountInfoType=="MLA") selected #end>#springMessageText("enrollment.mobile.nonTransactional.mortgageoption.label" "Mortgage Loan")</option>#end
                                        #if($accountAuto && !$accountREDI_HELOCS && !$accountAMEX && !$accountCCA && !$accountIDA)<option value="auto" #if($enrollment.accountInfoType=="RVA|LEA" || $enrollment.accountInfoType=="RVA" || $enrollment.accountInfoType=="LEA") selected #end>#springMessageText("enrollment.account.nontransactinal.auto.autoloanradio.label" "Auto Loan")</option>#end
                                    </select>
                                </div>
                            #end
                            <div id="opts">
                                ## Checking or Savings Account Fields
                                <!-- Test Succesfully -->
                                #if($accountIDA)
                                    <div id="acc-opt" #if("$enrollment.accountInfoType"!="IDA") class="hide acctopt" #end>
                                        <form name="enrollment.accountinfoIDA" method="post" action="enrollment"  target="_top">

                                            <div class="form-group">
                                                #springBind("enrollment.accountnumber")
                                                <input type="password" name="${status.expression}" class="form-control" pattern="[0-9]*" id="accountnumber" value="${status.value}" placeholder="#springMessageText("enrollment.mobile.accountnumber.placeholder" "Account Number")" maxlength="9" autocomplete="off" />
                                                <label>#springShowErrors("" "error")</label>

                                                #springBind("enrollment.athnumber")
                                                <input type="password" name="${status.expression}" class="form-control" pattern="[0-9]*" id="athnumber" value="${status.value}" placeholder="#springMessageText("enrollment.mobile.accountcard.placeholder" "ATM Card Number")" maxlength="16" autocomplete="off" />
                                                <label>#springShowErrors("" "error")</label>

                                                #springBind("enrollment.pin")
                                                <input type="password" name="pin" class="form-control" pattern="[0-9]*" id="pin" value="" placeholder="#springMessageText("enrollment.mobile.pin.placeholder" "PIN")" maxlength="4"  autocomplete="off"/>
                                                <label>#springShowErrors("" "error")</label>
                                                
                                                <div class="form-check">
                                                  <input type="checkbox" class="form-check-input" id="ckathmask" onclick="changesAccountAthmask();">
                                                  <label class="form-check-label" for="ckathmask">#springMessageText("enrollment.show.cleared.account.ath.label" "Show Account Number and ATH")</label>
                                                </div>
                                                
				                                #springBind("enrollment.clearedAccountNumber")
				                                <input type="hidden" name="${status.expression}" id="${status.expression}" value="$!enrollment.clearedAccountNumber"/>
				                                #springBind("enrollment.clearedATHNumber")
				                                <input type="hidden" name="${status.expression}" id="${status.expression}" value="$!enrollment.clearedATHNumber"/>
				                                #springBind("enrollment.showAccountATHNumber")
				                                <input type="hidden" id="${status.expression}" name="${status.expression}" value="$!showAccountATHNumber"/>
				                                <br/>

                                                #springBind("enrollment.accountInfoType")<input type="hidden" name="accountInfoType" id="accountInfoType" value="IDA" autocomplete="ofd">
                                                <button type="submit" class="custom-button" name="_target2" data-theme="a" id="btn-submit2" onclick="hidebtn('btn-submit2');">#springMessageText("enrollment.mobile.button.next" "Next")</button>
                                            </div>
                                        </form>
                                    </div>
                                #end
                                ## Visa or Mastercard Fields
                                #if($accountCCA && $CCAwithoutREDI_HELOCS)
                                    <div id="vm-opt" class="acctopt" #if("$enrollment.accountInfoType"!="CCA" || ("$enrollment.accountInfoType"=="CCA" && "$enrollment.productDescription"=="Redi Equity")) style="display: none;" #end>
                                        <form name="enrollment.accountinfoCCA" method="post" action="enrollment" novalidate>
                                            <div class="form-group" style="margin-bottom:unset">
                                                #springBind("enrollment.accountnumbercca")
                                                <input type="text" name="accountnumbercca" pattern="[0-9]*" class="form-control" id="accountnumbercca" value="${status.value}" placeholder="#springMessageText("enrollment.mobile.creditnumber.placeholder" "Credit Card Number")" maxlength="16" autocomplete="off" />
                                                <label>#springShowErrors("" "error")</label>
                                            </div>
                                            <div class="form-group" style="margin-bottom:unset">
                                                <label for="expMonth">#springMessageText("enrollment.mobile.expirationmonth.label" "Expiration Month:")</label>
                                                #springBind("enrollment.expMonth")
                                                #springFormSingleSelect("enrollment.expMonth" $expMonths "data-theme='c' class='form-control dropdown-popular custom-select'")
                                                <label>#springShowErrors("" "error")</label>
                                            </div>
                                            <div class="form-group" style="margin-bottom:unset">
                                                <label for="expYear">#springMessageText("enrollment.mobile.expirationyear.label" "Expiration Year:")</label>
                                                #springBind("enrollment.expYear")
                                                #springFormSingleSelect("enrollment.expYear" $expYears "data-theme='c' class='form-control dropdown-popular custom-select'")
                                                <label>#springShowErrors("" "error")</label>
                                            </div>
                                            <div class="form-group" style="margin-bottom:unset">
                                                #springBind("enrollment.cvv")
                                                <input type="text" name="cvv" value="${status.value}" pattern="[0-9]*" class="form-control" id="cvv" value="" placeholder="#springMessageText("enrollment.mobile.creditcv2.placeholder" "Card Identification Code")" maxlength="3"  />
                                                <label>#springShowErrors("" "error")</label>
                                            </div>
                                            <div class="form-group">
                                                #springBind("enrollment.zipCode")
                                                <input type="text" name="zipCode" value="${status.value}" id="zipcode" class="form-control" pattern="[0-9]*" placeholder="#springMessageText("enrollment.mobile.zipcode.placeholder" "ZipCode")" maxlength="5" autocomplete="off" />
                                                <label>#springShowErrors("" "error")</label>
                                            </div>

                                            #springBind("enrollment.accountInfoType")<input type="hidden" name="accountInfoType" id="accountInfoType" value="CCA">
                                            <button type="submit" name="_target2" class="custom-button" id="btn-submit2" onclick="hidebtn('btn-submit2');">#springMessageText("enrollment.mobile.button.next" "Next")</button>
                                        </form>
                                    </div>
                                #end
                                ## American Express Fields
                                #if($accountAMEX)
                                    <div id="amex-opt" class="acctopt" #if("$enrollment.accountInfoType"!="AMEX") style="display: none;"  #end>
                                        <form name="enrollment.accountinfoAMEX" method="post" data-ajax="false" action="enrollment">
                                            <div class="form-group" style="margin-bottom:unset">
                                                #springBind("enrollment.accountnumberamex")
                                                <input type="text" name="accountnumberamex" id="accountnumberamex" class="form-control" value="${status.value}" pattern="[0-9]*" placeholder="#springMessageText("enrollment.mobile.amexcard.placeholder" "American Express Card Number")" maxlength="15" autocomplete="off" />
                                                <label>#springShowErrors("" "error")</label>
                                            </div>
                                            <div class="form-group" style="margin-bottom:unset">
                                                <label for="expMonthamex">#springMessageText("enrollment.mobile.expirationmonth.label" "Expiration Month:")</label>
                                                #springBind("enrollment.expMonthamex")
                                                #springFormSingleSelect("enrollment.expMonthamex" $expMonths "class='form-control dropdown-popular custom-select'")
                                                <label>#springShowErrors("" "error")</label>
                                            </div>
                                            <div class="form-group" style="margin-bottom:unset">
                                                <label for="expYearamex">#springMessageText("enrollment.mobile.expirationyear.label" "Expiration Year:")</label>
                                                #springBind("enrollment.expYearamex")
                                                #springFormSingleSelect("enrollment.expYearamex" $expYears "class='form-control dropdown-popular custom-select'")
                                                <label>#springShowErrors("" "error")</label>
                                            </div>
                                            <div class="form-group" style="margin-bottom:unset">
                                                #springBind("enrollment.zipCodeamex")
                                                <input type="text" name="zipCodeamex" class="form-control" id="zipCodeamex" value="${status.value}" pattern="[0-9]*" placeholder="#springMessageText("enrollment.mobile.zipcode.placeholder" "ZipCode")" maxlength="5" autocomplete="off"/>
                                                <label>#springShowErrors("" "error")</label>
                                            </div>
                                            <div class="form-group">
                                                #springBind("enrollment.pinamex")
                                                <input type="password" name="pinamex" class="form-control" pattern="[0-9]*" id="pinamex" value="" placeholder="#springMessageText("enrollment.mobile.pin.placeholder" "PIN")" maxlength="4" />
                                                <label>#springShowErrors("" "error")</label>
                                            </div>

                                            #springBind("enrollment.accountInfoType")<input type="hidden" name="accountInfoType" id="accountInfoType" value="AMEX">
                                            <button type="submit" name="_target2" class="custom-button" id="btn-submit2" onclick="hidebtn('btn-submit2');">#springMessageText("enrollment.mobile.button.next" "Next")</button>
                                        </form>
                                    </div>
                                #end
                                ## Payroll Card Fields
                                #if($accountPFC && !$accountIDA && !$accountCCA && !$accountAMEX)
                                    <div id="pc-opt" class="acctopt">
                                        <form name="enrollment.accountinfo" method="post" action="enrollment">
                                            <div class="form-group" style="margin-bottom:unset">
                                                #springBind("enrollment.accountnumber")
                                                <input type="text" name="accountnumber" class="form-control" value="${status.value}" pattern="[0-9]*" placeholder="#springMessageText("enrollment.mobile.pfccard.placeholder" "Payroll card number")" maxlength="16" autocomplete="off"/>
                                                <label>#springShowErrors("" "error")</label>
                                            </div>
                                            <div class="form-group">
                                                #springBind("enrollment.pin")
                                                <input type="password" name="pin" pattern="[0-9]*" class="form-control" maxlength="4" size="4" placeholder="#springMessageText("enrollment.mobile.pin.placeholder" "PIN")" autocomplete="off"/>
                                                <label>#springShowErrors("" "error")</label>
                                            </div>
                                            #springBind("enrollment.accountInfoType")
                                            <input type="hidden" name="accountInfoType" id="accountInfoType" value="PFC">
                                            <button type="submit" name="_target2" class="custom-button" id="btn-submit2" onclick="hidebtn('btn-submit2');">#springMessageText("enrollment.mobile.button.next" "Next")</button>
                                        </form>
                                    </div>
                                #end
                                ## Redi Equity / HELOC Fields
                                #if($accountCCA && $accountREDI_HELOCS)
                                    <div id="redi-opt" #if("$enrollment.accountInfoType"!="CCA" || ("$enrollment.accountInfoType"=="CCA" && "$enrollment.productDescription"!="Redi Equity")) class="hide acctopt" #end>
                                        <form name="enrollment.accountinfoCCA" method="post" action="enrollment">
                                            <div class="form-group" style="margin-bottom:unset">
                                                #springBind("enrollment.accountnumbercca")
                                                <input type="text" name="accountnumbercca" class="form-control" pattern="[0-9]*" value="${status.value}" placeholder="#springMessageText("enrollment.mobile.rediheloccard.placeholder" "Redi Equity / HELOC Card Number")" maxlength="16" autocomplete="off" />
                                                <label>#springShowErrors("" "error")</label>
                                            </div>
                                            <div class="form-group" style="margin-bottom:unset">
                                                <label for="expMonth">#springMessageText("enrollment.mobile.expirationmonth.label" "Expiration Month:")</label>
                                                #springBind("enrollment.expMonth")
                                                #springFormSingleSelect("enrollment.expMonth" $expMonths "class='form-control dropdown-popular custom-select'")
                                                <label>#springShowErrors("" "error")</label>
                                            </div>
                                            <div class="form-group" style="margin-bottom:unset">
                                                <label for="expYear">#springMessageText("enrollment.mobile.expirationyear.label" "Expiration Year:")</label>
                                                #springBind("enrollment.expYear")
                                                #springFormSingleSelect("enrollment.expYear" $expYears "class='form-control dropdown-popular custom-select'")
                                                <label>#springShowErrors("" "error")</label>
                                            </div>
                                            <div class="form-group" style="margin-bottom:unset">
                                                #springBind("enrollment.cvv")
                                                <input type="text" name="cvv" pattern="[0-9]*" class="form-control" id="cvv" value="${status.value}" placeholder="#springMessageText("enrollment.mobile.creditcv2.placeholder" "Card Identification Code")" maxlength="3" autocomplete="off" />
                                                <label>#springShowErrors("" "error")</label>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="zipCode" value="${status.value}" class="form-control" pattern="[0-9]*" placeholder="#springMessageText("enrollment.mobile.zipcode.placeholder" "Billing zipcode")" maxlength="5" autocomplete="off" />
                                                <label>#springShowErrors("" "error")</label>
                                            </div>

                                            #springBind("enrollment.accountInfoType")<input type="hidden" name="accountInfoType" id="accountInfoType" value="CCA">
                                            #springBind("enrollment.productDescription")<input type="hidden" name="productDescription" id="productDescription" value="Redi Equity">
                                            <button type="submit" name="_target2" class="custom-button" id="btn-submit2" onclick="hidebtn('btn-submit2');">#springMessageText("enrollment.mobile.button.next" "Next")</button>
                                        </form>
                                    </div>
                                #end

                                #if(!$accountIDA && !$accountCCA && !$accountAMEX && !$accountPFC && !$accountCD)
                                    #if($enrollmentWithMLAFlag)
                                        #if($accountMLA)
                                            <div id="mla-opt" class="acctopt" #if("$enrollment.accountInfoType"!="MLA") style="display: none;"  #end>
                                                <form name="enrollment.accountinfomla" onsubmit="return (typeof submitted == 'undefined') ? (submitted = true) : !submitted" method="post" action="enrollment" novalidate>
                                                    <div class="form-group" style="margin-bottom:unset">
                                                        #springBind("enrollment.accountnumber")
                                                        <input type="number" name="accountnumber" tabindex="1" class="form-control" pattern="[0-9]*" inputmode="numeric" onKeyDown="if(this.value.length>=10 && event.keyCode!=8 && event.keyCode!=46) return false;" id="accountnumber" value="$!{status.value}" placeholder="#springMessageText("enrollment.mobile.nonTransactional.loanNumber.placeholder" "Loan Number")" maxlength="10"  autocomplete="off"/>
                                                        <label>#springShowErrors("" "error")</label>
                                                    </div>

                                                    <div class="form-group">
                                                        #springBind("enrollment.accountopenyear")
                                                        <input type="number" pattern="[0-9]*" tabindex="2" class="form-control" inputmode="numeric" onKeyDown="if(this.value.length>=4 && event.keyCode!=8 && event.keyCode!=46) return false;" name="accountopenyear" id="accountopenyear" value="$!{status.value}" placeholder="#springMessageText("enrollment.mobile.nonTransactional.originationYear.placeholder" "Origination Year")" maxlength="4" />
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">$</span>
                                                            </div>
                                                            #springBind("enrollment.monthlypayment")
                                                            <input type="tel" pattern="[0-9,]*" class="form-control" inputmode="numeric" name="monthlypayment" id="monthlypayment" value="$!{status.value}" placeholder="#springMessageText("enrollment.mobile.nonTransactional.MonthlyPayment.placeholder" "Monthly Payment")"  autocomplete="off"/>
                                                            <label>#springShowErrors("" "error")</label>
                                                            <div class="input-group-append">
                                                                <span class="input-group-text">.00</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    #springBind("enrollment.accountInfoType")
                                                    <input type="hidden" name="accountInfoType" id="accountInfoType" value="MLA">
                                                    <button type="submit" name="_target2" class="custom-button" id="btn-submit2">#springMessageText("enrollment.mobile.button.next" "Next")</button>
                                                </form>
                                            </div>
                                        #end
                                    #end

                                    #if($isAutoEnrollAllowed)
                                        #if($accountAuto)
                                            <div id="auto-opt" class="acctopt" #if("$enrollment.accountInfoType" != "RVA|LEA" && "$enrollment.accountInfoType" != "RVA" && "$enrollment.accountInfoType" != "LEA") style="display: none;"  #end>
                                                <form name="enrollment.accountinfo.autoloan" onsubmit="return (typeof submitted == 'undefined') ? (submitted = true) : !submitted" method="post" data-ajax="false" action="enrollment">
                                                    <div class="form-group" style="margin-bottom:unset">
                                                        #springBind("enrollment.accountNumberAuto")
                                                        <input type="number" pattern="[0-9]*" class="form-control" inputmode="numeric" onKeyDown="if(this.value.length>=17 && event.keyCode!=8 && event.keyCode!=46) return false;" name="accountNumberAuto" id="accountNumberAuto" value="$!{status.value}" placeholder="#springMessageText("enrollment.mobile.nonTransactional.loanNumber.placeholder" "Loan Number")" maxlength="17" autocomplete="off"/>
                                                        <label>#springShowErrors("" "error")</label>
                                                    </div>
                                                    <div class="form-group" >
                                                        #springBind("enrollment.accountOpenYearAuto")
                                                        <input type="number" pattern="[0-9]*" class="form-control" inputmode="numeric" onKeyDown="if(this.value.length>=4 && event.keyCode!=8 && event.keyCode!=46) return false;"  name="accountOpenYearAuto" id="accountOpenYearAuto" value="$!{status.value}" placeholder="#springMessageText("enrollment.mobile.nonTransactional.originationYear.placeholder" "Origination Year")" maxlength="4" />
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">$</span>
                                                            </div>
                                                            #springBind("enrollment.monthlyPaymentAuto")
                                                            <input type="tel" pattern="[0-9,]*" class="form-control" inputmode="numeric" name="monthlyPaymentAuto" id="monthlyPaymentAuto" value="$!{status.value}" placeholder="#springMessageText("enrollment.mobile.nonTransactional.MonthlyPayment.placeholder" "Monthly Payment")"  autocomplete="off"/>
                                                            <label>#springShowErrors("" "error")</label>
                                                            <div class="input-group-append">
                                                                <span class="input-group-text">.00</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    #springBind("enrollment.accountInfoType")
                                                    <input type="hidden" name="accountInfoType" id="accountInfoType" value="RVA|LEA">
                                                    <button type="submit" class="custom-button" name="_target2" id="btn-submit2">#springMessageText("enrollment.mobile.button.next" "Next")</button>
                                                </form>
                                            </div>
                                        #end
                                    #end
                                #end

                                #if(!$accountIDA && !$accountCCA && !$accountAMEX && !$accountPFC && !$accountCD && !$accountMLA && !$accountAuto)

                                    <div class="form-group">
                                        <strong>#springMessageText("enrollment.ohoh" "Oh oh!")</strong>
                                        #springMessageText("enrollment.noaccount.message" "No accounts")
                                    </div>

                                    <div class="form-group">
                                        #springMessageText("enrollment.noaccount.benefits" "Benefits")
                                        <input style="font-family:Arial, Helvetica, sans-serif, Sans;font-size:8.5pt;width:155px;height:20px;background:url(../img/btnEnroll.gif) no-repeat;border:none;" onclick="location.href='$openaccounturl'" type="button" name="open" value="#springMessageText("enrollment.noaccount.button" "Open account")">
                                    </div>

                                    <input type="button" onclick="location.replace('login');" class="custom-button-gray" value="#springMessageText("enrollment.noaccount.cancel" "Cancel")"/>

                                #end
                            </div>

                        #elseif($alreadyEnrolled)
                            #springMessageText("enrollment.mobile.alreadyenrolled.message1" "Message 1")

                            #springMessageText("enrollment.mobile.alreadyenrolled.message2$!{mobileAppType}" "Message 2")
                            <br/>
                        #elseif($blocked)
                            #springMessageText("enrollment.mobile.blocked.message" "")
                            <br/>
                            <input type="button" class="custom-button" onclick="location.replace('login');" value="#springMessageText("enrollment.mobile.button.back" "Back")" />
                        #end
                    </div>
                    <!-- Step 2 End -->

                    <!-- Step 3 Start -->
                    <div #if($page==2 && !$alreadyEnrolled) class="card-header steps" data-toggle="collapse" #else class="card-header steps collapsed" data-toggle="disabled" #end data-parent="#accordion" href="#collapseThree">
                        <a class="card-title">
                            #springMessageText("enrollment.title.connectioninfo" "Connection Information")
                        </a>
                    </div>
                    <div id="collapseThree" #if($page==2 && !$alreadyEnrolled) class="card-body collapse show" #else class="card-body collapse" #end data-parent="#accordion" >
                        <form name="enrollment.connectioninfo" method="post" action="enrollment" data-ajax="false" target="_top">
                            <div class="form-group" style="margin-bottom:unset;">
                                #springBind("enrollment.username")<input type="text" class="form-control" name="username" id="username" autocomplete="off" value="#if($availableUsername && $validAvailableUsername) $enrollment.username#end" placeholder="#springMessageText("enrollment.mobile.username.label.iphone" "Choose a username")" />
                                <label>#springShowErrors("" "error")</label>
                                <br/>
                                #if(!$availableUsername && $validAvailableUsername)
                                    <div class="card" style="border-radius:15px" name="enrollment.connectioninfo">
                                        #foreach($name in $usernames)
                                            <li class="list-group-item list-inline-item first-child-group">
                                                <div class="radio" >
                                                    <span>
                                                        <input type="radio" class="mr-3" id="$name"  value="$name" name="usernamealternativo">
                                                    </span>
                                                    <label class="text-justify" for="$name">$name</label>
                                                </div>
                                            </li>
                                        #end
                                    </div>
                                    <br/>
                                #end
                                #if($availableUsername && $validAvailableUsername)
                                    <div class="form-group">
                                        <font style="color:#268c08; font-weight:bold;"> $enrollment.username  </font>
                                        #springMessageText("enrollment.username.availability" "Is available")
                                    </div>
                                #end

                                #springBind("enrollment.checkAvaliability")
                                <input type="hidden" name="${status.expression}" id="${status.expression}" value="false"/>

                                <div class="form-group">
                                    <button type="submit" class="custom-button-yellow" id="btn-check-availability" onclick="presscheckAvaliability();">#springMessageText("enrollment.mobile.button.availabilityUsername" "Check Availability")</button>
                                </div>

                                <div class="form-group">
                                    #springBind("enrollment.password")<input type="password" class="form-control" autocomplete="off" name="password" id="password" value="" placeholder="#springMessageText("enrollment.mobile.password.placeholder" "Password")" />
                                    <label>#springShowErrors("" "error")</label>
                                    #springBind("enrollment.passwordconfirm")<input type="password" class="form-control" autocomplete="off" name="passwordconfirm" id="passwordconfirm" value="" placeholder="#springMessageText("enrollment.mobile.passwordconfirm.placeholder" "Confirm Password")" />
                                    <label>#springShowErrors("" "error")</label>
                                </div>

                                <label>#springMessageText("enrollment.password.instr.label" "(8-15 characters. Combination of letters, numbers, AND a capital letter are required. Special characters are required)")</label>
                                <br/>

                                <div class="form-group" style="margin-bottom:unset;">
                                	<button type="submit" name="_target3" class="custom-button" id="btn-submit3" onclick="pressNOcheckAvaliability();hidebtn('btn-submit3');">#springMessageText("enrollment.button.next" "Next")</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Step 3 End -->
                    <!-- Step 4 Start -->
                    <div #if($page==3) class="card-header steps" data-toggle="collapse" #else class="card-header steps collapsed" data-toggle="disabled" #end data-parent="#accordion" href="#collapseFour">
                        <a class="card-title">
                            #springMessageText("enrollment.title.questions" "Security Information")
                        </a>
                    </div>
                    <div id="collapseFour" #if($page==3) class="card-body collapse show" #else class="card-body collapse" #end data-parent="#accordion" >
                        <form name="enrollment.questions" action="enrollment" method="post" data-ajax="false" target="_top">

                            <input type="hidden" id="publicpc" name="computerType" value="public" data-theme="c" />
                            <label for="number" style="display:block">#springMessageText("enrollment.mobile.question1.label" "Question # 1")</label>
                            #springBind("enrollment.question1")
                            <input name="question1" id="question1" type="hidden" #if(${enrollment.question1}) value='${enrollment.question1}' #end />


                            <div id="accordionQuestion1" class="accordion">
                                <div class="card mb-0" style="border-radius:15px">
                                    <div class="card-header questions collapsed" data-toggle="collapse" href="#collapseQuestion1" style="padding: 0.45rem 1.0rem !important;">
                                        <a id="question1Label" class="card-title">
                                            $!questionsLabel
                                        </a>
                                    </div>
                                    <div id="collapseQuestion1" class="card-body collapse" data-parent="#accordionQuestion1" >
                                        <ul class="list-group" >
                                            #foreach($question in ${questions1.entrySet()})
                                                <div class="form-group">
                                                    <li class="list-group-item list-inline-item">
                                                        <div class="radio">
                                                            <span>
                                                                <input type="radio" class="mr-3" name="questions1Select" data-toggle="collapse" href="#collapseQuestion1" id="questions1Radio_$velocityCount" value="" onclick="updateQuestionSel('question1','${question.key}','questions1Select_${velocityCount}');" #if($enrollment.question1 && (${question.key} == $enrollment.question1)) checked #end />
                                                            </span>
                                                            <label for="questions1Radio_$velocityCount" data-toggle="collapse" href="#collapseQuestion1">${question.value}</label>
                                                            <input type="hidden" id="questions1Select_${velocityCount}" value="${question.value}"/>
                                                        </div>
                                                    </li>
                                                </div>
                                                #if(${enrollment.question1} && ("${question.key}" == "${enrollment.question1}"))
                                                    #set($varQ1String = ${question.value})
                                                #end
                                            #end
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>#springShowErrors("" "error")</label>
                                #springBind("enrollment.answer1")
                                <input type="password" class="form-control" name="answer1" id="answer1" value="#if($enrollment.answer1)$enrollment.answer1#end" placeholder="#springMessageText("enrollment.mobile.answer.placeholder" "Answer")" />
                                <label>#springShowErrors("" "error")</label>
                                #springBind("enrollment.answer1confirm")
                                <input type="password" class="form-control" name="answer1confirm" id="answer1confirm" value="#if($enrollment.answer1confirm)$enrollment.answer1confirm#end" placeholder="#springMessageText("enrollment.mobile.answerconfirm.placeholder" "Confirm Answer")" />
                                <label>#springShowErrors("" "error")</label>
                            </div>

                            <!-- Question 2 Start -->
                            <label for="number" style="display:block">#springMessageText("enrollment.mobile.question2.label" "Question # 2")</label>
                            #springBind("enrollment.question2")
                            <input name="question2" id="question2" type="hidden" #if(${enrollment.question2}) value='${enrollment.question2}' #end />

                            <div id="accordionQuestion2" class="accordion">
                                <div class="card mb-0" style="border-radius:15px">
                                    <div class="card-header questions collapsed" data-toggle="collapse" href="#collapseQuestion2" style="padding: 0.45rem 1.0rem !important;">
                                        <a id="question2Label" class="card-title">
                                            $!questionsLabel
                                        </a>
                                    </div>
                                    <div id="collapseQuestion2" class="card-body collapse" data-parent="#accordionQuestion2" >
                                        <ul class="list-group" >
                                            #foreach($question in ${questions2.entrySet()})
                                                <div class="form-group">
                                                    <li class="list-group-item list-inline-item">
                                                        <div class="radio">
                                                            <span>
                                                                <input type="radio" class="mr-3" name="questions2Select" data-toggle="collapse" href="#collapseQuestion2" id="questions2Radio_$velocityCount" value="" onclick="updateQuestionSel('question2','${question.key}','questions2Select_${velocityCount}');" #if($enrollment.question2 && (${question.key} == $enrollment.question2)) checked #end />
                                                            </span>
                                                            <label for="questions2Radio_$velocityCount" data-toggle="collapse" href="#collapseQuestion2">${question.value}</label>
                                                            <input type="hidden" id="questions2Select_${velocityCount}" value="${question.value}"/>
                                                        </div>
                                                    </li>
                                                </div>
                                                #if(${enrollment.question2} && ("${question.key}" == "${enrollment.question2}"))
                                                    #set($varQ2String = ${question.value})
                                                #end
                                            #end
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>#springShowErrors("" "error")</label>
                                #springBind("enrollment.answer2")
                                <input type="password" class="form-control" name="answer2" id="answer2" value="#if($enrollment.answer2)$enrollment.answer2#end" placeholder="#springMessageText("enrollment.mobile.answer.placeholder" "Answer")" />
                                <label>#springShowErrors("" "error")</label>
                                #springBind("enrollment.answer2confirm")
                                <input type="password" class="form-control" name="answer2confirm" id="answer2confirm" value="#if($enrollment.answer2confirm)$enrollment.answer2confirm#end" placeholder="#springMessageText("enrollment.mobile.answerconfirm.placeholder" "Confirm Answer")" />
                                <label>#springShowErrors("" "error")</label>
                            </div>

                            <!-- Question 2 End -->

                            <!-- Question 3 Start -->
                            <label for="number" style="display:block">#springMessageText("enrollment.mobile.question3.label" "Question # 3")</label>
                            #springBind("enrollment.question3")

                            <input name="question3" id="question3" type="hidden" #if(${enrollment.question3}) value='${enrollment.question3}' #end />

                            <div id="accordionQuestion3" class="accordion">
                                <div class="card mb-0" style="border-radius:15px">
                                    <div class="card-header questions collapsed" data-toggle="collapse" href="#collapseQuestion3" style="padding: 0.45rem 1.0rem !important;">
                                        <a id="question3Label" class="card-title">
                                            $!questionsLabel
                                        </a>
                                    </div>
                                    <div id="collapseQuestion3" class="card-body collapse" data-parent="#accordionQuestion3" >
                                        <ul class="list-group" >
                                            #foreach($question in ${questions3.entrySet()})
                                                <div class="form-group">
                                                    <li class="list-group-item list-inline-item">
                                                        <div class="radio">
                                                            <span>
                                                                <input type="radio" class="mr-3" name="questions3Select" data-toggle="collapse" href="#collapseQuestion3" id="questions3Radio_$velocityCount" value="" onclick="updateQuestionSel('question3','${question.key}','questions3Select_${velocityCount}');" #if($enrollment.question3 && (${question.key} == $enrollment.question3)) checked #end />
                                                            </span>
                                                            <label for="questions3Radio_$velocityCount" data-toggle="collapse" href="#collapseQuestion3">${question.value}</label>
                                                            <input type="hidden" id="questions3Select_${velocityCount}" value="${question.value}"/>
                                                        </div>
                                                    </li>
                                                </div>
                                                #if(${enrollment.question3} && ("${question.key}" == "${enrollment.question3}"))
                                                    #set($varQ3String = ${question.value})
                                                #end
                                            #end
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>#springShowErrors("" "error")</label>
                                #springBind("enrollment.answer3")
                                <input type="password" class="form-control" name="answer3" id="answer3" value="#if($enrollment.answer3)$enrollment.answer3#end" placeholder="#springMessageText("enrollment.mobile.answer.placeholder" "Answer")" />
                                <label>#springShowErrors("" "error")</label>
                                #springBind("enrollment.answer3confirm")
                                <input type="password" class="form-control" name="answer3confirm" id="answer3confirm" value="#if($enrollment.answer3confirm)$enrollment.answer3confirm#end" placeholder="#springMessageText("enrollment.mobile.answerconfirm.placeholder" "Confirm Answer")" />
                                <label>#springShowErrors("" "error")</label>
                            </div>

                            <!-- Question 3 End -->

                            <button type="submit" class="custom-button" name="_target4" data-theme="a" id="btn-submit4" onclick="hidebtn('btn-submit4');">#springMessageText("enrollment.mobile.button.next" "Next")</button>

                            <script language="JavaScript" type="text/javascript">
                                #if("$!{varQ1String}" != "")
                                    var question1String = "${varQ1String}";
                                    if(question1String.length > 31) {
                                        question1String = question1String.substring(0,28)+"...";
                                    }
                                    document.getElementById('question1Label').innerHTML=question1String;
                                #end
                                #if("$!{varQ2String}" != "")
                                    var question2String = "${varQ2String}";
                                    if(question2String.length > 31) {
                                        question2String = question2String.substring(0,28)+"...";
                                    }
                                    document.getElementById('question2Label').innerHTML=question2String;
                                #end
                                #if("$!{varQ3String}" != "")
                                    var question3String = "${varQ3String}";
                                    if(question3String.length > 31) {
                                        question3String = question3String.substring(0,28)+"...";
                                    }
                                    document.getElementById('question3Label').innerHTML=question3String;
                                #end
                            </script>
                        </form>
                    </div>
                    <!-- Step 4 End -->
                    <div #if($page==4) class="card-header steps" data-toggle="collapse" #else class="card-header steps collapsed" data-toggle="disabled" #end data-parent="#accordion" href="#collapseFive">
                        <a class="card-title">
                            #springMessageText("enrollment.title.serviceagree" "Service Agreement")
                        </a>
                    </div>
                    <div id="collapseFive" #if($page==4) class="card-body collapse show" #else class="card-body collapse" #end data-parent="#accordion" >
                        <form name="enrollment.agreement" method="post" action="enrollment" data-ajax="false" target="_top">
                            #if($bsmartEnrollment && $bsmartEnrollment == "T")
                    <table style="margin-bottom: 15px !important;margin-left: -5px !important;margin-top: -20px !important">
						<tr>
							<td colspan="2" class="erroroption">
								#springBind("enrollment.bsmartAgreement")
								#springShowErrors("<br/>" "error")
							</td>
						</tr>
                        <tr>
                            <td>
                                <input type="radio" id="radioComercial" class="radioMask" name="${status.expression}" value="C" #if("$enrollment.bsmartAgreement"=="C") checked="checked" #end/>

                                <br/>
							</td>
                            <td class="comercial">
                                <h2 style="color: #003366 !important;font-size: 15px !important;margin-bottom: 4px !important;">
									#springMessageText("enrollment.title.serviceagree.business" "Mi Banco Comercial")</h2>

								   #springMessageText("enrollment.mobile.title.serviceagree.business.description" "The Mi Banco Comercial service entails a $10 monthly service charge")
                            </td>
                        </tr>
                        <br/>
                        <tr style="height:10px;"></tr>

                        #if($comBsmartEnrollment)
	                    #else
                        <tr>
                            <td>
                                <input type="radio" style="margin-bottom: 48px !important;"class="radioMask" name="${status.expression}" value="R" #if("$enrollment.bsmartAgreement"=="R") checked="checked" #end/>                        
							</td>
                            <td >
                                <h2 style="color: #003366 !important;font-size: 15px !important;margin-bottom: 4px; !important">
									#springMessageText("login.welcome.label" "")</h2>

								#springMessageText("enrollment.epayroll.text1.retail" "Access your business accounts through the Internet 24/7.")

							</td>
                        </tr>
                        #end
							        </td>
                                 </tr>
                             </table>
	                        #end
                        
                            #if($useComercialInterface && $useComercialInterface == "T")
                            <td class="comercial">
                                <h2 style="color: #003366 !important;font-size: 15px !important;margin-bottom: 4px !important;">
									#springMessageText("enrollment.title.serviceagree.business" "Mi Banco Comercial")</h2>
								   #springMessageText("enrollment.mobile.title.serviceagree.business.description" "The Mi Banco Comercial service entails a $10 monthly service charge")
                            </td>
                                <br/>
                                <br/>
                                #springMessageText("enrollment.mobile.agreement.message2" "")
                            #else
                                <p class="text-justify">
                                 #springBind("enrollment.agreement")
						        #springShowErrors("<br/>" "error")
					            #springMessageText("enrollment.mobile.agreement.message2" "")
                                </p>
                                    <br/>
                            #end
                            
                            <fieldset data-role="controlgroup">
                                <div class="custom-control custom-checkbox" id="content_agreement_final" style="margin-top: 5% !important">
                                        <input type="checkbox" class="custom-control-input" name="agreement" id="agreement" value="agree" onclick="document.getElementById('btn-submit5').style.display='block';document.getElementById('btn-submit5').style.visibility='visible';">
                                        <label class="custom-control-label" for="agreement">#springMessageText("enrollment.mobile.agreement.agree" "I Agree")</label>
                                </div>
                                #if($useComercialInterface && $useComercialInterface == "T")
							        #springBind("enrollment.agreement")
							        #springShowErrors("<br/>" "error")
						        #end
                            </fieldset>
                            <br/>
                            <button type="submit" class="custom-button" name="_finish" id="btn-submit5" onclick="hidebtn('btn-submit5');">#springMessageText("enrollment.mobile.button.submit" "Send")</button>
                        </form>
                    </div>
                </div>
            </div>


            <!-- Modal Start -->
            <div class="modal fade" id="myModal">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">

                        <!-- Modal body -->
                        <button type="button" class="close text-right m-2" data-dismiss="modal">&times;</button>
                        <div class="modal-body">
                            <iframe id="iframeTC" src='#springMessageText("enrollment.mobile.terms.url","https://documents.popular.com/terms/depositos/contratos-servicios-bancarios-electronicos-eng.html")' scrolling="yes" width="100%" height="375" seamleass></iframe>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Modal End -->


                
        </div>
    </div>
</div>
<!-- /page end -->



#elseif($incomplete=="true")
    <div data-role="content">
        <h1>#springMessageText("enrollment.mobile.incomplete.title" "Action Needed")</h3>
        <div style="font-size:14px">
            #springMessageText("enrollment.mobile.incomplete.text" "Please call Customer Service")
        </div>
        <br /><br />
    </div>
#elseif($confirm)
    <div data-role="content">
        <h1>#springMessageText("enrollment.done.title" "Enrollment done")</h3>
        <div style="font-size:14px">
            #springMessageText("enrollment.done.text" "Thank you for enrolling!")
        </div>
        <br /><br />        
    </div>
#else
Error: no confirm
#end

#end


