#set( $emailIconUrl = "../img/mobile-alerts/email-icon-off.svg" )
#set( $pushIconUrl = "../img/mobile-alerts/push-notification-off.svg" )
#set( $pushLabel = "#springMessageText('mobileAlerts.pushnotifications.label' 'Push Notifications')" )
#set( $emailLabel = "#springMessageText('credit.card.portal.tab.cc.services.additional.email' 'Email')" )

<template id="transfers.html">
	<ons-page id="transfersAlert">
	
		<ons-toolbar modifier="alert-toolbar">
			<div class="left">
				<ons-back-button style="color:#fff;"></ons-back-button>
			</div>
			<div class="center" style="color:#fff;">#springMessageText("alerts.payandtrans.label" "Pagos y Transferencias por Internet")</div>
		</ons-toolbar>

		<div id="transfers-loading" class="fullscreen-loading-container">
			#parse("vm/iphone/onsenloading.vm")
        </div>

		<div id="transfers-content" style="display: none;">
			<ons-list>
                ##Pagos
				<ons-list-header class="text-blue bottom-border">
					#springMessageText("alerts.payandtrans.payments" "Pagos")
				</ons-list-header>
				
				## When Making a payment
				<ons-list-header class="text-gray">
					#springMessageText("alerts.payandtrans.whenmakingpayment" "Al Hacer un Pago")
				</ons-list-header>
				<ons-list-item class="title-mt-sm">
					<div class="center">
					    <img src="$pushIconUrl" id="dialog-push-icon">
						<p>$pushLabel</p>
					</div>
					<div class="right">
						<ons-switch id="PAYMENTS_PUSH" onchange="saveTransfersAlert(this);" value="paymentPushNotifConfirmation"></ons-switch>
					</div>
				</ons-list-item>
				<ons-list-item class="title-mt-sm">
					<div class="center">
					    <img src="$emailIconUrl" id="dialog-push-icon">
						<p>$emailLabel</p>
					</div>
					<div class="right">
						<ons-switch  id="PAYMENTS_EMAIL" onchange="saveTransfersAlert(this);" value="paymentEmailConfirmation"></ons-switch>
					</div>
				</ons-list-item>
				## When Making a payment End
				
				## When Edit or Cancel a Future Payment
				<ons-list-header class="text-gray">
					#springMessageText("alerts.payandtrans.whenfuturepayment" "Al Editar o Cancelar un Pago Futuro")
				</ons-list-header>
				<ons-list-item class="title-mt-sm">
					<div class="center">
					    <img src="$pushIconUrl" id="dialog-push-icon">
						<p>$pushLabel</p>
					</div>
					<div class="right">
						<ons-switch id="PAYMENTS_CANCEL_FUTURE_PUSH" onchange="saveTransfersAlert(this);" value="paymentCanPushNotifConfirmation"></ons-switch>
					</div>
				</ons-list-item>
				<ons-list-item class="title-mt-sm">
					<div class="center">
					    <img src="$emailIconUrl" id="dialog-push-icon">
						<p>$emailLabel</p>
					</div>
					<div class="right">
						<ons-switch  id="PAYMENTS_CANCEL_FUTURE_EMAIL" onchange="saveTransfersAlert(this);" value="paymentCanEmailConfirmation"></ons-switch>
					</div>
				</ons-list-item>
				## When Edit or Cancel a Future Payment End
				
				       
                ##Transferencias
				<ons-list-header class="text-blue title-mt bottom-border">
					#springMessageText("alerts.payandtrans.transfers" "Transferencias")
				</ons-list-header>
				
				## When Making a Transfer
				<ons-list-header class="text-gray">
					#springMessageText("alerts.payandtrans.whenmakingtransfer" "Al Hacer una Transferencia")
				</ons-list-header>
				<ons-list-item class="title-mt-sm">
					<div class="center">
					    <img src="$pushIconUrl" id="dialog-push-icon">
						<p>$pushLabel</p>
					</div>
					<div class="right">
						<ons-switch id="TRANSFERS_PUSH" onchange="saveTransfersAlert(this);" value="transferPushNotifConfirmation"></ons-switch>
					</div>
				</ons-list-item>
				<ons-list-item class="title-mt-sm">
					<div class="center">
					    <img src="$emailIconUrl" id="dialog-push-icon">
						<p>$emailLabel</p>
					</div>
					<div class="right">
						<ons-switch  id="TRANSFERS_EMAIL" onchange="saveTransfersAlert(this);" value="transferEmailConfirmation"></ons-switch>
					</div>
				</ons-list-item>
				## When Making a Transfer End
				
				## When Edit or Cancel a Future Transfer
				<ons-list-header class="text-gray">
					#springMessageText("alerts.payandtrans.whenfuturetransfer" "Al Editar o Cancelar una Transferencia Futura")
				</ons-list-header>
				<ons-list-item class="title-mt-sm">
					<div class="center">
					    <img src="$pushIconUrl" id="dialog-push-icon">
						<p>$pushLabel</p>
					</div>
					<div class="right">
						<ons-switch id="TRANSFERS_CANCEL_FUTURE_PUSH" onchange="saveTransfersAlert(this);" value="transferCanPushNotifConfirmation"></ons-switch>
					</div>
				</ons-list-item>
				<ons-list-item class="title-mt-sm">
					<div class="center">
					    <img src="$emailIconUrl" id="dialog-push-icon">
						<p>$emailLabel</p>
					</div>
					<div class="right">
						<ons-switch  id="TRANSFERS_CANCEL_FUTURE_EMAIL" onchange="saveTransfersAlert(this);" value="transferCanEmailConfirmation"></ons-switch>
					</div>
				</ons-list-item>
				## When Edit or Cancel a Future Transfer End
				
				##Fraud Prevention Services MBM-1715 Reverse Positive Pay Alert
				#if($useCommercialInterface && $useComercialInterface == "T" && $showFraudPreventionService)
				<ons-list-header class="text-blue title-mt">
					#springMessageText("alerts.payandtrans.fraudpreventionservices" "Fraud Prevention Services")
				</ons-list-header>
				
				##Pending items for review
				<ons-list-header class="text-gray">
					#springMessageText("alerts.payandtrans.pendingitemsreview" "Pending items for review")
				</ons-list-header>
				<ons-list-item class="title-mt-sm">
					<div class="center">
					    <img src="$pushIconUrl" id="dialog-push-icon">
						<p>$pushLabel</p>
					</div>
					<div class="right">
						<ons-switch id="FRAUD_PREVENTION_SERVICE_PUSH" onchange="saveTransfersAlert(this);" value="fpsPushNotifConfirmation"></ons-switch>
					</div>
				</ons-list-item>
				<ons-list-item class="title-mt-sm">
					<div class="center">
					    <img src="$emailIconUrl" id="dialog-push-icon">
						<p>$emailLabel</p>
					</div>
					<div class="right">
						<ons-switch  id="FRAUD_PREVENTION_SERVICE_EMAIL" onchange="saveTransfersAlert(this);" value="fpsCanEmailConfirmation"></ons-switch>
					</div>
				</ons-list-item>
				##Pending items for review end
				#end
	
                ##Payroll
				#if($useCommercialInterface && $useComercialInterface == "T" && $showMenuPayroll)
				<ons-list-header class="text-blue title-mt">
					#if($isEvendorActive)
						#springMessageText("commercial.business.alerttype.payrolltitle" "Payroll")
					#else
						#springMessageText("commercial.tab.payroll" "ePayroll")
					#end
				</ons-list-header>
				
				##When Making a Payroll
				<ons-list-header class="text-gray">
					#if($isEvendorActive)
						#springMessageText("commercial.business.alerttype.whenmakingpayroll" "When Making a Payroll")
					#else
						#springMessageText("alerts.payroll.whenmakingpayroll" "When Making an ePayroll")
					#end
				</ons-list-header>
				<ons-list-item class="title-mt-sm">
					<div class="center">
					    <img src="$pushIconUrl" id="dialog-push-icon">
						<p>$pushLabel</p>
					</div>
					<div class="right">
						<ons-switch id="PAYROLL_PUSH" onchange="saveTransfersAlert(this);" value="payrollPushNotifConfirmation"></ons-switch>
					</div>
				</ons-list-item>
				<ons-list-item class="title-mt-sm">
					<div class="center">
					    <img src="$emailIconUrl" id="dialog-push-icon">
						<p>$emailLabel</p>
					</div>
					<div class="right">
						<ons-switch checked disabled  id="PAYROLL_EMAIL" value="payrollEmailConfirmation"></ons-switch>
					</div>
				</ons-list-item>
				##When Making a Payroll End
				
				##When Adding a New Employee
				<ons-list-header class="text-gray">
					#if($isEvendorActive)
						#springMessageText("commercial.business.alerttype.whenaddpayroll" "When Adding a New Employee")
					#else
						#springMessageText("alerts.payroll.whenaddgpayroll" "When adding a new Employee")
					#end
				</ons-list-header>
				<ons-list-item class="title-mt-sm">
					<div class="center">
					    <img src="$pushIconUrl" id="dialog-push-icon">
						<p>$pushLabel</p>
					</div>
					<div class="right">
						<ons-switch id="ADDPAYROLL_PUSH" onchange="saveTransfersAlert(this);" value="addpayrollPushNotifConfirmation"></ons-switch>
					</div>
				</ons-list-item>
				<ons-list-item class="title-mt-sm">
					<div class="center">
					    <img src="$emailIconUrl" id="dialog-push-icon">
						<p>$emailLabel</p>
					</div>
					<div class="right">
						<ons-switch checked disabled  id="ADD_PAYROLL_EMAIL" value="addpayrollEmailConfirmation"></ons-switch>
					</div>
				</ons-list-item>
				##When Adding a New Employee End
				
				##When Edit or Cancel a Future Payment
				<ons-list-header class="text-gray">
					#if($isEvendorActive)
						#springMessageText("commercial.business.alerttype.whenedicancelgpayroll" "When Edit or Cancel a Future Payment")
					#else
						#springMessageText("alerts.payroll.whenedicancelgpayroll" "When edit or cancel a future ePayroll payment")
					#end
				</ons-list-header>
				<ons-list-item class="title-mt-sm">
					<div class="center">
					    <img src="$pushIconUrl" id="dialog-push-icon" style="height: 21px; width: 21px;" >
						<p>$pushLabel</p>
					</div>
					<div class="right">
						<ons-switch id="EDITPAYROLL_PUSH" onchange="saveTransfersAlert(this);" value="editpayrollPushNotifConfirmation"></ons-switch>
					</div>
				</ons-list-item>
				<ons-list-item class="title-mt-sm">
					<div class="center">
					    <img src="$emailIconUrl" id="dialog-push-icon">
						<p>$emailLabel</p>
					</div>
					<div class="right">
						<ons-switch checked disabled  id="EDIT_PAYROLL_EMAIL" value="editpayrollEmailConfirmation"></ons-switch>
					</div>
				</ons-list-item>
				##When Edit or Cancel a Future Payment End
				#end
				
                ##Vendor
				#if($useComercialInterface && $useComercialInterface == "T" && $isEvendorActive)
				<ons-list-header class="text-blue title-mt">
					#springMessageText("commercial.business.tab.vendor" "Vendors")
				</ons-list-header>
				
				##When Making a Vendor Payment
				<ons-list-header class="text-gray">
					#springMessageText("alerts.vendor.whenmakingvenpayment" "When Making a Vendor Payment")
				</ons-list-header>
				<ons-list-item class="title-mt-sm">
					<div class="center">
					    <img src="$pushIconUrl" id="dialog-push-icon">
						<p>$pushLabel</p>
					</div>
					<div class="right">
						<ons-switch id="VENDOR_PAYMENT_PUSH" onchange="saveTransfersAlert(this);" value="vendorPaymentPushNotifConfirmation"></ons-switch>
					</div>
				</ons-list-item>
				<ons-list-item class="title-mt-sm">
					<div class="center">
					    <img src="$emailIconUrl" id="dialog-push-icon">
						<p>$emailLabel</p>
					</div>
					<div class="right">
						<ons-switch checked disabled  id="VENDOR_PAYMENT_EMAIL" value="vendorPaymentEmailConfirmation"></ons-switch>
					</div>
				</ons-list-item>
				##When Making a Vendor Payment End
				
				##When Adding a New Vendor
				<ons-list-header class="text-gray">
					#springMessageText("alerts.vendor.whenaddnewvendor" "When Adding a New Vendor")
				</ons-list-header>
				<ons-list-item class="title-mt-sm">
					<div class="center">
					    <img src="$pushIconUrl" id="dialog-push-icon">
						<p>$pushLabel</p>
					</div>
					<div class="right">
						<ons-switch id="VENDOR_ADD_PUSH" onchange="saveTransfersAlert(this);" value="addVendorPushNotifConfirmation"></ons-switch>
					</div>
				</ons-list-item>
				<ons-list-item class="title-mt-sm">
					<div class="center">
					    <img src="$emailIconUrl" id="dialog-push-icon">
						<p>$emailLabel</p>
					</div>
					<div class="right">
						<ons-switch checked disabled  id="VENDOR_ADD_EMAIL" value="addVendorEmailConfirmation"></ons-switch>
					</div>
				</ons-list-item>
				##When Adding a New Vendor
				
				##When Edit or Cancel a Future Vendor Payment
				<ons-list-header class="text-gray">
					#springMessageText("alerts.vendor.whenedicancelvenpayment" "When Edit or Cancel a Future Vendor Payment")
				</ons-list-header>
				<ons-list-item class="title-mt-sm">
					<div class="center">
					    <img src="$pushIconUrl" id="dialog-push-icon">
						<p>$pushLabel</p>
					</div>
					<div class="right">
						<ons-switch id="VENDOR_EDIT_DELETE_PUSH" onchange="saveTransfersAlert(this);" value="editVendorPushNotifConfirmation"></ons-switch>
					</div>
				</ons-list-item>
				<ons-list-item class="title-mt-sm">
					<div class="center">
					    <img src="$emailIconUrl" id="dialog-push-icon">
						<p>$emailLabel</p>
					</div>
					<div class="right">
						<ons-switch checked disabled  id="VENDOR_EDIT_DELETE_EMAIL" value="editVendorEmailConfirmation"></ons-switch>
					</div>
				</ons-list-item>
				##When Edit or Cancel a Future Vendor Payment End
				#end 
			</ons-list>
		</div>
    </ons-page>
</template>

<script>

	function getTransfersData() {
		j.get("mobileAlertsGetEntitlementData", function(json) { 				
			var data = j.parseJSON(json);
			
			j.each(data.entitlement_data, function(key, pushAlert) {
				j('#' + pushAlert).prop("checked", true);
			});
			
			j('#transfers-loading').fadeOut('fast', function() { 
				j('#transfers-content').fadeIn('fast'); 
			});
		});
	}
	
	function saveTransfersAlert(input) {
		var parameters = {};
		parameters[input.value] = true;
		parameters["action"] = input.checked; 
		
		j.post( "paymentsandtransfers", parameters)
		.done(function( data ) {
			 try {
				 data = JSON.parse(data);
				 if (data.success != "true") {
						input.checked = !input.checked;
						showErrorDialog();
				 }
			 } catch (e) {
				 input.checked = !input.checked;
				 showErrorDialog();
			 }
			 
		  })
		  .fail(function() {
			input.checked = !input.checked;
			showErrorDialog();
		  });
	}
</script>