#set($layout="layout/mobile/m-layout.vm")
#set($page_title = "Make Transfer")
#set($thisYear = $cibpdateTool.year())
#set($nextYear = $cibpdateTool.nextyear())

<script type="text/javascript">

function displayCorrectAccounts(val, index) {

	if(val.substring(0,3)=="PIF") {
		document.getElementById('accountspif'+index).style.display = 'block';
		document.getElementById('accountsall'+index).style.display = 'none';
		
		// Get the current ALL selection
		var selectedIndex = document.getElementById('transfers[' + index + '].accountTo').selectedIndex;
		var selectedValue = document.getElementById('transfers[' + index + '].accountTo').options[selectedIndex].value;
		
		// Loop through all the accounts and try to match the corresponding account
		var found = false;
		var len = document.getElementById('transfers[' + index + '].accountToPifFilter').length;
		for(var i=0; i<len; i++) {
			if(document.getElementById('transfers[' + index + '].accountToPifFilter').options[i].value==selectedValue) {
				document.getElementById('transfers[' + index + '].accountToPifFilter').selectedIndex = i;
				found = true;
				break;
			}
		}
		
		if(!found)
			document.getElementById('transfers[' + index + '].accountToPifFilter').selectedIndex = 0;
		
	}
	else {
		document.getElementById('accountspif'+index).style.display = 'none';
		document.getElementById('accountsall'+index).style.display = 'block';
		
		// Get the current PIF selection
		var selectedIndex = document.getElementById('transfers[' + index + '].accountToPifFilter').selectedIndex;
		var selectedValue = document.getElementById('transfers[' + index + '].accountToPifFilter').options[selectedIndex].value;
		
		// Loop through all the accounts and try to match the corresponding account
		var len = document.getElementById('transfers[' + index + '].accountTo').length;
		for(var i=0; i<len; i++) {
			if(document.getElementById('transfers[' + index + '].accountTo').options[i].value==selectedValue) {
				document.getElementById('transfers[' + index + '].accountTo').selectedIndex = i;
				break;
			}
		}
	}
}

function displayCorrectAccountsAll() {
	var accountFrom = document.getElementById('transfers[0].accountFrom');
	
	if(accountFrom != null){
		if(accountFrom.value.substring(0,3)=="PIF") {
			document.getElementById('accountspif0').style.display = 'block';
			document.getElementById('accountsall0').style.display = 'none';
		}
		else {
			document.getElementById('accountspif0').style.display = 'none';
			document.getElementById('accountsall0').style.display = 'block';
		}
	}
}

</script>

<strong>#springMessageText("menu.transfers.maketransfers" "Make Transfer")</strong>
<br/>

#if("$transferlist.transfers.size()"=="1") #set($currentTransfer = $transferlist.transfers.get(0))
#else #set($currentTransfer = '')
#end

#if($page==0)
 #if($currentTransfer=='')
 #set($todayDay = $cibpdateTool.todayDay())
 #set($todayMonth = $cibpdateTool.todayMonth())
 #set($todayYear = $cibpdateTool.todayYear())
 #else
 #set($todayDay = $dateTool.format('dd', $currentTransfer.effectiveDate))
 #set($todayMonth = $dateTool.format('MM', $currentTransfer.effectiveDate))
 #set($todayYear = $dateTool.format('yyyy', $currentTransfer.effectiveDate))
 #end
#else
 #set($todayDay = $dateTool.format('dd', $currentTransfer.effectiveDate))
 #set($todayMonth = $dateTool.format('MM', $currentTransfer.effectiveDate))
 #set($todayYear = $dateTool.format('yyyy', $currentTransfer.effectiveDate))
#end

#if($page == 0)
<form name="makeTransfer" action="makeTransfer" method="post">
	
	<script type="text/javascript">displayCorrectAccountsAll();</script>
	
	<span style="padding:10px; margin-bottom:10px;">
	#springBind("transferlist")
	#foreach ($t in [1])
	#set ($index = $velocityCount - 1)
	#set($currentTransfer = $transferlist.transfers.get($index))
	#springMessageText("maketransfer.fromaccount", "From:")
	#springFormSingleSelect("transferlist.transfers[$index].accountFrom" $fromaccounts "style='font-size:9px;' onchange='displayCorrectAccounts(this.value, $index)'") 
	<br/>#springShowErrors("<br/>" "error")

	<div id="accountsall$index">
		<span id="othertransfer_select">
			#springMessageText("maketransfer.toaccount", "To:")
			#springFormSingleSelect("transferlist.transfers[$index].accountTo" $toaccounts "style='font-size:9px;'")
			#springShowErrors("<br/>" "error")
		</span>
	</div>
	<div id="accountspif$index" style="display:none">
		<span id="othertransfer_select">
			#springMessageText("maketransfer.toaccount", "To:")
			#springFormSingleSelect("transferlist.transfers[$index].accountToPifFilter" $toaccountspif "style='font-size:9px;'") 
			#springShowErrors("<br/>" "error")
		</span>
	</div>
	
	#springMessageText("maketransfer.amount", "Cantidad"):
	$ #springFormInput("transferlist.transfers[$index].amount" "size='10' maxlength='10'")
	<br/>#springShowErrors("<br/>" "error")
	#springMessageText("maketransfer.date", "Fecha"):
	M <select id="monthChooser" onchange="updateX('dayChooser','monthChooser','yearChooser', 'othereffectivedate$index')">
	#foreach($month in[1..12])
		#if($cibpdateTool.pad($month) == $todayMonth)
		<option value="$cibpdateTool.pad($month)" selected="true">$cibpdateTool.pad($month)</option>
		#else
		<option value="$cibpdateTool.pad($month)">$cibpdateTool.pad($month)</option>
		#end
	#end
	</select>
	D <select id="dayChooser" onchange="updateX('dayChooser','monthChooser','yearChooser', 'othereffectivedate$index')">
	#foreach($day in[1..31])
		#if($cibpdateTool.pad($day) == $todayDay)
		<option value="$cibpdateTool.pad($day)" selected="true">$cibpdateTool.pad($day)</option>
		#else
		<option value="$cibpdateTool.pad($day)">$cibpdateTool.pad($day)</option>
		#end
	#end
	</select>
	Y <select id="yearChooser" onchange="updateX('dayChooser','monthChooser','yearChooser', 'othereffectivedate$index')">
	#foreach($year in [$thisYear .. $nextYear])
		#if($year == $todayYear)
		<option value="$year" selected="true">$year</option>
		#else
		<option value="$year">$year</option>
		#end
	#end
	</select>
	#springBind("transferlist.transfers[$index].effectiveDate")
	<input type="hidden" name="${status.expression}" id="othereffectivedate$index" value="#if("$!{status.value}"=="")${todayDate}#else$!{status.value}#end"/>
	<br/>#springShowErrors("<br/>" "error")
	
	#springBind("transferlist.transfers[$index].recurrent")
	<input type="hidden" name="${status.expression}" id="othereffectivedate$index" value="variable"/>
	
	##springFormSingleSelect("transferlist.transfers[$index].recurrent" $frequencymap "style='visibility:hidden;'")
	#end
	<br/>
	</span>
	<br/>
	<input type="submit" name="_target1" value="#springMessageText("maketransfer.sendtransfers" "Send Transfers")"/>
	<input type="button" onclick="location.href='portal'" value="#springMessageText("link.cancel" "Cancel")"/>
	<script language="JavaScript" type="text/javascript">
		var accounts = document.getElementById('transfers[$index].accountFrom');
		accounts.remove(accounts.options.length - 1);
    </script>
</form>
#end

##Verificacion
#if($page == 1)
<form name="makeTransfer" action="makeTransfer" method="post">
<span style="padding:10px; margin-bottom:10px;">
#springMessageText("maketransfer.verifytransfer" "Verify your transfers")
<br/><br/>
#foreach($payment in $verifyTransfers)
 #springMessageText("maketransfer.fromaccount" "From:")
 <strong>$!payment.source.account.nickname $accountTool.mask($!payment.source.account.accountNumber) $!payment.source.account.accountNumberSuffix</strong>
 <br/>
 #springMessageText("maketransfer.toaccount" "To:")
 <strong>$!payment.target.account.nickname $accountTool.mask($!payment.target.account.accountNumber) $!payment.target.account.accountNumberSuffix</strong>
 <br/>
 #springMessageText("maketransfer.date" "Fecha"): $!dateTool.format('MM/dd/yyyy', $!payment.dueDate)
 <br/>
 #springMessageText("maketransfer.amount" "Cantidad"): $!numberTool.format('currency', $!payment.amount)
 <br/>
 #springMessageText("maketransfer.frequency" "Frequency"):
 #if($payment.frequency && $payment.frequency != "")
  #if($!payment.tVTransfer.remainingInstances != 999)
   #springMessageText("instances.for.label" "for")&nbsp;$!payment.tVTransfer.remainingInstances #springMessageText("freq.instances.$!payment.frequency" "")
  #else
   #springMessageText("instances.for.label" "for")&nbsp;#springMessageText("indefinite.label" "indefinite") #springMessageText("freq.instances.$!payment.frequency" "")
  #end
 #else
  #springMessageText("freq.one" "One")
 #end
 <br/>
 <br/>
#end##end foreach
</span><br/>
<input type="submit" name="_finish" value="#springMessageText("maketransfer.sendtransfers" "Send Transfers")">
<input type="submit" name="_target0"  value="#springMessageText("link.cancel" "Cancel")">
</form>
#end  ##end of page 1 = verification

##Confirmation
#if($page == 2)
#springMessageText("maketransfer.confirmation" "Transfer Confirmation")
<br/><br/>
	#foreach($payment in $confTransfers)
	#springMessageText("maketransfer.fromaccount" "From:")
	<strong>$!payment.source.account.nickname $accountTool.mask($!payment.source.account.accountNumber) $!payment.source.account.accountNumberSuffix</strong>
	<br/>
	#springMessageText("maketransfer.toaccount" "To:")
	<strong>$!payment.target.account.nickname $accountTool.mask($!payment.target.account.accountNumber) $!payment.target.account.accountNumberSuffix</strong>
	<br/>
	#springMessageText("maketransfer.date" "Fecha"): $!dateTool.format('MM/dd/yyyy', $!payment.dueDate)
	<br/>
	#springMessageText("maketransfer.amount" "Amount"): $!numberTool.format('currency', $!payment.amount)
	<br/>
	#springMessageText("maketransfer.frequency" "Frequency"):
	#if($payment.frequency && $payment.frequency != "")
		#if($!payment.tVTransfer.remainingInstances != 999)
		#springMessageText("instances.for.label" "for")&nbsp;$!payment.tVTransfer.remainingInstances #springMessageText("freq.instances.$!payment.frequency" "")
		#else
		#springMessageText("instances.for.label" "for")&nbsp;#springMessageText("indefinite.label" "indefinite") #springMessageText("freq.instances.$!payment.frequency" "")
		#end
	#else
	#springMessageText("freq.one" "One")
	#end##end if
	<br/>
	#springMessageText("maketransfer.referencenumber" "Reference #"): $!payment.referenceNumber
	<br/>
	#end##end foreach
	#if($failTransfers)
	<span class="error">#springMessageText("maketransfer.noneprocessed" "Non Processed Transfers"):</span>
	<br/>
	#foreach($payment in $failTransfers)
		#springMessageText("maketransfer.fromaccount" "From:")
		$!payment.source.account.nickname $accountTool.mask($!payment.source.account.accountNumber) $!payment.source.account.accountNumberSuffix
		<br/>
		#springMessageText("maketransfer.toaccount" "To:")
		$!payment.target.account.nickname $accountTool.mask($!payment.target.account.accountNumber) $!payment.target.account.accountNumberSuffix
		<br/>
		#springMessageText("maketransfer.date" "Fecha"): $!dateTool.format('MM/dd/yyyy', $!payment.dueDate)
		<br/>
		#springMessageText("maketransfer.amount" "Amount"): $!numberTool.format('currency', $!payment.amount)
		<br/>
		#springMessageText("maketransfer.frequency" "Frequency"):
		#if($payment.frequency && $payment.frequency != "")
		#if($!payment.tVTransfer.remainingInstances != 999)
		#springMessageText("instances.for.label" "for")&nbsp;$!payment.tVTransfer.remainingInstances #springMessageText("freq.instances.$!payment.frequency" "")
		#else
		#springMessageText("instances.for.label" "for")&nbsp;#springMessageText("indefinite.label" "indefinite") #springMessageText("freq.instances.$!payment.frequency" "")
		#end
		#else
		#springMessageText("freq.one" "One")
		#end
		<br/>
		<span class="error">$!payment.transferMessage</span>
		<br/>
	#end##end foreach

	#end##end if fail
<br/>
<input type="button" onclick="location.replace('portal');" value="#springMessageText("" "OK")">
#end ##end page2
