#set($layout="layout/mobile/m-layout.vm")
#set($page_title = "Make Payment")
#set($thisYear = $cibpdateTool.year())
#set($nextYear = $cibpdateTool.nextyear())
<strong>#springMessageText("menu.payments.makepayments" "Make Payment")</strong>
<br/>

#springBind("quickpayment.effectiveDate")
#if($page==0)
 #if($!status.value=='')
 #set($todayDay = $cibpdateTool.todayDay())
 #set($todayMonth = $cibpdateTool.todayMonth())
 #set($todayYear = $cibpdateTool.todayYear())
 #else
 #set($todayDay = $dateTool.format('dd', $quickpayment.effectiveDate))
 #set($todayMonth = $dateTool.format('MM', $quickpayment.effectiveDate))
 #set($todayYear = $dateTool.format('yyyy', $quickpayment.effectiveDate))
 #end
#else
 #set($todayDay = $dateTool.format('dd', $quickpayment.effectiveDate))
 #set($todayMonth = $dateTool.format('MM', $quickpayment.effectiveDate))
 #set($todayYear = $dateTool.format('yyyy', $quickpayment.effectiveDate))
#end
#if($down)
#springMessageText("downtime.payments.iframe.down" "")
#else

#if($page == 0) ##make payments
<form name="makePayment" action="quickpayment" method="post">
	<span style="padding:10px;margin-bottom:10px;">
	#springMessageText("quickpayment.from.label" "From:")
	#springFormSingleSelect("quickpayment.accountFrom" $fromaccounts "")
	<br/>#springShowErrors("<br/>" "error")
	#springMessageText("quickpayment.to.label" "To:")
	#springFormSingleSelect("quickpayment.payeeid" $payeesMap "")
	<br/>#springShowErrors("<br/>" "error")
	#springMessageText("payment.amount.label" "Amount"):
	#if($!acceptPayments == "true")
		#springFormInput("quickpayment.amount" "size='12' maxlength='12'")
	#else
		#springFormInput("quickpayment.amount" "size='10' maxlength='10'")
	#end
	<br/>#springShowErrors("<br/>" "error")
	#springMessageText("payment.date.label" "Date:"):
	M <select id="monthChooser" onchange="updateX('dayChooser','monthChooser','yearChooser', 'effectiveDate')">
	#foreach($month in[1..12])
		#if("$cibpdateTool.pad($month)" == "$todayMonth")
		<option value="$cibpdateTool.pad($month)" selected="true">$cibpdateTool.pad($month)</option>
		#else
		<option value="$cibpdateTool.pad($month)">$cibpdateTool.pad($month)</option>
		#end
	#end
	</select>
	D <select id="dayChooser" onchange="updateX('dayChooser','monthChooser','yearChooser', 'effectiveDate')">
	#foreach($day in[1..31])
		#if("$cibpdateTool.pad($day)" == "$todayDay")
		<option value="$cibpdateTool.pad($day)" selected="true">$cibpdateTool.pad($day)</option>
		#else
		<option value="$cibpdateTool.pad($day)">$cibpdateTool.pad($day)</option>
		#end
	#end
	</select>
	Y <select id="yearChooser" onchange="updateX('dayChooser','monthChooser','yearChooser', 'effectiveDate')">
	#foreach($year in [$thisYear .. $nextYear])
		#if("$year" == "$todayYear")
		<option value="$!year" selected="true">$year</option>
		#else
		<option value="$!year">$year</option>
		#end
	#end
	</select>
	#springBind("quickpayment.effectiveDate")
	#if($page == 0)
	<input type="hidden" name="${status.expression}" id="${status.expression}" value="#if("$!{status.value}"=="")${todayDate}#else$!{status.value}#end"/>
	#else
	<input type="hidden" name="${status.expression}" id="${status.expression}" value="$!dateTool.format('MM/dd/yyyy', $!payment.effectiveDate)"/>
	#end
	<br/>#springShowErrors("<br/>" "error")
	</span>
	<br/>
	<input type="submit" name="_target1"  value="#springMessageText("quickpayment.pay.label" "Pay")">
	<input type="button" value="#springMessageText("link.cancel" "Cancel")" onclick="location.href='portal';">

</form>
#elseif($page == 1) ##payment verification
#springMessageText("payment.iphone.verify" "Confirma tu Pago")<br/><br/>
<form name="makePayment" action="quickpayment" method="post">
	<span style="padding:10px;margin-bottom:10px;">
	
	#springMessageText("quickpayment.from.label" "From:")
	<strong>$!payment.source.account.nickname $!accountTool.mask($!payment.source.account.accountNumber)</strong><br/>
	
	#springMessageText("quickpayment.to.label" "To:")
	<strong>$!payment.payee.nickname $!accountTool.mask($!payment.payeeBillingAccount)</strong><br/>
	
	#springMessageText("payment.amount.label" "Amount"):
	<strong>
	#if($!payment.source.account.subtype=="CCA")$!numberTool.format("currency", "$!payment.amount")
		#if($payment.source.account.availableBalance < $payment.amount) #set($showAlertTotal = true) #end
	#else $!numberTool.format("currency", "$!payment.amount")
		#if($payment.source.account.portalBalance < $payment.amount) #set($showAlertTotal = true) #end
	#end
	</strong><br/>
	#if($showAlertTotal)<span style="color:red;">#springMessageText("alert.balance.label" "ALERT! - The total amount to pay is higher than your account's available balance.")</span><br/>#end
	
	#springMessageText("payment.date.label" "Date:"): <strong>$!dateTool.format('MM/dd/yyyy', $!payment.effectiveDate)</strong>
	</span><br/><br/>
	<input type="submit" name="_finish"  value="#springMessageText("payment.iphone.confirm" "Enviar Pago")">
	<input type="submit" name="_target0"  value="#springMessageText("link.cancel" "Cancel")">
#springShowErrors("<br/>" "error")
</form>
#elseif($page == 2) ##payment confirmation
#if($PAYMENTSEND)
<strong>#springMessageText("quickpayment.sent.label" "Payment has been sent:")</strong><br/>
#else
<span class="error"><strong>#springMessageText("quickpayment.notsent.label" "Payment could not be made:")</strong></span><br/>
#end
	#springMessageText("quickpayment.from.label" "From:")
	$payment.source.account.nickname $accountTool.mask($!payment.source.account.accountNumber)<br/>
	
	#springMessageText("quickpayment.to.label" "To:")
	$payment.payee.nickname $!accountTool.mask($!payment.payeeBillingAccount)<br/>

	#springMessageText("payment.amount.label" "Amount"):
	$numberTool.format('currency', $payment.amount)<br/>

	#springMessageText("payment.date.label" "Date"):
	$dateTool.format('MM/dd/yyyy', $payment.effectiveDate)<br/>

	#if($PAYMENTSEND)
		#springMessageText("payment.reference.label" "Reference Number"):
		<strong>$!payment.referenceNumber</strong><br/>
	#else
	<span class="error">$!payment.paymentMessage</span><br/>
	#end
	<br/>
	<form action="portal"><input type="submit" value="OK"></form>
#end ##end if page 2 confrimation

#end ## else if down
