#set($layout = "layout/nolayout.vm")
#if($acctPDFStmtPreviousHistory)
	<table width="100%">
		#foreach($eb in $acctPDFStmtPreviousHistory)
		<tr>
			<td align="left" class="ebill_history_account_link" width="150">&nbsp;</td>
			<td align="right" width="100">x$eb.last4AcctNumber</td>
			<td align="right" width="100" class="ebill_history_account_link">
				#if($eb.ezStmtProductId == $iraYearlyEzStmtProductId || $eb.ezStmtProductId == $caeYearlyEzStmtProductId) 
		   			#if($eb.invoice_date.length()>=4) <a href="eStatementPDF?pdfId=$eb.id" target="_blank">$eb.invoice_date.substring(0,4)</a>
		   			#end 
				#elseif($eb.ezStmtProductId == $iraQuarterlyEzStmtProductId || $eb.ezStmtProductId == $caeQuarterlyEzStmtProductId) 
		   			#if($eb.invoice_date.length()>=10) <a href="eStatementPDF?pdfId=$eb.id" target="_blank">$eb.invoice_date.substring(5,7)/$eb.invoice_date.substring(8,10)/$eb.invoice_date.substring(0,4)</a>
		   			#else <a href="eStatementPDF?pdfId=$eb.id" target="_blank">$eb.invoice_date</a>
		   			#end 
				#else
					#if("$eb.account_type" == "RVA" || "$eb.account_type" == "LEA" || "$eb.account_type" == "IDA" || "$eb.account_type" == "IIM" || "$eb.account_type" == "PDFSTMT")
					<a href="eStatementPDF?pdfId=$eb.id" target="_blank">$eb.invoice_date</a>
					#elseif("$eb.account_type" == "MLA")
						#if($eb.dueDate) <a href="eStatementPDF?pdfId=$eb.id" target="_blank">$!dateTool.format('MM/dd/yyyy', $!eb.dueDate)</a> #else <a href="eStatementPDF?pdfId=$eb.id" target="_blank">$eb.invoice_date</a> #end
					#else 
					<a href="ebppPrevHistoryView?id=$eb.docId" target="_blank">$eb.invoice_date</a>
					#end
				#end
			</td>
			##Due Date	Amount Due	Minimum Amount Due
			#if( $!eb.stmtMinPmt || $!eb.dueDate || $!eb.ClosingBalance)
				#set($stmtMinPmt = "0" )
				#if($!eb.stmtMinPmt)
					#set($stmtMinPmt = $!eb.stmtMinPmt )
				#end
			<td align="right" width="100">$!dateTool.format('MM/dd/yyyy', $!eb.dueDate) </td>
			<td align="right" width="100">$!numberTool.format('currency', $!eb.ClosingBalance) </td>
			<td align="right" width="100">$!numberTool.format('currency', $!stmtMinPmt) </td>
			#else
			<td>&nbsp;</td>
			#end	
		</tr>
		#end ##foreachend
	</table>
#else
	#if($stmtType == "PDFSTMT" || $stmtType == "RES" || $stmtType == "MLA" || $IRACAE)
		<center>#springMessageText("ebpp.history.estatements.noprevebills" "No Previous e-Statements")</center>
	#else
		<center>#springMessageText("ebpp.history.interest.noprevetills" "No Previous Interests Letters")</center>
	#end ##ifstmtType
#end ##ifebppHistory