#set($page_title = "Alerts History")
#set($thisYear = $cibpdateTool.year())
#set($nextYear = $cibpdateTool.nextyear())
#set($todayMonth = $cibpdateTool.todayMonth())
#set($todayDay = $cibpdateTool.todayDay())
#set($todayYYYYMMDD = "$thisYear$todayMonth$todayDay")
<script type="text/javascript">


function getAlerts(page){
// 	var complete = function(t){display(t);}
	  var x = $('actform').category.selectedIndex;
	  var y = $('actform').channel.selectedIndex;

	  var category = $('actform').category.options[x].value;
	  var channel = $('actform').channel.options[y].value;
// 	  $('actform').page.value=page;
// 	  $('actform').channel.value=channel;
// 	  $('actform').category.value=category;
// 	  $('actform').reset.value=false;
	 var params = '?reset=false&page='+(page-1)+'&channeltemp='+channel+'&categorytemp='+category+'&newSearch=true';

     var myAjax = new Ajax.Updater('mainAnchor','alerthistory'+params,{method:'post', parameters:params});
     ##document.actform.submit();
     ##window.location.href="alerthistory"+params;


 }

 function searchAlerts(channel,category,dropdown){
	 if(dropdown=='category'){
		var x = $('actform').channel.selectedIndex;
		var channel = $('actform').channel.options[x].value;
		if(category=='all')
			var params = '?page=0&reset=false&channeltemp='+channel+'&categorytemp='+category+'&newSearch=true';
		else
			var params = '?page=0&reset=false&channeltemp='+channel+'&categorytemp='+category+'&newSearch=true';

	 }

	 if(dropdown=='channel'){
		 var x = $('actform').category.selectedIndex;
		 var category = $('actform').category.options[x].value;
		 var params = '?page=0&reset=false&channeltemp='+channel+'&categorytemp='+category+'&newSearch=true';

	 }
     var myAjax = new Ajax.Updater('mainAnchor','alerthistory',{method:'post', parameters:params});
  }

  function showMessage(messageDiv, view, hide){
     $(messageDiv).toggle();
	 $(view).toggle();
	 $(hide).toggle();
  }
</script>
<form name="actform" id="actform" action="alerthistory" method="post">
<!--          #springBind("alerthistory.page") -->
<!-- 		 	<input type="hidden" id="${status.expression}" name="${status.expression}" value=""> -->
<!--          #springBind("alerthistory.channel") -->
<!-- 		 	<input type="hidden" id="${status.expression}" name="${status.expression}" value=""> -->
<!--          #springBind("alerthistory.category") -->
<!-- 		 	<input type="hidden" id="${status.expression}" name="${status.expression}" value=""> -->
<!--          #springBind("alerthistory.reset") -->
<!-- 		 	<input type="hidden" id="${status.expression}" name="${status.expression}" value=""> -->
<table id="transfer_list" name="transfer_list"  width="100%">
   <tr>
      <td>
         <table width="100%" cellspacing="0">
            <tbody>
               <tr>
                  <td rowspan="2">
                     <div id="transfer_hist_drops" name="transfer_hist_drops">

                            <div style="margin-bottom:3px;">
                               <img src="#springMessageText("transfer.search.icon" "Search Icon")">
                            </div>
                            <div align="right">
                               <span class="transfer_hist_label1">#springMessageText("alerthistory.filter.type", "By alert type:")</span>&nbsp;
                                  ##springFormSingleSelect("alerthistory.category" $categories "onChange=$('actform').channel.selectedIndex=0;$('actform').submit()")
								  #springFormSingleSelect("alerthistory.category" $categories "onChange=searchAlerts('',this.value,'category');")
                                  #springShowErrors("<br/>" "error")
                            </div>
                            <br />
                            <div align="right">
                               <span class="transfer_hist_label1">#springMessageText("alerthistory.filter.channel", "By channel:")</span>&nbsp;
                                  ##springFormSingleSelect("alerthistory.channel" $channels "onChange=$('actform').submit()")
								  #springFormSingleSelect("alerthistory.channel" $channels "onChange=searchAlerts(this.value,'','channel');")
                                  #springShowErrors("<br/>" "error")
                            </div>

                     </div>
                  </td>
               </tr>
               <tr><td>&nbsp;</td></tr>
            </tbody>
         </table>
<!--          #springBind("alerthistory.page") -->
<!-- 		 	<input type="hidden" id="${status.expression}" name="${status.expression}" value=""> -->
         <br/>
      <div id='alertsResult' name='alertsResult'>
        #parse("vm/alerthistoryresult.vm")



      </td>
   </tr>
</table>
</form>