#set($layout = "layout/popuplayout.vm")

<script type="text/javascript">
function refreshPage() 
{
   var sURL = unescape(window.parent.location.pathname);
   
   sURL += "?tab=2";
   
   window.parent.location.href = sURL;
}
</script>

<script type="text/javascript" src="#jsUrl("/js/wz_tooltip.js")"></script>
<script type="text/javascript" src="#jsUrl("/js/athMovil/athmupdatephone.js")"></script>

<table id="athmUpdatePhone" border="0" class="loadingafter" width="100%" heigth="190">
<tr><td>

#if($down)
<table width="99%">
	<tbody>
		<tr>
			<td colspan="2" style="padding-left:10px;padding-right:10px;">
				#springMessageText("downtime.athmovil.iframe.down" "")
			</td>
		</tr>
	</tbody>
</table>
#else

#if($page == 0) ##Phone Details
<form name="profilephone" action="athmupdatephone" method="post">
	<table width="99%">
		<tbody>
			<tr>
				<td colspan="2">
					<b>#springMessageText("athmovil.enroll.step" "Step")&nbsp;1:&nbsp;</b>
					#springMessageText("athmovil.enroll.step.one" "Register your phone number.")
					<br/><br/>
				</td>
			</tr>
			<tr>
				<td colspan="2">#springFormRadioButtons("athmupdatephone.phoneType" $phonetypes "&nbsp;" "onChange='refreshPhoneTypeFields();'")</td>
			</tr>
			<tr>
				<td width="1%" align="right">#springMessageText("athmovil.phone.label" "Phone"):</td>
				<td width="99%">#springFormInput("athmupdatephone.phoneNumber" "size='16' maxlength='10' autocomplete='off'")</td>
			</tr>
			<tr>
				<td></td>
				<td>#springShowErrors("<br/>" "error")</td>
			</tr>
			<tr id="providerTypeSelect" style="display:none;">
				<td width="1%" align="right">#springMessageText("athmovil.provider.label" "Provider"):</td>
				<td width="99%">#springFormSingleSelect("athmupdatephone.phoneProvider" $phoneproviders "style='font-size:9px; width:112px;'")</td>
			</tr>
			<tr>
				<td colspan="2">
					#springMessageText("athmovil.enroll.step.two.instructions.ivr" "Next you will receive a phone call with the instructions to validate your mobile number.")
				</td>
			</tr>
			<tr>
				<td colspan="2">
					#if($cookieAnalyticEnabled && $cookieAnalyticEnabled == true)
						<input class="submit_next_Btn" type="submit" name="_target1" onclick="this.value='...';ga('send', 'pageview','#springMessageText('athmovil.updatephone.tag' '')');" value="#springMessageText("athmovil.continue.label" "Continue")">
					#else
						<input class="submit_next_Btn" type="submit" name="_target1" onclick="this.value='...';" value="#springMessageText("athmovil.continue.label" "Continue")">
					#end
				</td>
			</tr>
		</tbody>
	</table>
</form>
#end ##Phone Details

#if($page == 1) ##Validation
<form name="profilephone" action="athmupdatephone" method="post">
	<table width="99%">
		<tbody>
			<tr>
				<td colspan="2">
					<b>#springMessageText("athmovil.enroll.step" "Step")&nbsp;2:&nbsp;</b>
					#springMessageText("athmovil.enroll.step.three.ivr" "Continue to next step after the phone call is completed.")
				</td>
			</tr>
			#springBind("athmupdatephone.*")
			<tr>
				<td></td>
				<td>#springShowErrors("<br/>" "error")</td>
			<tr>
				<td colspan="2">
					#if($cookieAnalyticEnabled && $cookieAnalyticEnabled == true)
						<input class="submit_next_Btn" type="submit" name="_target2" onclick="this.value='...';ga('send', 'pageview','#springMessageText('athmovil.enroll.tag' '')');" value="#springMessageText("athmovil.continue.label" "Continue")">
					#else
						<input class="submit_next_Btn" type="submit" name="_target2" onclick="this.value='...';" value="#springMessageText("athmovil.continue.label" "Continue")">
					#end
				</td>
			</tr>
		</tbody>
	</table>
</form>
#end ##Validation

#if($page == 2) ##Message
<form name="profilephone" action="athmupdatephone" method="post">
	<table width="99%">
		<tbody>
			<tr>
				<td width="100%">$message</td>
			</tr>
			<tr>
				<td>
					#if($cookieAnalyticEnabled && $cookieAnalyticEnabled == true)
						<input class="submit_next_Btn" type="submit" name="_finish" onclick="this.value='...';ga('send', 'pageview','#springMessageText('athmovil.enroll.tag' '')');" value="#springMessageText("athmovil.done.label" "Done")">
					#else
						<input class="submit_next_Btn" type="submit" name="_finish" onclick="this.value='...';" value="#springMessageText("athmovil.done.label" "Done")">
					#end
				</td>
			</tr>
		</tbody>
	</table>
</form>
#end ##Message

#if($page == 3) ##Finish
<script type="text/javascript">
	refreshPage();
</script>
#end ##Finish

#end ## else if down

</td></tr>
</table>
