
<style>
	.td-combobox { width: 38%; }
	
	.td-img { display: inline-block;}
	
	.tableFormat { margin-top: 15px; }
	
	.txt-popular-securities {	height: 28px;	width: 196px;	color: #0F2754;	font-size: 24px !important;	line-height: 40px; margin-bottom: 20px;}
	
	.td-widget { width: 45%; }
	
	.td-acct-info { width: 55%; }
	
	.widget-border { border: 1px solid #CCD1D6;	border-radius: 5px;}
	
	.widget-header {text-align:center; border-radius: 4px 4px 0 0;	background-color: #0F2754; padding-bottom:8px; padding-top: 8px;}
	
	.widget-header-text {font-weight: bold !important;	font-size: 15px !important;	font-weight: 500;	line-height: 18px; color: #FFFFFF;}
	
	.txt-balance {	color: #4984CC;	font-size: 32px !important;	line-height: 38px;	text-align: center; }
	
	.bottom-section {text-align:center;	border-radius: 0 0 4px 4px;	background-color: #EFF3F7; padding-bottom:8px; padding-top: 8px;}
	
	.div-txt-balance { margin-bottom: 10px; }
	
	.div-balance-button {text-align:center; padding-bottom:15px; padding-top:15px;}
	
	.txt-buttom-section {color: black;}
	
	.txt-a-button {display:inline-block;width: 70%;border-radius: 12px;background-color: #4984CC;color:white !important;padding-top:3px;;padding-bottom:3px;height: 25px;font-size: 14px !important;}
	
	.button-text {position: relative; bottom: -3px;}
	
	.right-side-panel {margin-left: 8%;}
	
	.txt-variable {color: #4984CC;	font-size: 19px !important;	line-height: 23px;}
	
	.txt-ins-information {	color: #6C7A8C;	line-height: 20px;}
	
</style>

## Table - ComboBox and image
<table id="Account_Summary" width="100%">
<form name="listdetail" id="listdetail" action="detail" method="get">
	<tr>
		<td>
			<label class="txt-popular-securities">#springMessageText("mbfisViewDetails.header" "Popular Securities")</label>
		</td>
	</tr>
	<tr>
		<td class="td-combobox">
			<label id="AccountSumm_label1">#springMessageText("transaction.viewaccount.label" "View Account:")</label><br/>
			#springFormSingleSelect("detail.account", $detailAccounts, "onChange=$('listdetail').submit()")<br/>#springShowErrors("<br/>" "error")
		</td>
		<td class="td-img">
			<img src="#imgUrl("/img/fis/PopularSecurities.svg")" width="100%" height="100%"/></img>
		</td>
	</tr>
	<br/>
	<tr>
		<td colspan="2">
			<table class="tableFormat">
				<tr><td colspan="2">&nbsp;</td></tr>
				<tr>
					<td class="td-widget widget-border">
						<div class="center-text widget-header">
							<label class="widget-header-text">#springMessageText("detail.sec.available" "Available Balance")</label>
						</div>
						<div class="div-balance-button">
							<div class="div-txt-balance">
								<label class="txt-balance">$numberTool.format('currency', $accountDetails.NetworthBalance)</label>
							</div>
							<div>
								<a class="txt-a-button" #if("$SSOaccepted"=="1") href="$pingfederateSsoUrl$pingfederateSsoEndpoint" #elseif("$SSOaccepted"=="0") href="ssodude?agreement" #else href="$pingfederateSsoPartnerUrl" #end onclick="return Popup.open({url:this.href})" >
									<span class="button-text">
										#springMessageText("mbfisViewDetails.seeDetails" "See details")
        								<img src="#imgUrl("/img/fis/ic_launch.svg")" style="border: 0;" /> 
        							</span>	
    							</a>
							</div>
						</div>
						<div class="bottom-section">
							<label class="txt-buttom-section">#springMessageText("mbfisViewDetails.footer" "Yesterday balance")</label>
						</div>
					</td>
					<td class="td-acct-info">
						<table width="100%">
							<tr>
								<td>
									<table class="right-side-panel" width="100%">
										<tr>
											<td style="width:35%">
												<div>
													<label><b>#springMessageText("detail.account.type.label" "Account Type:")</b></label>
												</div>
												<div>
													#if($accountDetails.subtype=="RVA")
			 											#set($idtype = "type.LOAN")
			 										#else
			 											#set($idtype = "type.$accountDetails.features.accountDisplayType")
			 										#end
													<label class="txt-variable">#springMessageText("$idtype" "Securities")</label>
												</div>
											</td>
											<td>
												<div>
													<label><b>#springMessageText("detail.accountNumber.label" "Account Number:")</b></label>
												</div>
												<div>
													<label class="txt-variable">$accountTool.mask($accountDetails.accountNumber)</label>
												</div>
											</td>
										</tr>
										<tr><td colspan="2">&nbsp;</td></tr>
										<tr><td colspan="2">&nbsp;</td></tr>
										<tr>
											<td colspan="2">
												<label class="txt-ins-information">
													#springMessageText("detail.sec.ins.information" "Insurance and Investment Products are: not deposits - not FDIC Insured. Not bank guaranteed - may lose value. Insurance products also not insured by other government agencies.")
												</label>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</form>
</table>