#set($layout = "layout/popuplayout.vm")
<script type="text/javascript">
function refreshPage() {
   #if($act.frontEndId)
	#if($showInsidePortal)
   	 var sURL = unescape(window.parent.location.pathname+"?account=$origId");
   	#else
   	 var sURL = unescape(window.parent.location.pathname+"?account=$act.frontEndId");
   	#end
   #else
	#if($showInsidePortal)
   	 var sURL = unescape(window.parent.location.pathname+"?account=$origId");
   	#else
	 var sURL = unescape(window.parent.location.pathname);
   	#end
   #end
   window.top.location.href = sURL;
}
</script>

<table class="loadingafter" width="100%">
<tr><td>

#if($completeprocess)
<script type="text/javascript">refreshPage();</script>
#elseif($deactivateEbill)
<form name="listtrn" action="ebppStatusUpdate" method="post">
#if($showInsidePortal)
<input name="showInsidePortal" type="hidden" value="$showInsidePortal">
<input name="origId" type="hidden" value="$origId">
#end
<table id="ebillAct" class="loadingafter" align="right" border="0" cellspacing="0" cellpadding="0">
<tr>
	<td height="10" colspan="4">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td id="top-left" width="50%">&nbsp;</td>
				##<td id="top-center">&nbsp;</td>
				<td id="top-right">&nbsp;</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td width="10" rowspan="4" id="left">&nbsp;</td>
	<td colspan="2"><h3>#springMessageText("ebill.desactivate.label" "Desactivar e-bill")</h3></td>
	<td width="10" rowspan="4" id="right">&nbsp;</td>
</tr>
##<tr>
	##<td align="left" colspan="2">#springMessageText("ebill.deactivate.info" "Al desactivar esta opcion dejaras de recibir e-bills y solo recibiras facturas en papel")<div class="ebillActSpacer"></div></td>
	##<td>&nbsp;</td>
##</tr>
<tr>
	<td align="left" colspan="2">
	#springMessageText("ebill.deactivate.question" "Quieres desactivar el e-bill?")<div class="ebillActSpacer"></div>
	</td>
</tr>
<tr><td colspan="2">&nbsp;</td></tr>
<tr>
	<td colspan="2">
	<input type="hidden" id="id" name="id" value="$act.frontEndId">
	<input type="hidden" id="action" name="action" value="UPDATE_EBILL_STATUS">
	<input type="submit" onclick="this.style.visibility = 'hidden';"  class="ebillActBtn" value="#springMessageText("send.label" "Send")">
	<span class="cancel"><a onclick="refreshPage();">#springMessageText("link.cancel" "Cancel")</a></span>
	</td>
</tr>
<tr><td height="10" colspan="4" id="bottom">&nbsp;</td></tr>
</table>
</form>  ##end del form de someter transactions
#elseif($deactivateAlgaroEbill)
##test
<form name="listtrn" action="ebppStatusUpdate" method="post">
#if($showInsidePortal)
<input name="showInsidePortal" type="hidden" value="$showInsidePortal">
<input name="origId" type="hidden" value="$origId">
#end

<table id="ebillAct" class="loadingafter" align="right" border="0" cellspacing="0" cellpadding="0">
<tr>
	<td height="10" colspan="4">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td id="top-left" width="50%">&nbsp;</td>
				##<td id="top-center">&nbsp;</td>
				<td id="top-right">&nbsp;</td>
			</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td width="10" rowspan="4" id="left">&nbsp;</td>
			<td colspan="2"><h3>#springMessageText("ebill.desactivate.label" "Desactivar e-bill")</h3></td>
			<td width="10" rowspan="4" id="right">&nbsp;</td>
		</tr>
		##<tr>
			##<td align="left" colspan="2">#springMessageText("ebill.deactivate.info" "Al desactivar esta opcion dejaras de recibir e-bills y solo recibiras facturas en papel")<div class="ebillActSpacer"></div></td>
			##<td>&nbsp;</td>
		##</tr>
		<tr>
			<td align="left" colspan="2">
			#springMessageText("ebill.deactivate.question" "Quieres desactivar el e-bill?")<div class="ebillActSpacer"></div>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			</td>
		</tr>
		<tr>
		<td colspan="2">
		<input type="hidden" id="id" name="id" value="$act.frontEndId">
	   	<input type="hidden" id="action" name="action" value="ALGARO_UPDATE">
		<input type="submit" onclick="this.style.visibility = 'hidden';"  class="ebillActBtn" value="#springMessageText("send.label" "Send")">
		<span class="cancel"><a onclick="refreshPage();">#springMessageText("link.cancel" "Cancel")</a></span>
		</td>
		</tr>
		<tr>
			<td height="10" colspan="4" id="bottom">&nbsp;</td>
		</tr>
</table>
</form>  ##end del form de someter transactions
#elseif($activateEbill)
#*
<table id="tblpopup" align="right" width="400">
<colgroup><col width="95%"></colgroup>
	<form name="listtrn" action="ebppStatusUpdate" method="post">
	#if($showInsidePortal)
	<input name="showInsidePortal" type="hidden" value="$showInsidePortal">
	<input name="origId" type="hidden" value="$origId">
	
	#end
	
	<tr><td>#springMessageText("ebill.activateebill.label", "Activar e-Bill:")</td></tr>
	<tr><td>#springMessageText("ebill.activate.info" "Al activar esta opcion comenzaras a recibir e-Bills en vez de facturas a papel.")</td></tr>
	#if($askZipCode)<tr><td>#springMessageText("ebill.postalcode.label" "Por favor, entra el c&oacute;digo postal de tu factura:&nbsp;")#springFormInput("ebppStatusUpdate.zipCode" "size='7' maxlength='5'")<br/>#springShowErrors("<br/>" "error")</td></tr>#end
	<tr><td>#springMessageText("ebill.emailverification.label" "Por favor, verifica que tu direccion de email este correcta:")</td></tr>
	<tr><td align="center"><a href="#" onClick="$('emailedit').toggle();">$customerEmail</a></td></tr>
	<tr id="emailedit" style="display:none;">
		<td align="right" style="padding-right:15px;">#springMessageText("ebill.newemail.label" "Email:")#springFormInput("ebppStatusUpdate.email" "size='15'")<br/>
		#springMessageText("ebill.confirmemail.label" "Confirm Email:")#springFormInput("ebppStatusUpdate.emailConfirm" "size='15'")<br/>
		#springShowErrors("<br/>" "error")
		</td>
	</tr>
	<input type="hidden" id="id" name="id" value="$act.frontEndId">
	<input type="hidden" id="action" name="action" value="UPDATE_EBILL_STATUS">
	<tr>
		<td align="center"><input type="submit" class="btnNext" value="#springMessageText("send.label" "Send")">
		<a onclick="refreshPage();">#springMessageText("link.cancel" "Cancel")</a>
	</td></tr>
	</form>  ##end del form de someter transactions
</table>
*#
<form name="listtrn" action="ebppStatusUpdate" method="post">
#if($showInsidePortal)
<input name="showInsidePortal" type="hidden" value="$showInsidePortal">
<input name="origId" type="hidden" value="$origId">
#end

<table id="ebillAct" class="loadingafter" width="100%" border="0" cellspacing="0" cellpadding="0" align="right">
<tr>
	<td height="10" colspan="4">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td id="top-left" width="50%">&nbsp;</td>
			##<td id="top-center">&nbsp;</td>
			<td id="top-right">&nbsp;</td>
		</tr>
		</table>
	</td>
</tr>
<tr>
	<td width="10" #if($askZipCode)rowspan="6" #else rowspan="5" #end id="left">&nbsp;</td>
	<td colspan="2"><h3>#springMessageText("ebill.activateebill.label", "Activar e-Bill:")</h3></td>
	<td width="10" #if($askZipCode)rowspan="6" #else rowspan="5" #end id="right">&nbsp;</td>
</tr>
<tr>
	<td align="left" colspan="2">#springMessageText("ebill.activate.info.$ebilltype" "Al activar esta opcion comenzaras a recibir e-Bills.")<div class="ebillActSpacer"></div></td>
	<td>&nbsp;</td>
</tr>
#if($askZipCode)
<tr>
	<td colspan="2">
	#springMessageText("ebill.activate.info.${ebilltype}.postalcode.label" "Por favor, entra el c&oacute;digo postal de tu factura:&nbsp;")#springFormInput("ebppStatusUpdate.zipCode" "size='7' maxlength='5'")
	<br/>#springShowErrors("<br/>" "error")<div class="ebillActSpacer"></div>
	</td>
</tr>
#end
<tr>
	<td align="left" colspan="2">
	#springMessageText("ebill.emailverification.label" "Por favor, verifica que tu direccion de email este correcta:")<div class="ebillActSpacer"></div>
	</td>
</tr>
<tr>
	<td colspan="2">
	<strong>$customerEmail</strong> <a href="#" onClick="$('emailedit').toggle();">#springMessageText("ebill.emailverification.click.label" "(click to edit)")</a><div class="ebillActSpacer"></div>
	<div id="emailedit" style="display:none;">
	<div align="right" style="margin-right:85px;">#springMessageText("ebill.newemail.label" "Email:")#springFormInput("ebppStatusUpdate.email" "size='15'")<br/>
	#springMessageText("ebill.confirmemail.label" "Confirm Email:")#springFormInput("ebppStatusUpdate.emailConfirm" "size='15'")<br/>
	#springShowErrors("<br/>" "error")<div class="ebillActSpacer"></div>
	</div>
	</div>
	</td>
</tr>
<tr>
	<td colspan="2">
	<input type="hidden" id="id" name="id" value="$act.frontEndId">
	<input type="hidden" id="action" name="action" value="UPDATE_EBILL_STATUS">
	<input type="submit" onclick="this.style.visibility = 'hidden';"  class="ebillActBtn" value="#springMessageText("send.label" "Send")">
	<a class="cancel" onclick="refreshPage();">#springMessageText("link.cancel" "Cancel")</a>
	</td>
</tr>
<tr><td height="10" colspan="4" id="bottom">&nbsp;</td></tr>
</table>
</form>  ##end del form de someter transactions
#elseif($deactivateEstatement)
<form name="listtrn" action="ebppStatusUpdate" method="post">
#if($showInsidePortal)
<input name="showInsidePortal" type="hidden" value="$showInsidePortal">
<input name="origId" type="hidden" value="$origId">
#end

<table id="ebillAct" class="loadingafter" align="right" border="0" cellspacing="0" cellpadding="0">
<tr>
	<td height="10" colspan="4">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td id="top-left" width="50%">&nbsp;</td>
				##<td id="top-center">&nbsp;</td>
				<td id="top-right">&nbsp;</td>
			</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td width="10" rowspan="5" id="left">&nbsp;</td>
			<td colspan="2"><h3>#springMessageText("ebill.desactivate.estatement", "Desactivar e-Statement:")</h3></td>
			<td width="10" rowspan="5" id="right">&nbsp;</td>
		</tr>
		<tr>
			<td align="left" colspan="2">#springMessageText("ebill.desactivateEstatement.info" "Al desactivar esta opcion dejaras de recibir e-bills y solo recibiras facturas en papel")
			<strong>$nickname</strong>. #springMessageText("ebill.desactivateEstatement.info2" "Al desactivar esta opcion dejaras de recibir e-bills y solo recibiras facturas en papel")
			<div class="ebillActSpacer"></div></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td align="left" colspan="2">
			#springMessageText("ebill.desactivate.questionestm" "Quieres desactivar el e-Statement?")<div class="ebillActSpacer"></div>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			</td>
		</tr>
		<tr>
		<td colspan="2">
		<input type="hidden" id="id" name="id" value="$act.frontEndId">
		<input type="hidden" id="action" name="action" value="UPDATE_ESTMT_STATUS">
		<input type="submit" onclick="this.style.visibility = 'hidden';"  class="ebillActBtn" value="#springMessageText("send.label" "Send")">
		<span class="cancel"><a onclick="refreshPage();">#springMessageText("link.cancel" "Cancel")</a></span>
		</td>
		</tr>
		<tr>
			<td height="10" colspan="4" id="bottom">&nbsp;</td>
		</tr>
##end test
	#*<tr><td>#springMessageText("ebill.desactivate.estatement", "Desactivar e-Statement:")</td></tr>
	<tr><td>#springMessageText("ebill.desactivate.info" "Al desactivar esta opcion dejaras de recibir e-bills y solo recibiras facturas en papel")
		<br/><br/>#springMessageText("ebill.desactivate.questionestm" "Quieres desactivar el e-Statement?")</td></tr>
	
	<input type="hidden" id="id" name="id" value="$act.frontEndId">
	<input type="hidden" id="action" name="action" value="UPDATE_ESTMT_STATUS">
	<tr><td align="center"><input type="submit" class="btnNext" value="#springMessageText("send.label" "Send")">
		<a onclick="refreshPage();">#springMessageText("link.cancel" "Cancel")</a>
	</td></tr>
	*#
	##end del form de someter transactions
</table>
</form>

#elseif($activateEstatement)
#*
<table id="tblpopup" align="right" width="400">
<colgroup><col width="95%"></colgroup>
	<tr><td>#springMessageText("ebillactivateestatement.label", "Activar e-Statement:")</td></tr>
	<tr><td>#springMessageText("ebill.estatement.info" "Al activar esta opci&oacute;n comenzaras a recibir e-Statements en vez de facturas a papel.  Cuando recibas nuevos estados, te avisaremos por e-mail.")</td></tr>
	<tr><td>&nbsp;</td></tr>
	<form name="listtrn" action="ebppStatusUpdate" method="post">
	#if($showInsidePortal)
	<input name="showInsidePortal" type="hidden" value="$showInsidePortal">
	<input name="origId" type="hidden" value="$origId">
	
	#end
	
	<tr><td>#springMessageText("ebill.estatement.emailverification.label" "Por favor, verifica que tu direcci&oacute;n de email este correcta:")</td></tr>
	<tr><td align="center"><a href="#" onClick="$('emailedit').toggle();">$customerEmail</a></td></tr>
	<tr id="emailedit" style="display:none;"><td align="right" style="padding-right:50px;">#springMessageText("ebill.newemail.label" "Nueva direcci&oacute;n de e-mail:")#springFormInput("ebppStatusUpdate.email" "size='15'")<br/>
		#springMessageText("ebill.confirmemail.label" "Confirma tu direcci&oacute;n de e-mail:")#springFormInput("ebppStatusUpdate.emailConfirm" "size='15'")<br/>
		#springShowErrors("<br/>" "error")
	</td></tr>
	<input type="hidden" id="id" name="id" value="$act.frontEndId">
	<input type="hidden" id="action" name="action" value="UPDATE_ESTMT_STATUS">
	<tr><td align="center"><input type="submit" class="btnNext" value="#springMessageText("send.label" "Send")">
		<a onclick="refreshPage();">#springMessageText("link.cancel" "Cancel")</a>
	</td></tr>
	</form>  ##end del form de someter transactions
</table>
*#
<form name="listtrn" action="ebppStatusUpdate" method="post">
#if($showInsidePortal)
<input name="showInsidePortal" type="hidden" value="$showInsidePortal">
<input name="origId" type="hidden" value="$origId">
#end

<table id="ebillAct" class="loadingafter" border="0" cellspacing="0" cellpadding="0" align="right">
<tr>
	<td height="10" colspan="4">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td id="top-left" width="50%">&nbsp;</td>
		##<td id="top-center">&nbsp;</td>
		<td id="top-right">&nbsp;</td>
	</tr>
	</table>
	</td>
</tr>
		<tr>
			<td width="10" rowspan="5" id="left">&nbsp;</td>
			#if($isCreditCard && $isCreditCard=="true")
			<td colspan="2"><h3>#springMessageText("ebill.activateebill.label", "Activar e-Bill:")</h3></td>
			#else
			<td colspan="2"><h3>#springMessageText("ebill.activateestatement.label", "Activar e-Statement:")</h3></td>
			#end
			<td width="10" rowspan="5" id="right">&nbsp;</td>
		</tr>
		<tr>
			#if($isCreditCard && $isCreditCard=="true")
			<td align="left" colspan="2">#springMessageText("ebill.activate.info.$ebilltype" "Al activar esta opcion comenzaras a recibir e-Bills.")<div class="ebillActSpacer"></div></td>
			#else
			<td align="left" colspan="2">#springMessageText("ebill.estatement.info" "Al activar esta opci&oacute;n comenzaras a recibir e-Statements en vez de facturas a papel.  Cuando recibas nuevos estados, te avisaremos por e-mail.")<div class="ebillActSpacer"></div></td>
			#end
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td align="left" colspan="2">
			#springMessageText("ebill.estatement.emailverification.label" "Por favor, verifica que tu direcci&oacute;n de email este correcta:")<div class="ebillActSpacer"></div>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<strong>$customerEmail</strong> <a href="#" onClick="$('emailedit').toggle();">#springMessageText("ebill.emailverification.click.label" "(click to edit)")</a><div class="ebillActSpacer"></div>
				<div id="emailedit" style="display:none;">
					<div align="right" style="margin-right:85px;">#springMessageText("ebill.newemail.label" "Email:")#springFormInput("ebppStatusUpdate.email" "size='15'")<br/>
				#springMessageText("ebill.confirmemail.label" "Confirm Email:")#springFormInput("ebppStatusUpdate.emailConfirm" "size='15'")<br/>
				#springShowErrors("<br/>" "error")<div class="ebillActSpacer"></div>
					</div>
				</div>
			</td>
		</tr>
		<tr>
		<td colspan="2">
		<input type="hidden" id="id" name="id" value="$act.frontEndId">
		<input type="hidden" id="action" name="action" value="UPDATE_ESTMT_STATUS">
		<input type="submit" onclick="this.style.visibility = 'hidden';"  class="ebillActBtn" value="#springMessageText("send.label" "Send")">
		<span class="cancel"><a onclick="refreshPage();">#springMessageText("link.cancel" "Cancel")</a></span>
		</td>
		</tr>
		<tr>
			<td height="10" colspan="4" id="bottom">&nbsp;</td>
		</tr>
</table>
</form>  ##end del form de someter transactions
#else
<script type="text/javascript">refreshPage();</script>
#end
<td>
</tr>
</table>

