#set($layout = "layout/nolayout.vm")
#if($ebppPreviousHistory && $ebppPreviousHistory.size()>1)
<table width="100%">
	#set($index=1)
	#foreach($eb in $ebppPreviousHistory)
	#if($index>1)
	<tr>
		<td align="left" class="ebill_history_account_link" width="150">&nbsp;</td>
		<td align="right" width="100">x$last4AcctNumber</td>
		<td align="right" width="100" class="ebill_history_account_link">
		#if($eb.invoiceDate)
		#if($eb.statementID && $eb.statementID>0)
		<a href="ebpp2ViewStatement?id=$eb.statementID&uai=$ebpp2UserAccountId" target="_blank">$!dateTool.format('MM/dd/yyyy', $!eb.invoiceDate)</a> 
		#elseif($eb.originalEbppDocId)
		<a href="ebpp2PrevHistoryView?id=$eb.originalEbppDocId&bpid=$ebpp2ProductBillerProductId" target="_blank">$!dateTool.format('MM/dd/yyyy', $!eb.invoiceDate)</a>
		#else
		$!dateTool.format('MM/dd/yyyy', $!eb.invoiceDate)
		#end
		#else
		N/A 
		#end
		</td>
		<td>&nbsp;</td>
	</tr>
	#end
	#set($index=$index+1)
	#end ##foreachend
</table>
#else
<center>#springMessageText("ebpp.history.estatements.noprevebills" "No Previous e-Statements")</center>
#end