#set($layout = "layout/nolayout.vm")
	#if($ebppInbox)
		#foreach($eb in $ebppInbox)
		<div style="margin-left:10px;width:120px;">
		
			<a style="color:#666666;text-decoration: underline;" href="ebppInboxView?id=$eb.docId">$!eb.account_nickname</a>
			
		</div>		
		#end ##foreachend
	#end
	
	#if($acctPdfNotif)
		#foreach($acctPdf in $acctPdfNotif)
			<div style="margin-left:10px;width:120px;">
				<a style="color:#666666;text-decoration: underline;" href="ebppLatestHistory#estatements">$!acctPdf.account_nickname x$!acctPdf.last4AcctNumber</a>			
		</div>		
		#end ##forech acctPdfNotif
	#end ##if($acctPdfNotif)
				
	#if($interestStmtInbox)
		#foreach($info in $interestStmtInbox)
		<div style="margin-left:10px;width:120px;">
			#if($info.account_type == "MLA")
				<a style="color:#666666;text-decoration: underline;" href="ebppLatestHistory#interest">#springMessageText("ebpp.history.interest.mortgage.label" "Mortgage Interests") $!info.account_nickname</a>
			#elseif($info.account_type == "RVA")
				<a style="color:#666666;text-decoration: underline;" href="ebppLatestHistory#interest">#springMessageText("ebpp.history.interest.auto.label" "Auto Loan Interest Letter") $!info.account_nickname</a>
			#elseif($info.account_type == "LEA")
				<a style="color:#666666;text-decoration: underline;" href="ebppLatestHistory#interest">#springMessageText("ebpp.history.interest.lease.label" "Auto Lease Interest Letter") $!info.account_nickname</a>
			#elseif($info.account_type == "IIM" || $info.account_type == "IDA")
				<a style="color:#666666;text-decoration: underline;" href="ebppLatestHistory#interest">#springMessageText("ebpp.history.interest.ira.label" "TAX INFORMATIVE") $!info.productDescription $!info.account_nickname</a>
			#else
				<a style="color:#666666;text-decoration: underline;" href="ebppLatestHistory">Interests of $!info.account_nickname</a>
			#end
		</div>		
		#end ##foreach end
	#end ## if Interest Statement
	
	#if($noBillers)
		<div style="margin-left:10px;"><a style="color:#666666;text-decoration: underline;" href="customerpayee">#springMessageText("ebill.activateebill.label" "Activate your e-Bill")</a></div>
		<div style="margin-left:10px;"><a style="color:#666666;text-decoration: underline;" href="editaccount">#springMessageText("ebill.activateestatement.label" "Activate your e-Statement")</a></div>
	#end
	
    #if($noInbox)
		<div style="margin-left:10px;color:#666666;">#springMessageText("portal.account.noebill.label" "No new e-Bills/e-Statements")</div>
	#end