#set($showmenu="false")
#set($layout="layout/enrollment-layout.vm")
<style type="text/css">        
  .textoParpadiante {color: #F60;}
  .textoInvisible {color: white;}
</style>

<script type="text/javascript">

function showTermsAndConditions(){
	hideIframes();
	destroyIframes('mobileEnrollmentFrame');
	var url = '#springMessageText("enrollment.mobile.terms.url" "")';
	createIframeWithoutLoading(url, 'mobileEnrollmentFrame', 'mEnrollmentIframePlaceholder', '560px', '450px');
	Modalbox.show($('enrollmentTCModal'), {title: this.title, width: 590,height: 490, overlayClose: false})
	Modalbox.MBwindow.setStyle({top: 15 + "%"});

}

</script>

#set($page_title="Enrollment")
#set($showmenu="false")

<link rel="stylesheet" type="text/css" href="#cssUrl("/css/portal/portal-big.css")"/>
<link rel="stylesheet" type="text/css" href="#cssUrl("/css/mibanco-default-scheme.css")"/>
#if($!enrollmentAvailable == "false")
La inscripci&oacute;n no estar&aacute; disponible durante estos momentos. Por favor trate luego. Gracias.
<br/>The enrollment is temporarily unavailable. Please try again later. Thank you.
#else
#springBind("enrollmentComercial")
##error content
<table id="Enrollment" width="100%">
<tr><td>

<div id="titleBar" style="border-bottom: 1px solid;border-color:#cde6ff">#springMessageText("enrollment.title" "Internet Banking - Enrollment")</div>
<div id="instructions" >#springMessageText("enrollment.message" "The enrollment process is very easy!")</div>
<table align="right" border="0">
<tr>
	<td>
<div id="adArea">
	##steps
<table border="0" cellpadding="0" cellspacing="0" id="enrollStepBox3">
    <tr class="topHeader" height="30">
      <td height="30" width="8" background="../img/En_leftTop.gif" id="stepTopLeft2">&nbsp;</td>
	  <td height="30" colspan="2" background="../img/En_TopCenter.gif" id="stepTop2"><div style="margin-top:5px;">#springMessageText("enrollment.adbox1.title" "Steps")</div><div class="labelspacer"></div><div class="labelspacer_safari"></div></td>
      <td height="30" background="../img/En_RightTop.gif" id="stepTopRight2">&nbsp;</td>
    </tr>
    <tr>
      <td rowspan="10" background="../img/En_leftCenter.gif" id="stepLeft2">&nbsp;</td>
      <td style="padding-top:5px; padding-left:5px; padding-right:2px;" width="14" align="center" valign="top" id="stepLine2"><img src="#imgUrl("/img/stepSphere.gif")" width="12" height="12" /></td>
      <td nowrap style="padding-top:5px;">#springMessageText("enrollment.title.personalinfo" "Personal Information")</td>
      <td rowspan="10" background="../img/En_RightCenter.gif" id="stepRight2">&nbsp;</td>
    </tr>
    <tr>
      <td id="stepLine2" width="14">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td style="padding-left:5px;" width="14" align="center" valign="top" id="stepLine2"><img src="#imgUrl("/img/stepSphere.gif")" width="12" height="12" /></td>
      <td nowrap valign="top">#springMessageText("enrollment.title.accountinfo" "Account Information")</td>
    </tr>
    <tr>
      <td id="stepLine2" width="14">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td style="padding-left:5px;" width="14" align="center" valign="top" id="stepLine2"><img src="#imgUrl("/img/stepSphere.gif")" width="12" height="12" /></td>
      <td nowrap valign="top">#springMessageText("enrollment.title.connectioninfo" "Connection Information")</td>
    </tr>
    <tr>
      <td id="stepLine2" width="14">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td style="padding-left:5px;" width="14" align="center" valign="top" id="stepLine2"><img src="#imgUrl("/img/stepSphere.gif")" width="12" height="12" /></td>
      <td nowrap valign="top">#springMessageText("enrollment.title.questions" "Security Information")</td>
    </tr>
    <tr>
      <td id="stepLine2" width="14">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td style="padding-left:5px;" width="14" align="center" valign="top"><img src="#imgUrl("/img/onStepSphere.gif")" width="14" height="14"/></td>
      <td nowrap valign="top">#springMessageText("enrollment.title.serviceagree" "Service Agreement")</td>
    </tr>
    <tr>
      <td width="14">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td background="../img/En_leftBottom.gif" id="stepBottomLeft2">&nbsp;</td>
      <td colspan="2" background="../img/En_bottomCenter.gif" id="stepBottom2">&nbsp;</td>
      <td background="../img/En_RightBottom.gif" id="stepBottomRight2">&nbsp;</td>
    </tr>
  </table>
	##end steps
	<div class="spacerAd"></div>
	<table border="0" cellpadding="0" cellspacing="0" id="enrollStepBox2">
    <tr height="30">
      <td width="8" background="../img/En_leftTop.gif" id="stepTopLeft2">&nbsp;</td>
	  <td colspan="2" background="../img/En_TopCenter.gif" id="stepTop2"><div style="margin-top:5px;">#springMessageText("enrollment.adbox2.title" "Questions?")</div><div class="labelspacer"></div><div class="labelspacer_safari"></div></td>
      <td background="../img/En_RightTop.gif" id="stepTopRight2">&nbsp;</td>
    </tr>
    <tr>
      <td background="../img/En_leftCenter.gif" id="stepLeft2">&nbsp;</td>
      <td colspan="2"  valign="top" style="padding-bottom:5px;">#springMessageText("enrollment.adbox2.message" "787-724-3655<br/>1-888-724-3655<br/>internet@bppr.com")</td>
      <td background="../img/En_RightCenter.gif" id="stepRight2">&nbsp;</td>
    </tr>
    
    <tr>
      <td background="../img/En_leftBottom.gif" id="stepBottomLeft2">&nbsp;</td>
      <td colspan="2" background="../img/En_bottomCenter.gif" id="stepBottom2">&nbsp;</td>
      <td background="../img/En_RightBottom.gif" id="stepBottomRight2">&nbsp;</td>
    </tr>
  </table>
</div>
</td>
</tr>
</table>

<table class="EnrollcontentData" border="0">
<tr><th colspan="4">1)&nbsp;#springMessageText("enrollment.title.personalinfo" "Personal Information")</th></tr>
</table>

<table class="EnrollcontentData" border="0">
<tr><th>2)&nbsp;<a name="accountinfo"></a>#springMessageText("enrollment.title.accountinfo" "Account Information")</th></tr>
</table>

<table class="EnrollcontentData" border="0">
<tr><th colspan="3">3)&nbsp;#springMessageText("enrollment.title.connectioninfo" "Connection Information")</th></tr>
</table>

<table class="EnrollcontentData" border="0">
<tr><th colspan="2">4)&nbsp;#springMessageText("enrollment.title.questions" "Security Information")</th></tr>
</table>

<form name="enrollmentComercial" method="post" action="enrollmentComercial">
<table class="EnrollcontentData" border="0">
<tr><th>5)&nbsp;#springMessageText("enrollment.title.serviceagree" "Service Agreement")</th></tr>

<tr>
	<td>
	<div class="agreement">
	<h2>#springMessageText("enrollment.title.serviceagree.business" "Mi Banco Comercial")</h2>
	</div>
	</td>
</tr>
<tr><td>&nbsp;</td></tr>
<tr>
	<td>
	<div class="agreement">
	#springMessageText("enrollment.title.serviceagree.business.description" "<b>The Mi Banco Comercial service entails a $10 monthly service charge.</b><br><br>The monthly charges will be automatically billed to the account you enrolled with in Mi Banco Comercial, unless you already have a different billing account set up for other business services from Popular.")
	</div>
	</td>
</tr>
<tr>
	<td> 
	<div class="agreement">#springFormCheckboxes("enrollmentComercial.agreement" $agree "" "")&nbsp;
	#if($!version && $!version == 'tablet')
		<a onclick="showTermsAndConditions()">#springMessageText("enrollment.title.serviceagree.title" "")</a>
		#springMessageText("enrollment.title.serviceagree.disclaimer" "")
	#else
	#springMessageText("enrollment.title.serviceagree.business.label" "")<br/>
	#end
	#springShowErrors("<br/>" "error")</div><div class="labelspacer"></div>
	</td>
</tr>
<tr>
	<td>
	<div class="labelspacer"></div>
	<div class="agreement">
	<table>
	<tr>
		<td><input type="submit" name="_finish" class="btnNext" value="#springMessageText("enrollment.button.submit" "Submit")"></td>
		<td><span class="cancel"><a href="login">#springMessageText("link.cancel" "Cancel")</a></span></td>
	</tr>
	</table>
	</div>
	</td>
</tr>
<tr><td>&nbsp;</td></tr>
</table>
</form>
</td></tr></table>
#end
