#set($layout = "layout/nolayout.vm")
<!DOCTYPE html PUBLIC "-//W3C//HTML 4.01 Transitional" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="P3P" content='CP="IDC DSP COR CURa ADMa OUR IND PHY ONL COM STA"'>
<link rel="shortcut icon" type="image/x-icon" href="#springUrl("/favicon.ico")" />
<link rel="icon" type="image/x-icon" href="#springUrl("/favicon.ico")" />
<title>Mi Banco Estatement Campaign</title>

<script type="text/javascript" src="#jsUrl("/js/gen/prototype.js")"></script>
<script type="text/javascript" src="#jsUrl("/js/gen/scriptaculous.js")"></script>
<script type="text/javascript" src="#jsUrl("/js/gen/modalbox.js")"></script>
<script type="text/javascript" src="#jsUrl("/js/gen/bjs.js")"></script>
<script type="text/javascript">document.observe('dom:loaded', function() {
  $$('form').each(function(form){form.observe('submit', processing);});
});

function processing(evt){
  var element = evt.element();
  var children = $A(element.elements);
  var dude = 'En Proceso...';
  var newelement = Builder.node('span', {style:'color:green;'}, dude);
  children.each(function(child){if(child.className.indexOf('noprocessing')==-1 && (child.className.indexOf('asubmitbutton')!=-1||(child.tagName=='INPUT'&& child.type=='submit'))){$(child).hide();child.insert({before:newelement});}});
}

function removeMsg() {
 var pars = '';
 var myAjax = new Ajax.Request('removeMessage', {method:'post',parameters:pars});
}
</script>

<!--[if IE 6]>
<style type="text/css">
#defaultpay {
 float:left;
 margin-left:32px;
 margin-top:10px;	
}
</style>
<![endif]-->
<style type="text/css">
<!--
body {
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
}
.Layout_Bkg {
	background-image:url(../img/bkgmain.gif);
	background-repeat:repeat-x;
}
div #header {
  background-repeat:repeat-x;
  height:95px;
  text-align: right;
}
#loginLogo_popPortal {
	border:none;
    height:31px;
    width:171px;
    float: left;
    margin-top:0px;
	padding-top:30px;
	padding-bottom:10px;
}
.hola{
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	color: #000000;
}
.masinfo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.7em;
	color: #6d6e71;
	text-decoration: underline;
}
.noty {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.7em;
	color: #426d0a;
	text-decoration: underline;
	font-style: normal;
}
.noty2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.7em;
	color: #ee5b13;
	text-decoration: underline;
	font-style: normal;
}
#content {
	height: auto;
	width: 450px;
	padding-left: 25px;
	padding-bottom: 10px;
}
#dynacontent {
	height: auto;
	width: 475px;
	padding-left: 25px;
	clear: both;
}
#table {
	background-color: #FFFFFF;
	width: 470px;
	height: auto;
}
#seccontent {
	height: auto;
	width: 189px;
	padding-left: 40px;
	text-align: center;
}
#emailcontent {
	height: 15px;
	width: 150px;
	clear: both;
	padding-top: 5px;
	padding-left: 45px;
	margin-bottom:5px;
}
#subcontent {
	height: 28px;
	width: 185px;
	float:right;
	clear:both;
}
.bigcontent {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	font-weight: bold;
	color: #58920e;
	font-style: normal;
}
.regcontent {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: normal;
	color: #58920e;
	font-style: normal;
}
.secregcontent {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.7em;
	font-weight: normal;
	color: #8a4b16;
	font-style: normal;
}
#image {
	height: 18px;
	width: 39px;
	float:left;
	margin-right:5px;
}
.enlace {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.7em;
	font-weight: normal;
	color: #004275;
	text-decoration: underline;
}
.enlacebig {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.7em;
	font-weight: normal;
	color: #004275;
	text-decoration: underline;
}
#edit {
	height:20px;
	width: 180px;
}
.title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: #8a4b16;
	font-weight: bold;
}
.style1 {
	font-size: 0.7em;
	color: #ee5b13;
	text-decoration: underline;
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
}
#selectall {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #ee5b13;
}
#results {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #8a4b16;
}
.active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #93958f;
}
.eligible1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #114579;
}
.eligible2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #666769;
}
#small_green {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #58920e;
	font-style: italic;
}
-->
</style>
</head>
<body class="Layout_Bkg" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
#if($statusmessage)<div align="center"><div style="width:300px;background-color:#FFFF99;font-size:11px;text-align:center;">$!statusmessage</div></div>
<script type="text/javascript">removeMsg();</script>
#end
<form name="estatementform" action="portal" method="post">
<table width="840" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="4">
	<div id="header">
	<div id="loginLogo_popPortal">
	<a href="http://www.popular.com"><img src="#imgUrl("/img/imglogoPop.gif")" width="171" height="31" border="0"/></a>
	</div>
    </td>
  </tr>
  <tr>
    <td colspan="4">
    <span class="hola" style="float:left;"><br>#springMessageText("portal.welcome" "Hi") $!customername,<br></span>
    </td>
  </tr>
  <tr>
    <td colspan="4">
  
  
  <table width="840" border="0" align="center" cellpadding="0" cellspacing="0" background="#imgUrl("#springMessageText('estatementcampaign.imageDir' '/img/estatement_en/')background.jpg")">
  <tr>  
    <td colspan="4" height="65" valign="bottom" background="#imgUrl("#springMessageText('estatementcampaign.imageDir' '/img/estatement_en/')nav-04.jpg")"></td>
  </tr>
  <tr>
    <td width="56" rowspan="4" valign="top" background="#imgUrl("#springMessageText('estatementcampaign.imageDir' '/img/estatement_en/')nav-06.jpg")"></td>
    <td width="504" height="56" valign="top"><img src="#imgUrl("#springMessageText('estatementcampaign.imageDir' '/img/estatement_en/')nav-07.jpg")" height="56"></td>
    <td width="230" rowspan="3" valign="top"><img src="#imgUrl("#springMessageText('estatementcampaign.imageDir' '/img/estatement_en/')nav-08.jpg")" width="230" height="104" />
      <div>
        <div id="seccontent">
			#if($cookieAnalyticEnabled == 'true')
				<a href="#springMessageText("estatementcampaign.link.moreaboutcontest" "/pr/pers/intbank/pr-pers-intbank-estatements-en.jsp#section4")" target="_blank" class="masinfo" onclick="ga('send', 'pageview','"#springMessageText("estatementcampaign.googlelink.masinfocomp" "/Mi Banco-InrerruptionScreen-Link-EstatementSignup-MasInformacionConcurso-Eng")');">#springMessageText("estatementcampaign.morecontest" "More about the contest")</a>
			#else
				<a href="#springMessageText("estatementcampaign.link.moreaboutcontest" "/pr/pers/intbank/pr-pers-intbank-estatements-en.jsp#section4")" target="_blank" class="masinfo" onclick="">#springMessageText("estatementcampaign.morecontest" "More about the contest")</a>
			#end
		</div>
      </div>
      <div align="center">

        <p>&nbsp;</p>
        <p><a href="#" onclick="javascript:document.estatementform.submit();"><img src="#imgUrl("#springMessageText('estatementcampaign.imageDir' '/img/estatement_en/')nav-14a.jpg")" width="186" height="59" border="0"/></a></p>
      </div>
      </td>
    <td width="50" rowspan="4" align="left" valign="top" background="#imgUrl("#springMessageText('estatementcampaign.imageDir' '/img/estatement_en/')nav-09.jpg")">&nbsp;
    </td>
  </tr>
  <tr>
    <td valign="top"><!-- <img src="#imgUrl("#springMessageText('estatementcampaign.imageDir' '/img/estatement_en/')nav-12.jpg")" width="504" height="38" alt="" /> --></td>
  </tr>

  <tr>
    <td width="504" valign="top"><div id="content"><span class="bigcontent">
    <br><br><br>
    #springMessageText("estatementcampaign.thanks" "Thank you for activating your e-Statements for these accounts:")</span>
    <br><br>
    #if($addedAccounts)
    #foreach($act in $addedAccounts)
    <div class="eligible1">#if($act.nickname != "")$!{act.nickname}#else - - -#end $!accountTool.mask($!act.accountNumber)&nbsp;$!act.accountNumberSuffix</div>
    #end
    #end
    <div class="regcontent">
    <br><br>
    #springMessageText("estatementcampaign.disclaimer" "From the next statement on, you will receive e-Statements instead of paper statements. These will be sent to the email address:")
    <br>$email
    </div>
    </div>
   </div></td>
  </tr>
  <tr>
    <td width="230" valign="top"></td>
  </tr>
  <tr>
    <td colspan="4" height="124" background="#imgUrl("#springMessageText('estatementcampaign.imageDir' '/img/estatement_en/')nav-16.jpg")"></td>
  </tr>
</table>
</td></tr>
</table>
</form>
<script type="text/javascript" src=#jsUrl("/js/wz_tooltip.js")></script>
<script type="text/javascript" src=#jsUrl("/js/tip_balloon.js")></script>

#if($cookieAnalyticEnabled && $cookieAnalyticEnabled == true)
	<script type="application/javascript">
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	  //New property
	  ga('create', 'UA-52271388-4', 'none', {'allowLinker': true});
	  ga('require', 'linker');
	  ga('require', 'displayfeatures');
	  ga('linker:autoLink', ['popular.com','bancopopular.com','locator.popular.com','helpcenter.popular.com','blog.popular.com','applications.bancopopular.com','fundacionbancopopular.org','labs2.popular.com', 'management.popular.com','transiciondoralbank.com']);
	  ga('send', 'pageview');
	  //Legacy property
	  ga('create', 'UA-52271388-1', 'none', {'name':'legacyProperty','allowLinker': true});
	  ga('legacyProperty.require','linker');
	  ga('legacyProperty.require', 'displayfeatures');
	  ga('legacyProperty.linker:autoLink', ['popular.com','bancopopular.com','locator.popular.com','helpcenter.popular.com','blog.popular.com','applications.bancopopular.com','fundacionbancopopular.org','labs2.popular.com', 'management.popular.com','transiciondoralbank.com']);
	  ga('legacyProperty.send', 'pageview');
	</script>
#end

</body>
</html>
