#set($page_title = "Download Transactions")
#set($thisYear = $cibpdateTool.year())
#set($nextYear = $cibpdateTool.nextyear())

<script type="text/javascript">
function showcalexportRestric(i,b,x,y,m,d) {
	Calendar.setup({
	inputField: i,
	button: b,
	ifFormat:"%m/%d/%Y",
	step:1, //show all years
	weekNumbers:false,
	range:[$('year1').value, x], //we substract years lo allow wider range of dates in the past
	electric:false,
	date: new Date(x,m-1,d),
	dateStatusFunc: function (date) {
		var today = new Date(x,m-1,d+1);
		var past = new Date($('year1').value, $('monthl').value -1 , $('day1').value);
		return (date > today || date < past)? true : false;
		}
	});
}


function getStmtInEvent(placeholder, url, account) {
 var complete = function(t){showResponse();}
	var myAjax = new Ajax.Updater(placeholder, url, {method: 'get', parameters: 'account='+account,onComplete:complete});
}


function showResponse() {
 $('mymenu').focus();
}

</script>
<form name="listtrn" action="export" method="post">
<table id="export">
<tr class="printNone">
	<td>
	

	
		<h1>#springMessageText("export.label", "Download transactions:")</h1>
	</td>
</tr>
<tr>
	<td>
	<table style="width:480px">
	<tr>
		<td colspan="2">
			<div class="stepLabel">#springMessageText("export.select.label" "1. Select an account:")</div><br/>
			
			##CIBP-1465 bgarcia
			<div class="step">#springFormSingleSelect("export.account" $stmtAccountsMap "onChange=getStmtInEvent('actStmtArea','searchAccountStatements',this.value);$('statementId').value = '';$('searchType').value = 'ByDt';")
			##$account.description&nbsp;&nbsp;$accountTool.mask($account.accountNumber)
			<br/>#springShowErrors("<br/>" "error")
			</div>
			
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<div class="stepLabel">#springMessageText("export.trans.label" "2. Download all transactions of:")</div>
			##<input type="hidden" name="account" value="$account.frontEndId"/>
		</td>
	</tr>

<tr class="printNone">
		<td>
			<div class="step2">
	#springBind("export.searchType")
	<input type="hidden" id="searchType" name="searchType"  value="ByDt"/> 			##CIBP-1465 bgarcia
				<span id="actStmtArea"></span>
				#springBind("export.expcycle")
				<input type="hidden" name="expcycle" id="statementId" value=""/> 			##CIBP-1465 bgarcia
				<span class="stepLabel" style="margin-left:80px;">#springMessageText("expor.or.label" "OR")</span>
				<br/>#springShowErrors("<br/>" "error")
				</div>
		</td>
		<td nowrap align="right">
		
				<input type="hidden" name="day1" id="day1" value="$day1">
			<input type="hidden" name="monthl" id="monthl" value="$monthl">
								<input type="hidden" name="year1" id="year1" value="$year1">
								
		
			<div class="step2">
			<span class="stepLabel">#springMessageText("export.from.label" "From:")</span>
						##CIBP-1465 bgarcia
			<span class="date-col">#springFormInput("export.expStartDate" "size='8' maxlength='10' onfocus='showcalexportRestric(this,this,$!thisYear,$!nextYear,$!month,$!day);'")
			<img src="#imgUrl("/img/icnCalendar.gif")" id="t1" border="0" style="cursor:pointer;" onmousedown="showcalexportRestric('expStartDate',this,$!thisYear,$!nextYear,$!month,$!day);"></span><br/>
		(MM/dd/yyyy)
		<br/>#springShowErrors("<br/>" "error")
			<div class="exportSpacer"></div>
		<span class="stepLabel">#springMessageText("export.to.label" "To:")</span>
					##CIBP-1465 bgarcia
		<span class="date-col">#springFormInput("export.expEndDate" "size='8' maxlength='10' onfocus='showcalexportRestric(this,this,$!thisYear,$!nextYear,$!month,$!day)'")
		<img src="#imgUrl("/img/icnCalendar.gif")" id="t2" border="0" style="cursor:pointer;" onmousedown="showcalexportRestric('expEndDate',this,$!thisYear,$!nextYear,$!month,$!day);"></span><br/>
		(MM/dd/yyyy)
		<br/>#springShowErrors("<br/>" "error")
			</div>
		</td>
	</tr>



	<tr>
		<td colspan="2">
			<div class="stepLabel">#springMessageText("export.format.label", "3. Select a download format:")</div>
			<div class="exportSpacer"></div>
		</td>
	</tr>
	<tr>
		<td colspan="2" style="padding-left:10px;"> 
		<br>
		<div style="float:left;"><input type="radio" name="exportTypeFormat1" value="EXC" onClick="$(exportTypeFormat).value=this.value" #if("$!export.exportTypeFormat"=="EXC") checked #end></div><div style="float:left;"><img src="../img/gen-msexcel.gif"  border="0" width="100" height="38"></div>		
		<div style="float:left;"><input style="margin-left:30px;" type="radio" name="exportTypeFormat1" value="OFX" onClick="$(exportTypeFormat).value=this.value" #if("$!export.exportTypeFormat"=="OFX") checked #end></div><div style="float:left;"><img src="../img/gen-msmoney.gif"  border="0" width="100" height="38"></div>
		<div style="float:left;"><input style="margin-left:30px;" type="radio" name="exportTypeFormat1" value="QIF" onClick="$(exportTypeFormat).value=this.value" #if("$!export.exportTypeFormat"=="QIF") checked #end></div><div style="float:left;"><img src="../img/gen-quickenlogo.gif" border="0" width="100" height="38"><br>#springMessageText("export.quicken.label" "(2004 or less)")</div>
		</td>
	</tr>
	#if($isCommercial)
	<tr>
		<td colspan="2" style="padding-left:10px;"> 
		<br>
		<div style="float:left;"><input type="radio" name="exportTypeFormat1" value="QBO" onClick="$(exportTypeFormat).value=this.value" #if("$!export.exportTypeFormat"=="QBO") checked #end></div><div style="float:left;"><img src="../img/gen-quickbookslogo.png" border="0"  width="169" height="38"></div>
		</td>
	</tr>
	#end
	<tr><input type="hidden" name="exportTypeFormat" id="exportTypeFormat" value="$!export.exportTypeFormat"></tr>
	<tr><td colspan="2" style="padding-left:30px;">#springShowErrors("<br/>" "error")<br/>&nbsp;</td></tr>
	</table>
</td>
</tr>
<tr>
	<td align="left">
	<div style="float:left;"><input type="submit" name="_finish" class="noprocessing btnNext" value="#springMessageText("export.button" "Download")"></div>
	<div style="float:left;">
	#if($account)	
	<a href="transaction?account=$!account.frontEndId">#springMessageText("link.cancel" "Cancel")</a>
	#else
	<a href="transaction">#springMessageText("link.cancel" "Cancel")</a>
	#end	
	</div>
	</td>
</tr>
</table>
</form>
<script type='text/javascript'>
getStmtInEvent('actStmtArea','searchAccountStatements',$('account').value);
</script>