#set($layout = "layout/nolayout.vm")
#if($ezStmtPreviousHistory)
<table width="100%">
	#foreach($eb in $ezStmtPreviousHistory)
	<tr>
		<td align="left" class="ebill_history_account_link" width="150">&nbsp;</td>
		<td align="right" width="100">x$eb.last4AcctNumber</td>
		<td align="right" width="100" class="ebill_history_account_link">
			<a href="estatementPDF?pdfId=$eb.id" target="_blank">$eb.invoice_date</a>
		</td>
		<td>&nbsp;</td>
	</tr>
	#end ##foreachend
</table>
#else
<center>#springMessageText("ebpp.history.interest.noprevetills" "No Previous Interests Letters")</center>
#end ##ifebppHistory
