#set($layout = "layout/guidedSetupLayout.vm") 
<script type="text/javascript" src=#jsUrl("/js/jwplayer.js")></script>
<script type="text/javascript">
	function showVideo(){
		Modalbox.afterLoadContent=function(){cargaVideoPagos()}
		Modalbox.show($('videopayment'), {title: this.title, width: 510,height: 400, overlayClose: false});
		Modalbox.MBwindow.setStyle({top: 20 + "%"});
	}

	function showVideoEbills (){
		Modalbox.afterLoadContent=function(){cargaVideoEbills()}
		Modalbox.show($('videoebills'), {title: this.title, width: 510,height: 400, overlayClose: false});
		Modalbox.MBwindow.setStyle({top: 20 + "%"});
	 
	}
	function cargaVideoEbills(){
		jwplayer("videocontainer").setup({
            'flashplayer': '#jsUrl("/img/guidedSetup/player.swf")',
            'file': '#jsUrl("/img/guidedSetup/#springMessageText('guidedSetup.video.ebills' '')")',
            'height': '365',
			'width': '493',
		})
	}
	function cargaVideoPagos(){
		jwplayer("videocontainer").setup({
            'flashplayer': '#jsUrl("/img/guidedSetup/player.swf")',
            'file': '#jsUrl("/img/guidedSetup/#springMessageText('guidedSetup.video.pagos' '')")',
            'height': '365',
			'width': '493',
		})
	}
</script>

<table>

<tr>
<td id="encabezado" colspan="3">

<div id="encabezadotexto">
<table >
<tr>
<td align="left"><strong class="titulo">#springMessageText('guidedSetup.pagos.titulo' 'How to Make Payments and Transfers')</strong></td>
</tr>
<tr>
<td><p class="subtitulo">#springMessageText("guidedSetup.pagos.subtitulo" "subtitulo pagos")</p></td>
    </tr>
        </table>
        </div>
        <br/>
        ##esta es la raya azul delgada, tiene id tbl para que tome este estilo que es el adecuado para esta raya
        <div  style="	border:1px;border-collapse:collapse;width:99%;text-align:center;border-bottom: 1px solid rgb(205, 230, 255); border-color: rgb(205, 230, 255);"  colspan="2"></div>
        
        </td>
    </tr>

    <tr>
        <td>
            <div class="contentGS" id="frame"></div>
            <br/><br/>
            <div class="contentGS" id="frame_1"></div>
            <br/><br/>
            <div class="contentGS" id="frame_2"></div>
            
        </td>
    
        <td width="0.5px" bgColor="#f0f8ff" id="columna" align="right">
        </td>
    
        <td id="video" align="right" valign="top">
            <br/>
            <div style="margin-left:5%;">
                <span style="color:green">#springMessageText("guidedSetup.pago.titulo.video" "titulo video pagos")</span>
                <br/><br/><a href="#" onclick="showVideo()"><img src="#imgUrl('/img/video-thumbnail.jpg')" /></a>
                <br/><br/><span style="font-size: 8pt;color: #1f3b5d;font-family: Arial;	font-weight: bold;">#springMessageText("guidedSetup.pago.subtitulo.video" "subtitulo video pagos")</span>
                <br/><br/><span style="color:green">#springMessageText("guidedSetup.ebill.titulo.video" "titulo video ebills")</span>
                <br/><br/><a href="#" onclick="showVideoEbills();"><img src="#imgUrl('/img/video-thumbnail.jpg')" /></a>
                <br/><br/><span style="font-size: 8pt;color: #1f3b5d;font-family: Arial;	font-weight: bold;">#springMessageText("guidedSetup.ebill.subtitulo.video" "subtitulo video ebills")</span>
            </div>
        </td>
    
    </tr>

</table>

<br/>

<div id="videoebills"  style="display:none;">

    #set($videoName="#springMessageText('guidedSetup.video.ebills' '')")
    #set($page_title="#springMessageText('guidedSetup.ebills.titulo' '')")
    <div id="closeGuidedSetup" align="right">
        <a href="#"  class="link2" onclick="Modalbox.hide();   return false;">#springMessageText('guidedSetup.cerrar' 'Cerrar')</a>
    </div>
	<div id="videocontainer" >
    </div>



</div>

<div id="videopayment"  style="display:none;">
    #set($videoName="#springMessageText('guidedSetup.video.pagos' '')")
    #set($page_title="#springMessageText('guidedSetup.pagos.titulo' '')")

    <div id="closeGuidedSetup1" align="right">
        <a href="#"  class="link2" onclick="Modalbox.hide();   return false;">#springMessageText('guidedSetup.cerrar' 'Cerrar')</a>
    </div>
	<div id="videocontainer" >
    </div>


</div>
<script type="text/javascript">
		#if($payeebean)
			window.parent.document.getElementById("video").style.display = 'none';
       		createIframe('addexistingpayee', 'MBAddpayeesIfame', 'frame_2', '750px',  '750px');## bgarcia, cibp-2218 javascript para cargar los comercios
		#else					
			createIframe('gsAddEbillPayee', 'payeesIfame', 'frame', '500px', '300px');			
			createIframe('gsAddPayee', 'AddpayeesIfame', 'frame_1', '500px', '350px');## bgarcia, cibp-2218 javascript para cargar los comercios			
       		createIframe('addpayee', 'MBAddpayeesIfame', 'frame_2', '750px',  '750px');## bgarcia, cibp-2218 javascript para cargar los comercios
     	#end  
       document.getElementById('payeesIfame').observe('load', function() {
           var alto = frames["payeesIfame"].document.body.scrollHeight;
           document.getElementById('payeesIfame').style.height=alto+"px";
		   document.getElementById('payeesIfame').scrolling="no";


       });
       
       document.getElementById('AddpayeesIfame').observe('load', function() {
           var alto = frames["AddpayeesIfame"].document.body.scrollHeight;
           document.getElementById('AddpayeesIfame').style.height=alto+"px";
		   document.getElementById('AddpayeesIfame').scrolling="no";
		   var reload = frames["AddpayeesIfame"].document.getElementById('reloadPayees').value;
		   if(reload=='true'){
    		   var iframe = parent.frames['payeesIfame'];
               iframe.window.location.reload();
		   }
       });
	   
	   document.getElementById('MBAddpayeesIfame').observe('load', function() {
           var alto = frames["MBAddpayeesIfame"].document.body.scrollHeight;
		   alto=alto+265;
           document.getElementById('MBAddpayeesIfame').style.height=alto+"px";
		   var reload = frames["MBAddpayeesIfame"].document.getElementById('reloadPayees').value;
		   if(reload=='true'){
    		   var iframe = parent.frames['payeesIfame'];
               iframe.window.location.reload();
		   }

       });
       
</script>

