#set($layout = "layout/popuplayout.vm")
<script type="text/javascript">
function refreshPage() {
   var sURL = unescape(window.parent.location.pathname);
   window.parent.location.href = sURL;
}
</script>

<table class="loadingafter" width="100%">
<tr><td>
#if($completeprocess)
<script type="text/javascript">refreshPage();</script>
#elseif($deactivateDisclosure)
<form name="listtrn" action="interestStmtStatusUpdate" method="post">
<table id="ebillAct" class="loadingafter" align="right" border="0" cellspacing="0" cellpadding="0">
<tr>
	<td height="10" colspan="4">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td id="top-left" width="50%">&nbsp;</td>
				##<td id="top-center">&nbsp;</td>
				<td id="top-right">&nbsp;</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td width="10" rowspan="4" id="left">&nbsp;</td>
	<td colspan="2"><h3>#springMessageText("ebpp.edit.account.interest.option.deactivate" "Deactivate")</h3></td>
	<td width="10" rowspan="4" id="right">&nbsp;</td>
</tr>
<tr>
	<td align="left" colspan="2">
	#if($type == "RES")
	#springMessageText("ebpp.edit.account.interest.deactivate.question" "Do you want to stop receiving your Interests Letter Electronically?")<div class="ebillActSpacer"></div>
	#elseif($type == "IRA")
	#springMessageText("ebpp.edit.account.ira.deactivate.question" "Do you want to stop receiving your IRA statements electronically?")<div class="ebillActSpacer"></div>
	#elseif($type == "IRAQT")
	#springMessageText("ebpp.edit.account.iraqt.deactivate.question" "You will deactivate the quarterly and annual e-Statement for your IRA accounts. Paper statements will be issued from now on.<br/><br/>Do you want to deactivate your e-Statement?")<div class="ebillActSpacer"></div>
	#elseif($type == "CAEQT")
	#springMessageText("ebpp.edit.account.caeqt.deactivate.question" "You will deactivate the quarterly and annual e-Statement for your ECA accounts. Paper statements will be issued from now on.<br/><br/>Do you want to deactivate your e-Statement?")<div class="ebillActSpacer"></div>
	#end
	</td>
</tr>
<tr><td colspan="2">&nbsp;</td></tr>
<tr>
	<td colspan="2">
	<input type="hidden" id="action" name="action" value="$statusInterestStmt">
	<input type="hidden" id="type" name="type" value="$type">
	<input type="submit" class="ebillActBtn" value="#springMessageText("send.label" "Send")">
	<span class="cancel"><a onclick="refreshPage();">#springMessageText("link.cancel" "Cancel")</a></span>
	</td>
</tr>
<tr><td height="10" colspan="4" id="bottom">&nbsp;</td></tr>
</table>
</form>  ##end del form de someter transactions
#elseif($activateDisclosure)
<form name="listtrn" action="interestStmtStatusUpdate" method="post">
<table id="ebillAct" class="loadingafter" align="right" border="0" cellspacing="0" cellpadding="0">
<tr>
	<td height="10" colspan="4">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td id="top-left" width="50%">&nbsp;</td>
				##<td id="top-center">&nbsp;</td>
				<td id="top-right">&nbsp;</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td width="10" rowspan="4" id="left">&nbsp;</td>
	#if($type == "IRAQT" || $type == "CAEQT")
	<td colspan="2"><h3>#springMessageText("ebill.activateestatement.label" "Activate your e-Statement:")</h3></td>
	#else
	<td colspan="2"><h3>#springMessageText("ebpp.edit.account.interest.option.activate" "Activate")</h3></td>
	#end
	<td width="10" rowspan="4" id="right">&nbsp;</td>
</tr>
<tr>
	<td align="left" colspan="2">
	#if($type == "RES")
	#springMessageText("ebpp.edit.account.interest.activate.question" "Do you want to receive your Interests Letter Electronically?")<div class="ebillActSpacer"></div>
	#elseif($type == "IRA")
	#springMessageText("ebpp.edit.account.ira.activate.question" "Do you want to receive your IRA statements Electronically?")<div class="ebillActSpacer"></div>
	#elseif($type == "IRAQT" || $type == "CAEQT")
	#springMessageText("ebpp.edit.account.interestiracae.activation.label" "By activating this option you will begin to receive e-Statements instead of paper statements.")<div class="ebillActSpacer"></div>
	#end
	</td>
</tr>
<tr><td colspan="2">&nbsp;</td></tr>
<tr>
	<td colspan="2">
	<input type="hidden" id="action" name="action" value="$statusInterestStmt">
	<input type="hidden" id="type" name="type" value="$type">
	<input type="submit" class="ebillActBtn" value="#springMessageText("send.label" "Send")">
	<span class="cancel"><a onclick="refreshPage();">#springMessageText("link.cancel" "Cancel")</a></span>
	</td>
</tr>
<tr><td height="10" colspan="4" id="bottom">&nbsp;</td></tr>
</table>
</form>  ##end del form de someter transactions
#else
<script type="text/javascript">refreshPage();</script>
#end
<td>
</tr>
</table>

