#set($layout="layout/nolayout.vm")
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title></title>
<link rel="stylesheet" type="text/css" href="#cssUrl("/css/stylemain.css")"/>
</head>
<body class="Layout_Bkg">
<table width="100%">
<colgroup><col width="300"><col width="500"></colgroup>
<tbody>
<tr>
	<td colspan="2">
	<div id="loginLogo_popPortal">
	<a href="http://www.popular.com"><img src="#imgUrl("/img/imglogoPop.gif")" width="171" height="31" border="0"/></a>
	</div>
	</td>
</tr>

<tr>
	<td>&nbsp;</td>
	<td>
	<br/>
	<img src="#imgUrl("/img/#springMessageText('downtime.system.image' 'Downtime_SystemIng.jpg')")" border="0" usemap="#down"/>
	<map name="down">
	<area shape="rect" coords="215,225,265,255" href="http://www.popular.com">
	</map>
	</td>
</tr>
</tbody>
</table>
</body>
</html>
