 <style type="text/css">
    <!--

  .oobpopup {	
   		 height: 390px;	
		 width: 700px;	
		 border-radius: 5px;	
		 background-color: #FFFFFF;	
		 box-shadow: 0 7px 14px 0 rgba(0,0,0,0.15);
		 position:relative;
		 overflow:hidden;
		 }
		
	.rectangle-logo {	
		height: 100%;	
		width: 50%;	
		background: linear-gradient(180deg, #2372C8 0%, #022E69 100%);
		float:left;
		position:absolute;
		display:table-cell;
	}
	.rectangle-text {	
		height: 100%;	
		width: 50%;
		display:table-cell;
		position:relative;
		float:right;
		margin-top:25px;
	}
	.security-text {	
		height: 100px;	
		width: 302px;	
		color: #040B17;	
		line-height: 20px;
		padding-top:10px;
		margin-left:10px;
	}
	.security-title{
      	height: 52px;	
      	width: 258px;	
      	color: #012445;	
      	font-size: 22px !important;	
      	font-weight: bold;	
      	line-height: 27px;
		margin-left:10px;
	 }		
	 .row-btns{
	 	display: block;
	 	width:100%; 
		position:relative; 
		padding-top:45px;
	  }
	 .cell-btn-left{
	  	width: 50%;
		float: left;
		position: relative;
		display:table-cell;
	   }
	.cell-btn-right{
	   	width: 50%;
    	float: right;
    	position: relative;
    	text-align: left;
    	display:table-cell;
	   }
	   
.activate-later-text {	
	height: 15px;	
	width: 76px;	
	color: #4984CC;		
	font-size: 13px !important;	
	line-height: 15px;	
	text-align: center;
}
.group-close {	
		height: 16x;	
		width: 15px; 
		background-color: Transparent !important;
    	background-repeat:no-repeat !important;
}

button { 
	border-style: none !important; 
	border-width: 0px !important; 
	border-color: none !important; 
	border-radius: 0px !important; 
	background-image: none !important;
	filter: none;
	box-shadow: none !important;
	text-shadow: none !important;
	border:none !important;
	-webkit-box-shadow: none !important; 
	-moz-box-shadow: none !important;
 }	
.button-close-fis {
    background-color:transparent !important;
    background-repeat:no-repeat !important;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
	height: 12px;	
	width: 12px;
	float: right !important;
    display: block;
    position: absolute;
    right: 12px;
    bottom: 99%;
	font-size:12px;
}

.button-later{
	background-color: Transparent !important;
    background-repeat:no-repeat !important;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;		
	font-size: 15px !important;	
	line-height: 15px !important;	
	text-align: center !important;
	padding-left:15px !important;

 }
 .button-activate{
 	height: 50px !important; 
	width:150px !important;  
	border-radius: 24px !important; 
	margin-right:10px !important; 
	background-color: #2278C9 !important;
	cursor: pointer !important;
	outline:none !important;
 
  }
 .button-activate-text{
 	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;	
	color: #FFFFFF !important;
	font-size: 16px !important;	
	line-height: 18px !important;	
	text-align: center !important;	
	text-shadow: none;
	}
#MB_frame{
	padding-bottom: 0px !important;
	overflow: hidden !important;
	border-radius: 7px !important; 
}
    </style>


</style>

<div id="modalSecuritiesOOB" style="height: 390px !important; width: 700px;display:none; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;">
    <div id="OOBFIS" class="oobpopup">
			<div class="rectangle-logo">
			<p style="text-align:center; margin-top:40px;">
				<svg width="306px" height="311px" viewBox="0 0 306 311" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				<!-- Generator: sketchtool 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
				<title>3365CCAF-5560-4A2D-A35F-0C85E4B504C9</title>
				  <defs>
					<circle id="path-1" cx="153" cy="159" r="122"></circle>
					<filter x="-5.9%" y="-5.1%" width="111.9%" height="111.9%" filterUnits="objectBoundingBox" id="filter-2">
						<feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
						<feGaussianBlur stdDeviation="4.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
						<feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.14 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
					</filter>
					<circle id="path-3" cx="152.5" cy="157.5" r="95.5"></circle>
					<filter x="-7.6%" y="-6.5%" width="115.2%" height="115.2%" filterUnits="objectBoundingBox" id="filter-4">
						<feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
						<feGaussianBlur stdDeviation="4.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
						<feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.14 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
					</filter>
					<circle id="path-5" cx="153" cy="158" r="68"></circle>
					<filter x="-10.7%" y="-9.2%" width="121.3%" height="121.3%" filterUnits="objectBoundingBox" id="filter-6">
						<feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
						<feGaussianBlur stdDeviation="4.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
						<feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.14 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
					</filter>
					<linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="linearGradient-7">
						<stop stop-color="#298FE8" offset="0%"></stop>
						<stop stop-color="#073C86" offset="100%"></stop>
					</linearGradient>
					<linearGradient x1="50%" y1="0%" x2="50%" y2="99.5551842%" id="linearGradient-8">
						<stop stop-color="#FFFFFF" offset="0%"></stop>
						<stop stop-color="#C8DCF9" offset="97.0104769%"></stop>
					</linearGradient>
					<polygon id="path-9" points="77 41.2928133 66.9221796 31 39.091818 59.4240744 30.0683219 50.2080776 20 60.5008909 39.091818 80"></polygon>
					<filter x="-15.8%" y="-12.2%" width="131.6%" height="136.7%" filterUnits="objectBoundingBox" id="filter-10">
						<feOffset dx="0" dy="3" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
						<feGaussianBlur stdDeviation="2.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
						<feColorMatrix values="0 0 0 0 0.0117647059   0 0 0 0 0.137254902   0 0 0 0 0.31372549  0 0 0 0.4 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
					</filter>
				</defs>
				<g id="Web" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
					<g id="MB-Home---2FA-Modal" transform="translate(-392.000000, -244.000000)">
						<g id="Gradients/Blue" transform="translate(370.000000, 205.000000)">
							<g id="2fa-illustration" transform="translate(22.000000, 40.000000)">
								<circle id="Oval-Copy-4" fill="#FFFFFF" fill-rule="nonzero" opacity="0.0177455372" cx="153" cy="157" r="153"></circle>
								<g id="Oval-Copy-3" opacity="0.0700000003" fill-rule="nonzero">
									<use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
									<use fill="#FFFFFF" xlink:href="#path-1"></use>
								</g>
								<g id="Oval-Copy-2" opacity="0.100000001" fill-rule="nonzero">
									<use fill="black" fill-opacity="1" filter="url(#filter-4)" xlink:href="#path-3"></use>
									<use fill="#FFFFFF" xlink:href="#path-3"></use>
								</g>
								<g id="Oval-Copy" opacity="0.129999995" fill-rule="nonzero">
									<use fill="black" fill-opacity="1" filter="url(#filter-6)" xlink:href="#path-5"></use>
									<use fill="#FFFFFF" xlink:href="#path-5"></use>
								</g>
								<g id="shield-iconAsset-280" transform="translate(108.000000, 100.000000)">
									<path d="M44.5175396,112.902648 C63.8260384,104.108992 76.1292356,89.0669971 82.6491191,69.4932756 C87.9156235,53.6823965 88.8964775,36.9198388 87.4177575,21.9496945 C87.2906279,20.6626701 87.1545569,19.5204933 87.0186954,18.5367448 C87.0038518,18.429265 86.9893504,18.3261742 86.9752263,18.2275245 C72.4390146,18.9694255 61.9389623,15.2111851 52.1795341,7.7137311 C50.4171813,6.3598445 46.1357279,2.69826012 44.5162406,1.31283276 C42.8898321,2.6996253 38.5990231,6.3614857 36.8358383,7.71413818 C27.060271,15.2136043 16.5620677,18.9694528 2.02190473,18.2275158 C2.00789349,18.3254785 1.99351034,18.4278242 1.97878982,18.5345017 C1.84327722,19.516542 1.70755538,20.6567764 1.58075175,21.9416604 C0.103301758,36.9124605 1.08720751,53.6784256 6.36042605,69.4929792 C12.8871397,89.0668052 25.1987725,104.10892 44.5175396,112.902648 Z" id="Shape" stroke="url(#linearGradient-8)" stroke-width="2" fill="url(#linearGradient-7)"></path>
									<path d="M3.0703125,18.1113281 C6.63009698,18.5167284 9.83647718,18.5167284 12.6894531,18.1113281 C15.5424291,17.7059279 19.6804499,16.6623081 25.1035156,14.9804688 C30.3292178,11.9283562 34.0814965,9.60967127 36.3603516,8.02441406 C38.6392066,6.43915686 41.3590895,4.25556311 44.52,1.47363281 L44.52,113.013672 C34.0704688,107.672526 25.4469401,100.542969 18.6494141,91.625 C13.7913411,86.0358073 9.53580729,78.578125 5.8828125,69.2519531 C3.09556652,56.7755543 1.53143892,47.4370126 1.19042969,41.2363281 C0.849420458,35.0356436 1.47604806,27.3273103 3.0703125,18.1113281 Z" id="Rectangle" fill="#FFFFFF" fill-rule="nonzero" opacity="0.0799999982"></path>
									<g id="Shape" fill-rule="nonzero">
										<use fill="black" fill-opacity="1" filter="url(#filter-10)" xlink:href="#path-9"></use>
										<use fill="#FFFFFF" xlink:href="#path-9"></use>
									</g>
								</g>
							   
							</g>
						</g>
					</g>
				</g>
			</svg>
			</p>
			</div>
			<div class="rectangle-text">
			<div style="height: 16x !important; width: 15px !important; background-color: Transparent !important;	background-repeat:no-repeat !important; background-image:none !important;">
				 <div ><button onclick="Modalbox.hide({afterHide: goback()}); return false;" value="close" style="background-image:none !important; border: none !important; " class="button-close-fis">X</button></div>
			</div>
				 <div style="font-size:22px !important;" class="security-title">#springMessageText("enrollment.sec.oob.form.title" "Activate Two Step Verification")</div>
				 <div style="font-size:15px !important; margin-right:10px; margin-top: 15px; text-align: justify" class="security-text">
				 #springMessageText("enrollment.sec.oob.text" "Two-step verification adds a layer of security to your profile in Mi Banco. When you login to your account, you will receive a code to the phone number you registered to confirm your identity.")
				 </div>
				 <div class="row-btns">
				 <form name="oobrecomendationsec">
					  <div class="cell-btn-left">
						<button onclick="Modalbox.hide({afterHide: goback()}); return false;" value="later" class="button-later activate-later-text" style=" border: none !important; background-image:none !important; color:#4984CC !important; height: 50px !important; width:150px; margin-left:10px !important; cursor: pointer;outline:none;">#springMessageText("enrollment.sec.oob.btn.later" "Activate later")</button>
					  </div>
					  <div class="cell-btn-right">
						<div>
							<button onclick="oobAccepted();"  style="background-image:none !important;" class="button-activate button-activate-text" type="button">#springMessageText("enrollment.sec.oob.btn.activate" "Activate")</button>
						</div>
					 </div>
				</form>
				</div>
				
			</div>
			</div>
</div>


<script type="text/javascript">
	
	function showOOB(){
	
	    Modalbox.show($('modalSecuritiesOOB'), {title: this.title, width: 720, height: 405, overflow: 'hidden !important', overlayClose: false});    
        Modalbox.MBwindow.setStyle({overflow: 'hidden !important', top: 25 + "%"});
		Modalbox.MBcontent.setStyle({background: 'none no-repeat', overflow: 'hidden !important', height: 390});
		Modalbox.
		Element.hide(Modalbox.MBclose);
        Event.stopObserving(document, "keypress", Modalbox.kbdHandler );
        ##mpicado, esto espera a que cargue el dom para cambiar el background del modalbox
        document.observe('dom:loaded', function() {
             $('MB_frame').setStyle({overflow:'hidden !important', background: 'none no-repeat', height: 390});
         });
         
         
         ##para manejar el evento de presionar la tecla esc en IE, ya que la misma cierra el modalbox
         document.onkeydown=function(e){
             !e?e=window.event:null;
             ##para manejar el evento de presionar la tecla enter
             if (e.keyCode == 13 ){
                 return false;
             } 
         }
	}
	
	function goback() {
	}
		
	function oobAccepted() {
		var form = document.createElement("form");
	
	    form.method = "POST";
	    form.action = "oobrecomendationsec";   
	
	    document.body.appendChild(form);
	
	    form.submit();
	}
		
</script>