 <!--header-->
#set($layout="layout/outreach-layout.vm")
    <!-- row -->
    <!-- /.row -->
    <!--./header-->


<!-- row -->
<div class="row">
    <div class="container">
        <div class="col-md-12">
            <div class="alert alert-info">
            	#if($portalDisplay == "false")
					#if($!MBSD1803 && $!maxSkipByUser)
						<h2>#springMessageText("outreach.interruption.page.risk.message" "Your personal information cannot be confirmed at this moment, because our service has detected a higher than usual risk on the current connection.")</h2>
					#else
                    	<h2>#springMessageText("outreach.welcome.message.title" "")</h2>
                    	<p>#springMessageText("outreach.welcome.message.content" "")</p>
					#end
                #else
					#if($!MBSD1803 && $!maxSkipByUser)
						<h2>#springMessageText("outreach.interruption.page.risk.message.skip" "Because you have exceeded the amount of times allowed to Continue without")</h2>
					#else
						<h2>#springMessageText("outreach.interruption.page.risk.message" "")</h2>
					#end
				#end

            </div>
        </div>

    </div>
</div>
<!-- /.row -->
    <form id="outreach" name="outreach" action="outreach" method="post" autocomplete="off" class="form-horizontal">
    <input type="hidden" name="action" id="action" value=""  />
     <div class="row well">
            <div class="container">
          	 <div class="col-md-offset-1 col-md-10">
        	<div class="panel panel-default panel_msg_interruption">
        		<div class="panel-body">
        			#if($portalDisplay == "false")
	        			<div class="row">
							#if($!MBSD1803 && $!maxSkipByUser)
								#springMessageText("outreach.interruption.page.risk.message.skip" "Because you have exceeded the amount of times allowed to Continue without")
							#else
    	        				#springMessageText("outreach.interruption.page.message" "")
    							<a href=#springMessageText("outreach.interruption.page.link" "")>#springMessageText("outreach.interruption.page.here" "")</a>
							#end
	        			</div>
	        		#else
	        			<div class="row">
	        				#springMessageText("outreach.goto.oob.enroll.message" "")
							<a href="#" onclick="parent.createOobEnrollIframe()"><b>#springMessageText("outreach.goto.oob.enroll.here" "")</b></a>
						</div>
	        		#end
        		</div>
        	</div>
        	</div>
    	</div>
    	</div>
          <!-- row -->
        <div class="row">
            <div class="container">
                <div class="col-md-12">
                        <div class="col-md-offset-4 col-sm-offset-4 col-sm-9 col-md-8 pad-top" style="padding-left:2.5%;">
                            <div class="row">
                            	#if($portalDisplay == "false")
		                            <div class="col-sm-6 col-md-5">
										#if($!MBSD1803 && $!maxSkipByUser)
    										<button type="button" id="btn-complete" class="btn btn-primary btn-full-xs" onClick="helpAction()">
    											#springMessageText("outreach.button.ok" "Ok")
    										</button>
										#elseif(!$maxSkipByUser)
				                        	<button type="button" id="btn-later" class="btn btn-link btn-full-xs" style="text-decoration: underline;" onClick="skipProcess(this);">#springMessageText("outreach.button.skip" "")</button>
				                        	<span id="procCont" class="labelProcess" style="display:none;">#springMessageText("processing.label" "Processing...")</span>
			                            #else
			                            	<a id="btn-later" class="btn btn-link btn-full-xs" >#springMessageText("outreach.button.skip" "")</a></br>
			                            	<div id="txt_msg_error" class="txt_msg_error">
				                           		#springMessageText("outreach.msg.max.skip" "")
			                            	</div>
			                            #end
		                            </div>
								#else
									<div class="col-sm-4 col-md-3" style="float:center;">
    	                            	<button id="btn-continue" onClick="window.parent.location.reload();" class="btn btn-primary btn-full-xs">#springMessageText("enrollOOB.register.ok" "")</button>
									<div>
	        					#end
	                         </div>
                        </div>

                </div>
            </div>
        </div>
        <!-- /.row -->

</form>


<script>
        function skipProcess() {
        	document.getElementById('action').value = 'SKIP';
			document.getElementById('outreach').submit();
    	}
    	function helpAction() {
    	#if($!mobile)
    		//location.href='tel:7877243650';
    		setTimeout(function(){ window.location.href='outreach?_reLogin_';}, 700);
    		window.open('tel:7877243650');
    		//window.location.href='outreach?reLogin';
    	#else
    		setTimeout(function(){ self.location = "login"; }, 2000);
    	#end
    	}
</script>
