#set($layout = "layout/nolayout.vm")
<div id="rules-container" style="padding:0px 5px">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbl-list">
    <thead>
      <tr>
        <th valign="top">#springMessageText("pfm.rules.datecreated" "DATE CREATED")</th>
        <th valign="top">#springMessageText("pfm.rules.account" "ACCOUNT")</th>
        <th valign="top">#springMessageText("pfm.rules.description" "MERCHANT DESCRIPTION")</th>
        <th valign="top">#springMessageText("pfm.rules.category" "CATEGORY")</th>
        <th valign="top">#springMessageText("pfm.rules.typeofrule" "TYPE OF RULE")</th>
        <th valign="top" style="width:50px" class="no-border">#springMessageText("pfm.rules.amount" "AMOUNT")</th>
        <th valign="top" style="width:50px" class="no-border">&nbsp;</th>
      </tr>
      </tr>
      
      <tr>
    </thead>
    <tbody>
    #set($index=0)
    #foreach($rule in $customrules)
      <tr id="row$rule.ruleId">
        <td>#if($lang=="en")$rule.insertTmst_en#else$rule.insertTmst_es#end</td>
        <td>$rule.accountNickname</td>
        <td>$rule.description</td>
        <td><!--CUSTOM DROPDOWN-->
          
          <dl class="custom-dropdown" style="width:220px">
            <dt class="ui-state-default ui-corner-all"><span class="icon-dropdown fr" href="javascript://"></span>
              <div class="label" style="width:190px">#if($lang=="en") $rule.subcategory_description_en #else $rule.subcategory_description_es #end</div>
            </dt>
            <dd class="content ui-corner-all pad-all" style="z-index:2000;min-width:150px !important;width:200px">
              <ul class="menu">
              #foreach($cat in $categories)
                #if( ($rule.categoryId==4 && $cat.categoryId==4) || ($rule.categoryId!=4 && $cat.categoryId!=4) )
                <li class="arrow"><a href="javascript://" rel="$cat.categoryId" class="main-cat"#if($rule.categoryId==$cat.categoryId) style="color:#000000;font-style:bold" #end>#if($lang=="en") $cat.description_en #else $cat.description_es #end</a>
                  #if($cat.subcategories && $cat.subcategories.size()>0)
                  <ul id="list-$cat.categoryId">
                    #foreach($subcat in $cat.subcategories)
                    <li><a href="javascript://" abbr="$cat.categoryId" rel="$subcat.categoryId">#if($lang=="en") $subcat.description_en #else $subcat.description_es #end</a></li>
                    #end
                    <li class="add" rel="$cat.categoryId">
                      <div class="ui-icon-position"><span class="ui-icon ui-icon-plusthick">&nbsp;</span>#springMessageText("pfm.addsubcategory" "Add/Edit subcategory")</div>
                    </li>
                  </ul>
                  #end
                </li>
                #end
              #end  
              </ul>
            </dd>
          </dl>
          
        <!--END CUSTOM DROPDOWN--></td>
        <td><!--CUSTOM DROPDOWN-->
          
          <dl id="drop-type-of-rule" class="custom-dropdown" style="width:180px">
            <dt class="ui-state-default ui-corner-all"><span class="icon-dropdown fr"></span>
              <div class="label" style="width:145px;" id="type$rule.ruleId">
              #if($rule.amount==0) #springMessageText("pfm.rules.bymerchant" "By Merchant")
              #else #springMessageText("pfm.rules.bymerchantandamount" "By Merchant and Amount")
              #end
              </div>
            </dt>
            <dd class="content ui-corner-all pad-all" style="min-width:150px !important;width:155px;min-height:inherit">
              <ul class="menu">
                #if(!($rule.transactionShortDesc=="CHEQUENUMERO" || $rule.transactionShortDesc=="TTRANSFERENCIAAC"))<li><a href="javascript://" name="row$rule.ruleId" rel="mer" class="main-cat">#springMessageText("pfm.rules.bymerchant" "By Merchant")</a></li>#end
                <li><a href="javascript://" name="row$rule.ruleId" rel="meramt" class="main-cat">#springMessageText("pfm.rules.bymerchantandamount" "By Merchant and Amount")</a></li>
              </ul>
            </dd>
          </dl>
          
          <!--END CUSTOM DROPDOWN--></td>
        <td><div class="row-editor-container p-relative"> 
        <span class="desc" onclick="if(document.getElementById('ruleamt$rule.ruleId').value!='0') showAmountInput($rule.ruleId);"><strong>
        #if($rule.amount==0)---#else $!numberTool.format('currency', $rule.amount)#end
        </strong></span>
            <input type="text" name="desc" id="ruleamt$rule.ruleId" #if($rule.amount==0) value="0" #else value="$!numberTool.format('currency', $rule.amount).substring(1)" #end class="ui-corner-all">
            <div class="row-editor" style="min-width:140px !important;width:140px;min-height:100px !important">
              <div class="pad-all"><a class="btn-cancel" href="javascript://">#springMessageText("pfm.cancel" "Cancel")</a> &nbsp;<a href="javascript://" class="btn-save ui-btn-highlight ui-corner-all">#springMessageText("pfm.save" "Save")</a></div>
            </div>
          </div></td>
        <td style="text-align:right"><div class="btn-edit fr"><a class="ui-state-default icon-delete ui-corner-all" href="javascript://"></a></div></td>
      </tr>
    #set($index=$index+1)  
    #end
    #if($index==0)
    <td colspan="7" align="center"><strong>#springMessageText("pfm.customrule.norules" "No active rules.")</strong></td>
    #end
    </tbody>
    <tfoot>
    <tr>
      <td valign="top" colspan="7"><div class="fr"><span class="paging-numbers fl">$startnumber - $endnumber #springMessageText("pfm.of" "of") $totalrecords</span>
      #if(($currentpage==1 && $endnumber<$totalrecords) || $currentpage>1)
      <a class="prev-page"#if($currentpage>1) onclick="changeCustomRulesPage($prevpage)" #end></a>
      <a class="next-page"#if($endnumber<$totalrecords) onclick="changeCustomRulesPage($nextpage)" #end></a>
      #end
      </div>
        <div class="pad-r fr"><span>#springMessageText("pfm.show" "Show"): </span>
        <select onchange="changeCustomRulesPaging(this.value)">
          <option value="5" #if($pagesize=="5") selected #end>5</option>
          <option value="10" #if($pagesize=="10") selected #end>10</option>
          <option value="25" #if($pagesize=="25") selected #end>25</option>
        </select>

        </div></td>
    </tr>
  </tfoot>
  </table>
</div>
<script type="text/javascript">
var originalRuleAmt = "";
jQuery(function(){
	
		// Set Add Rule link action
		jQuery('#rules-container .btn-add-tag .add').click(function(){
			
			jQuery(this).hide();
			jQuery('.add-new-container input', jQuery(this).parent()).show();
			jQuery('.add-new-container input', jQuery(this).parent()).val('');
			jQuery('.add-new-container', jQuery(this).parent()).fadeIn('slow');
			jQuery('.add-new-container input', jQuery(this).parent()).focus();
	
		});
		
		// Set onclick event to Type of Rules dropdown
		jQuery('#drop-type-of-rule a').click(function(){
			//alert(jQuery(this).attr('rel'));
			
			//Show Quantity Input field
			// Get the id of the row to look for the 
			// input fields
			rowid = jQuery(this).attr('name');
			
			var jQueryThis = jQuery('#'+rowid);
			
			// Validate type of Rule is By Commerce Only			
			if(jQuery(this).attr('rel')=='mer'){
				
				//CLEAR INPUT FIELD & VALUE
				jQuery('.desc', jQueryThis).html('<strong>---</strong>');
				jQuery('input[name="desc"]', jQueryThis).val('0');
				jQuery(this).parent().parent().parent().hide();
				
				// Modify this rule so that its amount is 0.00
				var id = jQuery(this).parent().parent().parent().parent().parent().parent().attr('id');
				saveRule(id, 0);
			}
			// Validate type of Rule is By Commerce & Quantity			
			if(jQuery(this).attr('rel')=='meramt'){
				
				//SHOW INPUT FIELD
						
				// Remove all highlights
				jQuery('.tbl-list tr').removeClass("highlight");
				// Highlight <tr>
				jQueryThis.addClass("highlight");
				
				// Hide <span>, show the <input> and hide edit button
				jQuery('span.desc',jQueryThis).hide();
				jQuery('input:text', jQueryThis).slideDown('fast');
				
				jQuery('input:text', jQueryThis).slideDown(function(){
					this.style.display = 'block';
				});
				
				jQuery('div.btn-edit', jQueryThis).hide();
				
				// Set focus on input
				jQuery('input:text', jQueryThis).focus();
				jQuery('input:text', jQueryThis).keyup(function(){
					jQuery('.desc', jQueryThis).html(jQuery('input[name="desc"]', jQueryThis).val());
				});
				
				jQuery('.row-editor', jQueryThis).show('fade', {}, 200);
				jQuery(this).parent().parent().parent().hide();
				
				// Save the original amount
				var id = jQuery(this).parent().parent().parent().parent().parent().parent().attr('id');
				var index = id.substring(3);
				originalRuleAmt = jQuery('#ruleamt'+index).val();
			}
		});
		
		jQuery('#rules-container .btn-add-tag .cancel').click(function(){
			
			jQuery(this).parent().parent().hide();
			jQuery(jQuery(this).parent().parent()).parent().children('.add').show();
		});
		
		
		
		// Set actions for edit buttons
		jQuery('#rules-container a.icon-edit').click(function(){

			// Get <td> id to manipulate elements inside
			var jQueryThis = jQuery(this).parent().parent().parent();
			//alert(jQuery(this).parent().parent().parent().html());
			
			//transactionId = id;
			// Remove all highlights
			jQuery('.tbl-list tr').removeClass("highlight");
			// Highlight <tr>
			//alert($('#'+id).parent().attr('id'));
			jQueryThis.parent().addClass("highlight");
			
			// Hide <span>, show the <input> and hide edit button
			jQuery('span.desc',jQueryThis).hide();
			jQuery('input:text', jQueryThis).slideDown('fast');
			
			jQuery('input:text', jQueryThis).slideDown(function(){
				this.style.display = 'block';
			});
				
			jQuery('div.btn-edit', jQueryThis).hide();
			
			// Set focus on input
			jQuery('input:text', jQueryThis).focus();
			jQuery('input:text', jQueryThis).keyup(function(){
				jQuery('.desc', jQueryThis).html(jQuery('input[name="desc"]', jQueryThis).val());
			});
			
			jQuery('.row-editor', jQueryThis).show('fade', {}, 200);
	
		});
		
		// Save edit info
		jQuery('#rules-container .row-editor-container .btn-save').click(function(){
			//Action to save info
			var id = jQuery(this).parent().parent().parent().parent().parent().attr('id');
			var index = id.substring(3);
			var amt = jQuery('#ruleamt'+index).val();
			
			// Is this a valid amount?
			var regex = /^\d+\.\d{2}$/;
			
			if(amt.indexOf('.')==-1)
				amt = amt + '.00';
			
			if(!regex.test(amt))
				#if($lang=="en")
				alert('Please enter a valid amount.');
				#else
				alert('Favor de entrar una cantidad valida.');
				#end
			else if(parseFloat(amt)<0.01)
				#if($lang=="en")
				alert('Please enter a valid amount.');
				#else
				alert('Favor de entrar una cantidad valida.');
				#end
			else {
				// Get <td> id to manipulate elements inside
				var jQueryThis = jQuery(this).parent().parent().parent();
						
				// Remove all highlights
				jQuery('.tbl-list tr').removeClass("highlight");
				// Highlight <tr>
				jQueryThis.parent().addClass("highlight");
			
				// Hide <span>, show the <input> and hide edit button
				jQuery('span',jQueryThis).show();
				jQuery('input:text', jQueryThis).hide();
				jQuery(':last-child div.btn-edit', jQueryThis.parent().parent()).show();
				jQuery(':last-child div.btn-delete', jQueryThis.parent().parent()).show();
				jQuery('.row-editor', jQueryThis).hide('fade', {}, 200);
				saveRule(id, amt);
			}			
		});
		
		// Hide row editor on cancel
		jQuery('#rules-container .row-editor-container .btn-cancel').click(function(){
			// Get <td> id to manipulate elements inside
			var jQueryThis = jQuery(this).parent().parent().parent();
						
			// Remove all highlights
			jQuery('.tbl-list tr').removeClass("highlight");
			// Highlight <tr>
			//alert($('#'+id).parent().attr('id'));
			jQueryThis.parent().addClass("highlight");
			
			// Hide <span>, show the <input> and hide edit button
			jQuery('span',jQueryThis).show();
			jQuery('input:text', jQueryThis).hide();
			jQuery(':last-child div.btn-edit', jQueryThis.parent().parent()).show();
			jQuery(':last-child div.btn-delete', jQueryThis.parent().parent()).show();
			jQuery('.row-editor', jQueryThis).hide('fade', {}, 200);
			
			// Reset the original amount
			var id = jQuery(this).parent().parent().parent().parent().parent().attr('id');
			var index = id.substring(3);
			
			if(originalRuleAmt=="0" || originalRuleAmt=="0.00") {
				jQuery('.desc', jQueryThis).html('<strong>---</strong>');
				jQuery('#ruleamt'+index).val('0');
			
			}
			else {
				jQuery('.desc', jQueryThis).html('<strong>$'+originalRuleAmt+'</strong>');
				jQuery('#ruleamt'+index).val(originalRuleAmt);
			}
		});
		
		// Set delete buttons action
		jQuery('#rules-container a.icon-delete').click(function(){
		    var id = jQuery(this).parent().parent().parent().attr('id');
		    var eraseRule = false;
		    #if($lang=="en")
		    jErase("Do you wish to delete this custom rule?", "Rule Deletion Confirmation", function(r) {
		    #else
		    jErase("&#191;Desea borrar esta regla?", "Borrar una regla", function(r) {
		    #end
	        	if(r) {
	        	    pars = "ruleIndex=" + id.substring(3);
	    		    new Ajax.Request('pfmDeleteCustomRule', 
			    { method:'post',
			      parameters:pars,
			      onComplete: function (ret) {
			  	if(ret.responseText!="") {
			  	    // Should the parent's rule be changed/deleted?
			  	    updateParentRule();
			  	    
			  	    // Refresh...
	  			    loadExternalPage('pfmManageRules?page='+ret.responseText,'popup-rules');
			  	}
			      }
	                    });
	                }
	            });
	        });
	        
		// Set spacing for delete buttons
		jQuery('#rules-container a.icon-delete').css({'margin-left':'3px'});
				
		// Hide all inputs on table
		jQuery('#rules-container .tbl-list input:text').hide();
		
		// Hide all row editor containers
		jQuery('#rules-container .row-editor').hide();
		
		// Hide Add New 
		jQuery('#rules-container .add-new-container').hide();
				
		///////////////////
		//CUSTOM DROPDOWN FUNCTIONS
		///////////////////
		
			// Set all custom dropdowns
			jQuery('#rules-container .custom-dropdown').customdropdown();
			
			// Generate actions for categories select
			jQuery('.menu li ul').addClass('ui-corner-all');
			
			jQuery('.menu li ul li a').click(function(){
				
				// Get SubCategory id defined in rel attribute
				var subCatId = jQuery(this).attr('rel');
				var catId = jQuery(this).attr('abbr');
				
				var id = jQuery(this).parent().parent().parent().parent().parent().parent().parent().parent().attr('id').substring(3);

				// Hide menu
				jQuery(this).parent().parent().parent().parent().parent().toggle('fast');
				
				// Update label in dropdown
				jQuery('.label',jQuery(this).parent().parent().parent().parent().parent().parent()).html(jQuery(this).html());
				
				// Update the rule's category and subcategory...
				updateRuleCategorySubcategory(id, catId, subCatId);
					
			});
			// Set add subcategory link action
			jQuery('.menu li.add').click(function(event){
				
				// Get Category id defined in rel attribute
				var catId = jQuery(this).attr('rel');
				loadExternalPage("pfmManageSubcategories?categoryId="+catId,"popup-subcategories");
					
			});
			
		//////////////////
		//////////////////
				
	});
function saveRule(id, amount) {
	
    	pars = "ruleIndex=" + id.substring(3) + "&amount=" + amount;
	new Ajax.Request('pfmUpdateCustomRule', 
	{ method:'post',
	  parameters:pars,
	  onComplete: function (ret) {
	  	if(ret.responseText!="") {
	  		// Should the parent's rule be changed/deleted?
	  		updateParentRule();
	  		
	  		// Refresh...
	  		loadExternalPage('pfmManageRules?page='+ret.responseText,'popup-rules');
	  	}		  	
	  }
	});
}
function showAmountInput(idx) {
	//SHOW INPUT FIELD
	// Remove all highlights
	var jQueryThis = jQuery('#row'+idx);
	jQuery('.tbl-list tr').removeClass("highlight");
	// Highlight <tr>
	jQueryThis.addClass("highlight");
	
	// Hide <span>, show the <input> and hide edit button
	jQuery('span.desc',jQueryThis).hide();
	jQuery('input:text', jQueryThis).slideDown('fast');
	
	jQuery('input:text', jQueryThis).slideDown(function(){
		this.style.display = 'block';
	});
				
	jQuery('div.btn-edit', jQueryThis).hide();
				
	// Set focus on input
	jQuery('input:text', jQueryThis).focus();
	jQuery('input:text', jQueryThis).keyup(function(){
		jQuery('.desc', jQueryThis).html(jQuery('input[name="desc"]', jQueryThis).val());
	});
				
	jQuery('.row-editor', jQueryThis).show('fade', {}, 200);
	jQuery(this).parent().parent().parent().hide();
				
	// Save the original amount
	originalRuleAmt = jQuery('#ruleamt'+idx).val();
}	
</script>