<popup-cookieinfo class="hide" id='popup-cookieinfo'>
	<div id="overlay-alert"></div>
	<div id="alert-dmp" class="row alert alert-info alert-float-bottom animated" aria-hidden="false">
		<div class="container">
			<div class="textInfo">
			<p role="alert">#springMessageText("login.popUp.cookie.message" "")</p>
			</div>
			<div class="textInfo"><a href="javascript://" id="btn-dmp-continue" class="btn btn-primary" title='#springMessageText("login.popUp.cookie.button.tooltip" "")'>#springMessageText("login.popUp.cookie.button" "")</a>
			<a onclick="customizeCookies();">#springMessageText("login.popUp.cookie.button.customize.cookies" "Customize Cookies")</a>
			</div>
		</div>
	</div>
</popup-cookieinfo>