##mpicado, cibp-2218
##mpicado. cibp-2218, para importar los estilos del guided setup
<link rel="stylesheet" type="text/css" href="#cssUrl('/css/guidedSetup.css')" media="all"/>
<style>
.btn-table { cursor: pointer; }
.btn-left { width:10px; height:27px; font-size:0; background: transparent url(#imgUrl('/img/guidedSetup/btn-left.png')) no-repeat; }
.btn-center { padding:0 5px; background: transparent url(#imgUrl('/img/guidedSetup/btn-center.png')) repeat-x; }
.btn-center a { text-align: center; font-size:12px; color: #324f15; font-weight: bold; text-shadow: #effccd 0 1px 0; font-family: Arial, sans-serif; text-decoration: none; }
.btn-right { width:10px; height:27px; font-size:0; background: transparent url(#imgUrl('/img/guidedSetup/btn-right.png')) no-repeat; }
</style>
<div id="modalChallengeUserPortal" style="display:none;height:100px;">

    <div id="principalGuidedSetupPortal">
        <br/><h2>#springMessageText("documents.rsa.challenge.confirmation" "To access your documents, please  <br/> answer your security question:")</h2>
        	<table>
                <tr>
    				<td>
    					<br/><br/><span id="questionPortal" style="color:blue;font-weight:normal;font-size:12px;">$!question
    					</span>
    					<br/>
						<input type="password" id="answerPortal" />
                	<br/>#springShowErrors("<br/>" "error")<span id="messageareaPortal"></span></td></tr>
                <tr>
                	<td>
						<p>
                    		<div style="float:left;">
        						<input id="rsaValidatePortal" type="button" class="myInfo_EditBtn" onclick="rsaValidationPortal()" value="#springMessageText("link.send" "Send")" >
        					</div>
                    		<span style="float:left; margin-left:20px;">
        						<span class="signOn_boxText3">
        							<a id="gobackPortal" onclick="Modalbox.hide({afterHide: gobackPortal()}); return false;">#springMessageText("goback" "Go Back")</a>
        						</span>
        					</span>
						<p>
                	</td>
                </tr>
    		</table>
    </div>
</div>
<script type="text/javascript">

	function challengeOpen(){
		var oobIframeMyDocuments = 
			"<div class='iframes' id='oobIframeMyDocumentsPlaceholder'> \
				<iframe name='oobFrame' class='loading' id='oobFrame' src='loginoob' frameborder='0' style='border: 0px currentColor; border-image: none; width: 480px; height: 280px;'></iframe> \
			</div>";
		Modalbox.show(oobIframeMyDocuments, {title: this.title, width: 500, height:300, overlayClose:false});
		Modalbox.MBwindow.setStyle({top: 15 + "%"});
	}	
	
	function challengeClose(){
   		hideIframes();
	    destroyIframes('oobFrame');
	    Modalbox.hide();
		window.location.href='mydocuments';
	}
	
	function challengeUserPortal(question){
	
		$("questionPortal").update(question);
	
	    Modalbox.show($('modalChallengeUserPortal'), {title: this.title, width: 300,height: 250, overlayClose: false});
		         
         Modalbox.MBwindow.setStyle({top: 30 + "%"});
		 ##$('MB_frame').setStyle({background: 'url(#imgUrl('/img/guidedSetup/welcome-guided-setup-bg.jpg')) no-repeat'});
         ##mpicado, esto es para desactivar el evento del keypress y que no pueda salir del modalBox con ESC, solo funciona en firefox
         Element.hide(Modalbox.MBclose);
         Event.stopObserving(document, "keypress", Modalbox.kbdHandler );
         ##mpicado, esto espera a que cargue el dom para cambiar el background del modalbox
         document.observe('dom:loaded', function() {
             $('MB_frame').setStyle({background: 'url(#imgUrl('/img/guidedSetup/welcome-guided-setup-bg.jpg')) no-repeat'});
             ##setStyle({background: 'url(someimage1.png) center center no-repeat;'});         
         });
         
         
         ##para manejar el evento de presionar la tecla esc en IE, ya que la misma cierra el modalbox
         document.onkeydown=function(e){
             !e?e=window.event:null;
             ##para manejar el evento de presionar la tecla enter
             if (e.keyCode == 13 ){
                 return false;
             } 
             
             ##mpicado, esta validacion detecta si es cualquier version de IE
             ##if ('\v'=='v'){
              ##   if(e.keyCode==27){
               ##      location.href='guidedSetupCampaign?metodo=guidedSetupCampaign&opc=3';
                ## }
             ##}
         }
	}
	
	function gobackPortal() {
		var complete = function(t){showResponsePortal(t);}
		var myAjax = new Ajax.Request('cancelInformationChallenge', {onComplete:complete});
	}
	
	function hideEventsPortal(){
		document.getElementById('rsaValidatePortal').style.display="none";
		document.getElementById('gobackPortal').style.display="none";
	}
	
	function hideMsgPortal(){
		document.getElementById('messageareaPortal').style.display="none";
	}
	
	function showEventsPortal(){
		document.getElementById('rsaValidatePortal').style.display="block";
		document.getElementById('gobackPortal').style.display="block";
	}
	
	function rsaValidationPortal() {
		setTimeout(hideEventsPortal,100);
		var answer = $("answerPortal").value;
        var params = {
                method: "post",
                parameters: "answer=" + answer,
                onComplete: function(t){showResponsePortal(t);}
        };
		var url = 'portalInformationChallenge';
		
		var myAjax = new Ajax.Request(url, params);
	} 
	
	function showResponsePortal(t) {
		var resp = t.responseText.split('-');
		var status = resp[0];
		var nq = resp[1];
		if(status=='error'){
			$("answerPortal").value = ''; 
			document.getElementById('messageareaPortal').style.display="block";
			$("messageareaPortal").update("#springMessageText("login.question.error.message" "Invalid answer")").setStyle("color:red;");
			$("questionPortal").update(nq);
			setTimeout(showEventsPortal,1000);
		}
		else if(status=='exception'){
			window.location.href='login';
		}
		else if(status=='blocked'){
			showBlocked();
		}
		else if(status=='success'){
			window.location.href='mydocuments';
		}
		else if(status=='empty'){ 
 			document.getElementById('messageareaPortal').style.display="block"; 
 		    $("messageareaPortal").update("#springMessageText("login.username.required" "Required")").setStyle("color:red;"); 
 		    setTimeout(showEventsPortal,1000); 
 		} 
	 }
	 
	   function showBlocked(){
    	hideIframes();
    	destroyIframes('blockedMsgFrame');
    	Modalbox.show($('blockedMsgFrameModal'), {title: this.title, width: 300,height: 250, overlayClose: false})
    	Modalbox.MBwindow.setStyle({top: 30 + "%"});

  	}
	
</script>

<div style="display:none;" id="blockedMsgFrameModal" name="blockedMsgFrameModal" style="display:none;height:100px;">
  	<div id="blockedMsgIframePlaceholder" class="iframes"></div>
  	<br/><h2>#springMessageText("documents.rsa.challenge.blocked.title" "Access blocked")</h2>
  	<table>
		<tr>
    		<td>
    			<br/><br/><span id="questionPortal" style="color:red;font-weight:normal;font-size:12px;">
					#springMessageText("documents.rsa.challenge.blocked" "Please contact the Assisted Disbursement area at 787-833-9338.")
    			</span><br/>	
            </td>
        </tr>
        <tr>
        	<td>
				<p>
                <div style="float:left;">
        			<input type="submit" class="btnNext" onclick="window.location.href='login';" value="#springMessageText("" "OK")" />
        		</div>
                <p>
            </td>
        </tr>
    </table>
</div>