
<script language="JavaScript" type="text/javascript">
<!--
function sendFormfinishno(actiontype)
{
  document.regefinishno.actiontype.value=actiontype;
  document.regefinishno.submit() ;
}
-->
</script>
<form name="regefinishno" action="regefinishno" method="post" autocomplete="off">
<input type="hidden" name="actiontype" />
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr style="background-image: url(../img/rege/BlueGradient.gif);">
    <td height="22">&nbsp;</td>
  </tr>
</table>
<table width="824" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
  	<td width="50" align="left" valign="top">&nbsp;</td>
    <td width="133" align="left" valign="top"><img src="../img/rege/logo.gif" width="133" height="27" alt="Popular" /></td>
    <td width="622" align="left" valign="top">&nbsp;</td>
    <td width="19" align="left" valign="middle" class="utilities"></td>
  </tr>
  <tr>
    <td height="37" colspan="3" align="left" valign="top">&nbsp;</td>
  </tr>
</table>
<table width="500" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="300" align="left" valign="top"><table width="500" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="28"><p class="Header1">&nbsp;</p></td>
        <td width="472"><p class="Header1">#springMessageText("rege.start.regebold" "")</p>
          <p class="Header1"><span class="copy">#springMessageText("rege.finishno.info" "") </span></p>
          <ul>
            <li><span class="copy">#springMessageText("rege.finishno1" "")</span></li>
            <li><span class="copy">#springMessageText("rege.finishno2" "")</span></li>
            <li><span class="copy">#springMessageText("rege.finishno3" "")</span></li>
            </ul>
          <p><a href="javascript:sendFormfinishno('yes')"><img src="#springMessageText("rege.start.viewacct" "")" width="140" height="29" border="0" /></a></p></td>
      </tr>
    </table>      <p class="Header1"><br /><br />
    </p></td>
  </tr>
</table>
</form>

