
#set($layout="layout/campaign.vm")

<form id="regestart" name="regestart" action="regestart" method="post" autocomplete="off">
<input type="hidden" name="actiontype"/>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tbody><tr style="background-image: url(&quot;../img/rege/BlueGradient.gif&quot;);">
    <td height="22"></td>
  </tr>
</tbody></table>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="824">
  <tbody><tr>
    <td align="left" valign="top" width="133"><img src="../img/rege/logo.gif" alt="Popular" height="27" width="133"></td>
    <td align="left" valign="top" width="622"></td>
    <td class="utilities" align="left" valign="middle" width="69"><a href="./regestart?lang=#springMessageText("language.available" "")">#springMessageText("language.available.label" "")</a></td>
  </tr>
  <tr>
    <td colspan="3" align="left" height="37" valign="top"></td>
  </tr>
</tbody></table>
<table width="780" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="11" height="13"><img src="../img/rege/new_border_1.gif" width="11" height="13" alt="border" /></td>
    <td width="758" style="background-image: url(../img/rege/newtile.gif);"></td>
    <td width="11" height="13"><img src="../img/rege/new_border_2.gif" width="11" height="13" alt="border" /></td>
  </tr>
</table>
<table width="780" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="11" height="13" style="background-image: url(../img/rege/new_lefttile.gif);"></td>
    <td width="758"><table border="0" cellpadding="0" cellspacing="0" width="758">
      <tbody>
        <tr>
          <td align="left" valign="top"><span class="copy"><span class="Header1">#springMessageText("rege.start.info" "")</span>
            <table width="478" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="left" valign="top">&nbsp;</td>
                </tr>
              <tr>
                <td align="left" valign="top"><table border="0" cellpadding="0" cellspacing="0" width="234">
                  <tbody>
                    <tr>
                      <td style="background-repeat: no-repeat; background-image: url(&quot;../img/rege/top_bevel.gif&quot;);" height="14" width="234"></td>
                    </tr>
                  </tbody>
                </table>
                  <table border="0" cellpadding="0" cellspacing="0" width="234">
                    <tbody>
                      <tr>
                        <td width="234" align="center" valign="top" style="background-repeat: repeat-y; background-image: url(&quot;../img/rege/smallbox.gif&quot;);"><table width="215" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td height="232" align="left" valign="top"><span class="boxtitles">#springMessageText("rege.start.benefits.title" "")</span>
                              <ul style="list-style-type:none;list-style-image:url(../img/rege/bullet.gif);margin:0; padding-left:15px !important;padding-top: 10px;">
                                <li style="background-position: 0px 5px; padding-left:0 !important"><span class="boxtitles" style="color: rgb(65, 64, 66); font-weight: normal; font-size: 12px; font-family: Arial,Helvetica,sans-serif;">#springMessageText("rege.start.benefits1" "")</span></li>
                                <li style="background-position: 0px 5px; padding-left: 14px;padding-left:0 !important"><span class="boxtitles" style="color: rgb(65, 64, 66); font-weight: normal; font-size: 12px; font-family: Arial,Helvetica,sans-serif;">#springMessageText("rege.start.benefits2" "")</span></li>
                              </ul>
                              <p><span class="boxtitles" style="color: rgb(65, 64, 66); font-weight: normal; font-size: 12px; font-family: Arial,Helvetica,sans-serif;">#springMessageText("rege.finish.info3" "")</span></p></td>
                          </tr>
                        </table></td>
                      </tr>
                    </tbody>
                  </table>
                  <table border="0" cellpadding="0" cellspacing="0" width="234">
                    <tbody>
                      <tr>
                        <td style="background-repeat: no-repeat; background-image: url(&quot;../img/rege/btm_bevel.gif&quot;);" height="14" width="234"></td>
                      </tr>
                    </tbody>
                  </table></td>
                <td width="10">&nbsp;</td>
                <td align="right" valign="top"><table border="0" cellpadding="0" cellspacing="0" width="234">
                  <tbody>
                    <tr>
                      <td style="background-repeat: no-repeat; background-image: url(&quot;../img/rege/top_bevel.gif&quot;);" height="14" width="234"></td>
                    </tr>
                  </tbody>
                </table>
                  <table border="0" cellpadding="0" cellspacing="0" width="234">
                    <tbody>
                      <tr>
                        <td width="234" align="center" valign="top" style="background-repeat: repeat-y; background-image: url(&quot;../img/rege/smallbox.gif&quot;);"><table width="215" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td height="232" align="left" valign="top"><span class="boxtitles">#springMessageText("rege.start.cost.tittle" "")</span>
                              <ul style="list-style-type:none;list-style-image:url(../img/rege/bullet.gif);margin:0; padding-left:15px !important;padding-top: 10px;">
                                <li style="background-position: 0px 5px; padding-left:0 !important"><span class="copybold" style="color: rgb(65, 64, 66); font-weight: bold; font-size: 12px; font-family: Arial,Helvetica,sans-serif;"><span class="copy">#springMessageText("rege.start.cost1" "")</span></span><span class="copy"><span class="boxtitles" style="color: rgb(65, 64, 66); font-weight: normal; font-size: 12px; font-family: Arial,Helvetica,sans-serif;"></span></span></li>
                                <li style="background-position: 0px 5px; padding-left:0 !important"><span class="boxtitles" style="color: rgb(65, 64, 66); font-weight: normal; font-size: 12px; font-family: Arial,Helvetica,sans-serif;">#springMessageText("rege.start.cost2" "")</span></li>
                              </ul></td>
                          </tr>
                        </table></td>
                      </tr>
                    </tbody>
                  </table>
                  <table border="0" cellpadding="0" cellspacing="0" width="234">
                    <tbody>
                      <tr>
                        <td style="background-repeat: no-repeat; background-image: url(&quot;../img/rege/btm_bevel.gif&quot;);" height="14" width="234"></td>
                      </tr>
                    </tbody>
                  </table></td>
              </tr>
              <tr>
                <td colspan="3" align="left" valign="top">&nbsp;</td>
                </tr>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" width="457">
              <tbody>
                <tr>
                  <td width="133"><a id="btnAccept" href="javascript:sendFormstart('yes', this);ga('send', 'pageview','#springMessageText('campaign.rege.start.activate' '')');"><img src="#springMessageText("rege.start.botonimg" "")"  alt="" width="127" height="28" border="0" /></a></td>
                  <td width="12">&nbsp;</td>
                  <td class="links" width="312"><a id="btnNoAccept" href="javascript:sendFormstart('no', this);ga('send', 'pageview','#springMessageText('campaign.rege.start.not' '')');">#springMessageText("rege.start.dont" "")</a> | <a href="javascript:sendFormstart('skip', this);ga('send', 'pageview','#springMessageText('campaign.rege.start.skip' '')');" class="links">#springMessageText("rege.start.asklater" "")</a></td>
                </tr>
              </tbody>
            </table></td>
          <td align="left" valign="top"><img src="../img/rege/Girl.jpg" width="280" height="364" alt="girl" /></td>
        </tr>
        </tbody>
    </table></td>
    <td width="11" height="13" style="background-image: url(../img/rege/new_righttile.gif);"></td>
  </tr>
</table>
<table width="780" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="11" height="13"><img src="../img/rege/new_border_3.gif" width="11" height="13" alt="border" /></td>
    <td width="758" style="background-image: url(../img/rege/newtile2.gif);"></td>
    <td width="11" height="13"><img src="../img/rege/new_border_4.gif" width="11" height="13" alt="border" /></td>
  </tr>
</table>





</form>
<div style="display:none;" id="glass" name="glass">
    <iframe id="cleariframe" src="../img/rege/blank.png" style="z-index: 25000; opacity: 0.5; position: absolute; visibility: visible; background-color: black; border-width: 0pt; top: 0pt; left: 0pt; width: 100%; height: 1111px;"></iframe>
    <div position: absolute; z-index: 25001; background-color: transparent; left: 0px; top: 0px; width: 1423px; height: 1019px;"></div>
    <div style="position: absolute; z-index: 26000; top: 10%; left:20%; width: 60%; height: 350px; background-color: white; border-width: 0pt;">
    #parse("vm/regefinishno.vm")
    </div>
</div>
