<table class="EnrollcontentData" border="0">
<tr><th>2)&nbsp;<a name="accountinfo"></a>#springMessageText("resetpassword.title.accountinfo" "Account Information")</th></tr>

#if($page && $page==1) ##if to collapse all accounts area

#if($actnotfound)
	<tr><td  style="color:red;" align="center">#springMessageText("resetpassword.accountnumber.notfound" "You have been blocked. Please contact a customer service representative.")</td></tr>
#end

#if($blocked)
<tr><td  style="color:red;" align="center">#springMessageText("account.block.message" "You have been blocked. Please contact a customer service representative.")</td></tr>
#else

#if($accountCCA || $accountAMEX)
<tr>
<td>
	<form id="mainForm" name="mainForm">

	#if($accountIDA && ($accountCCA || $accountAMEX))
	<input type="radio" name="creditcardtype" id="1" value="IDA" onclick="$('accountinfo.accountIDA').show(); #if($accountCCA && $CCAwithoutREDI_HELOCS) $('accountinfo.accountCCA').hide(); #end #if($accountCCA && $accountREDI_HELOCS) $('accountinfo.accountREDI').hide(); #end #if($accountAMEX) $('accountinfo.accountAMEX').hide(); #end" #if($resetpassword.accountInfoType=="IDA") checked="checked" #end>#springMessageText("enrollment.deposittype.label" "Checking or Savings Account")
	#end
	#if($CCAwithoutREDI_HELOCS && ($accountIDA || $accountAMEX))
	<input type="radio" name="creditcardtype" id="2" value="CCA" onclick="$('accountinfo.accountCCA').show(); #if($accountCCA && $accountREDI_HELOCS) $('accountinfo.accountREDI').hide(); #end #if($accountAMEX) $('accountinfo.accountAMEX').hide(); #end #if($accountIDA) $('accountinfo.accountIDA').hide(); #end" #if($resetpassword.accountInfoType=="CCA" && $resetpassword.productDescription && $resetpassword.productDescription!="Redi Equity")checked="checked"#end>#springMessageText("enrollment.creditcardtypeCCA.label" "Visa or MasterCard")
	#end
	#if($accountCCA && $accountREDI_HELOCS && ($accountIDA || $accountAMEX))
	<input type="radio" name="creditcardtype" id="3" value="CCA" onclick="$('accountinfo.accountREDI').show(); #if($accountCCA && $CCAwithoutREDI_HELOCS) $('accountinfo.accountCCA').hide(); #end #if($accountAMEX) $('accountinfo.accountAMEX').hide(); #end #if($accountIDA) $('accountinfo.accountIDA').hide(); #end" #if($resetpassword.accountInfoType=="CCA" && $resetpassword.productDescription=="Redi Equity")checked="checked"#end>#springMessageText("enrollment.creditcardtypeREDI_HELOCS.label" "Redi Equity / HELOC")
	#end
	#if($accountAMEX && ($accountIDA || $accountCCA))
	<input type="radio" name="creditcardtype" id="4" value="AMEX" onclick="$('accountinfo.accountAMEX').show(); #if($accountCCA && $accountREDI_HELOCS) $('accountinfo.accountREDI').hide(); #end #if($accountCCA && $CCAwithoutREDI_HELOCS) $('accountinfo.accountCCA').hide(); #end #if($accountIDA) $('accountinfo.accountIDA').hide(); #end" #if($resetpassword.accountInfoType=="AMEX") checked="checked" #end>#springMessageText("enrollment.creditcardtypeAMEX.label" "American Express")
	#end
	</form>

</td>
</tr>
#end


<tr><td>

<div id="divErrorAccountNumber" style="display: none;">
	#springFormInput("resetpassword.erroraccountnumber" "hidden='true'")
</div>
	
#if(!$actnotfound)
	#springShowErrors("<br/>" "error")
#end

#if($accountIDA)
<div id="accountinfo.accountIDA" #if($resetpassword.accountInfoType!="IDA") style="display:none;" #end>
<form name="resetpassword.accountinfo" method="post" action="$formname">
<table border="0">
<tr>
	<td colspan="2">
    	#springMessageText("resetpassword.depositaccount.label" "Enter your Checking or Savings account number:")<br/><div class="labelspacer"></div>
    	#springFormInput("resetpassword.accountnumber" "autocomplete='off' tabindex='1'")&nbsp;(9&nbsp;#springMessageText("resetpassword.accountnumber.digitslabel" "digits"))
        <a id="erroraccountnumber_tip_IDA" class="ToolTip" onmouseover="Tip('#springMessageText("ida.accountnumber.tooltip" "")', 
                BGCOLOR,'#E8F4F8', BORDERCOLOR,'#9BB9CF', WIDTH,270,TEXTALIGN, 'left', ABOVE,true,  OFFSETX,-17, FADEIN,150, FADEOUT,150, PADDING,8, FIX, ['erroraccountnumber_tip_IDA', -5, -5])" 
                onmouseout="UnTip()"><img style="vertical-align:middle" class="LinkImage" src="#imgUrl("/img/IcnQuestionMark.gif")" width="20" height="20"/></img></a>
    	<br/>#springShowErrors("<br/>" "error")
	</td>
</tr>
</table>

<table border="0">
<div class="labelspacer"></div>
<tr><td colspan="3">#springMessageText("resetpassword.pin.label" "PIN:")<br/><div class="labelspacer"></div></td>
	<td rowspan="2" style="padding-left:20px;padding-right:85px;vertical-align:bottom;">#springMessageText("resetpassword.pinInstruction.label" "Your PIN is the 4 digit number that you use for your ATH® card. Don’t have a PIN? Visit any BPPR branch to assign a PIN to your ATH® card.")</td>
</tr>
<tr>
        	<td>#springFormPasswordInput("resetpassword.pin" "size='4' maxlength='4' autocomplete='off' tabindex='2'")</td>
			<td>&nbsp;(4&nbsp;#springMessageText("resetpassword.accountnumber.digitslabel" "digits"))</td>
 			<td>
    			<a id="pin_tip_IDA" class="ToolTip" onmouseover="Tip('#springMessageText("ida.pin.tooltip" "")', 
    			BGCOLOR,'#E8F4F8', BORDERCOLOR,'#9BB9CF', WIDTH,230,TEXTALIGN, 'left', ABOVE,true, OFFSETX,-17, FADEIN,150, FADEOUT,150, PADDING,8, FIX, ['pin_tip_IDA', -5, -5])" 
    			onmouseout="UnTip()"><img style="vertical-align:middle" class="LinkImage" src="#imgUrl("/img/IcnQuestionMark.gif")" width="20" height="20"/></img></a>
		    </td>	
</tr>
<tr>
	<td colspan="4">#springShowErrors("<br/>" "error")</td>
</tr>
</table>

<div class="labelspacer"></div>
<input type="submit" name="_target2" class="btnNext" tabindex='3' value="#springMessageText("resetpassword.button.next" "Next")">
#springBind("resetpassword.accountInfoType")
<input type="hidden" name="${status.expression}" id="resetpassword.accountInfoType" value="IDA">
</form>
</div>
#end

#if($accountCCA && $CCAwithoutREDI_HELOCS)
<div id="accountinfo.accountCCA" #if($resetpassword.accountInfoType!="CCA" || ($resetpassword.accountInfoType=="CCA" && $resetpassword.productDescription && $resetpassword.productDescription=="Redi Equity")) style="display:none;" #end>
<form name="resetpassword.accountinfoCCA" method="post" action="$formname">
<table border="0">
<tr>
	<td colspan="2">
    	#springMessageText("resetpassword.creditaccount.label" "Credit Card Account Number:")&nbsp;(16&nbsp;#springMessageText("resetpassword.accountnumber.digitslabel" "digits"))<br/><div class="labelspacer"></div>
    	#springFormInput("resetpassword.accountnumber" "size='18' maxlength='16' autocomplete='off' tabindex='1'")
        <a id="erroraccountnumber_tip_VISA" class="ToolTip" onmouseover="Tip('#springMessageText("cca.accountnumber.tooltip" "")', 
                BGCOLOR,'#E8F4F8', BORDERCOLOR,'#9BB9CF', WIDTH,175, ABOVE,true, OFFSETX,-17, FADEIN,150, FADEOUT,150, PADDING,8, FIX, ['erroraccountnumber_tip_VISA', -5, -5])" 
                onmouseout="UnTip()"><img style="vertical-align:middle" class="LinkImage" src="#imgUrl("/img/IcnQuestionMark.gif")" width="20" height="20"/></img></a>	
    	<br/>#springShowErrors("<br/>" "error")
	</td>
</tr>
</table>

<table border="0">
<tr>
	<td><br/>#springMessageText("resetpassword.expirationdate.label" "Expiration Date:")</td>
	<td style="padding-left:60px;"><br/>#springMessageText("resetpassword.zipcode.label" "Billing zip code:")</td>

</tr>
<tr>
	<td><table>
    		<tr>
        		<td>#springFormSingleSelect("resetpassword.expMonth" $expMonths "tabindex='2'")<br/>#springShowErrors("<br/>" "error")</td>
        		<td>#springFormSingleSelect("resetpassword.expYear" $expYears "tabindex='3'")
                <a id="expDateCCA_tip_VISA" class="ToolTip" onmouseover="Tip('#springMessageText("expiration.date.tooltip" "")', 
                          BGCOLOR,'#E8F4F8', BORDERCOLOR,'#9BB9CF', WIDTH,200, ABOVE,true, OFFSETX,-17, FADEIN,150, FADEOUT,150, PADDING,8, FIX, ['expDateCCA_tip_VISA', -5, -5])" 
                          onmouseout="UnTip()"><img style="vertical-align:middle" class="LinkImage" src="#imgUrl("/img/IcnQuestionMark.gif")" width="20" height="20"/></img></a>     			
        			<br/>#springShowErrors("<br/>" "error")
        		</td>
    		</tr>
		</table>
	</td>
	<td style="padding-left:60px;">
    	#springFormInput("resetpassword.zipCode" "size='5' maxlength='5' tabindex='4'")&nbsp;(5&nbsp;#springMessageText("resetpassword.accountnumber.digitslabel" "digits"))
        <a id="zipCode_tip_VISA" class="ToolTip" onmouseover="Tip('#springMessageText("zipCode.tooltip" "")', 
              BGCOLOR,'#E8F4F8', BORDERCOLOR,'#9BB9CF', WIDTH,200, ABOVE,true, OFFSETX,-17, FADEIN,150, FADEOUT,150, PADDING,8, FIX, ['zipCode_tip_VISA', -5, -5])" 
              onmouseout="UnTip()"><img style="vertical-align:middle" class="LinkImage" src="#imgUrl("/img/IcnQuestionMark.gif")" width="20" height="20"/></img></a>	
    	<br/>#springShowErrors("<br/>" "error")
	</td>
</tr>
</table>
<table border="0">
<tr>
	<td nowrap><br/>
    	#springMessageText("resetpassword.ccv.label" "Card Identification Code:")<br/>
    	#springFormInput("resetpassword.cvv" "autocomplete='off' size='5' maxlength='3' tabindex='5'")&nbsp;(3&nbsp;#springMessageText("resetpassword.accountnumber.digitslabel" "digits"))
        <a id="cvv_tip_VISA" class="ToolTip" onmouseover="Tip('#springMessageText("cvv.tooltip" "")', 
              BGCOLOR,'#E8F4F8', BORDERCOLOR,'#9BB9CF', WIDTH,200, ABOVE,true, OFFSETX,-17, FADEIN,150, FADEOUT,150, PADDING,8, FIX, ['cvv_tip_VISA', -5, -5])" 
              onmouseout="UnTip()"><img style="vertical-align:middle" class="LinkImage" src="#imgUrl("/img/IcnQuestionMark.gif")" width="20" height="20"/></img></a>	
    	<br/>#springShowErrors("<br/>" "error")
	</td>
	<td style="padding-left:50px;padding-right:70px;"><br/>&nbsp;<br/>#springMessageText("resetpassword.cvvInstruction.label" "The card identification code is the three-digit number on the back of your credit card.")&nbsp;<a href="#springMessageText('resetpassword.linkcvv' 'http://www.popular.com/pr/help/eng/cvv.html')" target=_blank;>#springMessageText("resetpassword.viewDetails.textlink" "View details.")</a></td>
</tr>
</table>
<input type="submit" name="_target2" class="btnNext" tabindex='6' value="#springMessageText("resetpassword.button.next" "Next")">
#springBind("resetpassword.accountInfoType")
<input type="hidden" name="${status.expression}" id="resetpassword.accountInfoType" value="CCA">
</form>
</div>
#end

## REDI Equity HELOCS AREA
#if($accountCCA && $accountREDI_HELOCS)
<div id="accountinfo.accountREDI" #if($resetpassword.accountInfoType!="CCA" || ($resetpassword.accountInfoType=="CCA" && $resetpassword.productDescription && $resetpassword.productDescription!="Redi Equity")) style="display:none;" #end>
<form name="resetpassword.accountinfoCCA" method="post" action="$formname">
<table border="0">
<tr>
	<td colspan="2">
    	#springMessageText("resetpassword.creditaccount2.label" "Redi Equity / HELOC Card Number:")&nbsp;(16&nbsp;#springMessageText("resetpassword.accountnumber.digitslabel" "digits"))<br/><div class="labelspacer"></div>
    	#springFormInput("resetpassword.accountnumber" "size='18' maxlength='16' autocomplete='off' tabindex='1'")
        <a id="erroraccountnumber_tip_REDI" class="ToolTip" onmouseover="Tip('#springMessageText("cca.accountnumber.tooltip" "")', 
                BGCOLOR,'#E8F4F8', BORDERCOLOR,'#9BB9CF', WIDTH,175, ABOVE,true, OFFSETX,-17, FADEIN,150, FADEOUT,150, PADDING,8, FIX, ['erroraccountnumber_tip_REDI', -5, -5])" 
                onmouseout="UnTip()"><img style="vertical-align:middle" class="LinkImage" src="#imgUrl("/img/IcnQuestionMark.gif")" width="20" height="20"/></img></a> 	
    	<br/>#springShowErrors("<br/>" "error")
	</td>
</tr>
</table>

<table border="0">
<tr>
	<td><br/>#springMessageText("resetpassword.expirationdate.label" "Expiration Date:")</td>
	<td style="padding-left:60px;"><br/>#springMessageText("resetpassword.zipcode.label" "Billing zip code:")</td>

</tr>
<tr>
	<td><table>
		<tr>
		<td>#springFormSingleSelect("resetpassword.expMonth" $expMonths "tabindex='2'")<br/>#springShowErrors("<br/>" "error")</td>
		<td>#springFormSingleSelect("resetpassword.expYear" $expYears "tabindex='3'")
        <a id="expDateCCA_tip_REDI" class="ToolTip" onmouseover="Tip('#springMessageText("expiration.date.tooltip" "")', 
                 BGCOLOR,'#E8F4F8', BORDERCOLOR,'#9BB9CF', WIDTH,200, ABOVE,true, OFFSETX,-17, FADEIN,150, FADEOUT,150, PADDING,8, FIX, ['expDateCCA_tip_REDI', -5, -5])" 
                 onmouseout="UnTip()"><img style="vertical-align:middle" class="LinkImage" src="#imgUrl("/img/IcnQuestionMark.gif")" width="20" height="20"/></img></a>		
			<br/>#springShowErrors("<br/>" "error")
		</td>
		</tr>
		</table>
	</td>
	<td style="padding-left:60px;">
		#springFormInput("resetpassword.zipCode" "size='5' maxlength='5' tabindex='4'")&nbsp;(5&nbsp;#springMessageText("resetpassword.accountnumber.digitslabel" "digits"))
        <a id="zipCode_tip_REDI" class="ToolTip" onmouseover="Tip('#springMessageText("zipCode.tooltip" "")', 
              BGCOLOR,'#E8F4F8', BORDERCOLOR,'#9BB9CF', WIDTH,200, ABOVE,true, OFFSETX,-17, FADEIN,150, FADEOUT,150, PADDING,8, FIX, ['zipCode_tip_REDI', -5, -5])" 
              onmouseout="UnTip()"><img style="vertical-align:middle" class="LinkImage" src="#imgUrl("/img/IcnQuestionMark.gif")" width="20" height="20"/></img></a>
		<br/>#springShowErrors("<br/>" "error")
	</td>
</tr>
</table>
<table border="0">
<tr>
	<td nowrap><br/>
    	#springMessageText("resetpassword.ccv.label" "Card Identification Code:")<br/>
    	#springFormInput("resetpassword.cvv" "autocomplete='off' size='5' maxlength='3' tabindex='5'")&nbsp;(3&nbsp;#springMessageText("resetpassword.accountnumber.digitslabel" "digits"))
        <a id="cvv_tip_REDI" class="ToolTip" onmouseover="Tip('#springMessageText("cvv.tooltip" "")', 
              BGCOLOR,'#E8F4F8', BORDERCOLOR,'#9BB9CF', WIDTH,200, ABOVE,true, OFFSETX,-17, FADEIN,150, FADEOUT,150, PADDING,8, FIX, ['cvv_tip_REDI', -5, -5])" 
              onmouseout="UnTip()"><img style="vertical-align:middle" class="LinkImage" src="#imgUrl("/img/IcnQuestionMark.gif")" width="20" height="20"/></img></a> 	
		<br/>#springShowErrors("<br/>" "error")
	</td>
	<td style="padding-left:50px;padding-right:70px;"><br/>&nbsp;<br/>#springMessageText("resetpassword.cvvInstruction.label" "The card identification code is the three-digit number on the back of your credit card.")&nbsp;<a href="#springMessageText('resetpassword.linkcvv' 'http://www.popular.com/pr/help/eng/cvv.html')" target=_blank;>#springMessageText("resetpassword.viewDetails.textlink" "View details.")</a></td>
</tr>
</table>
<input type="submit" name="_target2" class="btnNext" tabindex='6' value="#springMessageText("resetpassword.button.next" "Next")">
#springBind("resetpassword.accountInfoType")
<input type="hidden" name="${status.expression}" id="resetpassword.accountInfoType" value="CCA">
#springBind("resetpassword.productDescription")
<input type="hidden" name="${status.expression}" id="resetpassword.productDescription" value="Redi Equity">
</form>
</div>
#end


#if($accountAMEX)
<div id="accountinfo.accountAMEX" #if($resetpassword.accountInfoType!="AMEX") style="display:none;" #end>
<form name="resetpassword.accountinfoAMEX" method="post" action="$formname">
<table border="0">
<tr>
	<td colspan="2">
    	#springMessageText("resetpassword.creditaccount.label" "Enter your American Express Card Number:")&nbsp;(15&nbsp;#springMessageText("resetpassword.accountnumber.digitslabel" "digits"))<br/><div class="labelspacer"></div>
    	#springFormInput("resetpassword.accountnumber" "autocomplete='off' tabindex='1' maxlength='15'")
        <a id="erroraccountnumber_tip_AMEX" class="ToolTip" onmouseover="Tip('#springMessageText("cca.accountnumber.tooltip" "")', 
                BGCOLOR,'#E8F4F8', BORDERCOLOR,'#9BB9CF', WIDTH,175, ABOVE,true, OFFSETX,-17, FADEIN,150, FADEOUT,150, PADDING,8, FIX, ['erroraccountnumber_tip_AMEX', -5, -5])" 
                onmouseout="UnTip()"><img style="vertical-align:middle" class="LinkImage" src="#imgUrl("/img/IcnQuestionMark.gif")" width="20" height="20"/></img></a> 	
    	<br/>#springShowErrors("<br/>" "error")
		<div class="labelspacer"></div>
	</td>

</tr>
</table>

<table border="0">
<tr>
	<td colspan="3">#springMessageText("resetpassword.expirationdate.label" "Expiration Date:")</td>
</tr>
<tr>
	<td>#springFormSingleSelect("resetpassword.expMonth" $expMonths "tabindex='2'")<br/>#springShowErrors("<br/>" "error")</td>
	<td>#springFormSingleSelect("resetpassword.expYear" $expYears "tabindex='3'")<br/>#springShowErrors("<br/>" "error")</td>
	<td>
        <a id="expDateCCA_tip_AMEX" class="ToolTip" onmouseover="Tip('#springMessageText("expiration.date.tooltip" "")', 
                 BGCOLOR,'#E8F4F8', BORDERCOLOR,'#9BB9CF', WIDTH,200, ABOVE,true, OFFSETX,-17, FADEIN,150, FADEOUT,150, PADDING,8, FIX, ['expDateCCA_tip_AMEX', -5, -5])" 
                 onmouseout="UnTip()"><img style="vertical-align:middle" class="LinkImage" src="#imgUrl("/img/IcnQuestionMark.gif")" width="20" height="20"/></img></a>
	 </td>
</tr>
</table>

<table border="0">
<div class="labelspacer"></div>
<tr><td colspan="3">#springMessageText("resetpassword.pin.label" "PIN:")<br/><div class="labelspacer"></div></td>
	<td rowspan="2" style="padding-left:20px;padding-right:85px;vertical-align:bottom;">#springMessageText("resetpassword.pinInstruction.label" "Your PIN is the 4 digit number that you use for your ATH® card. Don’t have a PIN? Visit any BPPR branch to assign a PIN to your ATH® card.")</td>
</tr>
<tr>
        	<td>#springFormPasswordInput("resetpassword.pin" "size='4' maxlength='4' autocomplete='off' tabindex='4'")</td>
			<td>&nbsp;(4&nbsp;#springMessageText("resetpassword.accountnumber.digitslabel" "digits"))</td>
			<td>
    			<a id="pin_tip_AMEX" class="ToolTip" onmouseover="Tip('#springMessageText("amex.pin.tooltip" "")', 
    			BGCOLOR,'#E8F4F8', BORDERCOLOR,'#9BB9CF', WIDTH,200, ABOVE,true, OFFSETX,-17, FADEIN,150, FADEOUT,150, PADDING,8, FIX, ['pin_tip_AMEX', -5, -5])" 
    			onmouseout="UnTip()"><img style="vertical-align:middle" class="LinkImage" src="#imgUrl("/img/IcnQuestionMark.gif")" width="20" height="20"/></img></a>
		    </td>	
</tr>
<tr>
	<td colspan="4">#springShowErrors("<br/>" "error")</td>
</tr>
</table>

<table>
    <tr>
    	<td colspan="2">
			<br><a href="#">#springMessageText("resetpassword.nopin.label" "No pin")</a><div class="labelspacer"></div>
        	#springMessageText("resetpassword.zipcode.label" "Billing zip code")<br/><div class="labelspacer"></div>
        	#springFormInput("resetpassword.zipCode" "size='5' maxlength='5' tabindex='5'")
    		&nbsp;(5&nbsp;#springMessageText("resetpassword.accountnumber.digitslabel" "digits"))
            <a id="zipCode_tip_AMEX" class="ToolTip" onmouseover="Tip('#springMessageText("zipCode.tooltip" "")', 
                  BGCOLOR,'#E8F4F8', BORDERCOLOR,'#9BB9CF', WIDTH,200, ABOVE,true, OFFSETX,-17, FADEIN,150, FADEOUT,150, PADDING,8, FIX, ['zipCode_tip_AMEX', -5, -5])" 
                  onmouseout="UnTip()"><img style="vertical-align:middle" class="LinkImage" src="#imgUrl("/img/IcnQuestionMark.gif")" width="20" height="20"/></img></a>    	
        	<br/>#springShowErrors("<br/>" "error")
    	</td>
    </tr>
</table>
<input type="submit" name="_target2" class="btnNext" tabindex='6' value="#springMessageText("resetpassword.button.next" "Next")">
#springBind("resetpassword.accountInfoType")
<input type="hidden" name="${status.expression}" id="resetpassword.accountInfoType" value="AMEX">
</form>
</div>
#end

## PFC AREA
#if($accountPFC && !$accountIDA && !$accountCCA && !$accountAMEX)
<form name="resetpassword.accountinfo" method="post" action="$formname">
<table border="0">
    <tr>
    	<td colspan="2">
        	#springMessageText("enrollment.pfcnumber.label" "Enter your Payroll Card number:")&nbsp;(16&nbsp;#springMessageText("resetpassword.accountnumber.digitslabel" "digits"))<br/><div class="labelspacer"></div>
        	#springFormInput("resetpassword.accountnumber" "autocomplete='off' tabindex='1' maxlength='16'")
            <a id="erroraccountnumber_tip" class="ToolTip" onmouseover="Tip('#springMessageText("pfc.cardnumber.tooltip" "")', 
                    BGCOLOR,'#E8F4F8', BORDERCOLOR,'#9BB9CF', WIDTH,180, ABOVE,true, OFFSETX,-17, FADEIN,150, FADEOUT,150, PADDING,8, FIX, ['erroraccountnumber_tip', -5, -5])" 
                    onmouseout="UnTip()"><img style="vertical-align:middle" class="LinkImage" src="#imgUrl("/img/IcnQuestionMark.gif")" width="20" height="20"/></img></a>	
        	<br/>#springShowErrors("<br/>" "error")
    	</td>
    </tr>
</table>
<table border="0">
<div class="labelspacer"></div>
<tr><td colspan="3">#springMessageText("enrollment.pin.label" "PIN:")<br/><div class="labelspacer"></div></td>
	<td rowspan="2" style="padding-left:20px;padding-right:85px;vertical-align:bottom;">#springMessageText("resetpassword.pinInstruction.pfcnumber.label" "Your PIN is the 4 digit number that you use for your Payroll Card. Don't have a PIN? Visit any BPPR branch to assign a PIN to your Payroll Card.")</td>
</tr>
<tr>
        	<td>#springFormPasswordInput("resetpassword.pin" "size='4' maxlength='4' autocomplete='off' tabindex='2'")</td>
			<td>&nbsp;(4&nbsp;#springMessageText("enrollment.accountnumber.digitslabel" "digits"))</td>
			<td>
    			<a id="pin_tip" class="ToolTip" onmouseover="Tip('#springMessageText("pfc.pin.tooltip" "")', 
    			BGCOLOR,'#E8F4F8', BORDERCOLOR,'#9BB9CF', WIDTH,250, ABOVE,true, OFFSETX,-17, FADEIN,150, FADEOUT,150, PADDING,8, FIX, ['pin_tip', -5, -5])" 
    			onmouseout="UnTip()"><img style="vertical-align:middle" class="LinkImage" src="#imgUrl("/img/IcnQuestionMark.gif")" width="20" height="20"/></img></a>
		    </td>	
</tr>
<tr><td colspan="4">#springShowErrors("<br/>" "error")</td></tr>
</table>
<input type="submit" name="_target2" class="btnNext" tabindex='3' value="#springMessageText("resetpassword.button.next" "Next")">
#springBind("resetpassword.accountInfoType")
<input type="hidden" name="${status.expression}" id="resetpassword.accountInfoType" value="PFC">
</form>
#end

##NonTransactional 
#if(($mbca17 || $mbca640) && $nontransaccount && !$accountIDA && !$accountCCA && !$accountAMEX && !$accountPFC)
	#parse("vm/nontransactionalaccountval.vm")
#end


#if(!$accountIDA && !$accountCCA && !$accountAMEX && !$accountPFC && !$nontransaccount)
	#if(!$actnotfound)
		<input type="submit" name="_target2" class="btnNext" value="#springMessageText("resetpassword.button.next" "Next")">
	#end
	
#end
</td></tr>
#end ## end if blocked

<script type="text/javascript">
	var allTexbox = document.getElementsByTagName("input");
	for (var ii=0; ii < allTexbox.length; ii++) {
  		if (allTexbox[ii].type == "text") {
    		allTexbox[ii].value = "";
  		}
	}

	var allDdowns = document.getElementsByTagName("select");
	for (var i=0; i < allDdowns.length; i++) {
  		allDdowns[i].selectedIndex = 0;
	}
</script>

#end ## end of accounts collapse

</table>
