## MBFIS-7
#set($page_title = "Reset Password")
#set($showmenu="false")
#set($layout="layout/mbfis/fis-layout.vm")
    <style>
@font-face {
		font-family: 'Open Sans';
		src: url('../css/fis/fonts/OpenSans.woff');
	}
body, div{
	font-family: Open Sans !important;		
	font-size: 17px !important;	
}
 .ChangePswContainer {
	border-radius: 3px;	
	background-color: #FFFFFF;
	overflow:hidden;
	position:relative;
	}

.rectangle {
	height: 118px;	
	width: 700px;	
	background-color: #FBFBFB;
}
.inside-container-left-side{
	height: 100%;
	width: 50%;
	float: left;
	position: relative;
	display:table-cell;
}
.inside-container-right-side{
	height: 100%;
	width: 50%;
	float: right;
	position: relative;
	text-align: left;
	display:table-cell;
	
}

.text-nueva-contrasena {
	width: 350px;	
	color: #2278C9;	
	text-transform: uppercase;
	}
	
.text-por-favor-ingrese-su {	
	color: #333333;
}

.text2-nueva-contrasena {
	color: #333333;
}
.text-confirmar-nueva-cont {
	color: #333333;
}
.mask {
	height: 150px;
	width: 324px;
	display:table-cell;
	position:relative;
	border-radius: 5px;
	background-color: rgba(34,120,201,0.15);
	top:10px;
	left:10px;	
 	border-left-style: solid;
    border-left-width: 8px;
    border-left-color: #2278C9;
}

.text-contrasena-specs {
	height: 149px;
	width: 281px;
	color: #00205C;
	line-height: 20px;
	display:table-cell;
	position:absolute;
	margin-top:10px;
	margin-left:10px;
}
.row-button {
	margin-top: 60px;
	background-color: #FBFBFB;
	padding-top: 40px !important;
	padding-bottom: 40px;
	text-align: center;
}

    </style>
<div>
<form id="resetpasswordsec" action="resetpasswordsec" autocomplete="off" method="post">
<div id="changepsw" class="ChangePswContainer">
<div class="rectangle content-body">
<div class="text-nueva-contrasena">#springMessageText("enrollment.sec.passwordform.title" "New Password")</div>
<div class="text-por-favor-ingrese-su">#springMessageText("enrollment.sec.passwordform.subtitle""Please enter new password for Mi Banco")</div>
</div>
<div class="content-body">
<div class="inside-container-left-side">
<div class="group-copy-24">
<div class="text2-nueva-contrasena">#springMessageText("enrollment.sec.resetpassword.password" "New Password:")</div>
<div>
	#springBind("resetpasswordsec.password")
	<input class="form-control" type="password" name="password" value="" placeholder="#springMessageText("enrollment.sec.resetpassword.pwd.placeholder" "Password")" "autocomplete='off' onselectstart='return false' onpaste='return false' onCopy='return false' onCut='return false' onDrag='return false' onDrop='return false'">
	#springShowErrors("<br/>" "error")</div>
</div>
<br>
<div class="text-confirmar-nueva-cont">#springMessageText("enrollment.sec.resetpassword.passwordconfirm" "Confirm password:")</div>
<div >#springBind("resetpasswordsec.passwordconfirm")
<input class="form-control" type="password" name="passwordconfirm" placeholder="#springMessageText("enrollment.sec.resetpassword.pwdconfirm.placeholder" "Confirm Password")" "autocomplete='off' onselectstart='return false' onpaste='return false' onCopy='return false' onCut='return false' onDrag='return false' onDrop='return false'">
#springShowErrors("<br/>" "error")
</div>
</div>

<div class="inside-container-right-side">
	 <div class="mask">
      <div class="text-contrasena-specs">#springMessageText("enrollment.sec.password.instr.label" "Password Must have:<br> -Between 8-15 characters.<br> -Combination of letters, number and capital letter.<br> -Special characters are optional.")</div>
      </div>
</div>  
</div>	
<br><br><br><br><br><br>
<!-- button -->
<div class="row row-button" style="padding-left:0px !important;">
    <div class="offset-md-7 col-md-5 div-continue-btn">
        <input class="bg button-text" style="height: 40px !important; width: 100% !important; border-radius: 24px !important; background-color: #2278C9 !important;cursor: pointer;outline:none;"
                                                                                type="submit" value="#springMessageText("continue.label" "Continue")"/>
    </div>
</div>
</div>
</form></div>
 