<rsaMod>
    <div class="modal">

        <div class="modal-body">
            <div class="modal-header">
                <img src="#imgUrl("/img/rsa/phone-icon.svg")" alt="Phone Icon">
                <h3>#springMessageText("login.oob.label" "2 Step Verification")</h3>
            </div>
            <hr>
            <p class="nonCodes nonCodesTitle">#springMessageText("rsa.text.nonCodes.title" "")</p>
            <p class="nonCodes nonCodesBody">#springMessageText("rsa.text.nonCodes.location" "")&nbsp;
                #springMessageText("rsa.text.nonCodes.questions" "")&nbsp;
                <a href="#springMessageText("rsa.tel.nonCodes.helpDesk.PR" "")" class="h-link">#springMessageText("rsa.text.nonCodes.helpDesk.PR" "")</a>&nbsp;
                #springMessageText("rsa.text.nonCodes.or" "")&nbsp;
                <a href="#springMessageText("rsa.tel.nonCodes.helpDesk.US" "")" class="h-link">#springMessageText("rsa.text.nonCodes.helpDesk.US" "")</a>&nbsp;
                #springMessageText("rsa.text.nonCodes.US.VI" "")
            </p>
        </div>

        <div class="modal-actions">
            <a href="javascript:" onclick="disabledButton(this); updateDisplay('initRsa?newCode=N', '$nextScreen', '$!phone', '$!function');" class="btn btn-primary">#springMessageText("goback" "")</a>

        </div>

    </div>
</rsaMod>
