#set($layout = "layout/ccPortalIframeLayout.vm")
<script language="JavaScript" type="text/javascript">
	function expandIframe(){
		//PROCESO PARA EXPANDIR EL PARENT IFRAME
		var newSize = "280px";
		#if($transactions && $transactions.size()>0)
			newSize = "900px";
		#else
			expandParentServiceIframe(newSize);
		#end
		//FINAL PROCESO PARA EXPANDIR EL PARENT IFRAME
	}
	function expandParentServiceIframe(pxSize) {
		parent.document.getElementById('transactionIFrame').style.height= pxSize;
	}
</script>
#parse("vm/seeTransaction.vm")
<script language="JavaScript" type="text/javascript">
	expandIframe();
</script> 