<script language="JavaScript" type="text/javascript">
<!--
function sendFormfinishyes(actiontype)
{
	if(actiontype=='no'){
		id = document.getElementById('glass2');
        id.style.display='none';
	}else{
	  	document.wbaStart.actiontype.value='yes';
  		document.wbaStart.submit() ;
	}

}
-->
</script>
<form name="wbaFinishyes" action="wbaFinishyes" method="post" autocomplete="off">
<input type="hidden" name="actiontype" />
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr style="background-image: url(../img/rege/BlueGradient.gif);">
    <td height="22">&nbsp;</td>
  </tr>
</table>
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
  	<td width="50" align="left" valign="top">&nbsp;</td>
    <td width="133" align="left" valign="top"><img src="../img/rege/logo.gif" width="133" height="27" alt="Popular" /></td>
    <td width="622" align="left" valign="top">&nbsp;</td>
    <td width="19" align="left" valign="middle" class="utilities"></td>
  </tr>
  <tr>
    <td height="10" colspan="3" align="left" valign="top">&nbsp;</td>
  </tr>
</table>
<table class="tabla" width="500" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="150" align="left" valign="top"><table width="500" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="28"><p>&nbsp;</p></td>
        <td  width="472"><p ></p>
          <p ><span class="copy">#springMessageText("wba.finishyes.thanks" "")</span></p>
		</td>
      </tr>
	  <tr>
        <td width="28"><p class="Header1">&nbsp;</p></td>
        <td >
			<a class="linkimg" href="#">
				<img src="#springMessageText('wba.start.ok' '')" onclick="javascript:sendFormfinishyes('yes');"/>
			</a>
		</td>
		<td >
			&nbsp;
        </td>
	  </tr>
    </table>      
	<p class="Header1"><br /><br />
    </p></td>
  </tr>
</table>
</form>
