.page--editEmailPage__background {
	background-color :  white;
}

.emailCurrentTitle {
	color : #1f1f21;
	margin-left: auto;
    margin-right: auto;
    width: 95%;
    line-height: 30px;
    font-size: .8em;
}

#currentEmail{
	font-weight: bold;
    color: black;
}

#onslistNewEMail, #onslistConfirmNewEMail {
	/*padding-top: 20px;*/
}

#onslistNewEMail .initialHeader, #onslistConfirmNewEMail .initialHeader {
	padding-top: initial!important;
	background-color : transparent;
	font-size : .9em;
	font-weight: bold;
    line-height: 30px;
    text-transform: inherit;
}

#emailInput .text-input, #confirmEmailInput .text-input {
	font-size : .9em;
	color : #1f1f21;
	font-weight: bold;
}

.button:disabled, .button[disabled] {
	
}

.list-item--material__left {
	background-color: #EFEFF4;
	border-radius: 10px;
	padding-left: 15px;
}

.button--material {
	padding: 10px 35%;
}

.button--material:disabled, .button--material[disabled] { 
	background-color: rgba(34,120,201, .5);
    	color: white;
}

.errorAnswer{
	color: #FF0000;
    line-height: 20px;
    text-align: left;
    font-size: 13px;
    padding-right: 16px;
    padding-left: 0px;
    margin-top: 0px;
    width: 93%;
    margin-left: 5px;
    margin-bottom: 5px;
}

.contentMobile {
	min-height : 450px;
}