:root {
	--cold-gray : #eee;
	--dark-gray : #1f1f21;
	--mariner-blue : #2278C9;
}

.page--editEmailPage__background {
	background-color :  var(--cold-gray);
}

.emailCurrentTitle {
	color : var(--dark-gray);
	margin-left: auto;
    margin-right: auto;
    width: 95%;
    line-height: 30px;
    font-size: .8em;
}

#currentEmail{
	font-weight: bold;
    color: black;
}

#onslistNewEMail, #onslistConfirmNewEMail {
	/*padding-top: 20px;*/
}

#onslistNewEMail .initialHeader, #onslistConfirmNewEMail .initialHeader {
	padding-top: initial!important;
	background-color : transparent;
	font-size : .9em;
	font-weight: bold;
    line-height: 30px;
    padding-left: initial;
    text-transform: inherit;
	
}

#emailInput .text-input, #confirmEmailInput .text-input {
	font-size : .9em;
	color : var(--dark-gray);
	font-weight: bold;
}

.button:disabled, .button[disabled] {
	background-color: var(--mariner-blue);
}

.errorAnswer{
	color: #FF0000;
    line-height: 20px;
    text-align: left;
    font-size: 13px;
    padding-right: 16px;
    padding-left: 0px;
    margin-top: 0px;
    width: 93%;
    margin-bottom: auto;
    margin-left: 1px;
}

.initialHeader.list-header.list-header--fixLineIOS {
	background-size: 100% 0px;
}