/*
* jQuery Mobile Framework 1.1.0
* http://jquerymobile.com
*
* Copyright 2011 (c) jQuery Project
* Dual licensed under the MIT or GPL Version 2 licenses.
* http://jquery.org/license
*
*/
/* Swatches */

/* A
-----------------------------------------------------------------------------------------------------------*/

body {
	font-family: Roboto, sans-serif, Arial /*{global-font-family}*/;
}
.ui-header {
	display: none;
}

.ui-body-c {
	background-image: none;
	background-color: #FFF;
}

h1 {
	font-size: 100%;
	border-bottom: 2px solid #c4c4c4;
	padding-bottom: 5px;
	color: #3784d2 !important;
	text-transform: uppercase;
}
input.ui-input-text {
	border: none !important;
	border-bottom: 1px solid #a9a9a9 !important;
	background-image: url(../../img/mobile/field-normal-brdr.png), url(../../img/mobile/field-normal-brdr.png) !important;
	background-repeat: no-repeat !important;
	background-position-x: right, left !important;
	background-position-y: 100% !important;
	background-size: 1px 10% !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	font-weight: normal !important;
}
input.ui-input-text:focus {
	outline-color: transparent !important;
	outline-style: none !important;
	border: none !important;
	border-bottom: 2px solid #3784d2 !important;
	background-image: url(../../img/mobile/field-active-brdr.png), url(../../img/mobile/field-active-brdr.png) !important;
	background-repeat: no-repeat !important;
	background-position-x: right, left !important;
	background-position-y: 100% !important;
	background-size: 2px 10% !important;
	-webkit-box-shadow: none !important;
	box-shadow: none;
	font-weight: normal !important;
}
input.ui-input-text {
	border: 1px solid #a9a9a9;
}
textarea.ui-input-text:focus {
	border: 1px solid #3784d2;
}
.ui-collapsible-content {
	border-left: 1px solid #cccccc !important;
	border-right: 1px solid #cccccc !important;
	border-top: none !important;
}
.hide {
	display: none;
}
@font-face {
	font-family: 'RobotoRegular';
	src: url('themes/Roboto/Roboto-Regular-webfont.eot');
	src: url('themes/Roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),  url('themes/Roboto/Roboto-Regular-webfont.woff') format('woff'),  url('themes/Roboto/Roboto-Regular-webfont.ttf') format('truetype'),  url('themes/Roboto/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'RobotoItalic';
	src: url('themes/Roboto/Roboto-Italic-webfont.eot');
	src: url('themes/Roboto/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),  url('themes/Roboto/Roboto-Italic-webfont.woff') format('woff'),  url('themes/Roboto/Roboto-Italic-webfont.ttf') format('truetype'),  url('themes/Roboto/Roboto-Italic-webfont.svg#RobotoItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'RobotoBold';
	src: url('themes/Roboto/Roboto-Bold-webfont.eot');
	src: url('themes/Roboto/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),  url('themes/Roboto/Roboto-Bold-webfont.woff') format('woff'),  url('themes/Roboto/Roboto-Bold-webfont.ttf') format('truetype'),  url('themes/Roboto/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'RobotoBoldItalic';
	src: url('themes/Roboto/Roboto-BoldItalic-webfont.eot');
	src: url('themes/Roboto/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),  url('themes/Roboto/Roboto-BoldItalic-webfont.woff') format('woff'),  url('themes/Roboto/Roboto-BoldItalic-webfont.ttf') format('truetype'),  url('themes/Roboto/Roboto-BoldItalic-webfont.svg#RobotoBoldItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'RobotoCondensed';
	src: url('themes/Roboto/Roboto-Condensed-webfont.eot');
	src: url('themes/Roboto/Roboto-Condensed-webfont.eot?#iefix') format('embedded-opentype'),  url('themes/Roboto/Roboto-Condensed-webfont.woff') format('woff'),  url('themes/Roboto/Roboto-Condensed-webfont.ttf') format('truetype'),  url('themes/Roboto/Roboto-Condensed-webfont.svg#RobotoCondensed') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'RobotoCondensedItalic';
	src: url('themes/Roboto/Roboto-CondensedItalic-webfont.eot');
	src: url('themes/Roboto/Roboto-CondensedItalic-webfont.eot?#iefix') format('embedded-opentype'),  url('themes/Roboto/Roboto-CondensedItalic-webfont.woff') format('woff'),  url('themes/Roboto/Roboto-CondensedItalic-webfont.ttf') format('truetype'),  url('themes/Roboto/Roboto-CondensedItalic-webfont.svg#RobotoCondensedItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'RobotoBoldCondensed';
	src: url('themes/Roboto/Roboto-BoldCondensed-webfont.eot');
	src: url('themes/Roboto/Roboto-BoldCondensed-webfont.eot?#iefix') format('embedded-opentype'),  url('themes/Roboto/Roboto-BoldCondensed-webfont.woff') format('woff'),  url('themes/Roboto/Roboto-BoldCondensed-webfont.ttf') format('truetype'),  url('themes/Roboto/Roboto-BoldCondensed-webfont.svg#RobotoBoldCondensed') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'RobotoBoldCondensedItalic';
	src: url('themes/Roboto/Roboto-BoldCondensedItalic-webfont.eot');
	src: url('themes/Roboto/Roboto-BoldCondensedItalic-webfont.eot?#iefix') format('embedded-opentype'),  url('themes/Roboto/Roboto-BoldCondensedItalic-webfont.woff') format('woff'),  url('themes/Roboto/Roboto-BoldCondensedItalic-webfont.ttf') format('truetype'),  url('themes/Roboto/Roboto-BoldCondensedItalic-webfont.svg#RobotoBoldCondensedItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'RobotoThin';
	src: url('themes/Roboto/Roboto-Thin-webfont.eot');
	src: url('themes/Roboto/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),  url('themes/Roboto/Roboto-Thin-webfont.woff') format('woff'),  url('themes/Roboto/Roboto-Thin-webfont.ttf') format('truetype'),  url('themes/Roboto/Roboto-Thin-webfont.svg#RobotoThin') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'RobotoThinItalic';
	src: url('themes/Roboto/Roboto-ThinItalic-webfont.eot');
	src: url('themes/Roboto/Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),  url('themes/Roboto/Roboto-ThinItalic-webfont.woff') format('woff'),  url('themes/Roboto/Roboto-ThinItalic-webfont.ttf') format('truetype'),  url('themes/Roboto/Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'RobotoLight';
	src: url('themes/Roboto/Roboto-Light-webfont.eot');
	src: url('themes/Roboto/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),  url('themes/Roboto/Roboto-Light-webfont.woff') format('woff'),  url('themes/Roboto/Roboto-Light-webfont.ttf') format('truetype'),  url('themes/Roboto/Roboto-Light-webfont.svg#RobotoLight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'RobotoLightItalic';
	src: url('themes/Roboto/Roboto-LightItalic-webfont.eot');
	src: url('themes/Roboto/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),  url('themes/Roboto/Roboto-LightItalic-webfont.woff') format('woff'),  url('themes/Roboto/Roboto-LightItalic-webfont.ttf') format('truetype'),  url('themes/Roboto/Roboto-LightItalic-webfont.svg#RobotoLightItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'RobotoMedium';
	src: url('themes/Roboto/Roboto-Medium-webfont.eot');
	src: url('themes/Roboto/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),  url('themes/Roboto/Roboto-Medium-webfont.woff') format('woff'),  url('themes/Roboto/Roboto-Medium-webfont.ttf') format('truetype'),  url('themes/Roboto/Roboto-Medium-webfont.svg#RobotoMedium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'RobotoMediumItalic';
	src: url('themes/Roboto/Roboto-MediumItalic-webfont.eot');
	src: url('themes/Roboto/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),  url('themes/Roboto/Roboto-MediumItalic-webfont.woff') format('woff'),  url('themes/Roboto/Roboto-MediumItalic-webfont.ttf') format('truetype'),  url('themes/Roboto/Roboto-MediumItalic-webfont.svg#RobotoMediumItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'RobotoBlack';
	src: url('themes/Roboto/Roboto-Black-webfont.eot');
	src: url('themes/Roboto/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),  url('themes/Roboto/Roboto-Black-webfont.woff') format('woff'),  url('themes/Roboto/Roboto-Black-webfont.ttf') format('truetype'),  url('themes/Roboto/Roboto-Black-webfont.svg#RobotoBlack') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'RobotoBlackItalic';
	src: url('themes/Roboto/Roboto-BlackItalic-webfont.eot');
	src: url('themes/Roboto/Roboto-BlackItalic-webfont.eot?#iefix') format('embedded-opentype'),  url('themes/Roboto/Roboto-BlackItalic-webfont.woff') format('woff'),  url('themes/Roboto/Roboto-BlackItalic-webfont.ttf') format('truetype'),  url('themes/Roboto/Roboto-BlackItalic-webfont.svg#RobotoBlackItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
.ui-bar-a {
	border: 1px solid #003265 /*{a-bar-border}*/;
	background: #003e7e /*{a-bar-background-color}*/;
	color: #fff /*{a-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{a-bar-shadow-x}*/ 0 /*{a-bar-shadow-y}*/ 0 /*{a-bar-shadow-radius}*/ #ffffff /*{a-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #003e7e /*{a-bar-background-start}*/), to( #003e7e /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #003e7e /*{a-bar-background-start}*/, #003e7e /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient( #003e7e /*{a-bar-background-start}*/, #003e7e /*{a-bar-background-end}*/); /* FF3.6 */
	background-image: -ms-linear-gradient( #003e7e /*{a-bar-background-start}*/, #003e7e /*{a-bar-background-end}*/); /* IE10 */
	background-image: -o-linear-gradient( #003e7e /*{a-bar-background-start}*/, #003e7e /*{a-bar-background-end}*/); /* Opera 11.10+ */
	background-image: linear-gradient( #003e7e /*{a-bar-background-start}*/, #003e7e /*{a-bar-background-end}*/);
}
.ui-bar-a .ui-link-inherit {
	color: #fff /*{a-bar-color}*/;
}
.ui-bar-a .ui-link {
	color: #7cc4e7 /*{a-bar-link-color}*/;
	font-weight: bold;
}
.ui-bar-a .ui-link:hover {
	color: #2489CE /*{a-bar-link-hover}*/;
}
.ui-bar-a .ui-link:active {
	color: #2489CE /*{a-bar-link-active}*/;
}
.ui-bar-a .ui-link:visited {
	color: #2489CE /*{a-bar-link-visited}*/;
}
.ui-bar-a, .ui-bar-a input, .ui-bar-a select, .ui-bar-a textarea, .ui-bar-a button {
	font-family: Roboto, sans-serif, Arial /*{global-font-family}*/;
}
.ui-body-a, .ui-overlay-a {
	border: 1px solid #3784d2 /*{a-body-border}*/;
	color: #222222 /*{a-body-color}*/;
	text-shadow: 0 /*{a-body-shadow-x}*/ 0 /*{a-body-shadow-y}*/ 0 /*{a-body-shadow-radius}*/ #ffffff /*{a-body-shadow-color}*/;
	background: #fff /*{a-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ff0fNaN /*{a-body-background-start}*/), to( #ff0fNaN /*{a-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ff0fNaN /*{a-body-background-start}*/, #ff0fNaN /*{a-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient( #ff0fNaN /*{a-body-background-start}*/, #ff0fNaN /*{a-body-background-end}*/); /* FF3.6 */
	background-image: -ms-linear-gradient( #ff0fNaN /*{a-body-background-start}*/, #ff0fNaN /*{a-body-background-end}*/); /* IE10 */
	background-image: -o-linear-gradient( #ff0fNaN /*{a-body-background-start}*/, #ff0fNaN /*{a-body-background-end}*/); /* Opera 11.10+ */
	background-image: linear-gradient( #ff0fNaN /*{a-body-background-start}*/, #ff0fNaN /*{a-body-background-end}*/);
}
.ui-overlay-a {
	background-image: none;
	border-width: 0;
}
.ui-body-a, .ui-body-a input, .ui-body-a select, .ui-body-a textarea, .ui-body-a button {
	font-family: Roboto, sans-serif, Arial /*{global-font-family}*/;
}
.ui-body-a .ui-link-inherit {
	color: #222222 /*{a-body-color}*/;
}
.ui-body-a .ui-link {
	color: #3784d2 /*{a-body-link-color}*/;
	font-weight: bold;
}
.ui-body-a .ui-link:hover {
	color: #2489CE /*{a-body-link-hover}*/;
}
.ui-body-a .ui-link:active {
	color: #2489CE /*{a-body-link-active}*/;
}
.ui-body-a .ui-link:visited {
	color: #2489CE /*{a-body-link-visited}*/;
}
.ui-btn-up-a {
	border: 1px solid #8eaa59 /*{b-bup-border}*/;
	background: #b9dd74 /*{b-bup-background-color}*/;
	font-weight: bold;
	color: #2b5600 /*{b-bup-color}*/;
	text-shadow: 0 /*{b-bup-shadow-x}*/ 0 /*{b-bup-shadow-y}*/ 0 /*{b-bup-shadow-radius}*/ #ffffff /*{b-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #b9dd74 /*{b-bup-background-start}*/), to( #b9dd74 /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #b9dd74 /*{b-bup-background-start}*/, #b9dd74 /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient( #b9dd74 /*{b-bup-background-start}*/, #b9dd74 /*{b-bup-background-end}*/); /* FF3.6 */
	background-image: -ms-linear-gradient( #b9dd74 /*{b-bup-background-start}*/, #b9dd74 /*{b-bup-background-end}*/); /* IE10 */
	background-image: -o-linear-gradient( #b9dd74 /*{b-bup-background-start}*/, #b9dd74 /*{b-bup-background-end}*/); /* Opera 11.10+ */
	background-image: linear-gradient( #b9dd74 /*{b-bup-background-start}*/, #b9dd74 /*{b-bup-background-end}*/);
}
.ui-btn-up-a a.ui-link-inherit {
	color: #2b5600 /*{b-bup-color}*/;
}
.ui-btn-hover-a {
	border: 1px solid #bbbbbb /*{a-bhover-border}*/;
	background: #dfdfdf /*{a-bhover-background-color}*/;
	font-weight: bold;
	color: #2F3E46 /*{a-bhover-color}*/;
	text-shadow: 0 /*{a-bhover-shadow-x}*/ 1px /*{a-bhover-shadow-y}*/ 0 /*{a-bhover-shadow-radius}*/ #ffffff /*{a-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f6f6f6 /*{a-bhover-background-start}*/), to( #e0e0e0 /*{a-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f6f6f6 /*{a-bhover-background-start}*/, #e0e0e0 /*{a-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient( #f6f6f6 /*{a-bhover-background-start}*/, #e0e0e0 /*{a-bhover-background-end}*/); /* FF3.6 */
	background-image: -ms-linear-gradient( #f6f6f6 /*{a-bhover-background-start}*/, #e0e0e0 /*{a-bhover-background-end}*/); /* IE10 */
	background-image: -o-linear-gradient( #f6f6f6 /*{a-bhover-background-start}*/, #e0e0e0 /*{a-bhover-background-end}*/); /* Opera 11.10+ */
	background-image: linear-gradient( #f6f6f6 /*{a-bhover-background-start}*/, #e0e0e0 /*{a-bhover-background-end}*/);
}
.ui-btn-hover-a a.ui-link-inherit {
	color: #2F3E46 /*{a-bhover-color}*/;
}
.ui-btn-down-a {
	border: 1px solid #bbbbbb /*{a-bdown-border}*/;
	background: #d6d6d6 /*{a-bdown-background-color}*/;
	font-weight: bold;
	color: #2F3E46 /*{a-bdown-color}*/;
	text-shadow: 0 /*{a-bdown-shadow-x}*/ 1px /*{a-bdown-shadow-y}*/ 0 /*{a-bdown-shadow-radius}*/ #ffffff /*{a-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #d0d0d0 /*{a-bdown-background-start}*/), to( #dfdfdf /*{a-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #d0d0d0 /*{a-bdown-background-start}*/, #dfdfdf /*{a-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient( #d0d0d0 /*{a-bdown-background-start}*/, #dfdfdf /*{a-bdown-background-end}*/); /* FF3.6 */
	background-image: -ms-linear-gradient( #d0d0d0 /*{a-bdown-background-start}*/, #dfdfdf /*{a-bdown-background-end}*/); /* IE10 */
	background-image: -o-linear-gradient( #d0d0d0 /*{a-bdown-background-start}*/, #dfdfdf /*{a-bdown-background-end}*/); /* Opera 11.10+ */
	background-image: linear-gradient( #d0d0d0 /*{a-bdown-background-start}*/, #dfdfdf /*{a-bdown-background-end}*/);
}
.ui-btn-down-a a.ui-link-inherit {
	color: #2F3E46 /*{a-bdown-color}*/;
}
.ui-btn-up-a, .ui-btn-hover-a, .ui-btn-down-a {
	font-family: Roboto, sans-serif, Arial /*{global-font-family}*/;
	text-decoration: none;
}
/* B
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-b {
	border: 1px solid #3784d2 /*{b-bar-border}*/;
	background: #fff /*{b-bar-background-color}*/;
 color: # /*{b-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{b-bar-shadow-x}*/ 0 /*{b-bar-shadow-y}*/ 0 /*{b-bar-shadow-radius}*/ #ffffff /*{b-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FF15NaN /*{b-bar-background-start}*/), to( #9909NaN /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FF15NaN /*{b-bar-background-start}*/, #9909NaN /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient( #FF15NaN /*{b-bar-background-start}*/, #9909NaN /*{b-bar-background-end}*/); /* FF3.6 */
	background-image: -ms-linear-gradient( #FF15NaN /*{b-bar-background-start}*/, #9909NaN /*{b-bar-background-end}*/); /* IE10 */
	background-image: -o-linear-gradient( #FF15NaN /*{b-bar-background-start}*/, #9909NaN /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image: linear-gradient( #FF15NaN /*{b-bar-background-start}*/, #9909NaN /*{b-bar-background-end}*/);
}
.ui-bar-b .ui-link-inherit {
 color: # /*{b-bar-color}*/;
}
.ui-bar-b .ui-link {
	color: #7cc4e7 /*{b-bar-link-color}*/;
	font-weight: bold;
}
.ui-bar-b .ui-link:hover {
	color: #2489CE /*{b-bar-link-hover}*/;
}
.ui-bar-b .ui-link:active {
	color: #2489CE /*{b-bar-link-active}*/;
}
.ui-bar-b .ui-link:visited {
	color: #2489CE /*{b-bar-link-visited}*/;
}
.ui-bar-b, .ui-bar-b input, .ui-bar-b select, .ui-bar-b textarea, .ui-bar-b button {
	font-family: Roboto, sans-serif, Arial /*{global-font-family}*/;
}
.ui-body-b, .ui-overlay-b {
	border: 1px solid #3784d2 /*{b-body-border}*/;
	color: #222222 /*{b-body-color}*/;
	text-shadow: 0 /*{b-body-shadow-x}*/ 0 /*{b-body-shadow-y}*/ 0 /*{b-body-shadow-radius}*/ #ffffff /*{b-body-shadow-color}*/;
	background: #fff /*{b-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ff0fNaN /*{b-body-background-start}*/), to( #ff0fNaN /*{b-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ff0fNaN /*{b-body-background-start}*/, #ff0fNaN /*{b-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient( #ff0fNaN /*{b-body-background-start}*/, #ff0fNaN /*{b-body-background-end}*/); /* FF3.6 */
	background-image: -ms-linear-gradient( #ff0fNaN /*{b-body-background-start}*/, #ff0fNaN /*{b-body-background-end}*/); /* IE10 */
	background-image: -o-linear-gradient( #ff0fNaN /*{b-body-background-start}*/, #ff0fNaN /*{b-body-background-end}*/); /* Opera 11.10+ */
	background-image: linear-gradient( #ff0fNaN /*{b-body-background-start}*/, #ff0fNaN /*{b-body-background-end}*/);
}
.ui-overlay-b {
	background-image: none;
	border-width: 0;
}
.ui-body-b, .ui-body-b input, .ui-body-b select, .ui-body-b textarea, .ui-body-b button {
	font-family: Roboto, sans-serif, Arial /*{global-font-family}*/;
}
.ui-body-b .ui-link-inherit {
	color: #222222 /*{b-body-color}*/;
}
.ui-body-b .ui-link {
	color: #3784d2 /*{b-body-link-color}*/;
	font-weight: bold;
}
.ui-body-b .ui-link:hover {
	color: #2489CE /*{b-body-link-hover}*/;
}
.ui-body-b .ui-link:active {
	color: #2489CE /*{b-body-link-active}*/;
}
.ui-body-b .ui-link:visited {
	color: #2489CE /*{b-body-link-visited}*/;
}
.ui-btn-up-b {
	border: 1px solid #8eaa59 /*{b-bup-border}*/;
	background: #b9dd74 /*{b-bup-background-color}*/;
	font-weight: bold;
	color: #2b5600 /*{b-bup-color}*/;
	text-shadow: 0 /*{b-bup-shadow-x}*/ 0 /*{b-bup-shadow-y}*/ 0 /*{b-bup-shadow-radius}*/ #ffffff /*{b-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #b9dd74 /*{b-bup-background-start}*/), to( #b9dd74 /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #b9dd74 /*{b-bup-background-start}*/, #b9dd74 /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient( #b9dd74 /*{b-bup-background-start}*/, #b9dd74 /*{b-bup-background-end}*/); /* FF3.6 */
	background-image: -ms-linear-gradient( #b9dd74 /*{b-bup-background-start}*/, #b9dd74 /*{b-bup-background-end}*/); /* IE10 */
	background-image: -o-linear-gradient( #b9dd74 /*{b-bup-background-start}*/, #b9dd74 /*{b-bup-background-end}*/); /* Opera 11.10+ */
	background-image: linear-gradient( #b9dd74 /*{b-bup-background-start}*/, #b9dd74 /*{b-bup-background-end}*/);
}
.ui-btn-up-b a.ui-link-inherit {
	color: #2b5600 /*{b-bup-color}*/;
}
.ui-btn-hover-b {
	border: 1px solid #bbbbbb /*{b-bhover-border}*/;
	background: #dfdfdf /*{b-bhover-background-color}*/;
	font-weight: bold;
	color: #2F3E46 /*{b-bhover-color}*/;
	text-shadow: 0 /*{b-bhover-shadow-x}*/ 1px /*{b-bhover-shadow-y}*/ 0 /*{b-bhover-shadow-radius}*/ #ffffff /*{b-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f6f6f6 /*{b-bhover-background-start}*/), to( #e0e0e0 /*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f6f6f6 /*{b-bhover-background-start}*/, #e0e0e0 /*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient( #f6f6f6 /*{b-bhover-background-start}*/, #e0e0e0 /*{b-bhover-background-end}*/); /* FF3.6 */
	background-image: -ms-linear-gradient( #f6f6f6 /*{b-bhover-background-start}*/, #e0e0e0 /*{b-bhover-background-end}*/); /* IE10 */
	background-image: -o-linear-gradient( #f6f6f6 /*{b-bhover-background-start}*/, #e0e0e0 /*{b-bhover-background-end}*/); /* Opera 11.10+ */
	background-image: linear-gradient( #f6f6f6 /*{b-bhover-background-start}*/, #e0e0e0 /*{b-bhover-background-end}*/);
}
.ui-btn-hover-b a.ui-link-inherit {
	color: #2F3E46 /*{b-bhover-color}*/;
}
.ui-btn-down-b {
	border: 1px solid #bbbbbb /*{b-bdown-border}*/;
	background: #d6d6d6 /*{b-bdown-background-color}*/;
	font-weight: bold;
	color: #2F3E46 /*{b-bdown-color}*/;
	text-shadow: 0 /*{b-bdown-shadow-x}*/ 1px /*{b-bdown-shadow-y}*/ 0 /*{b-bdown-shadow-radius}*/ #ffffff /*{b-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #d0d0d0 /*{b-bdown-background-start}*/), to( #dfdfdf /*{b-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #d0d0d0 /*{b-bdown-background-start}*/, #dfdfdf /*{b-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient( #d0d0d0 /*{b-bdown-background-start}*/, #dfdfdf /*{b-bdown-background-end}*/); /* FF3.6 */
	background-image: -ms-linear-gradient( #d0d0d0 /*{b-bdown-background-start}*/, #dfdfdf /*{b-bdown-background-end}*/); /* IE10 */
	background-image: -o-linear-gradient( #d0d0d0 /*{b-bdown-background-start}*/, #dfdfdf /*{b-bdown-background-end}*/); /* Opera 11.10+ */
	background-image: linear-gradient( #d0d0d0 /*{b-bdown-background-start}*/, #dfdfdf /*{b-bdown-background-end}*/);
}
.ui-btn-down-b a.ui-link-inherit {
	color: #2F3E46 /*{b-bdown-color}*/;
}
.ui-btn-up-b, .ui-btn-hover-b, .ui-btn-down-b {
	font-family: Roboto, sans-serif, Arial /*{global-font-family}*/;
	text-decoration: none;
}
/* Structure */

/* links within "buttons" 
-----------------------------------------------------------------------------------------------------------*/

a.ui-link-inherit {
	text-decoration: none !important;
}
/* Bctive class used as the "on" state across all themes
-----------------------------------------------------------------------------------------------------------*/
.ui-btn-active {
	border: 1px solid #3784d2 /*{global-active-border}*/;
	background: #b2b2b2 /*{global-active-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{global-active-color}*/;
	cursor: pointer;
	text-shadow: 0 /*{global-active-shadow-x}*/ 0 /*{global-active-shadow-y}*/ 1px /*{global-active-shadow-radius}*/ #3373a5 /*{global-active-shadow-color}*/;
	text-decoration: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #b2b2b2 /*{global-active-background-start}*/), to( #b2b2b2 /*{global-active-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #b2b2b2 /*{global-active-background-start}*/, #b2b2b2 /*{global-active-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient( #b2b2b2 /*{global-active-background-start}*/, #b2b2b2 /*{global-active-background-end}*/); /* FF3.6 */
	background-image: -ms-linear-gradient( #b2b2b2 /*{global-active-background-start}*/, #b2b2b2 /*{global-active-background-end}*/); /* IE10 */
	background-image: -o-linear-gradient( #b2b2b2 /*{global-active-background-start}*/, #b2b2b2 /*{global-active-background-end}*/); /* Opera 11.10+ */
	background-image: linear-gradient( #b2b2b2 /*{global-active-background-start}*/, #b2b2b2 /*{global-active-background-end}*/);
	font-family: Roboto, sans-serif, Arial /*{global-font-family}*/;
}
.ui-btn-active a.ui-link-inherit {
	color: #ffffff /*{global-active-color}*/;
}
/* button inner top highlight
-----------------------------------------------------------------------------------------------------------*/

.ui-btn-inner {
	border-top: 1px solid #fff;
	border-color: rgba(255,255,255,.3);
}
/* corner rounding classes
-----------------------------------------------------------------------------------------------------------*/

.ui-corner-tl {
	-moz-border-radius-topleft: 0.1em /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: 0.1em /*{global-radii-blocks}*/;
	border-top-left-radius: 0.1em /*{global-radii-blocks}*/;
}
.ui-corner-tr {
	-moz-border-radius-topright: 0.1em /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: 0.1em /*{global-radii-blocks}*/;
	border-top-right-radius: 0.1em /*{global-radii-blocks}*/;
}
.ui-corner-bl {
	-moz-border-radius-bottomleft: 0.1em /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: 0.1em /*{global-radii-blocks}*/;
	border-bottom-left-radius: 0.1em /*{global-radii-blocks}*/;
}
.ui-corner-br {
	-moz-border-radius-bottomright: 0.1em /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: 0.1em /*{global-radii-blocks}*/;
	border-bottom-right-radius: 0.1em /*{global-radii-blocks}*/;
}
.ui-corner-top {
	-moz-border-radius-topleft: 0.1em /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: 0.1em /*{global-radii-blocks}*/;
	border-top-left-radius: 0.1em /*{global-radii-blocks}*/;
	-moz-border-radius-topright: 0.1em /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: 0.1em /*{global-radii-blocks}*/;
	border-top-right-radius: 0.1em /*{global-radii-blocks}*/;
}
.ui-corner-bottom {
	-moz-border-radius-bottomleft: 0.1em /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: 0.1em /*{global-radii-blocks}*/;
	border-bottom-left-radius: 0.1em /*{global-radii-blocks}*/;
	-moz-border-radius-bottomright: 0.1em /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: 0.1em /*{global-radii-blocks}*/;
	border-bottom-right-radius: 0.1em /*{global-radii-blocks}*/;
}
.ui-corner-right {
	-moz-border-radius-topright: 0.1em /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: 0.1em /*{global-radii-blocks}*/;
	border-top-right-radius: 0.1em /*{global-radii-blocks}*/;
	-moz-border-radius-bottomright: 0.1em /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: 0.1em /*{global-radii-blocks}*/;
	border-bottom-right-radius: 0.1em /*{global-radii-blocks}*/;
}
.ui-corner-left {
	-moz-border-radius-topleft: 0.1em /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: 0.1em /*{global-radii-blocks}*/;
	border-top-left-radius: 0.1em /*{global-radii-blocks}*/;
	-moz-border-radius-bottomleft: 0.1em /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: 0.1em /*{global-radii-blocks}*/;
	border-bottom-left-radius: 0.1em /*{global-radii-blocks}*/;
}
.ui-corner-all {
	-moz-border-radius: 0.1em /*{global-radii-blocks}*/;
	-webkit-border-radius: 0.1em /*{global-radii-blocks}*/;
	border-radius: 0.1em /*{global-radii-blocks}*/;
}
.ui-corner-none {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
/* Form field separator
-----------------------------------------------------------------------------------------------------------*/
.ui-br {
	border-bottom: rgb(130,130,130);
	border-bottom: rgba(130,130,130,.3);
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
/* Interaction cues
-----------------------------------------------------------------------------------------------------------*/
.ui-disabled {
	opacity: .3;
}
.ui-disabled, .ui-disabled a {
	cursor: default !important;
	pointer-events: none;
}
.ui-disabled .ui-btn-text {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=30)";
	filter: alpha(opacity=30);
	zoom: 1;
}
/* Icons
-----------------------------------------------------------------------------------------------------------*/

.ui-icon, .ui-icon-searchfield:after {
	background: #FFFFFF /*{global-icon-color}*/;
	background: rgba(0,0,0,0.1) /*{global-icon-disc}*/;
	background-image: url(../../img/mobile/icons-18-white.png) /*{global-icon-set}*/;
	background-repeat: no-repeat;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
}
/* Blt icon color
-----------------------------------------------------------------------------------------------------------*/

.ui-icon-alt {
	background: #fff;
	background: rgba(255,255,255,.3);
	background-image: url(../../img/mobile/icons-18-black.png);
	background-repeat: no-repeat;
}

/* HD/"retina" sprite
-----------------------------------------------------------------------------------------------------------*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),  only screen and (min--moz-device-pixel-ratio: 1.5),  only screen and (min-resolution: 240dpi) {
.ui-icon-plus, .ui-icon-minus, .ui-icon-delete, .ui-icon-arrow-r,  .ui-icon-arrow-l, .ui-icon-arrow-u, .ui-icon-arrow-d, .ui-icon-check,  .ui-icon-gear, .ui-icon-refresh, .ui-icon-forward, .ui-icon-back,  .ui-icon-grid, .ui-icon-star, .ui-icon-alert, .ui-icon-info, .ui-icon-home, .ui-icon-search, .ui-icon-searchfield:after,  .ui-icon-checkbox-off, .ui-icon-checkbox-on, .ui-icon-radio-off, .ui-icon-radio-on {
	background-image: url(../../img/mobile/icons-36-white.png) /*{global-large-icon-set}*/;
	-moz-background-size: 776px 18px;
	-o-background-size: 776px 18px;
	-webkit-background-size: 776px 18px;
	background-size: 776px 18px;
}
.ui-icon-alt {
	background-image: url(../../img/mobile/icons-36-black.png);
}
}
/* plus minus */
.ui-icon-plus {
	background-position: -0 50%;
}
.ui-icon-minus {
	background-position: -36px 50%;
}
/* delete/close */
.ui-icon-delete {
	background-position: -72px 50%;
}
/* arrows */
.ui-icon-arrow-r {
	background-position: -108px 50%;
}
.ui-icon-arrow-l {
	background-position: -144px 50%;
}
.ui-icon-arrow-u {
	background-position: -180px 50%;
}
.ui-icon-arrow-d {
	background-position: -216px 50%;
}
/* misc */
.ui-icon-check {
	background-position: -252px 50%;
}
.ui-icon-gear {
	background-position: -288px 50%;
}
.ui-icon-refresh {
	background-position: -324px 50%;
}
.ui-icon-forward {
	background-position: -360px 50%;
}
.ui-icon-back {
	background-position: -396px 50%;
}
.ui-icon-grid {
	background-position: -432px 50%;
}
.ui-icon-star {
	background-position: -468px 50%;
}
.ui-icon-alert {
	background-position: -504px 50%;
}
.ui-icon-info {
	background-position: -540px 50%;
}
.ui-icon-home {
	background-position: -576px 50%;
}
.ui-icon-search, .ui-icon-searchfield:after {
	background-position: -612px 50%;
}
.ui-icon-checkbox-off {
	background-position: -684px 50%;
}
.ui-icon-checkbox-on {
	background-position: -648px 50%;
}
.ui-icon-radio-off {
	background-position: -756px 50%;
}
.ui-icon-radio-on {
	background-position: -720px 50%;
}
/* checks,radios */
.ui-checkbox .ui-icon {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.ui-icon-checkbox-off, .ui-icon-radio-off {
	background-color: transparent;
}
.ui-checkbox-on .ui-icon, .ui-radio-on .ui-icon {
	background-color: #b2b2b2 /*{global-active-background-color}*/; /* NOTE: this hex should match the active state color. It's repeated here for cascade */
}
/* loading icon */
.ui-icon-loading {
	background: url(../../img/mobile/ajax-loader.gif);
	background-size: 46px 46px;
}
/* Structure */

/* links within "buttons" 
-----------------------------------------------------------------------------------------------------------*/

a.ui-link-inherit {
	text-decoration: none !important;
}
/* Active class used as the "on" state across all themes
-----------------------------------------------------------------------------------------------------------*/
.ui-btn-active {
	border: 1px solid #3784d2 /*{global-active-border}*/;
	background: #b2b2b2 /*{global-active-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{global-active-color}*/;
	cursor: pointer;
	text-shadow: 0 /*{global-active-shadow-x}*/ 0 /*{global-active-shadow-y}*/ 1px /*{global-active-shadow-radius}*/ #3373a5 /*{global-active-shadow-color}*/;
	text-decoration: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #b2b2b2 /*{global-active-background-start}*/), to( #b2b2b2 /*{global-active-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #b2b2b2 /*{global-active-background-start}*/, #b2b2b2 /*{global-active-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient( #b2b2b2 /*{global-active-background-start}*/, #b2b2b2 /*{global-active-background-end}*/); /* FF3.6 */
	background-image: -ms-linear-gradient( #b2b2b2 /*{global-active-background-start}*/, #b2b2b2 /*{global-active-background-end}*/); /* IE10 */
	background-image: -o-linear-gradient( #b2b2b2 /*{global-active-background-start}*/, #b2b2b2 /*{global-active-background-end}*/); /* Opera 11.10+ */
	background-image: linear-gradient( #b2b2b2 /*{global-active-background-start}*/, #b2b2b2 /*{global-active-background-end}*/);
	font-family: Roboto, sans-serif, Arial /*{global-font-family}*/;
}
.ui-btn-active a.ui-link-inherit {
	color: #ffffff /*{global-active-color}*/;
}
/* button inner top highlight
-----------------------------------------------------------------------------------------------------------*/

.ui-btn-inner {
	border-top: 1px solid #fff;
	border-color: rgba(255,255,255,.3);
}
/* corner rounding classes
-----------------------------------------------------------------------------------------------------------*/

.ui-corner-tl {
	-moz-border-radius-topleft: 0.1em /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: 0.1em /*{global-radii-blocks}*/;
	border-top-left-radius: 0.1em /*{global-radii-blocks}*/;
}
.ui-corner-tr {
	-moz-border-radius-topright: 0.1em /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: 0.1em /*{global-radii-blocks}*/;
	border-top-right-radius: 0.1em /*{global-radii-blocks}*/;
}
.ui-corner-bl {
	-moz-border-radius-bottomleft: 0.1em /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: 0.1em /*{global-radii-blocks}*/;
	border-bottom-left-radius: 0.1em /*{global-radii-blocks}*/;
}
.ui-corner-br {
	-moz-border-radius-bottomright: 0.1em /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: 0.1em /*{global-radii-blocks}*/;
	border-bottom-right-radius: 0.1em /*{global-radii-blocks}*/;
}
.ui-corner-top {
	-moz-border-radius-topleft: 0.1em /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: 0.1em /*{global-radii-blocks}*/;
	border-top-left-radius: 0.1em /*{global-radii-blocks}*/;
	-moz-border-radius-topright: 0.1em /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: 0.1em /*{global-radii-blocks}*/;
	border-top-right-radius: 0.1em /*{global-radii-blocks}*/;
}
.ui-corner-bottom {
	-moz-border-radius-bottomleft: 0.1em /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: 0.1em /*{global-radii-blocks}*/;
	border-bottom-left-radius: 0.1em /*{global-radii-blocks}*/;
	-moz-border-radius-bottomright: 0.1em /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: 0.1em /*{global-radii-blocks}*/;
	border-bottom-right-radius: 0.1em /*{global-radii-blocks}*/;
}
.ui-corner-right {
	-moz-border-radius-topright: 0.1em /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: 0.1em /*{global-radii-blocks}*/;
	border-top-right-radius: 0.1em /*{global-radii-blocks}*/;
	-moz-border-radius-bottomright: 0.1em /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: 0.1em /*{global-radii-blocks}*/;
	border-bottom-right-radius: 0.1em /*{global-radii-blocks}*/;
}
.ui-corner-left {
	-moz-border-radius-topleft: 0.1em /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: 0.1em /*{global-radii-blocks}*/;
	border-top-left-radius: 0.1em /*{global-radii-blocks}*/;
	-moz-border-radius-bottomleft: 0.1em /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: 0.1em /*{global-radii-blocks}*/;
	border-bottom-left-radius: 0.1em /*{global-radii-blocks}*/;
}
.ui-corner-all {
	-moz-border-radius: 0.1em /*{global-radii-blocks}*/;
	-webkit-border-radius: 0.1em /*{global-radii-blocks}*/;
	border-radius: 0.1em /*{global-radii-blocks}*/;
}
.ui-corner-none {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
/* Form field separator
-----------------------------------------------------------------------------------------------------------*/
.ui-br {
	border-bottom: rgb(130,130,130);
	border-bottom: rgba(130,130,130,.3);
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
/* Interaction cues
-----------------------------------------------------------------------------------------------------------*/
.ui-disabled {
	opacity: .3;
}
.ui-disabled, .ui-disabled a {
	cursor: default !important;
	pointer-events: none;
}
.ui-disabled .ui-btn-text {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=30)";
	filter: alpha(opacity=30);
	zoom: 1;
}
/* Icons
-----------------------------------------------------------------------------------------------------------*/

.ui-icon, .ui-icon-searchfield:after {
	background: #FFFFFF /*{global-icon-color}*/;
	background: rgba(0,0,0,0.1) /*{global-icon-disc}*/;
	background-image: url(../../img/mobile/icons-18-white.png) /*{global-icon-set}*/;
	background-repeat: no-repeat;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
}
/* Alt icon color
-----------------------------------------------------------------------------------------------------------*/

.ui-icon-alt {
	background: #fff;
	background: rgba(255,255,255,.3);
	background-image: url(../../img/mobile/icons-18-black.png);
	background-repeat: no-repeat;
}

/* HD/"retina" sprite
-----------------------------------------------------------------------------------------------------------*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),  only screen and (min--moz-device-pixel-ratio: 1.5),  only screen and (min-resolution: 240dpi) {
.ui-icon-plus, .ui-icon-minus, .ui-icon-delete, .ui-icon-arrow-r,  .ui-icon-arrow-l, .ui-icon-arrow-u, .ui-icon-arrow-d, .ui-icon-check,  .ui-icon-gear, .ui-icon-refresh, .ui-icon-forward, .ui-icon-back,  .ui-icon-grid, .ui-icon-star, .ui-icon-alert, .ui-icon-info, .ui-icon-home, .ui-icon-search, .ui-icon-searchfield:after,  .ui-icon-checkbox-off, .ui-icon-checkbox-on, .ui-icon-radio-off, .ui-icon-radio-on {
	background-image: url(../../img/mobile/icons-36-white.png) /*{global-large-icon-set}*/;
	-moz-background-size: 776px 18px;
	-o-background-size: 776px 18px;
	-webkit-background-size: 776px 18px;
	background-size: 776px 18px;
}
.ui-icon-alt {
	background-image: url(../../img/mobile/icons-36-black.png);
}
}
/* plus minus */
.ui-icon-plus {
	background-position: -0 50%;
}
.ui-icon-minus {
	background-position: -36px 50%;
}
/* delete/close */
.ui-icon-delete {
	background-position: -72px 50%;
}
/* arrows */
.ui-icon-arrow-r {
	background-position: -108px 50%;
}
.ui-icon-arrow-l {
	background-position: -144px 50%;
}
.ui-icon-arrow-u {
	background-position: -180px 50%;
}
.ui-icon-arrow-d {
	background-position: -216px 50%;
}
/* misc */
.ui-icon-check {
	background-position: -252px 50%;
}
.ui-icon-gear {
	background-position: -288px 50%;
}
.ui-icon-refresh {
	background-position: -324px 50%;
}
.ui-icon-forward {
	background-position: -360px 50%;
}
.ui-icon-back {
	background-position: -396px 50%;
}
.ui-icon-grid {
	background-position: -432px 50%;
}
.ui-icon-star {
	background-position: -468px 50%;
}
.ui-icon-alert {
	background-position: -504px 50%;
}
.ui-icon-info {
	background-position: -540px 50%;
}
.ui-icon-home {
	background-position: -576px 50%;
}
.ui-icon-search, .ui-icon-searchfield:after {
	background-position: -612px 50%;
}
.ui-icon-checkbox-off {
	background-position: -684px 50%;
}
.ui-icon-checkbox-on {
	background-position: -648px 50%;
}
.ui-icon-radio-off {
	background-position: -756px 50%;
}
.ui-icon-radio-on {
	background-position: -720px 50%;
}
/* checks,radios */
.ui-checkbox .ui-icon {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.ui-icon-checkbox-off, .ui-icon-radio-off {
	background-color: transparent;
}
.ui-checkbox-on .ui-icon, .ui-radio-on .ui-icon {
	background-color: #b2b2b2 /*{global-active-background-color}*/; /* NOTE: this hex should match the active state color. It's repeated here for cascade */
}
/* loading icon */
.ui-icon-loading {
	background: url(../../img/mobile/ajax-loader.gif);
	background-size: 46px 46px;
}
/* Button corner classes
-----------------------------------------------------------------------------------------------------------*/

.ui-btn-corner-tl {
	-moz-border-radius-topleft: 0.2em /*{global-radii-buttons}*/;
	-webkit-border-top-left-radius: 0.2em /*{global-radii-buttons}*/;
	border-top-left-radius: 0.2em /*{global-radii-buttons}*/;
}
.ui-btn-corner-tr {
	-moz-border-radius-topright: 0.2em /*{global-radii-buttons}*/;
	-webkit-border-top-right-radius: 0.2em /*{global-radii-buttons}*/;
	border-top-right-radius: 0.2em /*{global-radii-buttons}*/;
}
.ui-btn-corner-bl {
	-moz-border-radius-bottomleft: 0.2em /*{global-radii-buttons}*/;
	-webkit-border-bottom-left-radius: 0.2em /*{global-radii-buttons}*/;
	border-bottom-left-radius: 0.2em /*{global-radii-buttons}*/;
}
.ui-btn-corner-br {
	-moz-border-radius-bottomright: 0.2em /*{global-radii-buttons}*/;
	-webkit-border-bottom-right-radius: 0.2em /*{global-radii-buttons}*/;
	border-bottom-right-radius: 0.2em /*{global-radii-buttons}*/;
}
.ui-btn-corner-top {
	-moz-border-radius-topleft: 0.2em /*{global-radii-buttons}*/;
	-webkit-border-top-left-radius: 0.2em /*{global-radii-buttons}*/;
	border-top-left-radius: 0.2em /*{global-radii-buttons}*/;
	-moz-border-radius-topright: 0.2em /*{global-radii-buttons}*/;
	-webkit-border-top-right-radius: 0.2em /*{global-radii-buttons}*/;
	border-top-right-radius: 0.2em /*{global-radii-buttons}*/;
}
.ui-btn-corner-bottom {
	-moz-border-radius-bottomleft: 0.2em /*{global-radii-buttons}*/;
	-webkit-border-bottom-left-radius: 0.2em /*{global-radii-buttons}*/;
	border-bottom-left-radius: 0.2em /*{global-radii-buttons}*/;
	-moz-border-radius-bottomright: 0.2em /*{global-radii-buttons}*/;
	-webkit-border-bottom-right-radius: 0.2em /*{global-radii-buttons}*/;
	border-bottom-right-radius: 0.2em /*{global-radii-buttons}*/;
}
.ui-btn-corner-right {
	-moz-border-radius-topright: 0.2em /*{global-radii-buttons}*/;
	-webkit-border-top-right-radius: 0.2em /*{global-radii-buttons}*/;
	border-top-right-radius: 0.2em /*{global-radii-buttons}*/;
	-moz-border-radius-bottomright: 0.2em /*{global-radii-buttons}*/;
	-webkit-border-bottom-right-radius: 0.2em /*{global-radii-buttons}*/;
	border-bottom-right-radius: 0.2em /*{global-radii-buttons}*/;
}
.ui-btn-corner-left {
	-moz-border-radius-topleft: 0.2em /*{global-radii-buttons}*/;
	-webkit-border-top-left-radius: 0.2em /*{global-radii-buttons}*/;
	border-top-left-radius: 0.2em /*{global-radii-buttons}*/;
	-moz-border-radius-bottomleft: 0.2em /*{global-radii-buttons}*/;
	-webkit-border-bottom-left-radius: 0.2em /*{global-radii-buttons}*/;
	border-bottom-left-radius: 0.2em /*{global-radii-buttons}*/;
}
.ui-btn-corner-all {
	-moz-border-radius: 0.2em /*{global-radii-buttons}*/;
	-webkit-border-radius: 0.2em /*{global-radii-buttons}*/;
	border-radius: 0.2em /*{global-radii-buttons}*/;
}
/* radius clip workaround for cleaning up corner trapping */
.ui-corner-tl, .ui-corner-tr, .ui-corner-bl, .ui-corner-br, .ui-corner-top, .ui-corner-bottom, .ui-corner-right, .ui-corner-left, .ui-corner-all, .ui-btn-corner-tl, .ui-btn-corner-tr, .ui-btn-corner-bl, .ui-btn-corner-br, .ui-btn-corner-top, .ui-btn-corner-bottom, .ui-btn-corner-right, .ui-btn-corner-left, .ui-btn-corner-all {
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}
/* Overlay / modal
-----------------------------------------------------------------------------------------------------------*/

.ui-overlay {
	background: #666;
	opacity: .5;
	filter: Alpha(Opacity=50);
	position: absolute;
	width: 100%;
	height: 100%;
}
.ui-overlay-shadow {
	-moz-box-shadow: 0px 0px 12px rgba(0,0,0,.6);
	-webkit-box-shadow: 0px 0px 12px rgba(0,0,0,.6);
	box-shadow: 0px 0px 12px rgba(0,0,0,.6);
}
.ui-shadow {
	-moz-box-shadow: 0px 1px 4px /*{global-box-shadow-size}*/ rgba(255, 15, NaN, 0.3) /*{global-box-shadow-color}*/;
	-webkit-box-shadow: 0px 1px 4px /*{global-box-shadow-size}*/ rgba(255, 15, NaN, 0.3) /*{global-box-shadow-color}*/;
	box-shadow: 0px 1px 4px /*{global-box-shadow-size}*/ rgba(255, 15, NaN, 0.3) /*{global-box-shadow-color}*/;
}
.ui-bar-a .ui-shadow, .ui-bar-b .ui-shadow, .ui-bar-c .ui-shadow {
	-moz-box-shadow: 0px 1px 0 rgba(255,255,255,.3);
	-webkit-box-shadow: 0px 1px 0 rgba(255,255,255,.3);
	box-shadow: 0px 1px 0 rgba(255,255,255,.3);
}
.ui-shadow-inset {
	-moz-box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
	box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
}
.ui-icon-shadow {
	-moz-box-shadow: 0px 1px 0 rgba(255,255,255,.4) /*{global-icon-shadow}*/;
	-webkit-box-shadow: 0px 1px 0 rgba(255,255,255,.4) /*{global-icon-shadow}*/;
	box-shadow: 0px 1px 0 rgba(255,255,255,.4) /*{global-icon-shadow}*/;
}
/* Focus state - set here for specificity (note: these classes are added by JavaScript)
-----------------------------------------------------------------------------------------------------------*/

.ui-btn:focus {
	outline: 0;
}
.ui-focus, .ui-btn:focus {
	-moz-box-shadow: 0px 0px 12px #b2b2b2 /*{global-active-background-color}*/;
	-webkit-box-shadow: 0px 0px 12px #b2b2b2 /*{global-active-background-color}*/;
	box-shadow: 0px 0px 12px #b2b2b2 /*{global-active-background-color}*/;
}
/* unset box shadow in browsers that don't do it right
-----------------------------------------------------------------------------------------------------------*/

.ui-mobile-nosupport-boxshadow * {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
/* ...and bring back focus */
.ui-mobile-nosupport-boxshadow .ui-focus, .ui-mobile-nosupport-boxshadow .ui-btn:focus {
	outline-width: 1px;
	outline-style: dotted;
}
