
/*
* jQuery Mobile Framework 1.0.1
* http://jquerymobile.com
*
* Copyright 2011-2012 (c) jQuery Project
* Dual licensed under the MIT or GPL Version 2 licenses.
* http://jquery.org/license
*
*/


/* A
-----------------------------------------------------------------------------------------------------------*/

body {
	background-color: #333;
	min-height: 100%;
}

.logo{
	background: url(../../img/mobile/logopopular.png) no-repeat center;
	background-size: 126px auto;
	height:40px;
}
.logo h1 {
	display: none;
}

.ui-btn-up-c { 
	background: none;
}

h1 {
	font-size: 16px;
	margin: auto;
}

.bg-map{
	background: url(../../img/mobile/bg-map.png) transparent no-repeat center;
	background-size: 320px auto; 
	min-height: 390px;
	background-position-y: bottom;
}

input[type="text"].error {
	border: 1px solid #EC9090;
	background-color: #FADEDE;
}

.error {
	color: #900;
	display: block;
	font-size: 11px;
}

.hide {
	display:none;
}

.ui-listview-inset { 
	background:  #e9eaeb  /*{a-bar-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from(  #f6f6f6  /*{a-bar-background-start}*/), to(  #d3d3d3  /*{a-bar-background-end}*/)) !important; /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(  #f6f6f6  /*{a-bar-background-start}*/,  #d3d3d3  /*{a-bar-background-end}*/) !important; /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(  #f6f6f6  /*{a-bar-background-start}*/,  #d3d3d3  /*{a-bar-background-end}*/) !important; /* FF3.6 */
	background-image:     -ms-linear-gradient(  #f6f6f6  /*{a-bar-background-start}*/,  #d3d3d3  /*{a-bar-background-end}*/) !important; /* IE10 */
	background-image:      -o-linear-gradient(  #f6f6f6  /*{a-bar-background-start}*/,  #d3d3d3  /*{a-bar-background-end}*/) !important; /* Opera 11.10+ */
	background-image:         linear-gradient(  #f6f6f6  /*{a-bar-background-start}*/,  #d3d3d3  /*{a-bar-background-end}*/) !important;
}

.ui-page { 
	background: url(../../img/mobile/bg-noise.png) #ddd;
	background-image: -webkit-gradient(linear, left top, left bottom, from(  #ddd ), to(  #666666  )); 
	background-image: url(../../img/mobile/bg-noise.png), -webkit-linear-gradient(  #ddd  ,  #666666  );
	background-image: url(../../img/mobile/bg-noise.png),-moz-linear-gradient(  #ddd  ,  #666666  );
	background-image: url(../../img/mobile/bg-noise.png), -ms-linear-gradient(  #ddd  ,  #666666  ); 
	background-image: url(../../img/mobile/bg-noise.png), -o-linear-gradient(  #ddd  ,  #666666  );
	background-image: url(../../img/mobile/bg-noise.png), linear-gradient(  #ddd  ,  #666666  );
	background-size: 159px auto, auto;
}

.ui-page { 
/*
	background: url(../../img/mobile/bg-noise.png) transparent;
	background-size: 159px auto;
*/
}

.ui-collapsible-heading a {
	background: #7a7c7c;
	color: white;
	text-shadow: 1px 0px 1px black;
	border-color: #b1b1b1;
	border-width: 2px;
	box-shadow: inset 0px 1px 1px black;
}

.ui-collapsible-content {
	margin: 0px -8px;
	border-left: 2px solid #b1b1b1 !important;
	border-right: 2px solid #b1b1b1 !important;
}

.ui-collapsible-set {
	margin: 16px 6px 6px 6px;
}

.ui-bar-a {
	background:   #e9eaeb   /*{a-bar-background-color}*/;
	color: #fff /*{a-bar-color}*/;
	font-weight: bold;
	text-shadow:    0    /*{a-bar-shadow-x}*/    1px    /*{a-bar-shadow-y}*/    1px    /*{a-bar-shadow-radius}*/ #003e7e /*{a-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #3784d2 /*{a-bar-background-start}*/), to( #003e7e /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #3784d2 /*{a-bar-background-start}*/, #003e7e /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #3784d2 /*{a-bar-background-start}*/, #003e7e /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #3784d2 /*{a-bar-background-start}*/, #003e7e /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #3784d2 /*{a-bar-background-start}*/, #003e7e /*{a-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #3784d2 /*{a-bar-background-start}*/, #003e7e /*{a-bar-background-end}*/);
	box-shadow: 0px 0px 5px black;
}

.ui-bar-a .ui-link-inherit {
	color: #fff /*{a-bar-color}*/;
}
.ui-bar-a .ui-link {
	color:    #7cc4e7    /*{a-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-a .ui-link:hover {
	color:    #2489CE    /*{a-bar-link-hover}*/;
}

.ui-bar-a .ui-link:active {
	color:    #2489CE    /*{a-bar-link-active}*/;
}

.ui-bar-a .ui-link:visited {
    color:    #2489CE    /*{a-bar-link-visited}*/;
}

.ui-bar-a,
.ui-bar-a input,
.ui-bar-a select,
.ui-bar-a textarea,
.ui-bar-a button {
	       font-family: Helvetica, Arial, sans-serif    /*{global-font-family}*/;
}
.ui-body-a,
.ui-dialog.ui-overlay-a {
	border: 1px solid  #cccccc  /*{a-body-border}*/;
	color:    	#333333    /*{a-body-color}*/;
	text-shadow:    0    /*{a-body-shadow-x}*/    1px    /*{a-body-shadow-y}*/    0    /*{a-body-shadow-radius}*/    #fff    /*{a-body-shadow-color}*/;
	background:    			#f0f0f0    /*{a-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from(    #eee    /*{a-body-background-start}*/), to(    #ddd    /*{a-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(    #eee    /*{a-body-background-start}*/,    #ddd    /*{a-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(    #eee    /*{a-body-background-start}*/,    #ddd    /*{a-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(    #eee    /*{a-body-background-start}*/,    #ddd    /*{a-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(    #eee    /*{a-body-background-start}*/,    #ddd    /*{a-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(    #eee    /*{a-body-background-start}*/,    #ddd    /*{a-body-background-end}*/);
}
.ui-body-a,
.ui-body-a input,
.ui-body-a select,
.ui-body-a textarea,
.ui-body-a button {
	       font-family: Helvetica, Arial, sans-serif    /*{global-font-family}*/;
}

.ui-body-a .ui-link-inherit {
	color:    	#333333    /*{a-body-color}*/;
}

.ui-body-a .ui-link {
	color:    #2489CE    /*{a-body-link-color}*/;
	font-weight: bold;
}

.ui-body-a .ui-link:hover {
	color:    #2489CE    /*{a-body-link-hover}*/;
}

.ui-body-a .ui-link:active {
	color:    #2489CE    /*{a-body-link-active}*/;
}

.ui-body-a .ui-link:visited {
    color:    #2489CE    /*{a-body-link-visited}*/;
}

.ui-btn-up-a {
	border: 1px solid    		#7ead33    /*{a-bup-border}*/;
	background:    			#90c241    /*{a-bup-background-color}*/;
	font-weight: bold;
	color:    					#324509    /*{a-bup-color}*/;
	text-shadow:    0    /*{a-bup-shadow-x}*/    1px    /*{a-bup-shadow-y}*/    1px    /*{a-bup-shadow-radius}*/   #fff   /*{a-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from(    #e3f9a9    /*{a-bup-background-start}*/), to(    #90c241    /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(    #e3f9a9 /*#fdfdfd    {a-bup-background-start}*/,    #90c241    /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(    #e3f9a9    /*{a-bup-background-start}*/,    #90c241    /*{a-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(    #e3f9a9    /*{a-bup-background-start}*/,    #90c241    /*{a-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(    #e3f9a9    /*{a-bup-background-start}*/,    #90c241    /*{a-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(    #e3f9a9    /*{a-bup-background-start}*/,    #90c241    /*{a-bup-background-end}*/);
}
.ui-btn-up-a a.ui-link-inherit {
	color:    					#2F3E46    /*{a-bup-color}*/;
}

.ui-btn-hover-a {
	border: 1px solid    		#7ead33    /*{a-bup-border}*/;
	background:    			#90c241    /*{a-bup-background-color}*/;
	font-weight: bold;
	color:    					#324509    /*{a-bup-color}*/;
	text-shadow:    0    /*{a-bup-shadow-x}*/    1px    /*{a-bup-shadow-y}*/    1px    /*{a-bup-shadow-radius}*/   #fff   /*{a-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from(    #e3f9a9    /*{a-bup-background-start}*/), to(    #c0e38a    /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(    #e3f9a9 /*#fdfdfd    {a-bup-background-start}*/,    #c0e38a    /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(    #e3f9a9    /*{a-bup-background-start}*/,    #c0e38a    /*{a-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(    #e3f9a9    /*{a-bup-background-start}*/,    #c0e38a    /*{a-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(    #e3f9a9    /*{a-bup-background-start}*/,    #c0e38a    /*{a-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(    #e3f9a9    /*{a-bup-background-start}*/,    #c0e38a    /*{a-bup-background-end}*/);
}
.ui-btn-hover-a a.ui-link-inherit {
	color:    					#2F3E46    /*{a-bhover-color}*/;
}
.ui-btn-down-a {
	border: 1px solid    		#7ead33    /*{a-bup-border}*/;
	background:    			#90c241    /*{a-bup-background-color}*/;
	font-weight: bold;
	color:    					#324509    /*{a-bup-color}*/;
	text-shadow:    0    /*{a-bup-shadow-x}*/    1px    /*{a-bup-shadow-y}*/    1px    /*{a-bup-shadow-radius}*/   #fff   /*{a-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from(    #e3f9a9    /*{a-bup-background-start}*/), to(    #c0e38a    /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(    #e3f9a9 /*#fdfdfd    {a-bup-background-start}*/,    #c0e38a    /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(    #e3f9a9    /*{a-bup-background-start}*/,    #c0e38a    /*{a-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(    #e3f9a9    /*{a-bup-background-start}*/,    #c0e38a    /*{a-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(    #e3f9a9    /*{a-bup-background-start}*/,    #c0e38a    /*{a-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(    #e3f9a9    /*{a-bup-background-start}*/,    #c0e38a    /*{a-bup-background-end}*/);
}
.ui-btn-down-a a.ui-link-inherit {
	color:   #000000   /*{a-bdown-color}*/;
}
.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a {
	font-family: Helvetica, Arial, sans-serif    /*{global-font-family}*/;
	text-decoration: none;
}

/* B
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-b .ui-link-inherit {
	color:  #fff  /*{b-bar-color}*/;
}
.ui-bar-b .ui-link {
	color:    #7cc4e7    /*{b-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-b .ui-link:hover {
	color:    #2489CE    /*{b-bar-link-hover}*/;
}

.ui-bar-b .ui-link:active {
	color:    #2489CE    /*{b-bar-link-active}*/;
}

.ui-bar-b .ui-link:visited {
    color:    #2489CE    /*{b-bar-link-visited}*/;
}

.ui-bar-b,
.ui-bar-b input,
.ui-bar-b select,
.ui-bar-b textarea,
.ui-bar-b button {
	       font-family: Helvetica, Arial, sans-serif    /*{global-font-family}*/;
}
.ui-body-b,
.ui-dialog.ui-overlay-b {
	border: 1px solid #cccccc /*{b-body-border}*/;
	color:    	#333333    /*{b-body-color}*/;
	text-shadow:    0    /*{b-body-shadow-x}*/    1px    /*{b-body-shadow-y}*/    0    /*{b-body-shadow-radius}*/    #fff    /*{b-body-shadow-color}*/;
	background: #f0f0f0 /*{b-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #F0F0F0 /*{b-body-background-start}*/), to( #F0F0F0 /*{b-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #F0F0F0 /*{b-body-background-start}*/, #F0F0F0 /*{b-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #F0F0F0 /*{b-body-background-start}*/, #F0F0F0 /*{b-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #F0F0F0 /*{b-body-background-start}*/, #F0F0F0 /*{b-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #F0F0F0 /*{b-body-background-start}*/, #F0F0F0 /*{b-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #F0F0F0 /*{b-body-background-start}*/, #F0F0F0 /*{b-body-background-end}*/);
}
.ui-body-b,
.ui-body-b input,
.ui-body-b select,
.ui-body-b textarea,
.ui-body-b button {
	       font-family: Helvetica, Arial, sans-serif    /*{global-font-family}*/;
}

.ui-body-b .ui-link-inherit {
	color:    	#333333    /*{b-body-color}*/;
}

.ui-body-b .ui-link {
	color:    #2489CE    /*{b-body-link-color}*/;
	font-weight: bold;
}

.ui-body-b .ui-link:hover {
	color:    #2489CE    /*{b-body-link-hover}*/;
}

.ui-body-b .ui-link:active {
	color:    #2489CE    /*{b-body-link-active}*/;
}

.ui-body-b .ui-link:visited {
    color:    #2489CE    /*{b-body-link-visited}*/;
}

.ui-btn-up-b {
	border: 1px solid  #003e7e  /*{b-bup-border}*/;
	background:    			#eee    /*{b-bup-background-color}*/;
	font-weight: bold;
	color:  #fff  /*{b-bup-color}*/;
	text-shadow:    0    /*{b-bup-shadow-x}*/  1px  /*{b-bup-shadow-y}*/  0  /*{b-bup-shadow-radius}*/ #003e7e /*{b-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #3784d2 /*{b-bup-background-start}*/), to( #003e7e /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #3784d2 /*{b-bup-background-start}*/, #003e7e /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #3784d2 /*{b-bup-background-start}*/, #003e7e /*{b-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #3784d2 /*{b-bup-background-start}*/, #003e7e /*{b-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #3784d2 /*{b-bup-background-start}*/, #003e7e /*{b-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #3784d2 /*{b-bup-background-start}*/, #003e7e /*{b-bup-background-end}*/);
}
.ui-btn-up-b a.ui-link-inherit {
	color:  #fff  /*{b-bup-color}*/;
}

.ui-btn-hover-b {
	border: 1px solid  #003e7e  /*{b-bhover-border}*/;
	background:  #dadada  /*{b-bhover-background-color}*/;
	font-weight: bold;
	color:  #fff  /*{b-bhover-color}*/;
	text-shadow:    0    /*{b-bhover-shadow-x}*/    1px    /*{b-bhover-shadow-y}*/    1px    /*{b-bhover-shadow-radius}*/  #003e7e  /*{b-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #3784d2 /*{b-bhover-background-start}*/), to( #003e7e /*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #3784d2 /*{b-bhover-background-start}*/, #003e7e /*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #3784d2 /*{b-bhover-background-start}*/, #003e7e /*{b-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #3784d2 /*{b-bhover-background-start}*/, #003e7e /*{b-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #3784d2 /*{b-bhover-background-start}*/, #003e7e /*{b-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #3784d2 /*{b-bhover-background-start}*/, #003e7e /*{b-bhover-background-end}*/);
}
.ui-btn-hover-b a.ui-link-inherit {
	color:  #fff  /*{b-bhover-color}*/;
}
.ui-btn-down-b {
	border: 1px solid  #003e7e  /*{b-bdown-border}*/;
	background: #003e7e /*{b-bdown-background-color}*/;
	font-weight: bold;
	color:  #fff  /*{b-bdown-color}*/;
	text-shadow:    0    /*{b-bdown-shadow-x}*/    1px    /*{b-bdown-shadow-y}*/    1px    /*{b-bdown-shadow-radius}*/ #003e7e /*{b-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #003E7E /*{b-bdown-background-start}*/), to( #003E7E /*{b-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #003E7E /*{b-bdown-background-start}*/, #003E7E /*{b-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #003E7E /*{b-bdown-background-start}*/, #003E7E /*{b-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #003E7E /*{b-bdown-background-start}*/, #003E7E /*{b-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #003E7E /*{b-bdown-background-start}*/, #003E7E /*{b-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #003E7E /*{b-bdown-background-start}*/, #003E7E /*{b-bdown-background-end}*/);
}
.ui-btn-down-b a.ui-link-inherit {
	color:  #fff  /*{b-bdown-color}*/;
}
.ui-btn-up-b,
.ui-btn-hover-b,
.ui-btn-down-b {
	       font-family: Helvetica, Arial, sans-serif    /*{global-font-family}*/;
	text-decoration: none;
}



/* Structure */

/* links within "buttons" 
-----------------------------------------------------------------------------------------------------------*/

a.ui-link-inherit {
	text-decoration: none !important;
}


/* Active class used as the "on" state across all themes
-----------------------------------------------------------------------------------------------------------*/

.ui-btn-active {
	border: 1px solid   #919191   /*{global-active-border}*/;
	background: #a1a1a1 /*{global-active-background-color}*/;
	font-weight: bold;
	color:   #000   /*{global-active-color}*/;
	cursor: pointer;
	text-shadow:    0    /*{global-active-shadow-x}*/    -1px    /*{global-active-shadow-y}*/    1px    /*{global-active-shadow-radius}*/   #ffffff   /*{global-active-shadow-color}*/;
	text-decoration: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #A1A1A1 /*{global-active-background-start}*/), to( #A1A1A1 /*{global-active-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #A1A1A1 /*{global-active-background-start}*/, #A1A1A1 /*{global-active-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #A1A1A1 /*{global-active-background-start}*/, #A1A1A1 /*{global-active-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #A1A1A1 /*{global-active-background-start}*/, #A1A1A1 /*{global-active-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #A1A1A1 /*{global-active-background-start}*/, #A1A1A1 /*{global-active-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #A1A1A1 /*{global-active-background-start}*/, #A1A1A1 /*{global-active-background-end}*/);
	       font-family: Helvetica, Arial, sans-serif    /*{global-font-family}*/;
}
.ui-btn-active a.ui-link-inherit {
	color:   #000   /*{global-active-color}*/;
}


/* button inner top highlight
-----------------------------------------------------------------------------------------------------------*/

.ui-btn-inner {
	border-top: 1px solid 	#fff;
	border-color: 			rgba(255,255,255,.3);
}


/* corner rounding classes
-----------------------------------------------------------------------------------------------------------*/

.ui-corner-tl {
	-moz-border-radius-topleft:   0.5em   /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius:   0.5em   /*{global-radii-blocks}*/;
	border-top-left-radius:   0.5em   /*{global-radii-blocks}*/;
}
.ui-corner-tr {
	-moz-border-radius-topright:   0.5em   /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius:   0.5em   /*{global-radii-blocks}*/;
	border-top-right-radius:   0.5em   /*{global-radii-blocks}*/;
}
.ui-corner-bl {
	-moz-border-radius-bottomleft:   0.5em   /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius:   0.5em   /*{global-radii-blocks}*/;
	border-bottom-left-radius:   0.5em   /*{global-radii-blocks}*/;
}
.ui-corner-br {
	-moz-border-radius-bottomright:   0.5em   /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius:   0.5em   /*{global-radii-blocks}*/;
	border-bottom-right-radius:   0.5em   /*{global-radii-blocks}*/;
}
.ui-corner-top {
	-moz-border-radius-topleft:   0.5em   /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius:   0.5em   /*{global-radii-blocks}*/;
	border-top-left-radius:   0.5em   /*{global-radii-blocks}*/;
	-moz-border-radius-topright:   0.5em   /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius:   0.5em   /*{global-radii-blocks}*/;
	border-top-right-radius:   0.5em   /*{global-radii-blocks}*/;
}
.ui-corner-bottom {
	-moz-border-radius-bottomleft:   0.5em   /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius:   0.5em   /*{global-radii-blocks}*/;
	border-bottom-left-radius:   0.5em   /*{global-radii-blocks}*/;
	-moz-border-radius-bottomright:   0.5em   /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius:   0.5em   /*{global-radii-blocks}*/;
	border-bottom-right-radius:   0.5em   /*{global-radii-blocks}*/;
	}
.ui-corner-right {
	-moz-border-radius-topright:   0.5em   /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius:   0.5em   /*{global-radii-blocks}*/;
	border-top-right-radius:   0.5em   /*{global-radii-blocks}*/;
	-moz-border-radius-bottomright:   0.5em   /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius:   0.5em   /*{global-radii-blocks}*/;
	border-bottom-right-radius:   0.5em   /*{global-radii-blocks}*/;
}
.ui-corner-left {
	-moz-border-radius-topleft:   0.5em   /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius:   0.5em   /*{global-radii-blocks}*/;
	border-top-left-radius:   0.5em   /*{global-radii-blocks}*/;
	-moz-border-radius-bottomleft:   0.5em   /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius:   0.5em   /*{global-radii-blocks}*/;
	border-bottom-left-radius:   0.5em   /*{global-radii-blocks}*/;
}
.ui-corner-all {
	-moz-border-radius:   0.5em   /*{global-radii-blocks}*/;
	-webkit-border-radius:   0.5em   /*{global-radii-blocks}*/;
	border-radius:   0.5em   /*{global-radii-blocks}*/;
}
.ui-corner-none {
	-moz-border-radius: 				   0;
	-webkit-border-radius: 				   0;
	border-radius: 						   0;
}

/* Interaction cues
-----------------------------------------------------------------------------------------------------------*/
.ui-disabled {
	opacity: 							.3;
}
.ui-disabled,
.ui-disabled a {
	pointer-events: none;
	cursor: default;
}

/* Icons
-----------------------------------------------------------------------------------------------------------*/

.ui-icon,
.ui-icon-searchfield:after {
	background: #FFFFFF /*{global-icon-color}*/;
	background: transparent /*{global-icon-disc}*/;
	background-image: url(../../img/mobile/icons-18-black.png) !important /*{global-icon-set}*/;
	background-repeat: no-repeat;
	-moz-border-radius: 				9px;
	-webkit-border-radius: 				9px;
	border-radius: 						9px;
}

.ui-icon-nav span.ui-icon {
	background-image: url(../../img/mobile/icons-18-white.png) !important;
}

/* Alt icon color
-----------------------------------------------------------------------------------------------------------*/

.ui-icon-alt {
	background: 						#fff;
	background: 						rgba(255,255,255,.3);
	background-image: url(../../img/mobile/icons-18-black.png);
	background-repeat: no-repeat;
}

/* HD/"retina" sprite
-----------------------------------------------------------------------------------------------------------*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 240dpi) {
	
	.ui-icon-plus, .ui-icon-minus, .ui-icon-delete, .ui-icon-arrow-r,
	.ui-icon-arrow-l, .ui-icon-arrow-u, .ui-icon-arrow-d, .ui-icon-check,
	.ui-icon-gear, .ui-icon-refresh, .ui-icon-forward, .ui-icon-back,
	.ui-icon-grid, .ui-icon-star, .ui-icon-alert, .ui-icon-info, .ui-icon-home, .ui-icon-search, .ui-icon-searchfield:after, 
	.ui-icon-checkbox-off, .ui-icon-checkbox-on, .ui-icon-radio-off, .ui-icon-radio-on {
		background-image: url(../../img/mobile/icons-36-black.png) !important;
		-moz-background-size: 776px 18px;
		-o-background-size: 776px 18px;
		-webkit-background-size: 776px 18px;
		background-size: 776px 18px;
	}
	.ui-icon-alt {
		background-image: url(../../img/mobile/icons-36-black.png) !important;
	}
	
	.ui-icon-nav span.ui-icon {
		background-image: url(../../img/mobile/icons-36-white.png) !important;
	}
}

/* plus minus */
.ui-icon-plus {
	background-position: 	-0 50%;
}
.ui-icon-minus {
	background-position: 	-36px 50%;
}

/* delete/close */
.ui-icon-delete {
	background-position: 	-72px 50%;
}

/* arrows */
.ui-icon-arrow-r {
	background-position: 	-108px 50%;
}
.ui-icon-arrow-l {
	background-position: 	-144px 50%;
}
.ui-icon-arrow-u {
	background-position: 	-180px 50%;
}
.ui-icon-arrow-d {
	background-position: 	-216px 50%;
}

/* misc */
.ui-icon-check {
	background-position: 	-252px 50%;
}
.ui-icon-gear {
	background-position: 	-288px 50%;
}
.ui-icon-refresh {
	background-position: 	-324px 50%;
}
.ui-icon-forward {
	background-position: 	-360px 50%;
}
.ui-icon-back {
	background-position: 	-396px 50%;
}
.ui-icon-grid {
	background-position: 	-432px 50%;
}
.ui-icon-star {
	background-position: 	-468px 50%;
}
.ui-icon-alert {
	background-position: 	-504px 50%;
}
.ui-icon-info {
	background-position: 	-540px 50%;
}
.ui-icon-home {
	background-position: 	-576px 50%;
}
.ui-icon-search,
.ui-icon-searchfield:after {
	background-position: 	-612px 50%;
}
.ui-icon-checkbox-off {
	background-position: 	-684px 50%;
}
.ui-icon-checkbox-on {
	background-position: 	-648px 50%;
}
.ui-icon-radio-off {
	background-position: 	-756px 50%;
}
.ui-icon-radio-on {
	background-position: 	-720px 50%;
}


/* checks,radios */
.ui-checkbox .ui-icon {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.ui-icon-checkbox-off,
.ui-icon-radio-off {
	background-color: transparent;	
}
.ui-checkbox-on .ui-icon,
.ui-radio-on .ui-icon {
	background-color: #a1a1a1 /*{global-active-background-color}*/; /* NOTE: this hex should match the active state color. It's repeated here for cascade */
}

/* loading icon */
.ui-icon-loading {
	background-image: url(../../img/mobile/ajax-loader.png) !important;
	width: 40px;
	height: 40px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background-size: 35px 35px;
}


/* Button corner classes
-----------------------------------------------------------------------------------------------------------*/

.ui-btn-corner-tl {
	-moz-border-radius-topleft:   0.5em   /*{global-radii-buttons}*/;
	-webkit-border-top-left-radius:   0.5em   /*{global-radii-buttons}*/;
	border-top-left-radius:   0.5em   /*{global-radii-buttons}*/;
}
.ui-btn-corner-tr {
	-moz-border-radius-topright:   0.5em   /*{global-radii-buttons}*/;
	-webkit-border-top-right-radius:   0.5em   /*{global-radii-buttons}*/;
	border-top-right-radius:   0.5em   /*{global-radii-buttons}*/;
}
.ui-btn-corner-bl {
	-moz-border-radius-bottomleft:   0.5em   /*{global-radii-buttons}*/;
	-webkit-border-bottom-left-radius:   0.5em   /*{global-radii-buttons}*/;
	border-bottom-left-radius:   0.5em   /*{global-radii-buttons}*/;
}
.ui-btn-corner-br {
	-moz-border-radius-bottomright:   0.5em   /*{global-radii-buttons}*/;
	-webkit-border-bottom-right-radius:   0.5em   /*{global-radii-buttons}*/;
	border-bottom-right-radius:   0.5em   /*{global-radii-buttons}*/;
}
.ui-btn-corner-top {
	-moz-border-radius-topleft:   0.5em   /*{global-radii-buttons}*/;
	-webkit-border-top-left-radius:   0.5em   /*{global-radii-buttons}*/;
	border-top-left-radius:   0.5em   /*{global-radii-buttons}*/;
	-moz-border-radius-topright:   0.5em   /*{global-radii-buttons}*/;
	-webkit-border-top-right-radius:   0.5em   /*{global-radii-buttons}*/;
	border-top-right-radius:   0.5em   /*{global-radii-buttons}*/;
}
.ui-btn-corner-bottom {
	-moz-border-radius-bottomleft:   0.5em   /*{global-radii-buttons}*/;
	-webkit-border-bottom-left-radius:   0.5em   /*{global-radii-buttons}*/;
	border-bottom-left-radius:   0.5em   /*{global-radii-buttons}*/;
	-moz-border-radius-bottomright:   0.5em   /*{global-radii-buttons}*/;
	-webkit-border-bottom-right-radius:   0.5em   /*{global-radii-buttons}*/;
	border-bottom-right-radius:   0.5em   /*{global-radii-buttons}*/;
}
.ui-btn-corner-right {
	 -moz-border-radius-topright:   0.5em   /*{global-radii-buttons}*/;
	-webkit-border-top-right-radius:   0.5em   /*{global-radii-buttons}*/;
	border-top-right-radius:   0.5em   /*{global-radii-buttons}*/;
	-moz-border-radius-bottomright:   0.5em   /*{global-radii-buttons}*/;
	-webkit-border-bottom-right-radius:   0.5em   /*{global-radii-buttons}*/;
	border-bottom-right-radius:   0.5em   /*{global-radii-buttons}*/;
}
.ui-btn-corner-left {
	-moz-border-radius-topleft:   0.5em   /*{global-radii-buttons}*/;
	-webkit-border-top-left-radius:   0.5em   /*{global-radii-buttons}*/;
	border-top-left-radius:   0.5em   /*{global-radii-buttons}*/;
	-moz-border-radius-bottomleft:   0.5em   /*{global-radii-buttons}*/;
	-webkit-border-bottom-left-radius:   0.5em   /*{global-radii-buttons}*/;
	border-bottom-left-radius:   0.5em   /*{global-radii-buttons}*/;
}
.ui-btn-corner-all {
	-moz-border-radius:   0.5em   /*{global-radii-buttons}*/;
	-webkit-border-radius:   0.5em   /*{global-radii-buttons}*/;
	border-radius:   0.5em   /*{global-radii-buttons}*/;
}

/* radius clip workaround for cleaning up corner trapping */
.ui-corner-tl,
.ui-corner-tr,
.ui-corner-bl, 
.ui-corner-br,
.ui-corner-top,
.ui-corner-bottom, 
.ui-corner-right,
.ui-corner-left,
.ui-corner-all,
.ui-btn-corner-tl,
.ui-btn-corner-tr,
.ui-btn-corner-bl, 
.ui-btn-corner-br,
.ui-btn-corner-top,
.ui-btn-corner-bottom, 
.ui-btn-corner-right,
.ui-btn-corner-left,
.ui-btn-corner-all {
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

/* Overlay / modal
-----------------------------------------------------------------------------------------------------------*/

.ui-overlay {
	background: #666;
	opacity: .5;
	filter: Alpha(Opacity=50);
	position: absolute;
	width: 100%;
	height: 100%;
}
.ui-overlay-shadow {
	-moz-box-shadow: 0px 0px 12px 			rgba(0,0,0,.6);
	-webkit-box-shadow: 0px 0px 12px 		rgba(0,0,0,.6);
	box-shadow: 0px 0px 12px 				rgba(0,0,0,.6);
}
.ui-shadow {
	-moz-box-shadow: 0px 1px    4px    /*{global-box-shadow-size}*/   rgba(0,0,0,0.3)   /*{global-box-shadow-color}*/;
	-webkit-box-shadow: 0px 1px    4px    /*{global-box-shadow-size}*/   rgba(0,0,0,0.3)   /*{global-box-shadow-color}*/;
	box-shadow: 0px 1px    4px    /*{global-box-shadow-size}*/   rgba(0,0,0,0.3)   /*{global-box-shadow-color}*/;
}
.ui-bar-a .ui-shadow,
.ui-bar-b .ui-shadow ,
.ui-bar-c .ui-shadow  {
	-moz-box-shadow: 0px 1px 0 				rgba(255,255,255,.3);
	-webkit-box-shadow: 0px 1px 0 			rgba(255,255,255,.3);
	box-shadow: 0px 1px 0 					rgba(255,255,255,.3);
}
.ui-shadow-inset {
	-moz-box-shadow: inset 0px 1px 4px 		rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0px 1px 4px 	rgba(0,0,0,.2);
	box-shadow: inset 0px 1px 4px 			rgba(0,0,0,.2);
}
.ui-icon-shadow {
	-moz-box-shadow: 0px 1px 0 transparent /*{global-icon-shadow}*/;
	-webkit-box-shadow: 0px 1px 0 transparent /*{global-icon-shadow}*/;
	box-shadow: 0px 1px 0 transparent /*{global-icon-shadow}*/;
}

/* Focus state - set here for specificity
-----------------------------------------------------------------------------------------------------------*/

.ui-focus {
	-moz-box-shadow: 0px 0px 12px #a1a1a1 /*{global-active-background-color}*/;
	-webkit-box-shadow: 0px 0px 12px #a1a1a1 /*{global-active-background-color}*/;
	box-shadow: 0px 0px 12px #a1a1a1 /*{global-active-background-color}*/;
}

/* unset box shadow in browsers that don't do it right
-----------------------------------------------------------------------------------------------------------*/

.ui-mobile-nosupport-boxshadow * {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

/* ...and bring back focus */
.ui-mobile-nosupport-boxshadow .ui-focus {
	outline-width: 2px;
}

#popupTC-popup {
	width: 90%;
	left: 5%;
	right:5%;
}