#commonPayeesJSON ul {
    margin: 5px 0px;
    padding: 5px 0px;
    list-style-type: none;
}

#commonPayeesJSON ul li {
    margin: 2px;
    padding: 2px;
}

#commonPayeesJSON ul li a span {
    margin: 0px 5px 0px 0px;
}

#commonPayeesJSON li.payee, #commonPayeesJSON ul li.subcategory {
    margin-left: 20px;
    max-width: 600px;
}

#commonPayeesJSON li.payee {
    height: 40px;
    border-top-color: #dddddd;
    border-top-style: solid;
    border-top-width: 1px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#commonPayeesJSON ul li.payee:first-child:before, #commonPayeesJSON ul li.subcategory:first-child:before {
    position: absolute;
    left: 498px;
    padding-bottom: 0px;
    margin-top: -50px;
}

#commonPayeesJSON ul li.subcategory:first-child:before {
    margin-top: 0px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	#commonPayeesJSON ul li.payee:first-child:before, #commonPayeesJSON ul li.subcategory:first-child:before {
	    position: absolute;
	    left: 498px;
	    padding-bottom: 85px;
	    margin-top: 0px;
	}
}

@-moz-document url-prefix() {
    #commonPayeesJSON ul li.payee:first-child:before, #commonPayeesJSON ul li.subcategory:first-child:before {
	    position: absolute;
	    left: 498px;
	    padding-bottom: 85px;
	    margin-top: 0px;
	}
}

#commonPayeesJSON ul>li.subcategory>ul>li.payee:first-child:before {
    display: none;
}

#commonPayeesJSON li.payee:nth-child(odd) {
	background-color: #f9f9f9;
}

#commonPayeesJSON li.payee p, #commonPayeesJSON li.payee a {
    width: 25%;
}

#commonPayeesJSON li.payee a.payee-link {
    width: 50%;
}

#commonPayeesJSON li.payee p:last-child {
    margin-left: 30px;
}


ons-toolbar.toolbar-segment.toolbar {
  margin: 55px 0;
  background: #fff;
}