.titulo {
	color: #3784d2;
	font-size: 22pt;
	/*font-weight:ss bold; no hace falta por el strong*/
	font-family: Arial;
	text-align:left;	
}

.subtitulo {
	color: #1f3b5d;
	font-size: 14pt;
	font-family: Arial;
	text-align:left;
	
}

.textoBienvenida {
	color: #1f3b5d;
	font-size: 14pt;
	font-family: Arial;
	text-align:left;	
}


.tituloFrame {
	color: #1f3b5d;
	font-size: 11pt;
	font-family: Arial;
	font-weight: bold;
}

.tituloInsideFrame{
	color: #1f3b5d;
	font-size: 12pt;
	font-family: Arial;
	font-weight: bold;
}
.textoFrame {
	color: #8b8d87;
	font-size: 10pt;
	font-family: Arial;	
}

.list {
	color: #0066CC;
}

.btnComenzarGuided {
	font-size:12px;
	width:97px;
	height:23px;
}
.link1 {
	color: #f26522;
	font-size: 10pt;
	font-family: Arial;
}

.link2 {
	color: #3784d2;
	font-size: 10pt;
	font-family: Arial;
}

.link3{  
	color: #fff;  
	font-size: 10pt;  
	font-family: Arial; 
}	

.principalGuidedSetup{
	margin:10px 38px;
	padding:5px 15px;
	height:210px;
	width:450px;
}

.headerGuidedSetup{
	margin-left:0%;
	width:500px;
}

#separator{
	border-bottom: 1px solid rgb(205, 230, 255);
	border-color: rgb(205, 230, 255);
}

.closeGuidedSetup{
		
}

.menuGS{
	/*width:610px;
	height:45px;*/
}

.contentGS{
	text-align:center;
	align:center;
}





.footerGS{
	width:555px;
	height:105px;
}

.footer{
	width:60%;
}

.transparent {
    filter:filter:progid:DXImageTransform:Microsoft.Glow(color=yellow,strength=5);
    display:none;
    width:450px;
    height:214px;
    position:absolute;
    color: red;
    font-size:11px;
    color: black; 
    background: white;
    padding-top:5px;
    padding-left:5px;
    float: left;
    background-repeat: no-repeat;
    background-image:url(#imgUrl('/img/fondoCuadroEmergente.png'));
    background-size: 100%;
}




