@charset "UTF-8";
/* CSS Document */
body { background: none !important; }
.Layout_Bkg { background: #ffffff url('../img/commercial-images.gif') 0 -192px repeat-x !important; }
.Layout_Login_Bkg { background: #ffffff url('../img/login-background-comercial.gif') 0 0px repeat-x !important; }
body, table, td, th, span, div, p, a, li, label { font-size: 13px !important }
.loginLogo_popPortal_Regular, #loginLogo_pop, #loginLogo_popPortal { background: none !important; border: none !important; margin: 0px !important; padding: 10px 0px 0 0 !important }
.loginLogo_popPortal_Regular a img, #loginLogo_pop a img, #loginLogo_popPortal a img { display: none !important }
.loginLogo_popPortal_Regular a, #loginLogo_pop a, #loginLogo_popPortal a { display: block; width: 165px !important; height: 32px !important; background: url('../img/popular-logo.png') 0 0 no-repeat !important }
#loginLogo_pop { padding: 0px !important; margin-top: -3px !important; }
.layout_content_style { position: relative !important }
.signIn_button { font-size: 14px !important; }
.menu_top_links, .header-login .signOn_menu { padding: 15px 0px 0px 0px !important; color: #fff !important; z-index: 200; position: relative; }
.menu_top_links a, .header-login .signOn_menu a { color: #fff !important; opacity: .6; padding: 0px 6px 0px 6px !important }
.menu_top_links a:hover, .header-login .signOn_menu a:hover { opacity: 1 }
.portal_header_line { display: none !important }
.layout_hola_bottom_border_style { padding: 10px 0px 15px 0px !important; padding: 15px 0px 15px 0px\9 !important; *padding: 6px 0px 15px 0px !important
}
.layout_hola_bottom_border_style span { color: #fff !important }
.ccBodyBoxContentTitle { font-size: 18px !important; font-weight: normal !important }
a { white-space: normal !important; text-decoration: none !Important }
a:hover { text-decoration: underline !important }
button, input, select, textarea, .signIn_button { font-size: 100% !important; vertical-align: middle !important; width: auto !important; }
button { border-style: solid !important; border-width: 1px !important; border-color: rgb( 159, 159, 159 ) !important; border-radius: 3px !important; background-image: -moz-linear-gradient( -90deg, rgb(235,235,235) 0%, rgb(163,163,162) 100%) !important; background-image: -webkit-linear-gradient( -90deg, rgb(235,235,235) 0%, rgb(163,163,162) 100%) !important; background-image: -ms-linear-gradient( -90deg, rgb(235,235,235) 0%, rgb(163,163,162) 100%) !important; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#eaeaea", endColorstr="#a7a7a7", GradientType=0 ); /* IE6-9 */
box-shadow: 0px 2px 0px #d9d9d9; !important;
padding: 4px 8px 4px 8px !important; width: auto !important; height: auto !important; text-shadow: 1px 1px 1px #f9f9f9; color: #292929 !important }
input[type="text"], input[type="password"] { border-radius: 4px !important; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; border: 1px solid #ccc !important; padding: 3px !important }
textarea { overflow: auto !important; vertical-align: top !important; }
input[type="file"] { height: 30px !important;   /* In IE7, the height of the select element cannot be changed by height, only font-size */  *margin-top: 4px !important;
/* For IE7, add top margin to align select with labels */

line-height: 30px !important; }
select { background-color: #ffffff !important; border: 1px solid #cccccc !important; padding: 3px !important; min-height: 25px !important }
select[multiple], select[size] { height: auto !important; }
select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus { outline: thin dotted #333 !important; outline: 5px auto -webkit-focus-ring-color !important; outline-offset: -2px !important; }
input:-moz-placeholder, textarea:-moz-placeholder {
 color: #999999 !important;
}
 input:-ms-input-placeholder, textarea:-ms-input-placeholder {
 color: #999999 !important;
}
 input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
 color: #999999 !important;
}
/*Input Type Buttons*/
input[type="submit"], input[type="button"], .ebpp_btnPay, .signIn_button { border-width: 1px !important; border-color: rgb( 144, 187, 63 ) !important; border-style: solid !important; border-style: solid !important; border-width: 1px !important; border-color: rgb( 111, 158, 24 ) !important; border-radius: 3px !important; background-color: #90bb3f; background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0%, rgba(144,187,63,1.00)), color-stop( 100%, rgba(119,158,45,1.00))) !important; background-image: -webkit-linear-gradient(270deg, rgba(144,187,63,1.00) 0%, rgba(119,158,45,1.00) 100%) !important; background-image: linear-gradient(180deg, rgba(144,187,63,1.00) 0%, rgba(119,158,45,1.00) 100%) !important; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#90bb3f", endColorstr="#6f9e18", GradientType=0 ); /* IE6-9 */
box-shadow: 0px 2px 0px #d9d9d9; !important;
padding: 4px 8px 4px 8px !important; width: auto !important; height: auto !important; text-shadow: 1px 1px 1px #d0ed9a; }
/*End Buttons */

#tbl { width: 980px !important; background: none !important; *margin:auto !important;
margin: auto\9 !important; }
#tbl td, #tbl col { /*border: 1px solid red;
	background:inherit !important*/ }
#tbl colgroup col:first-child { width: auto !important }
.portal_header { z-index: 400; color: #fff !important; font-size: 25px !important; font-weight: normal !important; background: none !important; height: auto !important; padding-top: 5px !important; padding-left: 0px !important; padding-bottom: 20px !important; }
.borderBox { width: 96% !important; border: none !important; margin-left: 0px !important }
.borderBox table { width: 100% !important }
.borderBox3 col { width: inherit !important }
.layout_content_right_top_border_style { width: 720px }
#portalAccountsBox, .ccBody, #ccBodyBoxWithButtonsAndPage { width: 100% !important }
#portal_lb, #portal_rb, #portal_bb, #portal_blc, #portal_brc, #portal_tb, #portal_tlc, #portal_trc, .portalAccountsBoxContent, #portalAccountsBox, .portalTrMouseOut { background-image: none !important; padding: 0px !important }
table#accounts td, .ccBodyBoxContent2Tbl td, .ccBodyBoxContent1Tbl td, /*.borderBox3 td,*/ .borderBox2 td, #othertransfers td, /*#myInfo_EditTbl td,*/ .ccBodyBoxContent2TblInProcess td, .pretty_tbl td, #Account_transaction table td, #edit_accounts table td, #util table td { padding: 5px !important; line-height: 20px !important; vertical-align: top !important; border-bottom: 1px solid #dddddd !important; }
table#accounts tbody > tr:nth-child(odd) > td, table.ccBodyBoxContent2Tbl tbody > tr:nth-child(odd) > td, table.ccBodyBoxContent1Tbl tbody > tr:nth-child(odd) > td, /*.borderBox3 tbody > tr:nth-child(odd) > td,*/ .borderBox2 tbody > tr:nth-child(odd) > td, #othertransfers tbody > tr:nth-child(odd) > td, /*#myInfo_EditTbl tbody > tr:nth-child(odd) > td,*/ .ccBodyBoxContent2TblInProcess tbody > tr:nth-child(odd) > td, .pretty_tbl tbody > tr:nth-child(odd) > td, #Account_transaction table tbody > tr:nth-child(odd) > td, #edit_accounts table tbody > tr:nth-child(odd) > td, #util table tbody > tr:nth-child(odd) > td { background-color: #f9f9f9 !important; }
table#accounts tbody > th, table.ccBodyBoxContent2Tbl tbody > th, table.ccBodyBoxContent1Tbl tbody > th, /*.borderBox3 tbody > th,*/ .borderBox2 tbody > th, #othertransfers tbody > th, /*#myInfo_EditTbl tbody > th,*/ .ccBodyBoxContent2TblInProcess tbody > th, .pretty_tbl tbody > th, #Account_transaction table tbody > th, edit_accounts table tbody > th, #util table tbody > th { font-weight: bold; border-bottom: 2px solid #b2b2b !important; background-color: #ffffff !important; }
table#othertransfers table tr td { border-top: none !important; background-color: inherit !important }
table#othertransfers table tbody > tr:nth-child(odd) > td { background-color: inherit !important }
#othertransfer_select select { width: 200px !important }
.portalTrMouseOver, .portalTrMouseOut { background-color: inherit !important }
.portal_Ad_boxesContainer, .portalMsgBoxTop, .portalMsgGreenBoxTop, .portalMsgBoxBody, .portalMsgGreenBoxBody, .portalMsgBoxBottom, .portalMsgGreenBoxBottom, .ccVacationsBoxTop, .ccVacationsTitle, .ccVacationsBodyInput, .ccVacationsBoxBottom, .ccBodyBoxContent4 { width: 100% !important; background-image: none !important; height: auto !important }
.portalMsgBoxTop span, .portalMsgGreenBoxTop span, .ccVacationsBoxTop span, .ccVacationsTitle span { float: none !important }
.portal_Ad_boxesContainer { border: 1px solid #c0c0c0 !important; border-radius: 4px !important; -webkit-box-shadow: 0px 2px 0px #CCCCCC; box-shadow: 0px 2px 0px #CCCCCC; width: 90% !important }
#ccVacationsPortalBox { border: 1px solid #c0c0c0 !important; border-radius: 4px !important; -webkit-box-shadow: 0px 2px 0px #CCCCCC; box-shadow: 0px 2px 0px #CCCCCC; background: #ffffff !important }
.portalMsgBoxTop, .ccVacationsTitle { border-bottom: 1px solid #ccc; background-color: #e5e5e5; padding-bottom: 8px !important; text-shadow: 1px 1px 1px #ffffff; }
.portalMsgGreenBoxTop, .ccVacationsTitle { color: #3d5d04 !important; border-bottom: 1px solid #689e26; background-color: #8cb35c; padding-bottom: 8px !important; text-shadow: 1px 1px 1px #bbf377; }
.portalFeedback { text-align: center !important }
.ccBodyBoxContent4, #lb, #rb, #bb, #blc, #brc, #tb, #tlc, #trc, #ccBodyBox, #ccIframeBgColor { padding: 0px !important; background-image: none !important; background-color: transparent !important }
.loadingafterCCPortal, #ccBodyBoxWithButtonsAndPage, .ccIframeBgColor { background-color: #FFFFFF !important }
#ccBodyBox, .ccIframeBgColor { width: 95% !important }
#ccMakePaymentIFrame { width: 100% !important }
#mlaMakePaymentIFrame { width: 100% !important }
#ccVacations { height: 530px !important; overflow: hidden !important; overflow-y: hidden !important; overflow-x: hidden !important; width:225px !important }
.ccBodyBoxContent1 { padding: 30px 10px 0 20px !important; }
.ccBodyBoxContent1Tbl { width: 98% !important }
.TabbedPanelsTabGroup li { font-size: 12px !important; }
/*Iframes*/
#passwordIframe, #questionsIframe, #emailIframe, #modifyPhoneIframe, #modifyAddressIframe, #alertsIframe { width: 96% !important; }
#modifyAddressIframe { height: 2500px !important }
#statementcopyIframe { height: 300px !important }
#activateathIframe { height: 280px !important }
#passwordIframe { height: 450px !important }
#checkcopyIframe { height: 420px !important }
#accountServices { height: 1000px !important; }
#qpdiv { height: 290px !important; width: 175px !important; overflow-x: hidden !important; }
#ordercheckIframe { height: 200px !important }
#stoppaymentIframe { height: 400px !important }
#questionsIframe { height: 500px !important }
#ccServices { height: 580px !important }
#odlimitIframe { height: 560px !important }
#myInfo_EditTbl, #ath_act { width: 95% !important; border: none !important }
#myInfo_EditTbl table > td { font-size: 12px !important }
/* PFM Styles */
#pfm_placeholder, #pfm_dashboard { width: 100% !important; }
#pfm_totalexpenses { font-size: 18px !important }
.months-timespan .year { font-size: 11px !important }
.ui-button-text, .help-note span { font-size: 12px !important }
.ccPlasticImg { margin-left: 30px }
.menu_small_theme, .menu_big_theme { display: none !important }
.layout_menu_left_border_style, .layout_menu_right_border_style, .layout_content_style, .layout_content_right_top_border_style, .layout_content_left_top_border_style, .layout_menu_left_top_border_style, .layout_menu_right_top_border_style { border-left: none !important; border-right: none !important }
.layout_content_right_top_border_style, .layout_content_left_top_border_style, .layout_menu_left_top_border_style, .layout_menu_right_top_border_style, .layout_hola_bottom_border_style, .portal_header_height, .layout_content_style, .layout_menu_left_border_style { border-top: none !important; border-bottom: none !important }
.menu_left_bg_light{*border:1px solid red;*width:200px}
#header { height: 52px !important; height: 62px\9 !important; *height:61px !important;
}
/*IE 10 Hack*/
html[data-useragent*='MSIE 10.0'] #header { height: 47px !important; }
#demo_gastos { position: relative !important; top: -145px !important; left: 525px !important; *left: 500px !important;
height: 43px !important; cursor: pointer }
#menu_footer { width: 100% !important; height: 70px !important; border-top: 1px solid #d0d0d0 !important; margin-top: 15px !important }
.menu_footer_links { padding: 20px 10px 10px 10px !important }
#transactions-tbl-adv th { font-size: 12px !important }
.ccProductName { font-size: 20px !important; font-weight: normal !important }
#myInfo_EditTbl { border-collapse: inherit !important }
.feedback { text-align: center }
.make_pay_select, #singleAccountFrom { width: 240px !important }
#guarantee { background-color: #EDEDED; height: auto !important; padding-bottom: 10px; width: 200px; float: right; }
ul.side-menu, ul.side-menu ul, ul.side-menu li, ul.side-menu ul li { margin: 0; padding: 0; color: #032142 !important }
ul.side-menu li { list-style: none; font-weight: bold }
ul.side-menu li { padding: 6px 4px 6px 4px; border-top: 1px solid #e2e2e2 }
ul.side-menu li:first-child { border-top: none !important }
ul.side-menu { margin-right: 20px !important }
ul.side-menu ul { margin-left: 25px; padding-top: 10px; }
ul.side-menu ul li { font-weight: normal; font-size: 13px; }
ul.side-menu li a, ul.side-menu li span { opacity: .6; }
ul.side-menu li a { text-decoration: none !important; color: #032142 !important; display: block }
ul.side-menu li a:hover { color: #032142 !important; opacity: 1 }
ul.side-menu ul li a { text-decoration: none; color: #032142 !important; padding: 4px 6px 4px 10px; display: block; margin: 1px 0px 1px 0px }
ul.side-menu ul li a:hover { opacity: 1; color: #032142 !important; background-color: #f5f5f5; text-shadow: 1px 1px 1px #FFFFFF; }
ul.side-menu .active { opacity: 1; color: #032142 !important }
ul.side-menu .active:hover { color: #032142 !important }
.left-column { width: 220px; padding: 10px;/*background-color:#f5f5f5*/ ; border-right: 1px solid #f5f5f5 }
.body-column { padding: 10px 10px 10px 20px }
#other-info-containter { width: 96%; padding: 0px 0 0 -10px !important; }
#other-info-containter .inner { padding: 10px 0px 10px -20px }
/*ICONS*/
[class^="icon-"], [class*=" icon-"] { /*display: inline-block; width: 20px; height: 20px; margin-top: 1px;  *margin-right: .3em;
background-image: url('../img/commercial-images.gif'); margin: 0px 4px -4px 0px; background-position: 0px 0px; background-repeat: no-repeat;*/ }
.icon-home { display: inline-block; width: 20px; height: 20px; margin-top: 1px; *margin-right: .3em;
background-image: url('../img/commercial-images.gif'); margin: 0px 4px -4px 0px; background-position: 0px 0px; background-repeat: no-repeat; background-position: 0px 0px; }
.icon-business { display: inline-block; width: 20px; height: 20px; margin-top: 1px; *margin-right: .3em;
background-image: url('../img/commercial-images.gif'); margin: 0px 4px -4px 0px; background-position: 0px 0px; background-repeat: no-repeat; background-position: -20px 0px; }
.icon-info { display: inline-block; width: 20px; height: 20px; margin-top: 1px; *margin-right: .3em;
background-image: url('../img/commercial-images.gif'); margin: 0px 4px -4px 0px; background-position: 0px 0px; background-repeat: no-repeat; background-position: -40px 0px; }
.icon-accounts { display: inline-block; width: 20px; height: 20px; margin-top: 1px; *margin-right: .3em;
background-image: url('../img/commercial-images.gif'); margin: 0px 4px -4px 0px; background-position: 0px 0px; background-repeat: no-repeat; background-position: -60px 0px; }
.icon-payments { display: inline-block; width: 20px; height: 20px; margin-top: 1px; *margin-right: .3em;
background-image: url('../img/commercial-images.gif'); margin: 0px 4px -4px 0px; background-position: 0px 0px; background-repeat: no-repeat; background-position: -80px 0px; }
.icon-business-payments{ display: inline-block; width: 20px; height: 20px; margin-top: 1px; *margin-right: .3em;
background-image: url('../img/business.png') !important ; margin: 0px 4px -4px 0px; background-position: 0px 0px; background-repeat: no-repeat; background-position: 0px 0px; }
.icon-transfers { display: inline-block; width: 20px; height: 20px; margin-top: 1px; *margin-right: .3em;
background-image: url('../img/commercial-images.gif'); margin: 0px 4px -4px 0px; background-position: 0px 0px; background-repeat: no-repeat; background-position: -100px 0px; }
.icon-phone { display: inline-block; width: 20px; height: 20px; margin-top: 1px; *margin-right: .3em;
background-image: url('../img/commercial-images.gif'); margin: 0px 4px -4px 0px; background-position: 0px 0px; background-repeat: no-repeat; background-position: -2px -40px; padding: 0px 1px 2px 1px; height: 24px; width: 16px; display: inline-block; margin-bottom: -15px; margin-left: 2px }
.icon-email { display: inline-block; width: 20px; height: 20px; margin-top: 1px; *margin-right: .3em;
background-image: url('../img/commercial-images.gif'); margin: 0px 4px -4px 0px; background-position: 0px 0px; background-repeat: no-repeat; background-position: -32px -44px; padding: 0px 1px 0px 2px; height: 15px; }
ul.side-menu .icon-athmovil { display: inline-block; width: 20px; height: 20px; margin-top: 1px; *margin-right: .3em;
background-image: url('../img/commercial-images.gif'); margin: 0px 4px -4px 0px; background-position: 0px 0px; background-repeat: no-repeat; background-position: -20px -20px; }
ul.side-menu .icon-documents { display: inline-block; width: 20px; height: 20px; margin-top: 1px; *margin-right: .3em;background-image: url('../img/commercial-images.gif'); margin: 0px 4px -4px 0px; background-position: 0px 0px; background-repeat: no-repeat;background-position: -40px -20px; }
.icon-notifications { display: inline-block; width: 20px; height: 20px; margin-top: 1px; *margin-right: .3em;
background-image: url('../img/commercial-images.gif'); margin: 0px 4px -4px 0px; background-position: 0px 0px; background-repeat: no-repeat; background-position: -120px 0px; }
.icon-reverse { display: inline-block; width: 20px; height: 20px; margin-top: 1px; *margin-right: .3em;
background-image: url('../img/reverseIconAsset.jpg') !important ; margin: 0px 4px -5px 0px; background-position: 0px 0px; background-repeat: no-repeat; background-position: 0px 0px; }
#loginmaincontainer { margin-top: 30px !important }
#tbllogin td { font-size: 10px !important }
.header-login a { color: #fff !important; }
.header-login .signOn_menu { float: right !important; margin-top: -43px !important; }
.signOn_boxText2 a.signOn_boxText2, .signOn_boxText2 .signOn_boxLabels { font-size: 12px !important; display: inline-block }
#lcholder td { font-size: 12px !important }
.portalMsg4UBoxBody { width: 96% !important; border: none !important }
.portalMsg4UBoxBody table { width: 100% }
.portalMsg4UBoxBody td { border-top: 1px solid #dddddd !important; font-size: 12px !important; }
.pretty_tbl > td, .pretty_tbl > th { border-left: none !important; border-right: none !important }
.ccVacationsBodyContent2Tbl { margin-top: 3px !important }
#ccServiceForm img { margin-left: 10px !important }
#edit_accounts table th label { font-size: 12px !important }
#edit_accounts .borderBox3 { border: none !important }
[id^="effectivedate"] { width: 75px !important }
.menu_left_top_style2 { display: none !important }
.menu_left_bg_light, .layout_menu_left_top_border_style { background: none !important; border-top: none !important; min-width: 300px !important; }
.menu_left_top_line, .menu_left_top_line2 { display: none !important; border-top: none !important; background-color: inherit !important }
#other-info-containter { background: #01173e !important; color: #64b4e4 !important; }
#other-info-containter .inner { padding: 5px 10px 5px 15px !important; background: url('../img/commercial-images.gif') 100% -95px no-repeat; }
#other-info-containter a { text-decoration: none; color: #64b4e4 !important; }
#other-info-containter a:hover { text-decoration: none; color: #fff !important; }
#other-info-containter b { display: block !important; color: #fff !important; padding-left: 25px !important }
#info-phone, #info-email { padding: 5px 0px 5px 0px; line-height: 110% !important; }

@media (max-width: 799px) {
 #tbl { width: 740px !important }
 #cookiePreferenceIframe { height: 1520px !important }
}
@media (min-width: 800px) {
 #tbl { width: 840px !important }
 #cookiePreferenceIframe { height: 1350px !important }
}
@media (min-width: 899px) {
 #tbl { width: 980px !important }
 #cookiePreferenceIframe { height: 1170px !important }
}
#cookiePreferenceIframe { overflow: hidden }

.portal_header_height { height: 72px !important; padding-top: 18px; padding-left: 15px; color: #ddd; line-height: 120%; }
.borderBox3 #submitbutton { float: right !important }
#ps1 #continueDiv { padding-left: 13px !important; }
/*--- Message Container-------*/

.message_container { position: relative !important; height: 30px !important; text-align: left !important }
#success_msg { position: relative !important; height: auto !important; float: left }
#success_msg span { -webkit-box-shadow: 1px 1px 2px #666666; box-shadow: 1px 1px 2px #666666; position: absolute !important; background-color: #ffff99 !important; padding: 6px !important; margin-top: -3px !important; width: 980px !important }
#Popup1 { position: absolute !important; top: 20px !important; left: 30px !important; z-index: 300 !important; }
#Popup1.transparent { background: url('../img/popup-bg.png') 0 0 no-repeat }
#Popup1.transparent div { padding: 10px 25px !important }
/*----------------------------*/
#commonpayees #resultPane table colgroup col { width: auto !important }
#commonpayees #resultPane table { border-spacing: 0 !important; border-collapse: collapse !important; }
#commonpayees #resultPane table colgroup col:first-child { width: 80% !important }
#commonpayees #resultPane table tbody tr:first-child { display: none !important }
.signOn_menuPortal { padding-top: 17px !important }
.signOn_menuPortal a { color: #fff !important; opacity: .6 }
.signOn_menuPortal a:hover { opacity: 1 }
#quickPay #accountFrom, #quickPay #payeeid { width: 125px !important }
#quickPay #amount { width: 60px !important }
#QPclose { float: right !important }
a:hover.no-hover { text-decoration: none !important }
input#athNumber { width: 95% !important }
#payment_list .borderBox3 table td { padding: 2px 4px 2px 4px !important; }
#editemailHolder iframe { height: 160px !important }
#alertsResult .borderBox2 { padding: 10px !important }
#emailIframe { height: 200px !important }
#modifyPhoneIframe { height: 290px !important }
table#accounts tbody > tr:nth-child(odd).destroyable > td, table.ccBodyBoxContent2Tbl tbody > tr:nth-child(odd).destroyable > td, table.ccBodyBoxContent1Tbl tbody > tr:nth-child(odd).destroyable > td, .borderBox2 tbody > tr:nth-child(odd) > td, #othertransfers tbody > tr:nth-child(odd).destroyable > td, .ccBodyBoxContent2TblInProcess tbody > tr:nth-child(odd).destroyable > td, .pretty_tbl tbody > tr:nth-child(odd).destroyable > td, #Account_transaction table tbody > tr:nth-child(odd).destroyable > td, #edit_accounts table tbody > tr:nth-child(odd).destroyable > td, #util table tbody > tr:nth-child(odd).destroyable > td, #commonpayees #resultPane table tbody > tr:nth-child(odd).destroyable > td, .borderBox2 tbody > tr:nth-child(odd).destroyable > td form table tbody > tr:nth-child(odd) > td { background-color: #fff !important; }
table#edit_accounts tbody > tr > td form table tbody > tr:nth-child(odd) > td, .borderBox2 tbody > tr > td form table tbody > tr:nth-child(odd) > td, table#edit_accounts tbody > tr > td form table tbody > tr > td, .borderBox2 tbody > tr > td form table tbody > tr > td { background-color: #fff !important; border-top: none !important; line-height: auto !important; padding: 0px !important; vertical-align: top !important; }
.EnrollcontentData font { font-size: 13px !important }
.recur_trans_tbl, .freq_payment { width: 60% !important }
#editemailHolder #emdiv { height: 210px !important }
#MB_frame { background-color: #fff !important; height: auto !important }
#MB_content { height: 300px }
#MB_content #smsIframePlaceholder { height: 370px !important }
#contact-us #newIframe { width: 250px !important; height: 200px !important }
#balances #amountgt, #balances #amountlt, #alertsPurchaseminamt, #dlyPurchasetotlsminamt, #alertsWithdrawminamt, #dlyWithdrawtotlsminamt { width: 35px !important }
#smsFram td { font-size: 12px !important }
#balancesIframe { height: 260px !important }
[id^="effectivedate"], [class*="effectivedate"] { width: 70px !important }
.date-col { width: 125px !important }
#ebppIframe { height: 300px !important }
#ebppInbox div { width: 155px !important; }
#ebppInbox div a { display: block !important; padding: 5px !important; border-bottom: 1px solid #ccc !important; margin: 3px 0px 3px 0px !important; }
#ebppInbox div a:hover { background-color: #EAEAEA !important }
#alertMessageFrame { height: 320px !important }
#fedBoxFrame td{font-size:12px !important}
#unicaOfferFrame{height:500px !important}
#cancelDiv { top: 340px !important }

.ccVacationsPortal{width:230px !important}

#edit_box td, #edit_box div {font-size:12px !important}
.rounded-account-tittle{border-radius: 5px;background-color: rgb(245, 245, 245) !important;font-weight:bold; text-align:left; }
.cashBackWidgetContainer {background: #ffffff; width: 230px !important; position: absolute; margin-left: 475px;}
.cashBackWidgetTitleContainer {color: #ffffff; background-color: #0f2754; padding-bottom: 8px !important; padding-top: 10px; font-family: Arial, Helvetica, sans-serif, Sans; font-style: normal; font-weight: bold; text-align: center; border-top-left-radius: 4px; border-top-right-radius: 4px;}
.cashBackWidgetBotomContainer {background-color: #FFFFFF; border-left: 1px solid #CCCCCC; border-right: 1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; text-align: center; padding-top: 10px; padding-bottom: 10px;}
.cashBackRedeemButton {background-color: #3784d2; margin-left: 20px; margin-right: 20px; border-radius: 4px; margin-top: 10px; line-height: 26px; color: white !important;}
.cashBackRedeemDisabled {background-color: gray; margin-left: 20px; margin-right: 20px; border-radius: 4px; margin-top: 10px; line-height: 26px; color: white !important; display: none;}
.cashBackWidgetAmount {color: #387cb7; font-size: 25px !important;}
.cashBackErrorMessage {color: #8a6b0e; font-size: 12px !important; display: block; padding-left: 5px; padding-right: 5px;}
.no-underline, .no-underline:hover {text-decoration: none !important}
.cashBackPortalContainer {background-color: #397cca; color: white; width: auto; border-radius: 4px; float: right; padding-left: 5px; padding-right: 5px; padding-top: 2px;}
img.loading-wheel{width: 12px; height: 12px; animation: rotatingWheel .6s ease-in-out infinite;}
@keyframes rotatingWheel {0%{transform: rotate(0deg)}100% {transform: rotate(360deg)}}