.btn-table {
	cursor: pointer;
}

.btn-center a {
	text-align: center;
	font-size: 14px;
	color: #324f15;
	font-weight: bold;
	text-shadow: #effccd 0 1px 0;
	font-family: Arial, sans-serif;
	text-decoration: none;
}

.titulo {
	color: #3c3b3b;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: normal;
	font-size: 16px !important;
	text-align: left;
}

.textoBienvenida {
	color: #5f5d5d;
	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: normal;
	font-size: 14px !important;
	font-weight: normal;
	color: #2d2e2e;
	text-align: left;
	margin-bottom: 30px;
	margin-top: -30px;
}

.principalNotificationExternalLink {
	margin: 5px 5px important!;
	padding: 5px 5px important!;
	height: 130px;
	width: 450px;
}

/* Close Button */
[class*='close-'] {
	color: #777;
	font font: 14px/100% arial, sans-serif;
	position: absolute;
	right: 5px;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	top: 10px;
}

.close-thik:after {
	content: 'X';
	/* UTF-8 symbol */
	margin: 15px;
	font-size: 18px;
}

.external_link_button {
	text-align: "right";
	border-width: 1px !important;
	border-color: rgb(144, 187, 63) !important;
	border-style: solid !important;
	border-width: 1px !important;
	border-color: rgb(111, 158, 24) !important;
	border-radius: 3px !important;
	background-color: #90bb3f;
	box-shadow: 0px 2px 0px #d9d9d9;
	padding: 4px 8px 4px 8px !important;
	text-shadow: 1px 1px 1px #d0ed9a;
	color: black;
}

.external_link_button_2 {
	border-width: 1px !important;
    border-color: rgb( 144, 187, 63 ) !important;
    border-style: solid !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: rgb( 111, 158, 24 ) !important;
    border-radius: 3px !important;
    background-color: #90bb3f;
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0%, rgba(144,187,63,1.00)), color-stop( 100%, rgba(119,158,45,1.00))) !important;
    background-image: -webkit-linear-gradient(270deg, rgba(144,187,63,1.00) 0%, rgba(119,158,45,1.00) 100%) !important;
    background-image: linear-gradient(180deg, rgba(144,187,63,1.00) 0%, rgba(119,158,45,1.00) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#90bb3f", endColorstr="#6f9e18", GradientType=0 );
    box-shadow: 0px 2px 0px #d9d9d9;
    !important: ;
    padding: 4px 8px 4px 8px !important;
    width: auto !important;
    height: auto !important;
    text-shadow: 1px 1px 1px #d0ed9a;	
    color: black;
    font-size: 14px !important;
}

#separator {
	border-bottom: 1.6px solid rgb(29, 76, 123);
	border-color: rgb(205, 230, 255);
	margin-top: -10px;
}