/**/

* {
  font-family: -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               helvetica, 'helvetica neue',
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
}

.push-disclaimer {
	font-size: smaller;
	padding-left: 20px;
	padding-right: 20px;
	text-align: left;
}

ons-toast {
	z-index: 10005 !important;
}

.toast__message {
    white-space: normal;
}

.toast {
    padding: 16px 16px;
    line-height: 1.5;
}

ons-list-header.list-header--material.bottom-border-main {
	border-bottom: solid 1px #3784D2;
}

ons-list-header.list-header--material.bottom-border {
	border-bottom: solid 2px #3784D2;
}

:checked+.switch--material__toggle {
	background-color: rgba(75, 144, 212, 0.35) !important;
}

:checked+.switch--material__toggle > .switch--material__handle {
	background-color: #4a90e2 !important;
}

.alert-dialog--android-loading {
	padding: 0 !important;
    max-width: 350px !important;
	
}

.alert-dialog--ios-loading {
	width: 60% !important;
	border-radius: 20px !important;
	padding: 10px 20px 20px 20px !important;
}

.alert-dialog-container--android-loading {
	padding:22px 16px !important;
	display: flex;
    align-items: center;
}
.alert-dialog-container--ios-loading {
	padding: 0;
} 



.button-green, .button-green:hover {
  background: #90C241;
}
.progress-circular--material__secondary {
	stroke: #c2c8cc !important;
}
.progress-circular--material__primary {
	stroke: #a4a6a79e !important;
	stroke-width: 6% !important;
}

.button-modal{
  text-align: center;
  width: 100%;
}

.button-title-option, .button-title-option:hover {
  color: #234b7f;
  font-size: 1em;
  font-weight: bold;
  text-align: left;
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
  border-radius: 5px;
  padding:.7em;
  margin-bottom: 8px;
  width: 90%;
}

.button-title-option:first-of-type{
  margin-top: 20px;
}

.button-title-option img {
  vertical-align: inherit;
  margin-right: .5em;
}

.button-title-option p {
  display: inline-block;
  margin: 0;
}

.button-title-icon {
  display: inline-block;
  vertical-align: middle;
}

.button-content, ons-toolbar div.center {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	vertical-align: middle;	
}

ons-list-item p {
  margin: 0 0 0 8px;
}

.text-blue {
  color: #3784D2;
}

.text-gray {
  color: #6E6E72;
}

#dialog-push-icon {
  height: 21px; 
  width: 21px;
}

div.underlined-title {
	width: 90%;
	text-align: left;
	display: inline-block;
	border-bottom: 1px;
	border-bottom-color: lightgray;
	border-bottom-style: solid;
	font-size: 14px;
	padding: 30px 0px 8px 0px;
	text-indent: 10px;
	text-transform: uppercase;
}

ons-toolbar.toolbar-segment.toolbar {
	background: #fff;
	display: block;
	position:static;
}

ons-toolbar div.left, ons-toolbar div.right {
	width: 10%;
}

ons-toolbar div.center {
	width: 80%;
	padding-left: 10px;
	padding-right: 10px;
}

ons-toolbar.with-buttons div.left, ons-toolbar.with-buttons div.right {
	width: 18%;
}

ons-toolbar.with-buttons div.center {
	width: 64%;
}

ons-back-button { 
	color: #fff;
}

.page-mt {
  margin-top: 5em;
}

ons-page div.page__background {
	background-color: #F5F5F5;
}

ons-list-header.list-header {
    padding-top: 20px;
    padding-bottom: 6px;
    background-color: #F5F5F5;
    font-size: 14px;
    font-weight: normal;
}

ons-list-header.empty-header {
	padding: 0px;
	min-height: 16px;
}

/***************************

Info Cards Padding

***************************/

ons-page#retirosAlerts .card--plastic-itemlist-title,
ons-page#creditAlerts .card--plastic-itemlist-title {
  padding-left: 8px;
}

/***************************

Info Card Design

***************************/

.card--plastic-header{
  display: flex;
  border-bottom: 1px solid #EEEEEE;
  width: 100%;
}

.card--plastic-header img {
  width: 44px;
  height: 44px;
  padding-right: 8px;
}


.card--plastic-header-section{
  display: flex;
  align-items: baseline;
  margin-bottom: 7px;
  justify-content: space-between;
  padding-right:10px;
}

.card--plastic-header-section:last-of-type{
  margin-bottom: 16px;
}

h2.card--plastic-header-holder.ath{
  margin: 0;

}
h2.card--plastic-header-holder.ath.acc-info{
  font-size: 15px;
  color: #4A4A4A;
  font-weight: lighter;
}

h4.card--plastic-header-number.ath{
  margin: 0;
}

h2.card--plastic-header-holder {
  font-size: 17px;
  color: #4A4A4A;
  margin: 0 0 8px 0;
}

h4.card--plastic-header-number{
  opacity: 0.5;
  font-size: 13px;
  color: #4A4A4A;
  margin: 0 0 12px 0;
}

.card--plastic-itemlist{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #EEEEEE;
  padding: 8px 10px 8px 0;
  margin-left: 10px;
  width: 100%;
}

.card--plastic-itemlist-item {
   padding-bottom: 0px; 
   padding-right : 0px;
}

.card--plastic-itemlist:last-child{
  border-bottom: none;
  padding-bottom: 12px;
}

h2.card--plastic-itemlist-title{
  font-size: 15px;
  color: #4A4A4A;
  max-width: 65%;
  min-width: 200px;
  margin: 0;
}

.card--plastic-itemlist-icons {
    display: flex;
    align-items: center;

}

.card--plastic-itemlist-icons img {
    margin-left: 8px;
}

h1.card--plastic-itemlist-title-main{
  margin: 16px 0 0 0;
  font-size: 15px;
  color: #3784D2;
  letter-spacing: -0.09px;
}

.card--plastic-header-info{
	width: 100%;
}

.alert-amount{
  font-weight: bold;
}

/***************************

Modal

***************************/

.dialog{
  width: 90%;
  max-width: 380px;
  height: auto;
  background: #FFFFFF;
  box-shadow: 0 4px 9px 0 rgba(0,0,0,0.30);
  border-radius: 10px;
}

.alert-dialog {
  width: 80%;
  max-width: 300px;
  height: auto;
  box-shadow: 0 4px 9px 0 rgba(0,0,0,0.30);
  padding: 20px;
  text-align: center;
}

#migration-alert-dialog div.alert-dialog {
  width: 80%;
  max-width: 300px;
  height: auto;
  box-shadow: 0 4px 9px 0 rgba(0,0,0,0.30);
  padding: 0px !important;
  text-align: center;
}

#migration-alert-dialog div.alert-dialog-content {
    color: #1f1f21;
}

.dialog-container{
  background: #fff;
}

.dialog--header{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #C8C7CC;
  padding: 12px 16px;
}

.dialog--header h6,
.dialog--header p {
  margin: 0;
  font-size: 15px;
}

.dialog--header h6 {
  font-weight: 500;
  font-size: 17px;
  color: #0B0B0B;
  letter-spacing: -0.42px;
}

.dialog--info-section{
  background: #F5F5F5;
  padding: 12px 16px;
  display: flex;
}

.dialog--info-section img {
  width: 36px;
  height: 36px;
  margin-right: 8px;
}

.dialog--card .card--plastic-header-section {
  flex-direction: column;
}

.dialog h2.card--plastic-header-holder{
  font-weight: 500;
  margin: 0 0 2px 0;
}

.dialog h4.card--plastic-header-number {
  font-weight: 400;
  margin-bottom: 0;
}

.dialog .card--plastic-header-section:last-of-type {
  margin-bottom: 0;
}

.dialog--card-body {
  padding: 16px;
}

.dialog--card .dialog--card-input-section{
  border-radius: 5px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  background: #F5F5F5;
}

.dialog .text-blue h2.card--plastic-header-holder {
  margin: 0 16px 0 0;
}

.dialog--card .dialog--card-input-section h2.card--plastic-header-holder{
  margin-right: 16px;
  margin-bottom: 0;

}

.dialog--card-body h2.dialog--card.card--plastic-header-holder.alert-title{
  color: #3784D2;
  margin-bottom: 8px;
}

.dialog--card .dialog--card-input-section input {
  background: none;
  border: 0;
  font-size: 34px;
  color: #3784D2;
  height: auto;
  width: 100%;
}

.dialog--card .dialog--card-input-section #dialog-amount.right-aligned input {
  text-align: right !important;
}

.dialog--card .dialog--card-input-section input::placeholder{
  color: #C8C7CC;
}

.dialog--card .dialog--card-input-section input:focus{
  color: #3784D2;
}

.dialog--button-container {
	padding: 8px;
}

.dialog-mask-ios{
	top: 44px !important;
}

.dialog-mask-android{
	top: 56px !important;
}

.dialog-mask, .alert-dialog-mask {
	background-color: rgba(0,0,0,0.7) !important;
}
.alert-dialog-mask--android-loading, .alert-dialog-mask--ios-loading {
	background-color: rgba(0,0,0,0) !important;
}

.toolbar--material__left {
    min-width: 0 !important;
}

span.card--plastic-input-text,
input.card--plastic-input-text {
  font-size: 34px;
  color: #C8C7CC;
}

p.alert-type-title{
  text-transform: uppercase;
  font-size: 13px;
  color: #6D6D72;
  margin-top: 24px;
}

#close-dialog-btn{
	position:relative;
}
.cancel-clickable-area:after{
	content: "";
    padding: 21px 37px 23px 37px;
    position: absolute;
    left: -14px;
    top: -12px;
}

/***************************

Material

***************************/
.toolbar-button{
	padding-left: 4px;
    padding-right: 4px;
    color: #FFFFFF;
}

.toolbar--material__center.toolbar--alert-toolbar__center {
	padding-left: 0 !important;
}

#balances-segment div.toolbar--material__center {
	text-align: center;
}

.toolbar--material__center:first-child {
	margin-left: 0px;
}

.toolbar--material__center:last-child {
	margin-right: 0px;
}

.alert-dialog-container--material {
	box-shadow: none;
}

.title_toolbar_button {
	color: #FFFFFF;
	background: none;
}

.back-button {
    height: 44px;
    padding-left: 8px;
    color: #FFFFFF;
}

.back-button__icon {
    margin-right: 6px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: inline-flex;
    fill: #FFFFFF;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
}

.toolbar {
  background-color: #234b7f;
  background-image: none;
}

.toolbar--material {
  background-color: #003e7e;
}

ons-input .text-input, ons-search-input .search-input {
    width: 99%;
    display: inline-block;
}

ons-input .text-input{
	line-height: normal;
	outline-offset: 8px;
	outline-style: none;
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
	-webkit-appearance: none;
	border-radius: 0;
}

#dialog-amount {
	padding: 0px;
}

.navbar-spacing {
	top: 44px;
}
.navbar-spacing--material {
	top: 60px;
}

.search-input {
    background-color: rgba(255, 255, 255, 1);
}

.button--material:active {
  background-color: silver;
}

.btn-primary {
	background:#82af54;
	background-image:none;
	border:1vw solid #82af54;
	font-size:4vw;
	color:#fff!important;
	-webkit-transition:opacity .3s ease-in-out;
	-moz-transition:opacity .3s ease-in-out;
	transition:opacity .3s ease-in-out
	}

.btn-primary.active,.btn-primary:hover {
	background:#719f41!important;
	border:1vw solid #578429!important
	}

.btn-primary.active,.btn-primary.disabled,.btn-primary:active,.btn-primary:focus,.btn-primary:hover,.btn-primary[disabled] {
	color:#fff!important;
	border:1vw solid #648f38;
	background-color:#719f41!important;
	-webkit-transition:opacity .3s ease-in-out;
	-moz-transition:opacity .3s ease-in-out;
	transition:opacity .3s ease-in-out
}
.btn-primary.disabled,.btn-primary[disabled]{opacity:.3}
.btn-primary.active,.btn-primary:active{background-color:#719f41\9}



#overlay{
  border:1px solid black;
  width:350px;
  height:200px;
  display:inline-block;
  background-repeat:no-repeat;
}



/***************************

Loading IOS Icon Anim

***************************/
div.spinner {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 36px;
  height: 39px;
  display: block;
  background: transparent;
  padding: 10px 10px 15px 10px;
  
}

div.spinner div {
  width: 6%;
  height: 16%;
  background: grey;
  position: absolute;
  left: 49%;
  top: 43%;
  opacity: 0;
  -webkit-border-radius: 50px;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
  -webkit-animation: fade 1s linear infinite;
}

@-webkit-keyframes fade {
  from {opacity: 1;}
  to {opacity: 0.25;}
}

div.spinner div.bar1 {
  -webkit-transform:rotate(0deg) translate(0, -130%);
  -webkit-animation-delay: 0s;
}    

div.spinner div.bar2 {
  -webkit-transform:rotate(30deg) translate(0, -130%); 
  -webkit-animation-delay: -0.9167s;
}

div.spinner div.bar3 {
  -webkit-transform:rotate(60deg) translate(0, -130%); 
  -webkit-animation-delay: -0.833s;
}
div.spinner div.bar4 {
  -webkit-transform:rotate(90deg) translate(0, -130%); 
  -webkit-animation-delay: -0.7497s;
}
div.spinner div.bar5 {
  -webkit-transform:rotate(120deg) translate(0, -130%); 
  -webkit-animation-delay: -0.667s;
}
div.spinner div.bar6 {
  -webkit-transform:rotate(150deg) translate(0, -130%); 
  -webkit-animation-delay: -0.5837s;
}
div.spinner div.bar7 {
  -webkit-transform:rotate(180deg) translate(0, -130%); 
  -webkit-animation-delay: -0.5s;
}
div.spinner div.bar8 {
  -webkit-transform:rotate(210deg) translate(0, -130%); 
  -webkit-animation-delay: -0.4167s;
}
div.spinner div.bar9 {
  -webkit-transform:rotate(240deg) translate(0, -130%); 
  -webkit-animation-delay: -0.333s;
}
div.spinner div.bar10 {
  -webkit-transform:rotate(270deg) translate(0, -130%); 
  -webkit-animation-delay: -0.2497s;
}
div.spinner div.bar11 {
  -webkit-transform:rotate(300deg) translate(0, -130%); 
  -webkit-animation-delay: -0.167s;
}
div.spinner div.bar12 {
  -webkit-transform:rotate(330deg) translate(0, -130%); 
  -webkit-animation-delay: -0.0833s;
}

.ios-loading {
    height: auto;
    padding: 20px;
    text-align: center;
    width: 250px;
    border-radius: 20px ;
    padding: 10px 20px 20px 20px;
    box-sizing: border-box;
    background: #f4f4f4;
    border: none;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.android-loading {
	display: flex !important;
	font-size: 14px;
    align-items: center;
    height: auto;
    text-align: left;
    max-width: 300px;
    width: 80%;
    border-radius: 3px;
    padding: 15px 15px 15px 15px;
    box-sizing: border-box;
    background: #f4f4f4;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fullscreen-loading-container {
	text-align: center;
    height: 100%;
    position: relative;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;
}
