popup-cookieinfo {
	display : block!important;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	font-size: 16px !important;
	font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
	line-height: 1.42857;
    color: #333;
	overflow: hidden;
    margin : 0;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    text-size-adjust: 100%;
    min-width: 500px;
}

popup-cookieinfo.hide {
	display : none!important;
}

popup-cookieinfo *:focus,popup-cookieinfo input:focus {
    outline: 2px dotted #aeb0b5 !important;
    outline-offset: 3px !important;
}

popup-cookieinfo #menu-overlay.show,popup-cookieinfo #overall-overlay.show,popup-cookieinfo #overlay-alert.show {
    left: 0;
    width: 100%;
    height: 100%;
}
popup-cookieinfo #overall-overlay,popup-cookieinfo #overlay-alert {
    position: fixed;
    z-index: 4000;
}

popup-cookieinfo #menu-overlay,popup-cookieinfo #overall-overlay,popup-cookieinfo #overlay-alert {
    background-color: rgba(3, 9, 25, 0.8);
    position: absolute;
    top: 0;
    left: -20000px;
    width: 1px;
    height: 1px;
    z-index: 10;
}
popup-cookieinfo .show {
    display: block !important;
}

popup-cookieinfo .row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

popup-cookieinfo .row .container, .row.zig-zag .container.container-boxed, .row-boxed, .row.zig-zag.row-boxed, .row.row-boxed, .row.zig-zag .container.container-boxed .col-md-12 {
    max-width: 1024px !important;
    margin: auto !important;
}

popup-cookieinfo .row.alert.alert-float-bottom {
    padding-top: 2rem !important;
    border-left: 0px !important;
    border-top: 6px solid #2278c9 !important;
}
popup-cookieinfo .row.alert-float-bottom {
    position: fixed;
    bottom: 0;
    z-index: 9999;
}
popup-cookieinfo .row.alert {
    background-image: none !important;
    box-shadow: 0 0 8px #494949;
    width: 100% !important;
    margin: 0px !important;
}

popup-cookieinfo .row.alert p, popup-cookieinfo .row.alert p a {
	font-size: 15px !important;
}

popup-cookieinfo .animated {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

popup-cookieinfo .slideInUp {
    -webkit-animation-name:slideInUp;
    animation-name: slideInUp;
}

popup-cookieinfo .slideOutDown{
    -webkit-animation-name:slideOutDown;
    animation-name:slideOutDown;
}

popup-cookieinfo .alert {
    border-radius: 0px !important;
    color: #00205c !important;
    border: 0px !important;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
    border-left-color: currentcolor;
    border-left-style: none;
    border-left-width: 0px;
    padding: 20px 20px 20px 70px !important;
    margin-bottom: 20px;
	font-size: 16px !important;
	font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);

}

popup-cookieinfo .alert-info {
    color: #31708f;
    background: #deebf7 !important;
    background-color: rgb(222, 235, 247);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-image: none;
    background-size: auto;
    background-color: #deebf7 !important;
    background-repeat: no-repeat !important;
    background-position: 15px 10px !important;
    background-size: 42px 42px !important;
    border-left: 5px solid #2278c9 !important;
	background-image: -webkit-linear-gradient(top, #d9edf7 0, #b9def0 100%);
    background-image: linear-gradient(to bottom, #d9edf7 0, #b9def0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7',endColorstr='#ffb9def0',GradientType=0);
    
}

popup-cookieinfo .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

popup-cookieinfo .textInfo {
    width: 75%;
    align-items: center;
    margin: auto;
}
popup-cookieinfo .textInfo,popup-cookieinfo .buttonAgree {
    float: center;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

popup-cookieinfo p {
    text-shadow: 1px 1px 0 #fff;
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
	margin: 0 0 10px;
}

popup-cookieinfo p a {
    text-decoration: underline;
}

popup-cookieinfo a {
    position: relative;
    text-decoration: underline !important;
	color: #428bca;
    text-decoration: none;
	background: 0 0;
	padding-left: 15px;
	font-size: 15px !important;
}

popup-cookieinfo a, a h1, a h2, a h3, .text-uppercase.text-sm {
    color: #1e68ae;
    cursor: pointer !important;
}

popup-cookieinfo .btn-primary {
    color: #fff;
    border: 1px solid #2278c9;
    border-top-color: rgb(34, 120, 201);
    border-right-color: rgb(34, 120, 201);
    border-bottom-color: rgb(34, 120, 201);
    border-left-color: rgb(34, 120, 201);
    text-decoration: none !important;
    background: #2278c9 !important;
    background-color: rgb(34, 120, 201);
    background-image: -webkit-linear-gradient(top, #428bca 0, #2d6ca2 100%);
    background-image: linear-gradient(to bottom, #428bca 0, #2d6ca2 100%);
    background-color: #2278c9 !important;
    border-color: #2278c9 !important;
    font-size: 16px !important;
    text-shadow: 1px 1px 2px #2278c9 !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca',endColorstr='#ff2d6ca2',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #2b669a;
}


popup-cookieinfo .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
	font-size: 16px !important;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;

}

popup-cookieinfo .btn-default,popup-cookieinfo .btn-outline,popup-cookieinfo .btn-primary,popup-cookieinfo .btn-white {
    border-radius: 16px !important;
}

popup-cookieinfo .btn-primary,popup-cookieinfo .btn-primary.active,popup-cookieinfo .btn-primary:active,popup-cookieinfo .btn-primary:hover {
    box-shadow: none !important;
}

popup-cookieinfo .btn-default,popup-cookieinfo .btn-primary,popup-cookieinfo .btn-success,popup-cookieinfo .btn-info,popup-cookieinfo .btn-warning,popup-cookieinfo .btn-danger {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
}

popup-cookieinfo .btn-primary:visited {
    color: #fff !important;
}
popup-cookieinfo .btn-primary:hover,popup-cookieinfo .btn-primary:focus,popup-cookieinfo .btn-primary:active {
    box-shadow: none !important;
    background: #00205c !important;
    
}

body.modal-open {
	overflow: hidden;
}
@media (min-width: 992px) {
	
	popup-cookieinfo .buttonAgree,popup-cookieinfo textInfo {
		float: left;
	}
	
	popup-cookieinfo .textInfo {
		width: 75%;
	}
}

@media (max-width: 992px) {
	popup-cookieinfo .buttonAgree,popup-cookieinfo .textInfo {
		float: initial;
		width: 85%;
	}
	
	popup-cookieinfo .row.alert.alert-float-bottom {
		padding-top: 1rem !important;
	    padding-left : 0px!important;
	}

	popup-cookieinfo .row.alert .container {
		padding-bottom : 4rem!important;
	}
}

@media (max-width: 768px) {
	popup-cookieinfo .row.alert .container {
		padding: 10px 10px 4rem 10px!important;
	}
	popup-cookieinfo .row.alert {
		padding: 20px 0px !important;
	}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
	popup-cookieinfo .buttonAgree,popup-cookieinfo textInfo {
		float: left;
	}
	
	popup-cookieinfo .textInfo {
		width: 75%;
		float: left;
	}

	popup-cookieinfo .buttonAgree {
		width : initial;
	}
	popup-cookieinfo .row.alert .container {
		padding: 10px 10px 4rem 10px!important;
	}

	popup-cookieinfo .row.alert.alert-float-bottom {
		padding-top: 1rem !important;
	    padding-left : 0px!important;
		padding-bottom:7rem!important;
	}



 }

@keyframes slideInUp{
    from{
        -ms-transform:translate3d(0, 100%, 0);
        -webkit-transform:translate3d(0, 100%, 0);
        transform:translate3d(0, 100%, 0);
        visibility:visible;
    }
    to{
        -ms-transform:translate3d(0, 0, 0);
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0);
    }
}

@-webkit-keyframes slideOutDown{
    from{
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0);
    }
    to{
        visibility:hidden;
        -webkit-transform:translate3d(0, 100%, 0);
        transform:translate3d(0, 100%, 0);
    }
}
@keyframes slideOutDown{
    from{
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0);
    }
    to{
        visibility:hidden;
        -webkit-transform:translate3d(0, 100%, 0);
        transform:translate3d(0, 100%, 0);
    }
}

