.tituloRetPLanExtL {
	color: #3c3b3b;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: normal;
	font-size: 16px !important;
	text-align: left;
}

.textoBienvenidaRetPlanExtL {
	color: #5f5d5d;
	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: normal;
	font-size: 14px !important;
	font-weight: normal;
	color: #2d2e2e;
	text-align: left;
	margin-bottom: 30px;
	margin-top: -30px;
}

/* Close Button */
[class*='close-thik'] {
    color: #777;
    font font: 14px/100% arial, sans-serif;
    position: absolute;
    right: 5px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    top: 10px;
}

.close-thik:after {
	content: 'X';
	/* UTF-8 symbol */
	margin: 15px;
	font-size: 18px;
}
