@charset "utf-8";

.printNone{
	display: none;
}

#onlyPrint{
	color:black;
}

body {
	font-family:Verdana, Arial, sans-serif, Sans;
	font-style:normal;
	font-size:8.5pt;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

body table{
	width:85%;
	margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    border:0px;
}




