@charset "utf-8";

body {
	font-family:Arial, sans-serif, Sans;
	font-style:normal;
	font-size:11px;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
}

table{
	font-family:Arial, Helvetica, sans-serif, Sans;
	font-size:11px;
	color:#535456;
	border-spacing: 0 2px;
}

form {
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
}
select {
	font-family:Arial, Helvetica, sans-serif, Sans;
	font-size:11px;
}

a {
	font-family:Arial, Helvetica, sans-serif, Sans;
	cursor: pointer;

}

input[type=text] {
	font-family:Arial, Helvetica, sans-serif, Sans;
	font-size:11px;
}

textarea {
	font-family:Arial, Helvetica, sans-serif, Sans;
	font-size:11px;
}


div #header {
  background-repeat:repeat-x;
  height:95px;
  text-align: right;
}
div #text {
	margin-top:0px;
	padding-top:43px;
	padding-bottom:20px;
	float: right;
}

/*------general use --------*/


/*--------Page titles, subtitles, table headers------*/
h1{
	font-family:Arial, Helvetica, sans-serif, Sans;
	font-size:19px;
	font-weight:normal;
	color:#808080;
	margin-top:0px;
}

h2{
	color: #003366;
	font-size:15px;
	margin-top:0px;
	margin-bottom:0px;
	padding-bottom:0px;
}

h3{
	color: #003366;
	font-size:12px;
	margin-top:5px;
	margin-bottom:5px;
	padding-bottom:0px;
}
/*--------End Page titles, subtitles, table headers------*/

.borderBox {
	border:1px solid #cde6ff;
	width:610px;
	margin-left:19px;
}

.borderBox2 {
	border:1px solid #cde6ff;
	width:610px;
}

.borderBox3 {
	border:1px solid #cde6ff;
	width:100%;
}

.blue{
	color: #003366;
	font-size:11px;
}

.black{
	font-family:Arial, Helvetica, sans-serif, Sans;
	color: #000000;
	font-size:12px;
}

.black_sm{
	font-family:Arial, Helvetica, sans-serif, Sans;
	color: #000000;
	font-size:11px;
}

.orangetext{
	color:#F15A29;
	font-size:15px;
}

.orangetext_small{
	color:#F0680D;
	font-size:11px;
}

.balance {
	text-align:right;
}

.hola{
	font-size:16px;
	color: #000000;
}



/*IE 7 Fix
html> body .hola{
	font-weight:bold;
}



* html .hola{
	font-weight:bold;
}
/*End IE 6 Fix*/


#token{
	border:0px;
	background-color:transparent;
}


.trashCan{
	cursor:pointer;
}

.icnWlabel {
	border:0;
	margin-bottom:5px;
	margin-left:15px;
}

.LinkImage {
	border:0px;
	text-decoration:none;
}

a.green {
	color:#268c08;
}

.pagetitle {
	color:#000060;
	font-size:16px;
	padding-top:5px;
	color:#535456;
}
.info {
   font-size:11px;
}

.info a{
   font-size:11px;
}

.error {
	color: red;
}

.errors {
	color: red;
	font-size:12px;
}

div.row {
  clear: both;
  padding-top:10px;
}


.loading{
		background-repeat:no-repeat;
		background-position:top center;
		background-image:url(../img/spinner.gif);
		height:50px;
		background-color:transparent;
	}
	
.loadingEbills{
		background-repeat:no-repeat;
		background-position:top center;
		background-image:url(../img/spinner.gif);
		background-size: 25px;
		height:25px;
		background-color:transparent;
	}

.loadingafter{
		background-repeat:no-repeat;
		background-position:top center;
		background-image: none;
		background: white;
	}

/*----------------------------------- Buttons & Input fields ----------------------------------*/

/*---- Input Fields ---*/

.leftInpFields {
     padding-left:32px;
}

.leftQuesFields {
     padding-left:48px;
}

form input {
    font-size:11px;
}

form select {
    font-size:11px;
}

/*---- Buttons ---*/

form input.btnBsmartPopUp[type="submit"]{
	background-color: #90bb3f !important;
    background-image: linear-gradient(180deg, rgba(144, 187, 63, 1) 0%, rgba(119, 158, 45, 1) 100%) !important;
    border-color: rgb(111, 158, 24) !important;
    border-radius: 3px !important;
    border-style: solid !important;
    border-width: 1px !important;
    box-shadow: 0 2px 0 #d9d9d9 !important;
    color: white !important;
    font-size: 12px !important;
    height: auto !important;
    padding: 4px 8px !important;
    text-shadow: 1px 1px 1px #d0ed9a;
    width: auto !important;
}

.btnNext {
    margin-bottom:10px;
    padding-bottom:2px;
    text-align:center;
    width:81px;
	height:21px;
	font-size:10px;
	font-weight:normal;
	margin-right:10px;
	background:url(../img/btnNextEnroll.gif) no-repeat;
	cursor:pointer;
	border:none;
}

.ebpp_btnPay {
    text-align:center;
    vertical-align:middle;
    width:81px;
	height:21px;
	font-size:10px;
	font-weight:normal;
	background:url(../img/btnNextEnroll.gif) no-repeat;
	cursor:pointer;
	border:none;
}

/*IE 7 Fix
html> body .btnNext {
    margin-bottom:10px;
    padding-bottom:2px;
    text-align:center;
    width:81px;
	height:21px;
	font-weight:normal;
	margin-right:10px;
	background:url(../img/btnNextEnroll.gif) no-repeat;
	cursor:pointer;
	border:none;
}

* html .btnNext {
    margin-bottom:10px;
    padding-bottom:2px;
    text-align:center;
    width:81px;
	height:21px;
	font-weight:normal;
	margin-right:10px;
	background:url(../img/btnNextEnroll.gif) no-repeat;
	cursor:pointer;
	border:none;
}
/*End IE 6 Fix*/

.btnNext:disabled {color:#999999;}

.btnSubmit {
    width:97px;
	height:23px;
	color:#000000;
	font-size:11px;
	font-weight:bold;
	background:url(../img/btnSubmit.jpg) no-repeat;
	cursor:pointer;
	border:none;
}

.btnSubmit:disabled {color:#999999;}
/*button conectate */

.signIn_button {
	margin-left:2px;
	font-family:Arial, Helvetica, sans-serif, Sans;
	font-stretch:condensed;
	font-size:11px;
	text-align:left;
	padding-left:15px;
	width:101px;
	height:21px;
	color:#000000;
	background:url(../img/btnSignIn.gif) no-repeat;
	cursor:pointer;
	border:none;
	position:relative;
	visibility: visible;
}

.signIn_button_reset {
	margin-left:2px;
	font-family:Arial, Helvetica, sans-serif, Sans;
	font-stretch:condensed;
	font-size:11px;
	text-align:left;
	padding-left:15px;
	width:101px;
	height:21px;
	color:#000000;
	background:url(../img/btnSignIn.gif) no-repeat;
	cursor:pointer;
	border:none;
	position:relative;
	visibility: visible;
}

/*IE 7 Fix
html> body .signIn_button {
	margin-left:2px;
	padding-left:15px;
	font-stretch:condensed;
	text-align:left;
	text-indent:10px;
	width:101px;
	height:21px;
	color:#000000;
	background:url(../img/btnSignIn.gif) no-repeat;
	cursor:pointer;
	border:none;
	position:relative;
}

* html .signIn_button {
	margin-left:10px;
	padding-left:15px;
	font-stretch:condensed;
	text-align:left;
	text-indent:10px;
	width:101px;
	height:21px;
	color:#000000;
	background:url(../img/btnSignIn.gif) no-repeat;
	cursor:pointer;
	border:none;
	position:relative;
}
/*End IE 6 Fix*/



/*Generic Large Button*/

.large_button {
	margin-bottom:27px;
	margin-left:2px;
	font-stretch:condensed;
	text-align:left;
	padding-left:15px;
	width:116px;
	height:20px;
	color:#000000;
	background:url(../img/btnLarge.gif) no-repeat;
	cursor:pointer;
	border:none;
	visibility: visible;
}


/*IE 7 Fix

html> body .large_button {
	margin-bottom:27px;
	margin-left:2px;
	padding-left:15px;
	font-family:Arial, Helvetica, sans-serif, Sans;
	font-size:11px;
	font-stretch:condensed;
	text-align:left;
	text-indent:0px;
	width:116px;
	height:20px;
	color:#000000;
	background:url(../img/btnLarge.gif) no-repeat;
	cursor:pointer;
	border:none;
}


* html .large_button {
	margin-bottom:27px;
	margin-left:2px;
	padding-left:15px;
	font-stretch:condensed;
	text-align:left;
	text-indent:0px;
	width:116px;
	height:20px;
	color:#000000;
	background:url(../img/btnLarge.gif) no-repeat;
	cursor:pointer;
	border:none;
}
/*End IE 6 Fix*/

.large_button2 {
	margin-bottom:5px;
	margin-top:5px;
	margin-left:2px;
	font-size:10px;
	font-stretch:condensed;
	font-weight:normal;
	text-align:left;
	padding-left:15px;
	width:116px;
	height:20px;
	color:#000000;
	background:url(../img/btnLarge.gif) no-repeat;
	cursor:pointer;
	border:none;
	visibility: visible;
}

/*IE 7 Fix

html> body .large_button2 {
	margin-bottom:5px;
	margin-top:5px;
	margin-left:2px;
	padding-left:15px;
	font-stretch:condensed;
	text-align:left;
	text-indent:0px;
	width:116px;
	height:20px;
	color:#000000;
	background:url(../img/btnLarge.gif) no-repeat;
	cursor:pointer;
	border:none;
}



* html .large_button2 {
	margin-bottom:5px;
	margin-top:5px;
	margin-left:2px;
	padding-left:15px;
	font-stretch:condensed;
	text-align:left;
	text-indent:0px;
	width:116px;
	height:20px;
	color:#000000;
	background:url(../img/btnLarge.gif) no-repeat;
	cursor:pointer;
	border:none;
}

/*End IE 6 Fix*/

.btnCancel {
    width:97px;
	height:23px;
	color:#000000;
	font-weight:bold;
	margin-right:11px;
	background:url(../img/btnSignIn.gif) no-repeat;
	cursor:pointer;
	border:none;
}

.btnCancel:disabled {color:#999999;}

.large_button3 {
	margin-bottom:5px;
	margin-top:5px;
	margin-left:2px;
	font-stretch:condensed;
	text-align:left;
	text-indent:5px;
	width:155px;
	height:20px;
	color:#000000;
	background:url(../img/btnEnroll.gif) no-repeat;
	cursor:pointer;
	border:none;
	visibility: visible;
}

.large_buttonPif {
	margin-bottom:5px;
	margin-top:5px;
	margin-left:2px;
	font-stretch:condensed;
	text-align:center;
	text-indent:5px;
	width:220px;
	height:20px;
	color:#000000;
	background:url(../img/btnPifLarge.gif) no-repeat;
	cursor:pointer;
	border:none;
	visibility: visible;
}

/*IE 7 Fix

html> body .large_button3 {
	margin-bottom:5px;
	margin-top:5px;
	margin-left:2px;
	padding-left:15px;
	font-family:Arial, Helvetica, sans-serif, Sans;
	font-size:11px;
	font-stretch:condensed;
	text-align:left;
	text-indent:0px;
	width:155px;
	height:20px;
	color:#000000;
	background:url(../img/btnEnroll.gif) no-repeat;
	cursor:pointer;
	border:none;
}
*/

.large_button4 {
	margin-bottom:5px;
	margin-top:5px;
	font-family:Arial, Helvetica, sans-serif, Sans;
	font-stretch:condensed;
	font-size:11px;
	font-weight:normal;
	text-align:left;
	padding-left:8px;
	width:122px;
	height:20px;
	color:#000000;
	background:url(../img/btnLarge2.gif) no-repeat;
	cursor:pointer;
	border:none;
	visibility: visible;
	position:relative;
}

/*IE 7 Fix*/

html> body .large_button4 {
	margin-bottom:5px;
	margin-top:5px;
	padding-left:8px;
	font-family:Arial, Helvetica, sans-serif, Sans;
	font-size:11px;
	font-stretch:condensed;
	text-align:left;
	text-indent:0px;
	width:122px;
	height:20px;
	color:#000000;
	background:url(../img/btnLarge2.gif) no-repeat;
	cursor:pointer;
	border:none;
	position:relative;
}



* html .large_button3 {
	margin-bottom:5px;
	margin-top:5px;
	margin-left:2px;
	padding-left:15px;
	font-stretch:condensed;
	text-align:left;
	text-indent:0px;
	width:155px;
	height:20px;
	color:#000000;
	background:url(../img/btnEnroll.gif) no-repeat;
	cursor:pointer;
	border:none;
}

* html .large_buttonPif {
	margin-bottom:5px;
	margin-top:5px;
	margin-left:2px;
	padding-left:15px;
	font-stretch:condensed;
	text-align:center;
	text-indent:0px;
	width:220px;
	height:20px;
	color:#000000;
	background:url(../img/btnPifLarge.gif) no-repeat;
	cursor:pointer;
	border:none;
}


/*End IE 6 Fix*/

/*----------Cancel Buttons----*/
.cancel{
	color:#003366;
	cursor:pointer;
}

/*IE 7 Fix

html> body .cancel{
	text-decoration:underline;
	color:#003366;
	cursor:pointer;
}

/*End IE 7 Fix*/

/*IE 6 Fix

* html .cancel{
	text-decoration:underline;
	color:#003366;
	cursor:pointer;
}

/*End IE 6 Fix*/

.cancel a, cancel a:visited {
	text-decoration:none;
	color:#003366;
	cursor:pointer;
}

.cancel a:hover {
	text-decoration:underline;
	color:#003366;
	cursor:pointer;
}

input.cancel2{
	color:#003366;
	background-color:transparent;
	border:none;
	text-decoration:underline;
	cursor:pointer;
	font-weight:normal;
}

input.hovUndLn:hover{
	text-decoration:underline;
}
/*----------End Cancel Buttons----*/

/*----------------------------------- End of Buttons & Input fields----------------------------------*/

/*----------End general use-------*/

/*------------------------------------------------------------------------------------------------------------------------------------------------------*/


/*-----Timeout Alerts------*/
.expirationEnglish{
	background-image:url(../img/expired-eng.gif);
	background-repeat:no-repeat;
	height:87px;
	width:279px;
	}

.expirationEnglish a, .expirationEnglish a:visited{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif, Sans;
	color:#bf731e;
	font-weight:normal;
	}

.expirationSpanish{
	background-image:url(../img/expired-esp.gif);
	background-repeat:no-repeat;
	height:87px;
	width:279px;
	}

.expirationSpanish a, .expirationSpanish a:visited{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif, Sans;
	color:#bf731e;
	font-weight:normal;
	}

.warningEnglish{
	background-image:url(../img/timeout-eng.gif);
	background-repeat:no-repeat;
	height:93px;
	width:333px;
	}

.warningEnglish a, .warningEnglish a:visited{
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif, Sans;
	color:#506505;
	font-weight:normal;
	}

.warningSpanish{
	background-image:url(../img/timeout-esp.gif);
	background-repeat:no-repeat;
	height:93px;
	width:333px;
	}

.warningSpanish a, .warningSpanish a:visited{
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif, Sans;
	color:#506505;
	font-weight:normal;
	}

/*-----End Timeout Alerts------*/

/*------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*-----InPlaceEditor-----*/

.editor_field{
	width:75px;
}

input.editor_ok_button {
	font-family:Arial, Helvetica, sans-serif, Sans;
	font-size:11px;
	color:#003366;
	text-decoration:underline;
	cursor:pointer;
	margin-right:5px;
	margin-left:5px;
}

.editor_cancel_link editor_cancel{
	padding-left:5px;
}
/*-----End InPlaceEditor-----*/

/*------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------Enrollment Formatting--------------------------*/

/*--Fonts For Enrollment---*/
#Enrollment {
	width:100%;
	font-family:Arial, Helvetica, sans-serif, Sans;
	font-size:11px;
	font-weight:lighter;
	color:#535456;
}

#Enrollment a, #Enrollment a:hover{
	font-family:Arial, Helvetica, sans-serif, Sans;
	font-size:11px;
	color:#003366;
}

#titleBar {
   font-size:19px;
   height:28px;
}

.EnrollcontentData th {
   text-align:left;
   height:20px;
   padding-top:10px;
   padding-bottom:15px;
   padding-left:5px;
   color: #003366;
   font-size:12px;
}

#instructions {
	font-size:13px;
	height:64px;
	padding-top:16px;
	padding-bottom:19px;
	padding-left:10px;
}

#instructions a, #instructions a:visited {
	font-size:13px;
	color:#003366;
}

#instructions a:hover {
	font-size:13px;
}

/*--End Fonts For Enrollment---*/

.labelspacer {
	clear:both;
	padding-bottom:5px;
}

.labelspacer_safari {
	clear:both;
	padding-bottom:4px;
}

/*IE 7 Fix

html> body .labelspacer_safari {
	clear:both;
	padding-bottom:0px;
}

/*EndIE 7 Fix*/

/*IE 6 Fix

* html .labelspacer_safari {
	clear:both;
	padding-bottom:0px;
}

/*EndIE 6 Fix*/

#Enrollment .question{
	padding-bottom:10px;
	padding-top:5px;
}

#Enrollment .answer{
	padding-left:15px;
}

.comp_desc {
	margin-left:20px;
	margin-top:10px;
	width:300px;
}

#Enrollment .question select {
	width:425px;
}

/*IE 7 Fix

html> body #Enrollment .question select {
	width:400px;
}

/*End IE 7 Fix*/

/*IE 6 Fix

* html  #Enrollment .question select {
	width:400px;
}

/*End IE 6 Fix*/

.answer{
	padding-left:15px;
}

.agreement{
	padding-left:15px;
	padding-bottom:15px;
}


.EnrollcontentData {
	width:550px;
	border:0px;
	border-top:1px;
	border-color: #cde6ff;
	border-style: solid;
	background-image:url(../img/bkgEnroll_Box.gif);
	background-repeat: repeat-x;
}


.EnrollcontentData td {
   vertical-align: top;
}

/*--Question Box--*/

#adTel {
   background-image:url(../img/imgTelephone.jpg);
   background-repeat:no-repeat;
   background-position:left;
   margin-top:5px;
   margin-left:4px;
   padding-left:28px;
}

#adMail {
   background-image:url(../img/imgMail.jpg);
   background-repeat:no-repeat;
   background-position:left;
   margin-top:5px;
   margin-left:4px;
   padding-left:28px;
}

/*--End Question Box--*/

/*--EnrollStepBox--*/

div.spacerAd {
   clear: both;
   height:15px;
}

.ad_Header {
	color: #535456;
	font-weight:bold;
	font-size:13px;
}


#adbox_title{
	padding-left:10px;
	padding-top:10px;
}

#stepLine {
 	background-image:url(../img/stepLinkLine.gif);
 	background-repeat:repeat-y;
 	background-position:top;
 	background-position:center;
}

#enrollStepBox3 .topHeader {
	height:30px;
}

#stepTop2 {
 	background-repeat:repeat-x;
 	background-position:bottom;
 	background-position:left;
 	height:30px;
 	width:151px;
}

#stepTopLeft2 {
 	background-repeat:no-repeat;
 	background-position:bottom;
 	height:30px;
 	width:9px;
}

#stepTopRight2 {
 	background-repeat:no-repeat;
 	background-position:bottom;
 	height:30px;
 	width:11px;
}

#stepBottom2 {
 	background-repeat:repeat-x;
 	background-position:top;
 	height:14px;
 	width:151px;
}

#stepBottomLeft2 {
 	background-repeat:no-repeat;
 	background-position:top;
 	height:14px;
 	width:9px;
}

#stepBottomRight2 {
 	background-repeat:no-repeat;
 	background-position:top;
 	height:14px;
 	width:11px;
}

#stepLeft2 {
 	background-repeat:repeat-y;
 	background-position:top;
 	width:9px;
}

#stepRight2 {
 	background-repeat:repeat-y;
 	background-position:top;
 	width:11px;
}

/*--End EnrollStepBox--*/

/*------------------------End Enrollment Formatting--------------------------*/

/*------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*-------------- table formatting --------------*/


.tableFormat {
	border:0px;
	border-top:1px;
	border-color: #cde6ff;
	border-style: solid;
	width:100%;
	margin-top:10px;
	margin-right:0px;
}


/* important */
#tbl {
	width:820px;
	border:1px;
	border-collapse:collapse;
}
#tbl td {
	padding:0px;
	vertical-align: top;
	margin-top:1px;
}
/* End important */

#tblactSvcConf {
	border:1px;
	border-style: solid;
	border-color: #95c8f4;
	width:400px;
	margin:20px;
}
#tblactSvcConf td {
	text-align: center;
}

#tblpopup, .tblpopup {
	border:1px;
	border-style: solid;
	border-color: #95c8f4;
	margin:5px;
	border-spacing:5px;
	font-family:Arial, Helvetica, sans-serif, Sans;
	font-size:11px;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--- menu styles are located in portal.css and wealth-portal.css ---*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------Menu Css-----------*/
/*---Menu background---*/
/*
.menu {
	background-image:url(../img/leftTable.jpg);
	background-repeat: repeat;
	width:137px;
	margin-top:0px;
	margin-right:50px;
	margin-left:28px;

}
*/
/*---End Menu background---*/

/*---Menu Upper part---*/
/*
#menu_top {
	background-color:#d0e2ea;
	width:174px;
	height:15px;
	border-bottom:1px;
	border-bottom-color:#94b5d0;
	border-bottom-style:solid;
	margin-top:1px;
}

#menu_top, #menu_top a:link, #menu_top a:visited, #menu_top a:hover {
	font-family:Arial, Helvetica, sans-serif, Sans;
	color:#003366;
	text-decoration: none;
	font-weight:bold;
	font-size:11px;
	text-align: left;
	white-space: nowrap;
}

#menu_top a:hover {
	text-decoration: underline;
}
*/
/*---End Menu Upper part---*/
/*
.menu_line {
	background-image:url(../img/imgMenuLine.gif);
	background-position:center;
	background-repeat:no-repeat;
	height:15px;
	width:160px;
}

#menu {
	background-color:#e6f0f4;
	width:174px;
	border-top:1px;
	border-top-color:#ffffff;
	border-top-style:solid;
	margin-bottom:1px;
	padding-bottom:1px;
}

#menu td {
	padding-left:8px;
}

#menu th,#menu th a:link,#menu th a:visited,#menu th a:hover {
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif, Sans;
	color:#003366;
	padding-left:8px;
	height:20px;
	font-weight:bold;
}

#menu, #menu a:link, #menu a:visited, #menu a:hover {
	font-family:Arial, Helvetica, sans-serif, Sans;
	color:#003366;
	text-decoration: none;
	font-size:11px;
	text-align: left;
	font-weight:lighter;
	white-space: nowrap;
}

#menu a:hover {
	text-decoration: underline;
}
*/


/*------------End Menu Css-----------*/

/*------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*------------Login Page-----------*/

#loginMain_container {
  width:950px;
}

#loginLogo_pop {
	border:none;
    height:31px;
    width:171px;
    margin-top:43px;
}
#loginLogo_popPortal {
	border:none;
    height:31px;
    width:171px;
    float: left;
    margin-top:0px;
	padding-top:30px;
	padding-bottom:10px;
}

#LoginSignOn_container {
    width:678px;
    clear:both;
    margin-left:128px;
    margin-top:32px;
}

#logincontainer {
	/*background-image:url(../img/imgWoman.jpg);*/
    background-repeat:no-repeat;
    width:678px;
    height:339px;
    margin-top:18px;
}
#logincontainer2 {
    background-repeat:no-repeat;
    width:678px;
    height:339px;
    margin-top:6px;
}
#loginbox {
	position:absolute;
	display:inline;
	width:216px;
	margin-top:32px;
	margin-left:31px;
	white-space:normal;
}

#loginbox a{
	white-space:normal;
}

#loginbox table {
	border-collapse:collapse;
	width:216px;
}

#loginbox th {
	-moz-border-radius-topright:10px;
	-moz-border-radius-topleft:10px;
	padding:10px;
	background-color: #85A3BC;
	color: #FFF;
	font-family: Arial;
	font-size:16px;
	text-align: left;
}
#tblloginBox td {
	padding-left:14px;
}
#tblloginBox2 td {
	padding-left:14px;
	padding-right:8px;
}
#tblloginOobBox td {
	padding-left:14px;
	padding-right:8px;
}
#loginbanners {
	margin-bottom:20px;
}

/*------------End Login Page-----------*/

/*------------------------------------------------------------------------------------------------------------------------------------------------------*/

#onlyPrint{

	color:red;
}

/* footer login */
#e-statement_box {
  float:left;
  margin-top:8px;
}

#seguridad_box {
  float:left;
  margin-top:8px;
}

#contact_box {
  float:right;
  margin-top:8px;
  margin-left:2px;
  width:225;
  height:120;
}

#contact_box2 table{
  margin-left:0px;
  margin-top:0px;
  width:225px;
  height:100px;
}

#contact_box2 table tr.row1{
  color:#808285;
  font-size:11px;
  font-weight:bold;
  font-family:Arial;
  font-variant:small-caps;
  align:left;
  height:20px;
}

#contact_box2 table tr.row2{
  color:#7c7d7f;
  font-size:11px;
  font-family:Arial;
  height:45px;
}

#contact_box2 table tr.row3{
  color:#7c7d7f;
  font-size:11px;
  font-family:Arial;

}

#contact_box2{
  float:left;
  padding:0;
  margin-top:7px;
  margin-left:2px;
  width:225px;
  height:120px;
  background-image:url(../img/ContactUsBox2.jpg);
  background-repeat: no-repeat;
}
#contact_box2 table a:link  {
   position: relative;
   font-family:Arial;
   font-stretch:condensed;
   font-size:11px;
   color:#3385cd;
}
#contact_box2 table a:visited  {
   position: relative;
   font-family:Arial;
   font-stretch:condensed;
   font-size:11px;
}

#copyright {
  margin-top:23px;
  float:left;
}
#loginmaincontainer {
	width:678px;
}
#copyright {
  margin-top:23px;
  float:left;
  font-size:11px;
  color:#858688;
}

#copyright_portal {
  float:left;
  font-size:11px;
  color:#858688;
}

.bottomMenu {
  margin-top:8px;
  margin-left:2px;
  float:right;
}

#bottomMenu_portal {
  margin-left:2px;
  float:right;
}

/* text formatting */

.signOn_menu  {
   font-size:11px;
   color:#607b9a;
   text-decoration:none;
}

.signOn_menuIphone  {
   font-size:11px;
   color:#003e7e;
   text-decoration:none;
}

.signOn_menu a{
	font-size:11px;
	color:#607b9a;
	text-decoration:none;
}
.signOn_menu a:visited  {
	font-size:11px;
	color: #607b9a;
}

.signOn_menu a:hover {
	font-size:11px;
	color:#607b9a;
	text-decoration:underline;
}
.signOn_menuPortal  {
	font-size:11px;
	color:#607b9a;
}

.signOn_menuPortal a:link, .signOn_menuPortal a:visited, .signOn_menuPortal a:hover {
	color:#607b9a;
	text-decoration:none;
}
.signOn_menuPortal a:hover {
	text-decoration:underline;
}

.menu_separator {
   font-size:11px;
   color:#90a5bc;
}

.copyright {
   font-size:11px;
   color:#858688;
}

.signOn_boxLabels  {
   font-family:Arial, Helvetica, sans-serif, Sans;
   font-stretch:condensed;
   font-weight:bold;
   font-size:11px;
   color:#393838;
   position: relative;
}

.signOn_boxtitle  {
   font-family:Arial, Helvetica, sans-serif, Sans;
   font-size:15px;
   color:#FFFFFF;
}

.signOn_boxText  {
   position: relative;
   font-family:Arial, Helvetica, sans-serif, Sans;
   font-stretch:condensed;
   font-weight:bold;
   font-size:11px;
   color:#0f3157;
}

.signOn_boxText2  {
   font-family:Arial, Helvetica, sans-serif, Sans;
   font-stretch:condensed;
   font-size:11px;
   color:#393838;
}

.signOn_boxText2 a:link  {
   position: relative;
   font-family:Arial, Helvetica, sans-serif, Sans;
   font-stretch:condensed;
   font-size:11px;
   color:#393838;
}
.signOn_boxText2 a:visited  {
   position: relative;
   font-family:Arial, Helvetica, sans-serif, Sans;
   font-stretch:condensed;
   font-size:11px;
}
.signOn_boxText3  {
   font-family:Arial, Helvetica, sans-serif, Sans;
   font-stretch:condensed;
   font-weight:bold;
   font-size:11px;
   color:#0f3157;
}

/*IE 7 Fix

html> body .signOn_boxText3 a:link  {
   position: relative;
   font-stretch:condensed;
   font-weight:bold;
   color:#0f3157;
   text-decoration: underline;
}

/*End IE 6 Fix

* html .signOn_boxText3 a:link  {
   position: relative;
   font-stretch:condensed;
   font-weight:bold;
   color:#0f3157;
   text-decoration: underline;
}

/*End IE 6 Fix*/

.signOn_boxText3 a:visited {
   position: relative;
   font-stretch:condensed;
   font-weight:bold;
   color:#0f3157;
}

.button {
	margin-top:12px;
	position:relative;
}

#tbllogin {
  width:680px;
}

#tblloginBox {
	background-image: url(../img/imgsignOnMidstep1.png)!important;
	background-image: none;
	height:167px;
	width:216px;
	background-repeat:no-repeat;
}

#tblloginBox2 {
	background-image: url(../img/imgsignOnMidstep2.png)!important;
	background-image: none;
	height:205px;
	width:216px;
	background-repeat:no-repeat;
}

#tblloginOobBox {
	background-image: url(../img/imgsignOnOobStep.png)!important;
	background-image: none;
	height:210px;
	width:380px;
	background-repeat:no-repeat;
}

/* login box - table properties */

/*--------------Nota para que los campos de input funcionen con el sobre los PNG en IE6 deben
tener la propiedad de position en el CSS como relative------------------*/

#signOnBoxTop {
	background-image: url(../img/imgsignOnBoxTop.png)!important;
	background-image: none;
	height:35px;
	width:216px;
	background-repeat:no-repeat;
}

#signOnOobBoxTop {
	background-image: url(../img/imgsignOnOobBoxTop.png)!important;
	background-image: none;
	height:35px;
	width:380px;
	background-repeat:no-repeat;
}

#signOnBoxTitle {
	padding-top:9px;
    padding-left:15px;
    font-size:15px;
    color:#FFFFFF;
}

/*-----------------------------------------------------------*/
#signOnstep1 {
	background-image: url(../img/imgsignOnMidstep1.png)!important;
	background-image: none;
	height:167px;
	width:216px;
	background-repeat:repeat-y;
	display:block;
}

#signOnstep2 {
	background-image: url(../img/imgsignOnMidstep2.png)!important;
	background-image: none;
	height:171px;
	width:216px;
	background-repeat:repeat-y;
	display:none;
}

#signOnstep3 {
	background-image: url(../img/imgsignOnMidstep3y4.png)!important;
	background-image: none;
	height:241px;
	width:216px;
	background-repeat:repeat-y;
	display:none;
}

/*-----------------------------------------------------------*/
#signOnBoxBottom  {
	background-image: url(../img/sign_onBoxBottom.png)!important;
	background-image: none;
	height:43px;
	width:216px;
	background-repeat:no-repeat;
}
/* labels */

/*---------- Move up -----------------*/
.signOn_boxLabels  {
   font-family:Arial, Helvetica, sans-serif, Sans;
   font-stretch:condensed;
   font-weight:bold;
   font-size:11px;
   color:#393838;
}
/*---------- Move up -----------------*/

#bigContainer {
	width:100%;
	height:90px;
}
.bottomlink {
	padding-bottom:20px;
}
.red {
	color: red;
}

/*Portal Account Listing*/

/*ebill box test*/

#ebill_top{
	clear:both;
}

#ebill_data{
	width:175px;
}

/*IE 7 Fix

html> body #ebill_data{
	width:175px;
	display:block;
}

/*End IE 7 Fix*/

/*IE 6 Fix

* html #ebill_data{
	width:175px;
	display:block;
}

/*End IE 6 Fix*/

#eBill_portal_box2 {
	width:175px;
	font-family:Arial, Helvetica, sans-serif, Sans;
	color:#535456;
	font-size:11px;
	font-weight:lighter;
	display:inline;
}

#eBill_portal_box2 a{
	width:175px;
	white-space:normal;

}

/*ebill box test end*/

.portalAd_boxLine{
	height:2px;
	padding-bottom:20px;
}

/*-----------Move Up ------------*/
.eBill_box_label {
	color:#268c08;
	font-size:13px;
	vertical-align:top;
}
/*-----------Move Up ------------*/
#eBill_portal_box {
	width:175px;
	color:#535456;
	font-size:11px;
	font-weight:lighter;
	table-layout:fixed;
}

#eBill_portal_box a{

}

#eBill_portal_box th{
	padding-top:0px;
	padding-bottom:0px;
}

.Notice_box_label {
	color:#c35509;
}

#Notice_portal_box {
	color:#535456;
	font-weight:lighter;
}

.spacer {
	clear:both;
	height:12px;
}

#Notice_portal_box th{
	padding-top:0px;
	padding-bottom:0px;
}

#accounts tr{
	height:18px;
}

#investment tr{
	height:18px;
}

/*---------------Move up-----------*/
.bluetext{
	font-weight:bold;
	color: #003366;
	font-size:12px;
}

/*---------------Move up-----------*/

.payment_list {
	font-size:11px;
	color:#535456;
}

.payment_list a:link, .payment_list a:hover, .payment_list a:visited{
	font-size:11px;
	color:#003366;
}



.payment_list th{
	padding-top:11px;
	padding-bottom:14px;
	font-size:13px;
	color:#003366;
}

.account_list_statement {
	font-size:11px;
	color:#535456;
}

.account_list_statement a:link, .account_list_statement a:visited{
	font-size:11px;
	color:#003366;
}

.account_list_statement a:hover{
	font-size:11px;
	color:#003366;
}

.account_list_statement th{
	padding-top:11px;
	padding-bottom:14px;
	font-size:13px;
	color:#003366;
}
.headers {
	padding-top:11px;
	padding-bottom:14px;
	font-size:13px;
	color:#003366;
}

.fromAccount{
	font-weight:bold;
	color:#000000;
}

#From_Account {
	padding-left:30px;
	padding-top:10px;
}

/* end */



.ebills_statement {
	margin-right:30px;
	border:1px;
	border-color: #cde6ff;
	border-style: solid;
	padding:8px;
	color:#268c08;
}

#Account_transaction .ebills_statement a{
	text-decoration:none;
	color:#268c08;
}

#Account_transaction .ebills_statement a:visited{
	text-decoration:none;
	color:#268c08;
}

#Account_transaction .ebills_statement a:hover{
	text-decoration:underline;
	color:#268c08;
}

/* Account_Summaries*/

#premiaBox_label1 {
	font-size:11px;
	text-decoration:none;
	font-weight:bold;
	color:#000000;
}

#premiaBox_label1 a:link {
	font-size:11px;
	text-decoration:none;
	font-weight:bold;
	color:#000000;
}

#premiaBox_label1 a:hover {
	font-size:11px;
	text-decoration:none;
	font-weight:bold;
	color:#000000;
}

#premiaBox_label1 a:visited {
	font-size:11px;
	text-decoration:none;
	font-weight:bold;
	color:#000000;
}

#premia_box {
	float:right;
	width:180px;
	height:40px;
    border:0px;
	border-top:1px;
	border-bottom:1px;
	border-left:1px;
	border-right:1px;
	border-color: #cde6ff;
	border-style: solid;
}

#drop_label1 {
	font-size:11px;
	font-weight:bold;
	color:#003366;
}

#AccountSumm_label1 {
	font-size:11px;
	font-weight:bold;
	color:#000000;
}

#Account_Summary {
	font-size:11px;
	color:#535456;
}

#Account_Summary a, #Account_Summary a:hover {
	font-size:11px;
	color:#003366;
}

#Account_Summary a:visited {
	font-size:11px;
	color:#800080;
}

/*
#Account_Summary h3.black{
	color: #000000;
	font-size:12px;
}
*/

/*Account transaction*/

#transaction_spacer{
	height:5px;
	}

/*IE 7 Fix

html> body #transaction_spacer{
	height:0px;
	}

/*IE 7 Fix*/

/*IE 6 Fix

* html #transaction_spacer{
	height:0px;
	}

/*IE 6 Fix*/


#PRMtrans_label1 {
	font-size:11px;
	font-weight:bold;
	color:#000000;
}

#Account_transaction {
	font-size:11px;
	color:#535456;
}

#Account_transactionSel{
	width:100%;
}

#account_select {
	padding-right:10px;
}

#Account_transactionSel select {
	width:180px;
}

#Account_transaction a, #Account_transaction a:hover {
	font-size:11px;
	color:#003366;
}

#Account_transaction a:visited {
	font-size:11px;
	color:#800080;
}

/*tranfers*/

.MK_Trans_BlueText {
	text-decoration:none;
	font-weight:bold;
	font-size:11px;
	color:#003366;
}

.MK_Trans_BlackText {
	text-decoration:none;
	font-weight:bold;
	font-size:11px;
	color:#000000;
}

.MK_Trans_label1{
	font-size:11px;
	font-weight:bold;
	color:#000000;
}

.transfer_hist_label1{
	font-size:11px;
	font-weight:normal;
	color:#000000;
}

.recur_trans_tbl{
	width:300px;
	padding:8px;
    border:0px;
	border-top:1px;
	border-bottom:1px;
	border-left:1px;
	border-right:1px;
	border-color: #cde6ff;
	border-style: solid;
	margin-top:10px;
	margin-left:150px;
}

.recur_trans_spacer{
	clear:both;
}

#transfer_hist_drops{
	border-left:1px;
	border-top:0px;
	border-right:0px;
	border-bottom:0px;
	border-color: #cde6ff;
	border-style: solid;
	padding:10px;
	float:right;
}

#transfer_hist_drops select{
	width:200px;
}

#transfers_list {
	font-size:11px;
	color:#535456;
}

#transfers_list a {
	font-size:11px;
	color:#003366;
	cursor:pointer;
}

#transfers_list a:visited {
	font-size:11px;
	color:#003366;
	cursor:pointer;
}



.editBoxAmt {
	margin-right:110px;
	float:right;
}

/*IE 7 Fix

html> body .editBoxAmt {
	margin-right:50px;
	float:right;
}

/*End IE 7 Fix*/

/*IE 6 Fix

* html .editBoxAmt {
	margin-right:50px;
	float:right;
}

/*End IE 6 Fix*/

/*Make Payment*/

#payment_list .icnWlabel {
	border:0;
	margin-bottom:0px;
	margin-left:15px;
}

#make_pay_select select{
	width:200px;
	}



#section_label {
	font-size:15px;
	font-weight:normal;
	color:#535456;
}

#accounts_label {
	font-size:16px;
	font-weight:bold;
	color:#535456;
}

#defaultpay {
	margin-left:70px;
	margin-top:10px;
}

.inprocess {
	color:#003366;
}

.lastprocessed {
	color:#8C8C8C;
}

.recur_pay_tbl{
	width:300px;
	padding:8px;
    border:0px;
	border-top:1px;
	border-bottom:1px;
	border-left:1px;
	border-right:1px;
	border-color: #cde6ff;
	border-style: solid;
	margin-top:10px;
	margin-left:150px;
}

.recur_pay_input{
	margin-bottom:5px;
}

.recur_pay_spacer{
	clear:both;
}

#ebillamntBox{
	float:left;
	margin-left:195px;
}

/*IE 7 Fix

html> body #ebillamntBox{
	float:left;
	margin-left:170px;
}

/*End IE 7 Fix*/

/*IE 6 Fix

* html #ebillamntBox{
	float:left;
	margin-left:170px;
}

/*End IE 6 Fix*/

/*payment history*/

#delete input {
	border:0px;
	cursor:pointer;
	background:url(../img/icnTrashCan.gif);
	background-repeat:no-repeat;
 	background-position:center;
	width:17px;
	height:18px;

}

.payment_EditBtn {
    width:45px;
	height:20px;
	color:#000000;
	font-size:11px;
	background:url(../img/btnOk.gif) no-repeat;
	cursor:pointer;
	border:none;
}


.payment_hist_label1{
	font-size:11px;
	font-weight:normal;
	color:#000000;
}

#payment_hist_drops{
	border-left:1px;
	border-top:0px;
	border-right:0px;
	border-bottom:0px;
	border-color: #cde6ff;
	border-style: solid;
	padding:10px;
	float:right;
}

#payment_hist_drops select{
	width:200px;
}
/*--------------------------------------------*/
#payment_list {
	font-size:11px;
	color:#535456;
}

#payment_list a.green {
	color:#268c08;
}

#payment_list a:visited.green {
	color:#268c08;
}

#payment_list a{
	font-size:11px;
	color:#003366;
	cursor:pointer;
}

#payment_list a.payment_nick{
	font-size:12px;
	color:#535456;
	cursor:pointer;
}

#payment_list a:visited {
	font-size:11px;
	color:#003366;
	cursor:pointer;
}


/*Other Payments*/

#otherpayments {
	font-size:11px;
	color:#535456;
}


#otherpayments2 a{
	text-decoration:none;
	color: #003366;
	font-size:12px;
	font-weight:bold;
	cursor:pointer;
}

#otherpayments2 a:visited{
	text-decoration:none;
	color: #003366;
	font-size:12px;
	font-weight:bold;
	cursor:pointer;
}


#otherpayments2 a:hover{
	text-decoration:underline;
	color: #003366;
	font-size:12px;
	font-weight:bold;
	cursor:pointer;
}

.otherPaybox {
	float:left;
	border:1px solid #95c8f4;
	padding-top:20px;
	padding-bottom:20px;
	width:610px;
	height:45px;
	margin-left:19px;
	margin-bottom:19px;
}

/*IE 7 Fix

html> body .otherPaybox {
	float:left;
	border:1px solid #95c8f4;
	padding-top:20px;
	padding-bottom:10px;
	width:610px;
	height:35px;
	margin-left:10px;
	margin-bottom:19px;
}

/*End IE 7 Fix*/

/*IE 6 Fix

* html .otherPaybox {
	float:left;
	border:1px solid #95c8f4;
	padding-top:20px;
	padding-bottom:10px;
	width:610px;
	height:35px;
	margin-left:10px;
	margin-bottom:19px;
}

/*End IE 6 Fix*/

/*end other payments*/

/*add_payee*/

/*add_check_payee*/

.addCheckPayee1 {
	float:left;
	margin-left:0px;
}

/*IE 7 Fix

html> body .addCheckPayee1 {
	float:left;
	margin-left:0px;
}

/*End IE 7 Fix*/

/*IE 6 Fix

* html .addCheckPayee1 {
	float:left;
	margin-left:0px;
}

/*End IE 6 Fix*/

.addCheckPayee2 {
	float:left;
	margin-left:10px;
}



/*end_add_check_payee*/

#add_payee {
	font-size:11px;
	color:#535456;
}

#add_payee blockquote {
	margin-left:16px;
	margin-top:5px;
	margin-bottom:5px;
}

#add_payee ul {
	margin-left:-10px;
	margin-top:5px;
	margin-bottom:5px;
}
/*IE 7 Fix
html> body #add_payee ul {
	margin-left:30px;
	margin-top:5px;
	margin-bottom:5px;
}

/*End IE 7 Fix*/

/*IE 6 Fix
* html #add_payee ul {
	margin-left:30px;
	margin-top:5px;
	margin-bottom:5px;
}

/*End IE 6 Fix*/

#add_payee a {
	font-size:11px;
	text-decoration:none;
	cursor:pointer;
	color:#003366;
}

/*IE 7 Fix

html> body #add_payee a {
	height:1px;
	font-size:11px;
	text-decoration:none;
	cursor:pointer;
	color:#003366;
}

/*IE 7 Fix*/

/*IE 6 Fix

* html #add_payee a {
	height:1px;
	font-size:11px;
	text-decoration:none;
	cursor:pointer;
	color:#003366;
}

/*IE 6 Fix*/

#add_payee a:hover {
	font-size:11px;
	text-decoration:underline;
	color:#003366;
}

#add_payee a:visited {
	font-size:11px;
	color:#003366;
}

/*end_add_payee*/



/*Other Transfers*/

#othertransfer_select select {
	width:205px;
}

#otherTrans_container{
	vertical-align:middle;
}

/*Payment Hist / Transfer Hist edit boxes*/


#left, .left {
 border-left:solid;
 border-width:1px;
 border-left-color:#99ccff;
 }

#right, .right {
 border-right:solid;
 border-right-width:1px;
 border-right-color:#99ccff;
 }

#bottom, .bottom {
 border-right:solid;
 border-right-color:#99ccff;
 border-left:solid;
 border-left-color:#99ccff;
 border-bottom:solid;
 border-width:1px;
 border-bottom-color:#99ccff;
 }

#top-left, .top-left {
 border-bottom:solid;
 border-width:1px;
 border-bottom-color:#99ccff;
}

#top-center, .top-center {
 width:17px;
 background-image:url(../img/edit_Box_tip.gif);
 background-repeat:no-repeat;
 background-position:center;
 background-position:bottom;
}

#top-right, .top-right {
 border-bottom:solid;
 border-width:1px;
 border-bottom-color:#99ccff;
}

/*---Verificar--*/
#payment_list #edit_box h3{
	margin-top:10px;
	margin-bottom:5px;

}
/*---Verificar--*/

/*---Verificar--*/
#payment_list #edit_box h2{
	color: #003366;
	font-size:12px;
	margin-top:10px;
	margin-bottom:5px;
	padding-bottom:0px;
}
/*---Verificar--*/

/*-------My Info-----------*/

#myInfo {
	font-size:11px;
	color:#535456;
}

/*---Verificar--*/
#myInfo h2{
	margin-bottom:8px;
}
/*---Verificar--*/

.green_tittle{
	color:green;
	font-size:16px;
	font-weight:bold;
	letter-spacing:1px;
	word-spacing: normal;
	margin-top:3px;
	margin-bottom:10px;
	padding-bottom:0px;
}

.explain {
	color:#535456;
	font-size:12px;
	font-weight:normal;
	margin-top:10px;
}



#myInfo_EditTbl {
	border:1px;
	border-style:solid;
	border-color: #cde6ff;
	font-size:11px;
	color:#535456;
	margin-left:15px;
	margin-top:5px;
}

.myInfo_EditBtn {
    width:45px;
	height:20px;
	color:#000000;
	font-size:11px;
	background:url(../img/btnOk.gif) no-repeat;
	cursor:pointer;
	border:none;
}

#PinfoExpand{
	text-decoration:none;
	font-size:11px;
	color:#003366;
	cursor:pointer;
}

#PinfoExpand a {
	text-decoration:none;
	font-size:11px;
	color:#003366;
}

#PinfoExpand a:link:hover{
	text-decoration:underline;
	font-size:11px;
	color:#003366;
}


#PinfoExpand a:visited {
	font-size:11px;
	color:#003366;
}

.BlueText {
	text-decoration:none;
	font-size:11px;
	color:#003366;
}


.BlackText {
	text-decoration:none;
	font-size:11px;
	color:#000000;
}

#myInfo_EditTbl select{
	max-width:370px;
}


/*-------Product Selection-----------*/

.spacer_prod_sec{
	clear:both;
	height:10px;
}

.spacer_prod_sec2{
	clear:both;
	height:5px;
}

#prod_sec{
	font-size:11px;
	color:#535456;
}

.prod_sec2 {
	width:550px;
	border:0px;
	border-top:1px;
	border-color: #cde6ff;
	border-style: solid;
}

#prod_sec blockquote {
	margin-left:15px;
}


#prod_sec a{
	color: #003366;
	font-size:11px;
	cursor:pointer;
}

#prod_sec a:hover{
	color: #003366;
	text-decoration:underline;
	font-size:11px;
	cursor:pointer;
}

#gofree_prod_sec{
	font-size:11px;
	color:#535456;
}

.gofree_prod_secBox {
	border:1px;
	border-style:solid;
	border-color: #cde6ff;
	font-size:11px;
	color:#535456;
	margin-left:15px;
	margin-top:10px;
	margin-bottom:10px;
	width:610px;
}


/*---Verificar--*/
#gofree_prod_sec h2 a{
	font-weight:bold;
	cursor:pointer;
}
/*---Verificar--*/

#gofree_prod_sec h2 a:hover{
	color: green;
	font-weight:bold;
	cursor:pointer;
}
/*---Verificar--*/

#gofree_prod_sec a{
	color: green;
	font-size:11px;
	cursor:pointer;
}

#gofree_prod_sec a:hover{
	color: green;
	text-decoration:underline;
	font-size:11px;
	cursor:pointer;
}


/*---------- Contact-Us------------*/

#contact-us{
	font-size:11px;
	color:#535456;
}

#contact-us select{
	font-size:11px;
	width:auto;
}


#contact-us a, #contact-us a:visited {
	font-size:11px;
	color:#003366;
}

.contactText{
	width:100%;
	height:100px;
 	white-space:-moz-pre-wrap !important; /* Mozilla, since1999 */
}

/*IE 7 Fix

html> body .contactText{
	border:1px;
	width:100%;
	height:100px;
  	overflow:auto;
}

/*End IE 7 Fix*/

/*IE 6 Fix

* html.contactText{
	border:1px;
	width:100%;
	height:100px;
  	overflow:auto;
}

/*End IE 6 Fix*/

/*---------- Welcome Page------------*/

#welcome {
	font-size:11px;
	color:#535456;
}

#welcome .Welcome_tblpopup {
	border:1px;
	border-style: solid;
	border-color: #95c8f4;
	color:#535456;
	font-size:11px;
}

/*---Verificar--*/
#welcome h2{
	color:#808080;
}
/*---Verificar--*/

#welcome h3{
	color: #000000;
}


#welcome .Welcome_tblpopup h3{
	color: #000000;
}

.subtitle{
	padding-top:5px;
	padding-bottom:5px;
	color: #003366;
	font-size:15px;
	font-weight:bold;
}

.blueText{
	color: #003366;
	font-size:11px;
}

.subtitle2{
	padding-top:5px;
	padding-bottom:5px;
	color: #c35509;
	font-size:15px;
}

#welcome a {
	font-size:11px;
	cursor:pointer;
	color:#003366;
}

.BtnWelcome {
    margin-bottom:10px;
    padding-bottom:2px;
    text-align:center;
    width:166px;
	height:20px;
	font-weight:normal;
	margin-right:10px;
	background:url(../img/BtnWelSign_27.gif) no-repeat;
	cursor:pointer;
	border:none;
}

/*IE 7 Fix

html> body .BtnWelcome {
    margin-bottom:10px;
    padding-bottom:2px;
    text-align:center;
    width:166px;
	height:20px;
	font-weight:normal;
	margin-right:10px;
	background:url(../img/BtnWelSign_27.gif) no-repeat;
	cursor:pointer;
	border:none;
}

/*IE 7 Fix*/

/*IE 6 Fix

* html .BtnWelcome {
    margin-bottom:10px;
    padding-bottom:2px;
    text-align:center;
    width:166px;
	height:20px;
	font-weight:normal;
	margin-right:10px;
	background:url(../img/BtnWelSign_27.gif) no-repeat;
	cursor:pointer;
	border:none;
}

/*IE 6 Fix*/

/*---------- Welcome Page Box------------*/

#welcomeBox {
	margin-top:20px;
	margin-bottom:15px;
	width:404px;
}

#welcomeBox .topHeader {
	height:59px;
}

#welcomeBoxTop {
 	background-repeat:repeat-x;
 	background-position:bottom;
 	height:59px;
 	width:372px;
}

#welcomeBoxTopLeft {
 	background-repeat:no-repeat;
 	background-position:bottom;
 	height:59px;
 	width:16px;
}

#welcomeBoxTopRight {
 	background-repeat:no-repeat;
 	background-position:bottom;
 	height:59px;
 	width:16px;
}

#welcomeBoxBottom {
 	background-repeat:repeat-x;
 	background-position:top;
 	height:18px;
 	width:372px;
}

#welcomeBoxBottomLeft {
 	background-repeat:no-repeat;
 	background-position:top;
 	height:18px;
 	width:16px;
}

#welcomeBoxBottomRight {
 	background-repeat:no-repeat;
 	background-position:top;
 	height:18px;
 	width:16px;
}

#welcomeBoxMidLeft {
 	background-repeat:repeat-y;
 	background-position:top left;
 	width:16px;
}

#welcomeBoxMidRight {
 	background-repeat:repeat-y;
 	background-position:top;
 	width:16px;
}



/*---------------Export Page-----------------*/

#export {
	font-size:11px;
	color:#535456;
}


.exportSpacer{
	clear:both;
	height:5px;
}

/*-------move up --------*/
.stepLabel{
	font-size:12px;
	font-weight:bold;
	color:#808080;
}
/*-------move up --------*/

.step{
	margin-left:13px;
	margin-bottom:30px;
}

.step2{
	margin-left:13px;
	margin-bottom:40px;
}

/*-------------End Export Page---------------*/

/*-------------Edit Accounts---------------*/

#edit_accounts .balance {
	padding-right:10px;
	text-align:right;
}

#edit_accounts th{
	margin-top:0px;
	margin-bottom:0px;
	padding-top:0px;
}

#edit_accounts {
	font-size:11px;
	color:#535456;
	width:100%;
	}

#edit_accounts a{
	color: #003366;
	font-size:11px;
	cursor:pointer;
	white-space:normal;
}

#edit_accounts a:hover{
	color: #003366;
	text-decoration:underline;
	font-size:11px;
	cursor:pointer;
}


#edit_accounts h3{
	margin-top:10px;
}


.label{
	white-space:nowrap;
	margin-top:11px;
	color: #003366;
	font-size:12px;
	font-weight:bold;
}

/*IE 7 Fix

html> body .label{
	white-space:nowrap;
	margin-top:10px;
	color: #003366;
	font-size:12px;
	font-weight:bold;
}

/*IE 7 Fix*/

/*IE 6 Fix

* html .label{
	white-space:nowrap;
	margin-top:10px;
	color: #003366;
	font-size:12px;
	font-weight:bold;
}

/*IE 6 Fix*/

/*----Edit Account Activate EbillBox----*/

#ebillAct {
	font-size:11px;
	color:#535456;
	width:100%;
	float:right;
}

/*IE 7 Fix

html> body #ebillAct h3 {
	margin-top:5px;
}

/*END IE 7 Fix*/

/*IE 6 Fix

* html #ebillAct h3 {
	margin-top:5px;
}

/*END IE 6 Fix*/

.ebillActSpacer{
	clear:both;
	height:5px;
}

/*IE 7 Fix
html> body .ebillActSpacer{
	clear:both;
	height:1px;
	margin-top:0px;
	margin-bottom:0px;
	padding-top:0px;
	padding-bottom:0px;
}

/*END IE 7 Fix*/

/*IE 6 Fix
* html .ebillActSpacer{
	clear:both;
	height:1px;
	margin-top:0px;
	margin-bottom:0px;
	padding-top:0px;
	padding-bottom:0px;
}

/*END IE 6 Fix*/

.ebillActBtn {
    width:45px;
	height:20px;
	color:#000000;
	font-size:11px;
	background:url(../img/btnOk.gif) no-repeat;
	cursor:pointer;
	border:none;
}


/*----End Edit Account Activate EbillBox----*/


/*-------------End Edit Account---------------*/

/*-------------Portal Message Box-------------*/

#pBoxContainer {
	white-space: normal;
	width:191px;
	height:100px;
}

 .portalBoxTop {
	background-image: url(../img/portalBoxTop.gif);
	background-repeat: no-repeat;
	background-position: top;
	width:191px;
	height:21px;
	clear: both;
}
 .portalBoxTopGreen {
 	background-image: url(../img/portalBoxTopGreen.gif);
	background-color:#caec74;
	width:191px;
	height:21px;
	clear: both;
}
.portalBoxLeft  {
	background-image: url(../img/portalBoxLeft.gif);
	background-repeat: repeat-y;
	background-position: left;
	height:100%;
	width:2px;
}
.portalBoxContent {
	letter-spacing: normal;
	word-spacing: normal;
	white-space: normal;
	width:191px;
}

.portalGreenCornerBoxContent {
	letter-spacing: normal;
	word-spacing: normal;
	white-space: normal;
	width:191px;
	background-color:#eaf9c3;
}

.portalBoxRigth  {
	background-image: url(../img/portalBoxRight.gif);
	background-repeat: repeat-y;
	background-position: center;
	height:100%;
	width:3px;
}
.portalBoxbottom {
	background-image: url(../img/portalBoxBottom.gif);
	background-repeat: no-repeat;
	background-position: top;
	clear: both;
	height:10px;
	width:191px;
}
.portalBoxbottomGreen {
	background-image: url(../img/portalBoxBottomGreen.gif);
	background-repeat: no-repeat;
	background-position: top;
	clear: both;
	height:10px;
	width:191px;
}
#banner_portal {
	margin-top:10px;
}

/*-------------End Portal Message Box-------------*/


/*-----Account Services-----*/
#account_services{
	font-size:11px;
	color:#535456;
}


#account_services h3{
	margin-bottom:8px;
}

.Account_serv_tblpopup {
	border:1px;
	border-style: solid;
	border-color: #95c8f4;
	color:#535456;
	font-size:11px;
}

#accountServExpand, .accountServExpand{
	font-size:11px;
	font-weight:normal;
	color:#003366;

}

#accountServExpand a, .accountServExpand a {
	text-decoration:none;
	font-size:11px;
	font-weight:normal;
	color:#003366;
}

#accountServExpand a:hover, .accountServExpand a:hover{
	text-decoration:underline;
	font-size:11px;
	font-weight:normal;
	color:#003366;
}


#accountServExpand a:visited, .accountServExpand a:visited {
	font-size:11px;
	font-weight:normal;
	color:#003366;
}

.accServ_spacer{
	clear:both;
	height:10px;
}

/*--------ATH Activation Box------*/
#ath_act{
	font-size:11px;
	color:#535456;
	border:1px;
	border-style: solid;
	border-color: #95c8f4;
}

#ath_act h3{
	color: #535456;
	font-weight:normal;
}

/*--------End ATH Activation Box------*/

#external_verification{
	font-size:11px;
	color:#535456;
}

#external_verification h3{
	margin-bottom:8px;
}

.logincamp a { color:#3385CD; }
.logincamp a:link{ color:#3385CD; }
.logincamp a:visited{ color:#3385CD; }
.logincamp a:hover{ color:#3385CD; }
.logincamp a:active{ color:#3385CD; }

/*-------------------Start Ebill History------------------------*/
#ebill_history th {
	vertical-align: top;
	color:#535456;
}

.ebill_history_prev {
	vertical-align: top;
	color:#808080;
}

.ebill_history_account_link a { color:#3385CD; text-decoration:none;}
.ebill_history_account_link a:link{ color:#3385CD; text-decoration:none;}
.ebill_history_account_link a:visited{ color:#3385CD; text-decoration:none;}
.ebill_history_account_link a:hover{ color:#3385CD; text-decoration:none;}
.ebill_history_account_link a:active{ color:#3385CD; text-decoration:none;}

.ebill_history_previous_link a { color:#808080; text-decoration:none;}
.ebill_history_previous_link a:link{ color:#808080; text-decoration:none;}
.ebill_history_previous_link a:visited{ color:#808080; text-decoration:none;}
.ebill_history_previous_link a:hover{ color:#808080; text-decoration:none;}
.ebill_history_previous_link a:active{ color:#808080; text-decoration:none;}

.ebill_history_previous_link {
	text-indent:30px;
	text-align: left;
}

.ebill_history_active_anchor a { color:#3385CD; text-decoration:none;}
.ebill_history_active_anchor a:link{ color:#3385CD; text-decoration:none;}
.ebill_history_active_anchor a:visited{ color:#3385CD; text-decoration:none;}
.ebill_history_active_anchor a:hover{ color:#3385CD; text-decoration:none;}
.ebill_history_active_anchor a:active{ color:#3385CD; text-decoration:none;}

.ebill_history_active_anchor {
	vertical-align:bottom;
}

.ebill_history_active_link a { color:#3385CD; text-decoration:none;}
.ebill_history_active_link a:link{ color:#3385CD; text-decoration:none;}
.ebill_history_active_link a:visited{ color:#3385CD; text-decoration:none;}
.ebill_history_active_link a:hover{ color:#3385CD; text-decoration:none;}
.ebill_history_active_link a:active{ color:#3385CD; text-decoration:none;}

.ebill_history_active_link {
	vertical-align:bottom;
	text-align: right;
}

.ebill_history_pay a { color:#000; text-decoration:none;}
.ebill_history_pay a:link{ color:#000; text-decoration:none;}
.ebill_history_pay a:visited{ color:#000; text-decoration:none; }
.ebill_history_pay a:hover{ color:#000; text-decoration:none; }
.ebill_history_pay a:active{ color:#000; text-decoration:none; }

.ebill_history_pay_text {
	text-align:center;
    width: 79px;
	height: 18px;
    vertical-align:middle;
}
/*-------------------End Ebill History------------------------*/

/*-------------------Ez Statement-----------------------------*/
.ezStmt_btnStmt {
    text-align:right;
    vertical-align:middle;
    color:#808080;
    width:115px;
	height:45px;
	font-size:10px;
	font-weight:normal;
	background:url(../img/icnEbill_Interest.gif) no-repeat;
	cursor:pointer;
	border:none;
}

/*---------------------End Ez Statement -------------------------*/
.loginLogo_popPortal_Regular {
	background-image:url(../img/portal/regular/imglogoPop.gif);
	background-repeat: no-repeat;
	border:none;
    height:31px;
    width:171px;
    float: left;
    margin-top:30px;
	padding-top:0px;
	padding-bottom:10px;
	z-index: 200;
	position: relative;
}

.notification-newfeature {
    background-color: rgba(212, 19, 13, 1);
    color: #fff;
    border-radius: 3px;
    opacity: 1 !important;
}

.notification-retirementPlan-newfeature {
    background-color: green !important;
    color: #fff !important;
    font-size: 7px !important;
    text-transform: uppercase;
    padding: 3px 9px 2.5px !important;
    border-radius: 8px !important;
    margin: 0px 0px 0px 12px !important;
    position: absolute;
}

#accountServicesHolder #accountServices{
	height:1200px !important;
}



.tblestatementCommercial{
	background-color: rgb(24,54,108);
}

.tblestatementCommercial thead tr th{
	color: rgb(255,255,255);
	font-size: 11px !important;
	text-align: center;
	padding-top: 5px;
  	padding-right: 5px;
  	padding-bottom: 5px;
  	padding-left: 5px;
}

.tblestatementCommercial caption{
	background-color: rgb(24,54,108) ;
	color: rgb(255,255,255) ;
	font-size: 12px !important;
	border-collapse: collapse;
	text-align: center;
	padding-top: 5px;
  	padding-right: 5px;
  	padding-bottom: 5px;
  	padding-left: 5px;
}

.tblestatementCommercial tbody tr td{
	background-color: rgb(255,255,255);
	color: rgb(0,0,0);
	font-size: 11px !important;
	text-align: center;
	padding-top: 5px;
  	padding-right: 5px;
  	padding-bottom: 5px;
  	padding-left: 5px;
}

.tblEditBusinessPayees tr td{
	border-top:0px !important;
	line-height: 17px !important;
}


/*-------------------Device Management-----------------------------*/
#devices-div {
	-webkit-transition: height 2s; 
    transition: height 2s;
    padding:0;
    overflow-y: auto;  
    max-height: 225px;
}

#device-information {
	display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    padding-bottom: 5px;
    margin-top: 7px;
    border-bottom: solid 1px rgb(205, 230, 255);
}

#device-information:last-child  {
	border-bottom: none;
}

.device-name {
	white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 5px;
    font-weight: bold; 
    color: #003366;
    width:175px;
    cursor:default;
}

.grow {
	transition: all .2s ease-in-out;
}

.grow:hover {
	transform:scale(1.1);
}

#trashcan-icon {
	cursor:pointer;
}

#confirm-msg {
	display:none;
	text-align: center;
    padding-bottom: 3px;
    margin-top: 25px;
}

#confirm-img, #confirm-img-error {
	width: 20%;
    transition: all .2s ease-in-out;
    padding-bottom: 15px;
    padding-top: 15px;
}

#confirm-modal-text {
	padding-top:20px;
}

/* Modal (background) */
.device-management-modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 200px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

/* Modal Content/Box */
.device-management-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 460px;
    min-height:214px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.5s;
    border-radius: 8px;    
}

/* Add Animation to Device Modal */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.device-management-delete-confirm{
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 35px 4px 2px;
    cursor: pointer;
    background-color: white; 
    color: #B62E35; 
    border: 1px solid #B62E35;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    border-radius: 4px;
}

.device-management-delete-confirm:hover {
    background-color: #B62E35; 
    color: white !important;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #B62E35;
}

#device-modal-name {
	padding-top: 8px; 
	line-height: 18px; 
	color: #989899;
	height: 55px;
}

#confirm-btn-container {
	display:flex; 
	justify-content: flex-end; 
	align-items: center; 
	padding-top: 11px;
}

#device-management-loading {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#loadingCircle {
  margin: auto;
}

.loadingCircle {
  background-color: transparent;
  float: left;
  height: 10px;
  margin-left: 11px;
  width: 10px;
  animation-name: loading_circle_anim;
  -o-animation-name: loading_circle_anim;
  -ms-animation-name: loading_circle_anim;
  -webkit-animation-name: loading_circle_anim;
  -moz-animation-name: loading_circle_anim;
  animation-duration: 1.5575s;
  -o-animation-duration: 1.5575s;
  -ms-animation-duration: 1.5575s;
  -webkit-animation-duration: 1.5575s;
  -moz-animation-duration: 1.5575s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

#loadingCircle_1 {
  animation-delay: 0.3095s;
  -o-animation-delay: 0.3095s;
  -ms-animation-delay: 0.3095s;
  -webkit-animation-delay: 0.3095s;
  -moz-animation-delay: 0.3095s;
}

#loadingCircle_2 {
  animation-delay: 0.7255s;
  -o-animation-delay: 0.7255s;
  -ms-animation-delay: 0.7255s;
  -webkit-animation-delay: 0.7255s;
  -moz-animation-delay: 0.7255s;
}

#loadingCircle_3 {
  animation-delay: 0.9385s;
  -o-animation-delay: 0.9385s;
  -ms-animation-delay: 0.9385s;
  -webkit-animation-delay: 0.9385s;
  -moz-animation-delay: 0.9385s;
}

@keyframes loading_circle_anim {
  0% {}
  50% {
    background-color: #003366;
  }
  100% {}
}

@-o-keyframes loading_circle_anim {
  0% {}
  50% {
    background-color: #003366;
  }
  100% {}
}

@-ms-keyframes loading_circle_anim {
  0% {}
  50% {
    background-color: #003366;
  }
  100% {}
}

@-webkit-keyframes loading_circle_anim {
  0% {}
  50% {
    background-color: #003366;
  }
  100% {}
}

@-moz-keyframes loading_circle_anim {
  0% {}
  50% {
    background-color: #003366;
  }
  100% {}
}

.bounce-in-bck {
  -webkit-animation: bounce-in-bck 1.1s both;
  animation: bounce-in-bck 1.1s both;
}

@-webkit-keyframes bounce-in-bck {
  0% {
    -webkit-transform: scale(7);
    transform: scale(7);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(1.24);
    transform: scale(1.24);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-bck {
  0% {
    -webkit-transform: scale(7);
    transform: scale(7);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(1.24);
    transform: scale(1.24);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.tracking-in-expand-fwd {
  -webkit-animation: tracking-in-expand-fwd 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand-fwd 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

/* error anim*/
.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

@keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
/*-------------------End Device Management-----------------------------*/




