@charset "utf-8";

#defaultpay {
 float:left;
 margin-left:32px;
 margin-top:10px;	
}

/*IE 7 Fix*/
html> body .hola{
	font-weight:bold;
}
/*End IE 7 Fix*/

/*IE 6 Fix*/
* html .hola{
	font-weight:bold;
}
/*End IE 6 Fix*/



/*IE 7 Fix*/
html> body .btnNext {
    margin-bottom:10px;
    padding-bottom:2px;
    text-align:center;
    width:81px;
	height:21px;
	font-weight:normal;
	margin-right:10px;
	background:url(../img/btnNextEnroll.gif) no-repeat;
	cursor:pointer;
	border:none;
}
/*End IE 7 Fix*/

/*IE 6 Fix*/
* html .btnNext {
    margin-bottom:10px;
    padding-bottom:2px;
    text-align:center;
    width:81px;
	height:21px;
	font-weight:normal;
	margin-right:10px;
	background:url(../img/btnNextEnroll.gif) no-repeat;
	cursor:pointer;
	border:none;
}
/*End IE 6 Fix*/


/*IE 7 Fix*/
html> body .signIn_button {
	margin-left:2px;
	padding-left:15px;
	font-stretch:condensed;
	text-align:left;
	text-indent:10px;
	width:101px;
	height:21px;
	color:#000000;
	background:url(../img/btnSignIn.gif) no-repeat;
	cursor:pointer;
	border:none;
	position:relative;
}
/*End IE 7 Fix*/

/*IE 6 Fix*/
* html .signIn_button {
	margin-left:10px;
	padding-left:15px;
	font-stretch:condensed;
	text-align:left;
	text-indent:10px;
	width:101px;
	height:21px;
	color:#000000;
	background:url(../img/btnSignIn.gif) no-repeat;
	cursor:pointer;
	border:none;
	position:relative;
}
/*End IE 6 Fix*/


/*IE 7 Fix*/

html> body .large_button {
	margin-bottom:27px;
	margin-left:2px;
	padding-left:15px;
	font-family:Arial, Helvetica, sans-serif, Sans;
	font-size:11px;
	font-stretch:condensed;
	text-align:left;
	text-indent:0px;
	width:116px;
	height:20px;
	color:#000000;
	background:url(../img/btnLarge.gif) no-repeat;
	cursor:pointer;
	border:none;
}
/*End IE 6 Fix*/

* html .large_button {
	margin-bottom:27px;
	margin-left:2px;
	padding-left:15px;
	font-stretch:condensed;
	text-align:left;
	text-indent:0px;
	width:116px;
	height:20px;
	color:#000000;
	background:url(../img/btnLarge.gif) no-repeat;
	cursor:pointer;
	border:none;
}
/*End IE 6 Fix*/


/*IE 7 Fix*/

html> body .large_button2 {
	margin-bottom:5px;
	margin-top:5px;
	margin-left:2px;
	padding-left:15px;
	font-stretch:condensed;
	text-align:left;
	text-indent:0px;
	width:116px;
	height:20px;
	color:#000000;
	background:url(../img/btnLarge.gif) no-repeat;
	cursor:pointer;
	border:none;
}

/*End IE 7 Fix*/

/*IE 6 Fix*/

* html .large_button2 {
	margin-bottom:5px;
	margin-top:5px;
	margin-left:2px;
	padding-left:15px;
	font-stretch:condensed;
	text-align:left;
	text-indent:0px;
	width:116px;
	height:20px;
	color:#000000;
	background:url(../img/btnLarge.gif) no-repeat;
	cursor:pointer;
	border:none;
}

/*End IE 6 Fix*/


/*IE 7 Fix*/

html> body .large_button3 {
	margin-bottom:5px;
	margin-top:5px;
	margin-left:2px;
	padding-left:15px;
	font-family:Arial, Helvetica, sans-serif, Sans;
	font-size:11px;
	font-stretch:condensed;
	text-align:left;
	text-indent:0px;
	width:155px;
	height:20px;
	color:#000000;
	background:url(../img/btnEnroll.gif) no-repeat;
	cursor:pointer;
	border:none;
}

html> body .large_buttonPif {
	margin-bottom:5px;
	margin-top:5px;
	margin-left:2px;
	padding-left:15px;
	font-family:Arial, Helvetica, sans-serif, Sans;
	font-size:11px;
	font-stretch:condensed;
	text-align:left;
	text-indent:0px;
	width:220px;
	height:20px;
	color:#000000;
	background:url(../img/btnPifLarge.gif) no-repeat;
	cursor:pointer;
	border:none;
}


/*End IE 7 Fix*/

/*IE 6 Fix*/

* html .large_button3 {
	margin-bottom:5px;
	margin-top:5px;
	margin-left:2px;
	padding-left:15px;
	font-stretch:condensed;
	text-align:left;
	text-indent:0px;
	width:155px;
	height:20px;
	color:#000000;
	background:url(../img/btnEnroll.gif) no-repeat;
	cursor:pointer;
	border:none;
}

* html .large_buttonPif {
	margin-bottom:5px;
	margin-top:5px;
	margin-left:2px;
	padding-left:15px;
	font-stretch:condensed;
	text-align:left;
	text-indent:0px;
	width:220px;
	height:20px;
	color:#000000;
	background:url(../img/btnPifLarge.gif) no-repeat;
	cursor:pointer;
	border:none;
}

/*End IE 6 Fix*/



/*IE 7 Fix*/

html> body .cancel{
	text-decoration:underline;
	color:#003366;
	cursor:pointer;
}

/*End IE 7 Fix*/

/*IE 6 Fix*/

* html .cancel{
	text-decoration:underline;
	color:#003366;
	cursor:pointer;
}

/*End IE 6 Fix*/


/*IE 7 Fix*/

html> body .labelspacer_safari {
	clear:both;
	padding-bottom:0px;
}

/*EndIE 7 Fix*/

/*IE 6 Fix*/

* html .labelspacer_safari {
	clear:both;
	padding-bottom:0px;
}

/*EndIE 6 Fix*/



/*IE 7 Fix*/

html> body #Enrollment .question select {
	width:400px;	
}

/*End IE 7 Fix*/

/*IE 6 Fix*/

* html  #Enrollment .question select {
	width:400px;	
}

/*End IE 6 Fix*/


/*IE 7 Fix*/

html> body .signOn_boxText3 a:link  {
   position: relative;
   font-stretch:condensed;
   font-weight:bold;
   color:#0f3157;
   text-decoration: underline;
}

/*End IE 6 Fix*/

* html .signOn_boxText3 a:link  {
   position: relative;
   font-stretch:condensed;
   font-weight:bold;
   color:#0f3157;
   text-decoration: underline;
}

/*End IE 6 Fix*/


/*IE 7 Fix*/

html> body #ebill_data{
	width:175px;
	display:block;
}

/*End IE 7 Fix*/

/*IE 6 Fix*/

* html #ebill_data{
	width:175px;
	display:block;
}

/*End IE 6 Fix*/


/*IE 7 Fix*/	
	
html> body #transaction_spacer{
	height:0px;
	}
	
/*IE 7 Fix*/	

/*IE 6 Fix*/	
	
* html #transaction_spacer{
	height:0px;
	}
	
/*IE 6 Fix*/	




/*IE 7 Fix*/

html> body .editBoxAmt {
	margin-right:50px;
	float:right;
}

/*End IE 7 Fix*/

/*IE 6 Fix*/

* html .editBoxAmt {
	margin-right:50px;
	float:right;
}

/*End IE 6 Fix*/


/*IE 7 Fix*/

html> body #ebillamntBox{
	float:left;
	margin-left:170px;
}

/*End IE 7 Fix*/

/*IE 6 Fix*/

* html #ebillamntBox{
	float:left;
	margin-left:170px;
}

/*End IE 6 Fix*/


/*IE 7 Fix*/

html> body .otherPaybox {
	float:left;
	border:1px solid #95c8f4;
	padding-top:20px;
	padding-bottom:10px; 
	width:610px; 
	height:35px; 
	margin-left:10px; 
	margin-bottom:19px;
}

/*End IE 7 Fix*/

/*IE 6 Fix*/

* html .otherPaybox {
	float:left;
	border:1px solid #95c8f4;
	padding-top:20px;
	padding-bottom:10px; 
	width:610px; 
	height:35px; 
	margin-left:10px; 
	margin-bottom:19px;
}

/*End IE 6 Fix*/


/*IE 7 Fix*/

html> body .addCheckPayee1 {
	float:left;
	margin-left:0px;
}

/*End IE 7 Fix*/

/*IE 6 Fix*/

* html .addCheckPayee1 {
	float:left;
	margin-left:0px;
}

/*End IE 6 Fix*/


/*IE 7 Fix*/
html> body #add_payee ul {
	margin-left:30px;
	margin-top:5px;
	margin-bottom:5px;
}

/*End IE 7 Fix*/

/*IE 6 Fix*/
* html #add_payee ul {
	margin-left:30px;
	margin-top:5px;
	margin-bottom:5px;
}

/*End IE 6 Fix*/


/*IE 7 Fix*/

html> body #add_payee a {
	height:1px;
	font-size:11px;
	text-decoration:none;
	cursor:pointer;
	color:#003366;	
}

/*IE 7 Fix*/

/*IE 6 Fix*/

* html #add_payee a {
	height:1px;
	font-size:11px;
	text-decoration:none;
	cursor:pointer;
	color:#003366;	
}

/*IE 6 Fix*/


/*IE 7 Fix*/

html> body .contactText{
	border:1px;
	width:100%;
	height:100px;
  	overflow:auto;
}

/*End IE 7 Fix*/

/*IE 6 Fix*/

* html.contactText{
	border:1px;
	width:100%;
	height:100px;
  	overflow:auto;
}

/*End IE 6 Fix*/


/*IE 7 Fix*/

html> body .BtnWelcome {
    margin-bottom:10px;
    padding-bottom:2px;
    text-align:center;
    width:166px;
	height:20px;
	font-weight:normal;
	margin-right:10px;
	background:url(../img/BtnWelSign_27.gif) no-repeat;
	cursor:pointer;
	border:none;
}

/*IE 7 Fix*/

/*IE 6 Fix*/

* html .BtnWelcome {
    margin-bottom:10px;
    padding-bottom:2px;
    text-align:center;
    width:166px;
	height:20px;
	font-weight:normal;
	margin-right:10px;
	background:url(../img/BtnWelSign_27.gif) no-repeat;
	cursor:pointer;
	border:none;
}

/*IE 6 Fix*/


/*IE 7 Fix*/

html> body .label{
	white-space:nowrap;
	margin-top:10px;
	color: #003366;
	font-size:12px;
	font-weight:bold;	
}

/*IE 7 Fix*/

/*IE 6 Fix*/

* html .label{
	white-space:nowrap;
	margin-top:10px;
	color: #003366;
	font-size:12px;
	font-weight:bold;	
}

/*IE 6 Fix*/


/*IE 7 Fix*/

html> body #ebillAct h3 {
	margin-top:5px;	
}

/*END IE 7 Fix*/

/*IE 6 Fix*/

* html #ebillAct h3 {
	margin-top:5px;	
}

/*END IE 6 Fix*/



/*IE 7 Fix*/
html> body .ebillActSpacer{
	clear:both;
	height:1px;
	margin-top:0px;
	margin-bottom:0px;
	padding-top:0px;
	padding-bottom:0px;
}

/*END IE 7 Fix*/

/*IE 6 Fix*/
* html .ebillActSpacer{
	clear:both;
	height:1px;
	margin-top:0px;
	margin-bottom:0px;
	padding-top:0px;
	padding-bottom:0px;
}

/*END IE 6 Fix*/

