.titulo{
    color: #1F3B5D;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 24px;
    font-weight: bold;
}
.titulo2{
    color: #1F3B5D;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.encabezadotabla{
    color: #1F3B5D;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
}
.tabla {
    color: #535456;
    font-family: Arial,Helvetica,sans-serif,Sans;
    font-size: 12px;
    border: none;
    
}
.link a {
    color: #607B9A;
    font-size: 14px;
    padding-left: 20px;
    font-weight: bold;
}

.linkimg a:visited{
	style="text-decoration: none;"
}
.linkimg a:hover{
	style="text-decoration: none;"
}
.linkimg a:active{
	style="text-decoration: none;"
}
img {  
	border: none;  
}  
