@charset "utf-8";

.titulo_family_care { border-right:none !important; font-size:20px !important; border-bottom:1px solid #CDE5FF !important; height:40px !important; line-height:40px !important; }

.td_cubiertas {
	height:30px;
	border-bottom:1px solid #FFF;
	background-color:#E7F0F5;
	color:#003367;
	font-size:14px;
	font-weight:bold;
	border-right:1px solid #CDE5FF;
	text-indent:22px;
	line-height:30px;
}

.td_planes {
	height:30px;
	border-bottom:1px solid #FFF;
	background-color:#F6FAFD;
	color:#636363;
	font-size:12px;
	font-weight:bold;
	border-right:1px solid #CDE5FF;
	text-align:center;
	line-height:30px;
}

.td_subtitulo {
	height:30px;
	border-bottom:1px solid #CDE5FF;
	background-color:#F6FAFD;
	color:#4F7397;
	font-size:11px;
	font-weight:bold;
	border-right:1px solid #CDE5FF;
	text-indent:20px;
	line-height:30px;
}

.td_item {
	height:30px;
	border-bottom:1px solid #CDE5FF;
	background-color:#fff;
	color:#6A6A6A;
	font-size:11px;
	font-weight:bold;
	border-right:1px solid #CDE5FF;
	text-indent:20px;
	line-height:30px;
}

.td_precios_planes {
	height:30px;
	border-bottom:1px solid #CDE5FF;
	background-color:#fff;
	color:#000;
	font-size:11px;
	border-right:1px solid #CDE5FF;
	line-height:30px;
	text-align:right;
}

.td_precios { padding-right:10px; }

.td_date_birth { border-bottom:1px solid #CDE5FF; }
.td_date_birth h2 { font-size:12px; margin-bottom:10px;}
.td_date_birth	.btn-enviar-date { width:33px; height:27px; border:none; background-image:url(../../../img/insurance/womancare/btn-ok.jpg); background-position:top left; background-repeat:no-repeat; background-color:transparent; cursor:pointer;}
.td_date_birth	select { margin-top:5px;}

.insurance-select-date { margin:30px 0px 30px 30px; width:auto; height:auto;}

.td_total_beneficios {
	height:60px;
	border-bottom:1px solid #CDE5FF;
	background-color:#F5F9FC;
	color:#003367;
	font-size:11px;
	font-weight:bold;
	border-right:1px solid #CDE5FF;
	text-align:center;
	line-height:60px;
}

.td_fecha {
	height:50px;
	border-bottom:1px solid #CDE5FF;
	background-color:#fff;
	color:#545454;
	font-size:11px;
	border-right:1px solid #CDE5FF;
	text-align:center;
}

.td_fecha span {
	color:#003267;
	font-weight:bold;
	font-size:11px;
	margin-top:-30px;
}

#t-bday {
	color:#545454;
	font-weight:normal;
}

.td_fecha .fix-position-fecha {
	margin-top:10px;
}

.td_precios_planes_total_beneficios {
	height:50px;
	border-bottom:1px solid #CDE5FF;
	background-color:#fff;
	color:#000;
	font-size:11px;
	border-right:1px solid #CDE5FF;
	line-height:50px;
	text-align:right;
	font-weight:bold;
}

.td_total_selecciona {
	height:50px;
	border-bottom:1px solid #CDE5FF;
	background-color:#E7F0F5;
	color:#003367;
	font-size:14px;
	font-weight:bold;
	border-right:1px solid #CDE5FF;
	text-align:center;
	line-height:50px;
}

.td_selecciona_options {
	height:50px;
	border-bottom:1px solid #CDE5FF;
	background-color:#fff;
	color:#000;
	font-size:11px;
	border-right:1px solid #CDE5FF;
	line-height:50px;
	text-align:center;
}

.td_verifica_form {
	background-color:#F5F9FC;
	border-bottom:1px solid #CDE5FF;
}

.td_verifica_form span {
	color:#0F1110;
	font-size:12px;
	font-weight:bold;
}

.td_verifica_form h2 {
	margin-bottom:15px;
}

.td_verifica_form .input01-beneficiarios {
	width:200px !important;
}

.td_verifica_form .input01-form-verifica {
	width:263px;
	height:25px;
	background-color:#FCFDFF;
	border:1px solid #D2D6D7;
	line-height:25px;
	padding-left:10px;
	color:#636466;
	font-size:12px;
	margin:5px 0px 10px 0px;
}

.imput-beneficiario { width:410px !important;}

.td_verifica_form .input02-form-verifica {
	width:115px;
	height:25px;
	background-color:#FCFDFF;
	border:1px solid #D2D6D7;
	line-height:25px;
	padding-left:10px;
	color:#636466;
	font-size:12px;
	margin:5px 0px 10px 0px;
}

.td_select-cuenta-debito {
	background-color:#fff;
	border-bottom:1px solid #CDE5FF;
}

.td_select-cuenta-debito h2 {
	margin-bottom:15px;
}

.td_select-cuenta-debito span {
	color:#0F1110;
	font-size:12px;
	font-weight:bold;
}

.td_select-cuenta-debito select {
	width:260px;
	height:20px;
	color:#636466;
	font-size:12px;
	margin-top:10px;
}

.td_select-cuenta-debito .notificacion-debito {
	background-color:#F1F6F9;
	border:1px solid #CDE5FF;
	padding:0px 15px 0px 15px;
	color:#013366;
	font-size:12px;
	width:270px;
	height:40px;
	line-height:40px;
	margin:0 auto;
}

#monthly-debit {
	color:#013366;
}

.insurance-printbtn {
	margin-left:20px;
}

.insurance-legales {
	width:510px;
	height:110px;
	padding:20px 40px 20px 20px;
	border:1px solid #DEE2E3;
	background-color:#FFF;
	font-size:11px;
	color:#424242;
	line-height:1.5em;
	overflow:auto;
}

.insurance-legales p {
	margin:0px 0px 20px 0px;
	padding:0px;
}

.insurance-legales h1 {
	font-size:14px;
	color:#424242;
	line-height:1.5em;
	font-weight:bold;
	margin:0px 0px 10px 0px;
}


.insurance-table-gracias {
	font-size:12px;
}

.insurance-tit-gracias {
	font-size:24px;
	margin:0px 0px 0px 0px;
}

.insurance_table {
	font-size:11px;
	color:#535456;
}

.insurance_table a, .insurance_table a:hover {
	font-size:11px;
	color:#003366;	
}

.insurance_table a:visited {
	font-size:11px;
	color:#800080;	
}
.insurance_table_borders {
	border:1px;
	border-style:solid; 
	border-color:#cde6ff;
	margin-top:0px;
}
.field-error {
	color:#FF0000 !important;
	font-weight:bold !important;
	font-size:11px !important;
	display:none;
}

.percent-error {
	background-color:#FFF; 
	border:1px solid #d70808; 
	text-align:center; 
	padding:5px 0px 5px 0px; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:11px; color:#d70808; 
	font-weight:bold; 
	margin-bottom:20px; 
	display:none;
	clear:both;
}

.radio {
	position: relative;
	top: 3px;
}
