@charset "ISO-8859-1";

input[type="submit"] {
	border-style: none !important;
	border-width: 0px !important;
	border-radius: 0px !important;
	background-image: none !important;
	box-shadow: none !important;
	padding: 0 !important;
	width: auto !important;
	height: auto !important;
	text-shadow: none !important;
}


html {
	margin: 0px;
	height: 100%;
	width: 100%;
}

.top-nav {
	background: #00205c;
	color: #fff;
	padding: 10px 0;
	height: 80px;
	padding-right: 0;
	padding-left: 0;
	margin-bottom: 40px;
}

.row {
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.content {
	padding: 0 0 0 0;
	border-radius: 3px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	background-color: #FFFFFF;
}

.content-body{
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.top-nav a {
	color: #FFFFFF !important;
	text-decoration: none;
}

.top-nav a:hover {
	text-decoration: none !important;
}

.pull-left {
	margin-right: 5px;
	float: left !important;
}

.fluid-container {
	width: 100%;
}

.header-row {
	padding-top: 6px !important;
}

.text-default {
	font-family: "Open Sans" !important;
	height: 23px !important;
	width: 100% !important;
	color: #333333 !important;
	font-size: 1.2em !important;
	line-height: 23px !important;
}

.bppr {
	vertical-align: middle !important;
	height: auto !important;
	z-index: 1;
	height: auto !important;
}

.logo-container h2 {
	display: inline-block;
	float: left;
}

.logo-container {
	padding-left: 5.5%;
}

.imgBppr {
	padding-top: 8px;
}

.cancelDiv {
	text-align: right;
	padding-right: 5.5%;
}

.cancelar {
	height: 23px !important;
	width: 180px !important;
	font-family: "Open Sans";
	font-size: 17px !important;
	line-height: 40px !important;
	text-align: center !important;
}

.button-text {
	height: 23px;
	width: 111px;
	color: #FFFFFF;
	font-family: "Open Sans";
	font-size: 17px;
	line-height: 23px;
	text-align: center;
	text-shadow: 0 1px 1px 0 #00205C;
}

.bgImagePage1 {
	padding-top: 0px !important;
	position: relative;
	text-align: center;
}

.label-welcome {
	width: 100% !important;
	color: #FFFFFF !important;
	font-family: "Open Sans" !important;
	font-size: 35px !important;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.div-continue-btn{
	padding-right:5%;
}

#inputAccountNumber{
	font-size:14px;
	font-family: "Open Sans";
}

#inputAccountNumber::-webkit-input-placeholder {
  	color: #959595;	font-family: "Open Sans";	font-size: 14px;
}
#inputAccountNumber::-moz-placeholder {
  	color: #959595;	font-family: "Open Sans";	font-size: 14px;
}
#inputAccountNumber:-ms-input-placeholder {
  	color: #959595;	font-family: "Open Sans";	font-size: 14px;
}
#inputAccountNumber::placeholder {
  	color: #959595;	font-family: "Open Sans";	font-size: 14px;
}

.label-terms{
	height: 23px !important;	
	width: 100% !important;	
	color: #2278C9 !important;	
	font-family: "Open Sans" !important;	
	font-size: 17px !important;	
	line-height: 23px !important;
}

.label-read-terms{
	height: 23px !important;	
	width: 100% !important;	
	color: #333333 !important;	
	font-family: "Open Sans" !important;	
	font-size: 17px !important;	
	line-height: 23px !important;
}

.label-accept-terms{
	height: 20px !important;	
	width: 100% !important;	
	color: #142C58 !important;	
	font-family: "Open Sans" !important;	
	font-size: 15px !important;	
}

.inner-content{
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 30px;
}

body {
	box-sizing: none; !important;
}


.container-css {
	border: 1px solid #e3e3e3;
	margin-top: 0%;
	text-align: justify;
	margin-top: 2%;
}

.container {
	padding-left: 1px;
	padding-right: 1px;
}

/****** CSS Switch ******/

article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

/*
 * Copyright (c) 2013 Thibaut Courouble
 * http://www.cssflow.com
 *
 * Licensed under the MIT License:
 * https://www.opensource.org/licenses/mit-license.php
 */
body {
	font: 12px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #404040;
	background: white;
}

.container-switch {
	width: 280px;
	text-align: center;
	position: absolute;
	z-index: 100;
    top: -5%;
}

.container>.switch {
	display: block;
	margin: 12px auto;
}

.switch {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 120px;
	height: 30px;
	padding: 3px;
	background-color: white;
	border-radius: 18px;
	box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	background-image: -webkit-linear-gradient(top, #eeeeee, white 25px);
	background-image: -moz-linear-gradient(top, #eeeeee, white 25px);
	background-image: -o-linear-gradient(top, #eeeeee, white 25px);
	background-image: linear-gradient(to bottom, #eeeeee, white 25px);
}

.switch-input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.switch-label {
	position: relative;
	display: block;
	height: inherit;
	font-size: 12px;
	background: #eceeef;
	border-radius: inherit;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px
		rgba(0, 0, 0, 0.15);
	-webkit-transition: 0.15s ease-out;
	-moz-transition: 0.15s ease-out;
	-o-transition: 0.15s ease-out;
	transition: 0.15s ease-out;
	-webkit-transition-property: opacity background;
	-moz-transition-property: opacity background;
	-o-transition-property: opacity background;
	transition-property: opacity background;
}

.switch-label:before, .switch-label:after {
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	line-height: 1;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
}

.switch-label:before {
	content: attr(data-off);
	right: 11px;
	color: #aaa;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

.switch-label:after {
	content: attr(data-on);
	left: 11px;
	color: white;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	opacity: 0;
}

.switch-input-disabled {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.switch-label-disabled {
	position: relative;
	display: block;
	height: inherit;
	font-size: 12px;
	background: #eceeef;
	border-radius: inherit;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px
		rgba(0, 0, 0, 0.15);
	-webkit-transition: 0.15s ease-out;
	-moz-transition: 0.15s ease-out;
	-o-transition: 0.15s ease-out;
	transition: 0.15s ease-out;
	-webkit-transition-property: opacity background;
	-moz-transition-property: opacity background;
	-o-transition-property: opacity background;
	transition-property: opacity background;
}

.switch-label-disabled:before, .switch-label-disabled:after {
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	line-height: 1;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
}

.switch-label-disabled:before {
	content: attr(data-off);
	right: 11px;
	color: #aaa;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

.switch-label-disabled:after {
	content: attr(data-on);
	left: 11px;
	color: white;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	opacity: 0;
}

.switch-input:checked ~ .switch-label {
	background: #2278c9;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px
		rgba(0, 0, 0, 0.2);
}

.switch-input:checked ~ .switch-label:before {
	opacity: 0;
}

.switch-input:checked ~ .switch-label:after {
	opacity: 1;
}

.switch-input-disabled:checked ~ .switch-label-disabled {
	background: #2278c99e;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px
		rgba(0, 0, 0, 0.2);
}

.switch-input-disabled:checked ~ .switch-label-disabled:before {
	opacity: 0;
}

.switch-input-disabled:checked ~ .switch-label-disabled:after {
	opacity: 1;
}

.switch-handle {
	position: absolute;
	top: 6px;
	left: 10px;
	width: 26px;
	height: 22px;
	background: white;
	border-radius: 11px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	background-image: -webkit-linear-gradient(top, white 80%, #f0f0f0);
	background-image: -moz-linear-gradient(top, white 80%, #f0f0f0);
	background-image: -o-linear-gradient(top, white 80%, #f0f0f0);
	background-image: linear-gradient(to bottom, white 80%, #f0f0f0);
	-webkit-transition: left 0.15s ease-out;
	-moz-transition: left 0.15s ease-out;
	-o-transition: left 0.15s ease-out;
	transition: left 0.15s ease-out;
}

.switch-handle:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -6px;
	width: 12px;
	height: 12px;
	background: #f9f9f9;
	border-radius: 6px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
	background-image: -webkit-linear-gradient(top, #eeeeee, white);
	background-image: -moz-linear-gradient(top, #eeeeee, white);
	background-image: -o-linear-gradient(top, #eeeeee, white);
	background-image: linear-gradient(to bottom, #eeeeee, white);
}

.switch-input:checked ~ .switch-handle {
	left: 85px;
	box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-green>.switch-input:checked ~ .switch-label {
	background: #4fb845;
}

.switch-input-disabled:checked ~ .switch-handle {
	left: 85px;
	box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

/*Bootstrap reponsive css*/

/* Super small devices < 400px */
@media (max-width: 400px) {

	.text-default {
		width: 100% !important;
	}

	.switch-pos {
		max-width: 100% !important;
	}

	.float-right {
		float: none !important;
	}
}

/* Xtra Small devices (phones, 401px - 575px) */
@media (min-width: 401px) {

	.switch-pos {
		position: absolute;
	}
	
	.container {
    	max-width: 100% !important; 
	}
}

/* Small devices (phones, 576px and up	) */
@media (min-width: 576px) {

	.switch-pos {
		position: inherit;
	}

	.container {
    	max-width: 100% !important; 
	}
}

/* Medium devices (phones, 768px and up) */
@media (min-width: 768px) {

	.container {
    	max-width: 100% !important; 
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	
}

/* Xtra Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	
}