.ccProductName {
	font-size: 18px;
}

.ccProductDropDown {
	font-size: 13px;
}

.ccPlasticsAmount {
	font-size: 14px;
}

.ccDepositTypeAcct {
	font-size: 14px;
}

.ccDepositTypeAcctData {
	font-size: 14px;
}

.ccPlasticsAmountNumber {
	font-size: 14px;
}

.ccLink a {
	font-size: 14px;
}

.ccRed {
	font-size: 14px;
}

.ccWarning {
	font-size: 14px;
}

.ccSubMenuOnColor {
	font-size: 14px;
}

.ccSubMenuOffColor {
	font-size: 14px;
}

.ccBtnPay {
	font-size: 13px;
}

.ccBtnPay a {
	font-size: 13px;
}

.ccBtnPay2 {
	font-size: 13px;
}

.ccBtnPay2Gray {
	font-size: 13px;
}

.ccBtnAutoPayGray{
	font-size: 13px;
}

.ccBtnAutoPayGreen{
	font-size: 13px;
}

.ccBtnSend {
	font-size: 13px;
}

.ccServiceActiveBox {
	font-size:13px;
}

.ccPaymentHeaders {
	font-size: 14px;
}

.ccBodyBoxContentTitle {
	font-size: 20px;
}

.ccBodyBoxContent1SubTitle {
	font-size: 16px;
}

.ccBodyBoxContent1Tbl {
	font-size: 14px;
}

.ccBodyBoxContent2SubTitle {
	font-size: 16px;
}

.ccBodyBoxContent2Tbl {
	font-size: 14px;
}

.ccBodyBoxContent2TblInProcess {
	font-size: 14px;
}

.ccBodyBoxContent3 {
  	font-size: 14px;
}

.ccBodyBoxContentAutoPayNums {
	font-size: 20px;
}

.ccBodyBoxContent3SubTitle {
	font-size: 16px;
}

.ccBodyBoxContent3Tbl {
	font-size: 14px;
}

.ccBodyBoxContent4SubTitle {
	font-size: 16px;
}

.ccVacationsTitle {
	font-size: 13px;
}

.ccVacationSuccess {
	font-size: 14px;
}

.ccVacationUnSuccess {
	font-size: 14px;
}

.ccVacationsBodyContent {
	font-size: 13px;
}

.ccVacationsBodyContent a {
	font-size: 13px;
}

.ccVacationsBodyContent2 {
	font-size: 13px;
}

.ccVacationsBodyContent2Tbl tr td a {
	font-size: 13px;
}

.ccVacationsBodyContent2Tbl tr td a:link, .ccVacationsBodyContent2Tbl tr th a:active, .ccVacationsBodyContent2Tbl tr th a:visited, .ccVacationsBodyContent2Tbl tr th a:hover {
	font-size: 13px;
}
