.ccIframeBgColor{
	background-color: #f6f5f5;
}

.ccIframeBgColor2{
	background-color: #f2f2f2;
}

.ccCampaign {
	position: relative;
	float: left;
	width: 675px;
  	margin-bottom: 4px;
}

.ccProductName {
	position: relative;
	float: left;
	width: 675px;
	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: normal;
	font-size: 16px;
	font-weight: bold;
  	margin-bottom: 10px;
	color: #2c3e61;
}

.ccProductInfo {
	position: relative;
	float: left;
	width: 250px;
  	height: 105px;
}
.ccLostStolenBox{
	position: relative;
	float: left;
	width: 600px;
  	height: 400px;	
}
.ccLostStolenQuestions{
	position: relative;
	float: left;
	width: 275px;
  	height: 400px;	
}
.depProductInfo {
	position: relative;
	float: left;
	width: 280px;
  	height: 105px;
  	margin-bottom: 10px;
}

.ccProductDropDown {
  	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: normal;
	font-size: 11px;
	font-weight: bold;
  	margin-bottom: 10px;
	color: #000000;
}

.ccPlasticsAmount {
  	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: normal;
	font-size: 12px;
	font-weight: normal;
  	margin-bottom: 10px;
	color: #242525;
}

.ccDepositTypeAcct {
/*	float:left;*/
  	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: normal;
	font-size: 12px;
	font-weight: bold;
  	margin-bottom: 10px;
  	color: #242525;
}

.ccDepositTypeAcctData {
  	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: normal;
	font-size: 12px;
	font-weight: normal;
  	margin-bottom: 10px;
	color: #242525;
}

.ccPlasticsAmountNumber {
  	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: normal;
	font-size: 12px;
	font-weight: bold;
	color: #242525;
}

.ccLink a {
  	font-family:Arial, Helvetica, sans-serif, Sans;
	font-size: 12px;
	cursor: pointer;
	color: #2c3e61;
}

.ccPlasticImg {
	position: relative;
	float: left;
	width: 175px;
  	height: 105px;
}

.ccBody {
  	width: 675px;
  	margin-top: 0px;
}

.ccRed {
  	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: underline;
	font-size: 12px;
	font-weight: bold;
	color: red;	
}

.ccWarning {
	background-color: #fdfca7;
  	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: underline;
	font-size: 12px;
	font-weight: bold;
	color: #2c3e61;	
	align: center;
}

.ccLinkColor {
  	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: underline;
/*	font-size: 12px;*/
	font-weight: bold;
	color: #2a9ac2;
}

.ccLinkColorSummTooltip {
  	font-family: Arial, Helvetica, sans-serif, Sans;
	font-weight: bold;
	color: #2a9ac2;
}

.ccSubMenuOnColor {
  	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: none;
	font-size: 12px;
	font-weight: bold;
	color: #2a9ac2;
}

.ccSubMenuOffColor {
  	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: none;
	font-size: 12px;
	font-weight: bold;
	color: #5e5f61;
}

.ccBtnPay {
    vertical-align: middle;
    width:60px;
	height:16px;
  	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: normal;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	color: #264f05;
	background:url(../../img/cc/ccBtnPay.gif) no-repeat;
	cursor:pointer;
	border:none;
	margin: 0px;
	padding: 0px;
}

.ccBtnPay a {
    vertical-align: middle;
    width:60px;
	height:16px;
  	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: normal;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	color: #264f05;
	background:url(../../img/cc/ccBtnPay.gif) no-repeat;
	cursor:pointer;
	border:none;
	margin: 0px;
	padding: 0px;
}

.ccBtnPay2 {
    vertical-align: middle;
    width:81px;
	height:20px;
  	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: normal;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	color: #264f05;
	background:url(../../img/btnPay.gif) no-repeat;
	cursor:pointer;
	border:none;
	margin: 0px;
	padding: 0px;
}

.ccBtnPay2Gray {
    vertical-align: middle;
    width:81px;
	height:20px;
  	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: normal;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	color: #616162;
	background:url(../../img/btnPayDisabled.gif) no-repeat;
	border:none;
	margin: 0px;
	padding: 0px;
}

.ccBtnAutoPayGray{
    vertical-align: middle;
    width:130px;
	height:20px;
  	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: normal;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	color: #616162;
	background:url(../../img/cc/ccBtnLargeDisabled.gif) no-repeat;
	border:none;
	margin: 0px;
	padding: 0px;
}

.ccBtnAutoPayGreen{
    vertical-align: middle;
    width:130px;
	height:20px;
  	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: normal;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	color: #264f05;
	background:url(../../img/cc/ccBtnLarge.gif) no-repeat;
	cursor:pointer;
	border:none;
	margin: 0px;
	padding: 0px;
}

.ccBtnSend {
    vertical-align: middle;
    width:60px;
	height:16px;
  	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: normal;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	color: #264f05;
	background:url(../../img/cc/ccBtnSend.gif) no-repeat;
	cursor:pointer;
	border:none;
	margin: 0px;
	padding: 0px;
}

.ccTransactionsButtons{
	width: 600px;
	text-align: right;
	margin-top: 30px;
}

.ccServiceSubmenu{
	width: 100%;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

.ccServiceSubmenuLine {
	border: 0;
	color: #CCCCCC;
	background-color: #CCCCCC;
	height: 1px;
}

.ccTransactionsPages{
	width: 600px;
	text-align: right;
	margin-top: 10px;
	color: #2d2e2e;
}

.loadingafterCCPortal{
		background-repeat:no-repeat;
		background-position:top center;
		background-image: none;
		background-color: #f6f5f5;
		background: #f6f5f5;
	}

.ccTrMouseOut {
	background: #f6f5f5;
}

.ccTrMouseOver {
	background: #e3f3ff;
}

.ccServiceCreditCardTable {
	border: 0px;
	
}

.ccServiceInsuranceQuestions {
	position: relative;
	width: 255px;
	float: left;
}
.ccServiceActiveBox {
	font-size:11px;
	color:#535456;
	background: #ffffff;
	border:1px;
	border-style: solid;
	border-color: #95c8f4;
	margin-left: 17px;
	margin-bottom: 17px;
	padding: 10px;
	width: 220px;
	height: 150px;
}

.ccPaymentHeaders {
  	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: normal;
	font-size: 12px;
	font-weight: bold;
	color: #555555;
}

.ccAutopayActive {
	color: #999999;
}
/******************************************/
/* Sort column in Transaction Table       */
/******************************************/
.sortcol {
	cursor: pointer;
	padding-right: 20px;
	background-repeat: no-repeat;
	background-position: right center;
}
.sortasc {
	background-image: url(../../img/up.gif);
}
.sortdesc {
	background-image: url(../../img/down.gif);
}

/******************************************/
/* End sort column in Transaction Table       */
/******************************************/


/*************************************/
/* Start Credit Card Portal Body Box */
/*************************************/

* html #tlc, * html #trc {height: 1%;}

#tlc, #trc { zoom: 1; }

.ccBodyBoxContent1 {
  	padding-top: 30px;
  	padding-bottom: 0px;
  	padding-left: 70px;
  	padding-right: 10px;
}

.ccBodyBoxContentTitle {
  	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: normal;
	font-size: 18px;
	font-weight: bold;
	color: #2c3e61;
	margin-bottom: 30px;
}

.ccBodyBoxContent1SubTitle {
  	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: normal;
	font-size: 14px;
	font-weight: bold;
	color: #2c3e61;
}

.ccBodyBoxContent1Tbl {
  	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: normal;
	font-size: 12px;
	font-weight: normal;
	color: #2d2e2e;
	border: 0px;
	width: 520px;
	margin-top: 5px;
	margin-bottom: 30px;
	border-spacing: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
	cell-spacing: 0px;
	cell-padding: 0px;
}

.ccBodyBoxContent2 {
  	padding-top: 30px;
  	padding-bottom: 0px;
  	padding-left: 20px;
  	padding-right: 20px;
}

.ccBodyBoxContent2SubTitle {
  	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: normal;
	font-size: 14px;
	font-weight: bold;
	color: #2c3e61;
}

.ccBodyBoxContent2Tbl {
  	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: normal;
	font-size: 12px;
	font-weight: normal;
	color: #2d2e2e;
	border: 0px;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 30px;
	border-spacing: 0px;
}

.ccBodyBoxContent2TblInProcess {
  	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: normal;
	font-size: 12px;
	font-weight: normal;
	color: #2d2e2e;
	border: 0px;
	width: 95%;
	margin-top: 0px;
	maring-left: 10px;
	padding-bottom: 5px;
	border-spacing: 0px;
}

.ccBodyBoxContent2TblInProcessCC {
  	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: normal;
	font-size: 12px;
	font-weight: normal;
	color: #2d2e2e;
	border: 0px;
	width: 100%;
}

.ccBodyBoxContent3 {
  	padding-top: 20px;
  	padding-bottom: 0px;
  	padding-left: 20px;
  	padding-right: 20px;
  	font-size: 12px;
}

.ccBodyBoxContentAutoPayNums {
  	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: normal;
	font-size: 18px;
	font-weight: bold;
	color: #2a9ac2;
	margin-bottom: 30px;
}

.ccBodyBoxContent3SubTitle {
  	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: normal;
	font-size: 14px;
	font-weight: normal;
	color: #2c3e61;
}

.ccBodyBoxContent3Tbl {
  	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: normal;
	font-size: 12px;
	font-weight: normal;
	color: #2d2e2e;
	border: 0px;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 30px;
	border-spacing: 0px;
}

.ccBodyBoxContent4 {
  	padding-top: 30px;
  	padding-bottom: 0px;
  	padding-left: 20px;
  	padding-right: 20px;
}

.ccBodyBoxContent4SubTitle {
  	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: normal;
	font-size: 14px;
	font-weight: normal;
	color: #2c3e61;
}

.ccBodyBoxContent5 {
  	padding-top: 10px;
  	padding-bottom: 0px;
  	padding-left: 10px;
  	padding-right: 10px;
}

.ccBodyBoxContent5SubTitle {
  	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: normal;
	font-size: 14px;
	font-weight: bold;
	color: #2c3e61;
}

#ccBodyBox {
	margin-top: 30px;
	margin-bottom: 30px; 
	padding: 0px;
	text-align: left;
	width: 624px;				/* <-- use this to tie width to viewport size */
	background-color: #f6f5f5;
}

#ccBodyBoxWithButtonsAndPage {
	margin-top: 5px;
	margin-bottom: 5px; 
	padding: 0px;
	text-align: left;
	width: 624px;				/* <-- use this to tie width to viewport size */
	background-color: #f6f5f5;
}

#tlc, #trc, #blc, #brc
	{
	background-color: transparent;
	background-repeat: no-repeat;
	}

#tlc
	{
	background-image:url(../../img/cc/box-topleftcorner.gif);
	background-position: 0% 0%;
	}

#trc
	{
	background-image:url(../../img/cc/box-toprightcorner.gif);
	background-position: 100% 0%;
	}
	
#blc
	{
	background-image:url(../../img/cc/box-bottomleftcorner.gif);
	background-position: 0% 100%;
	}

#brc
	{
	background-image:url(../../img/cc/box-bottomrightcorner.gif);
	background-position: 100% 100%;
	}

#tb, #bb
	{
	background-color: transparent;
	background-repeat: repeat-x;
	}
			
#tb
	{
	background-image:url(../../img/cc/box-top.gif);
	background-position: 0% 0%;
	}

#bb
	{
	background-image:url(../../img/cc/box-bottom.gif);
	background-position: 50% 100%;
	}
	
#rb
	{
	background-image:url(../../img/cc/box-right.gif);
	background-position: 100% 0%;
	background-repeat: repeat-y;
	}

#lb
	{
	background-image:url(../../img/cc/box-left.gif);
	background-position: 0% 100%;
	background-repeat: repeat-y;
	}
	
/***********************************/
/* End Credit Card Portal Body Box */
/***********************************/

/********************/
/* Vacations Portal */
/********************/

.ccVacationsPortal {
	position: absolute;
	z-index: 500;
	width: 200px;
	margin-top: 0px;
	margin-top: 30px;\
	margin-left: 50px;
	margin-left: 475px;\
	[position: absolute;
	z-index: 500;
	margin-top: 30px;
	margin-left: 475px;
	width: 200px;]
}

html*.ccVacationsPortal {  
	[position: absolute;
	z-index: 500;
	margin-top: 30px;
	margin-left: 475px;
	width: 200px;]
	/* hack for IE 7 */
	position: absolute;
	z-index: 500;
	margin-top: 0px;
	margin-left: 50px;
	width: 200px;
}

/* hack for IE 6 */
* html .ccVacationsPortal {  
	position: absolute;
	z-index: 500;
	margin-top: 0px;
	margin-left: 50px;
	width: 200px;
} 

.ccVacationsBoxTop {
	position: relative;
	z-index: 1000;
	width: 100%;
	background-image:url(../../img/cc/vac-box-top-full2.gif);
	background-repeat: no-repeat;
	height: 25px;
}	

.ccVacationsTitle {
	position: relative;
	z-index: 1000;
	padding-top: 10px;
  	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: normal;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	color: #264f05;
}

.ccVacationsBody {
	position: relative;
	z-index: 1000;
	width: 100%;
	background-image:url(../../img/cc/vac-box-sides2.gif);
	background-repeat: repeat-y;
/*	height: 60px;
	border-left: 1px solid #CCCCCC;
	background-color: #FFFFFF; 
	border-right: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
*/
}

.ccVacationsBodyInput {
	position: relative;
	z-index: 1000;
	width: 100%;
/*	height: 285px; */
	background-image:url(../../img/cc/vac-box-sides2.gif);
	background-repeat: repeat-y;
/*
	background-color: #FFFFFF; 
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
*/
}

.ccVacationSuccess {
	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: normal;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: #5e5f61;
}

.ccVacationUnSuccess {
	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: normal;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: #5e5f61;
}

.ccVacationsBodyContent {
	position: relative;
	z-index: 1000;
	padding-top: 15px;
	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: normal;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	color: #5e5f61;
}

.ccVacationsBodyContent a {
	position: relative;
	z-index: 1000;
	padding-top: 15px;
	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: underline;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	color: #5e5f61;
}

.ccVacationsBodyContent2 {
	position: relative;
	z-index: 1000;
	padding-top: 10px;
	padding-left: 4px;
	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: normal;
	font-size: 11px;
	font-weight: normal;
	text-align: left;
	color: #5e5f61;
}

.ccVacationsBodyContent2Tbl {
	border:1px solid #ffffff;
	margin-left:3px;
	width: 250px;
}

.ccVacationsBodyContent2Tbl tr td a {
	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: underline;
	font-size: 11px;
	font-weight: normal;
	text-align: right;
	color: #5e5f61;
}

.ccVacationsBodyContent2Tbl tr td a:link, .ccVacationsBodyContent2Tbl tr th a:active, .ccVacationsBodyContent2Tbl tr th a:visited, .ccVacationsBodyContent2Tbl tr th a:hover {
	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: underline;
	font-size: 11px;
	font-weight: normal;
	text-align: right;
	color: #5e5f61;
}

.ccVacationsBoxBottom {
	position: relative;
	z-index: 1000;
	width: 100%;
	background-image:url(../../img/cc/vac-box-bottom-full2.gif);
	height: 12px;
	background-repeat: no-repeat;
}
/************************/
/* End Vacations Portal */
/************************/

.portal-btn-logout-grey-out {
	z-index: 100;
}