#**
 * conditional url
 *
 * Takes a relative URL and makes it absolute from the server root by
 * adding the context root for the web application.
 *#
###macro(conditionalURL $href $description $showLink)

###if ($showLink == true)
##<a href="$!href">$!description</a>
###else
##$!description
###end

###end
#macro(conditionalURL $href $description $showLink $delay)

#if ("$!showLink" == "true")
	#if($delay)
	<a onClick="setDelay('$href');">$!description</a>
	#else
	<a href="$!href">$!description</a>
	#end
#else
$!description
#end

#end
#macro(conditionalURLMenu $href $description $showLink $delay $class)

#if ("$!showLink" == "true")
	#if($delay)
	<a onClick="setDelay('$href');" class="$!class">$!description</a>
	#else
	<a href="$!href">$!description</a>
	#end
#else
$!description
#end

#end

#macro(conditionalURLNewWindow $href $description $showLink $delay)

#if ("$!showLink" == "true")
	#if($delay)
	<a onClick="setDelay('$href');">$!description</a>
	#else
	<a href="$!href" target="_blank">$!description</a>
	#end
#else
$!description
#end

#end

#macro(conditionalURLOpenWindow $href $description $showLink $delay)

#if ("$!showLink" == "true")
	
	<a onClick="openLink('$href');">$!description</a>
	
#else
$!description
#end

#end


#macro( cssUrl $relativeUrl)$springMacroRequestContext.getContextPath()${relativeUrl}#end
#macro( loginBG $relativeUrl)$springMacroRequestContext.getContextPath()${relativeUrl}?@BUILD_TOKEN@#end
#macro( jsUrl $relativeUrl)$springMacroRequestContext.getContextPath()${relativeUrl}#end
#macro( imgUrl $relativeUrl)$springMacroRequestContext.getContextPath()${relativeUrl}#end

