#macro (retPlanAccountListHeader $retirementPlanAccountNewBadge $retPlanDowntimeEnabled)
    <tr></tr>
    <th colspan="3" class="rounded-account-tittle">
        <span >#springMessageText("portal.account.retplans.label" "Retirement Plans")</span>
        #if($retirementPlanAccountNewBadge)
            <span class="notification-retirementPlan-newfeature">#springMessageText('new.function' 'New')</span>
        #end
    </th>
#end
