.accordion .card-header.steps:after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f068";
    float: left;
    margin-right: 10px;
}
.accordion .card-header.steps.collapsed:after {
    content: "\f067";
}

.accordion .card-header.questions:after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f0d7";
    float: left;
    margin-right: 10px;
}
.accordion .card-header.questions.collapsed:after {
    content: "\f0da";
}

.custom-button {
    color: #324509;
    min-height: 44px;
    text-shadow: rgba(255,255,255,.4) 0 1px 0;
    font-weight: bold;
    border: 1px solid #7e827a;
    -moz-box-shadow: 0 1px 2px #333333;
    -webkit-box-shadow: 0 1px 2px #333333;
    box-shadow: 0 1px 2px #333333;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #e3f9a9; /* Old browsers */
    background: -moz-linear-gradient(top,  #e3f9a9 0%, #90c241 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3f9a9), color-stop(100%,#90c241)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e3f9a9 0%,#90c241 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e3f9a9 0%,#90c241 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e3f9a9 0%,#90c241 100%); /* IE10+ */
    background: linear-gradient(top,  #e3f9a9 0%,#90c241 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3f9a9', endColorstr='#90c241',GradientType=0 ); /* IE6-9 */
    width: 100%;
}

.custom-button-green {
    color: #324509;
    min-height: 44px;
    text-shadow: rgba(255,255,255,.4) 0 1px 0;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid #7e827a;
    -moz-box-shadow: 0 1px 2px #333333;
    -webkit-box-shadow: 0 1px 2px #333333;
    box-shadow: 0 1px 2px #333333;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #e3f9a9; /* Old browsers */
    background: -moz-linear-gradient(top,  #e3f9a9 0%, #90c241 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3f9a9), color-stop(100%,#90c241)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e3f9a9 0%,#90c241 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e3f9a9 0%,#90c241 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e3f9a9 0%,#90c241 100%); /* IE10+ */
    background: linear-gradient(top,  #e3f9a9 0%,#90c241 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3f9a9', endColorstr='#90c241',GradientType=0 ); /* IE6-9 */
    width: 99.2% !important;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    width: fill-available !important;}

.custom-button-gray {
    color: #324509;
    min-height: 44px;
    text-shadow: rgba(255,255,255,.4) 0 1px 0;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid #e6e6fa;
    -moz-box-shadow: 0 1px 2px #333333;
    -webkit-box-shadow: 0 1px 2px #333333;
    box-shadow: 0 1px 2px #333333;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #e6e6fa; /* Old browsers */
    background: -moz-linear-gradient(top,  #e6e6fa 0%, #f6f6f6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3f9a9), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e6e6fa 0%,#f6f6f6  100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e6e6fa 0%,#f6f6f6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e6e6fa 0%,#f6f6f6 100%); /* IE10+ */
    background: linear-gradient(top,  #e6e6fa 0%,#f6f6f6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6fa', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
    width: 99.2% !important;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    width: fill-available !important;
}

.custom-button-yellow {
    color: #324509;
    min-height: 44px;
    text-shadow: 0 /*{e-bup-shadow-x}*/ 1px /*{e-bup-shadow-y}*/ 0 /*{e-bup-shadow-radius}*/ 	#fff /*{e-bup-shadow-color}*/;
    font-weight: bold;
    border: 1px solid #f4c63f;
    -moz-box-shadow: 0 1px 2px #333333;
    -webkit-box-shadow: 0 1px 2px #333333;
    box-shadow: 0 1px 2px #333333;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #fadb4e; /* Old browsers */
    background: -moz-linear-gradient( #ffefaa /*{e-bup-background-start}*/, #ffe155 /*{e-bup-background-end}*/); /* FF3.6 */
    background: -webkit-gradient(linear, left top, left bottom, from( #ffefaa /*{e-bup-background-start}*/), to( #ffe155 /*{e-bup-background-end}*/)); /* Saf4+, Chrome */
    background: -webkit-linear-gradient( #ffefaa /*{e-bup-background-start}*/, #ffe155 /*{e-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background: -o-linear-gradient( #ffefaa /*{e-bup-background-start}*/, #ffe155 /*{e-bup-background-end}*/); /* Opera 11.10+ */
    background: -ms-linear-gradient( #ffefaa /*{e-bup-background-start}*/, #ffe155 /*{e-bup-background-end}*/); /* IE10 */
    background: linear-gradient( #ffefaa /*{e-bup-background-start}*/, #ffe155 /*{e-bup-background-end}*/);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3f9a9', endColorstr='#90c241',GradientType=0 ); /* IE6-9 */
    width: 99.2% !important;
    font-weight: bold;
    color: #222 /*{e-bup-color}*/;
    font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
    text-decoration: none;
}

.dropdown-popular {
    font-weight: bold;
    text-transform: capitalize;
}

.dropdown-popular_ncap {
    font-weight: bold;
}

div.popular-header > div.row {
    margin-left: -5px !important;
    margin-right: -5px !important;
}

div.popular-header > div.row > div.col > h6{
    display:inline;
}

div.popular-header > div.row > div.col > a.btn {
    display:inline;
    background-color: #0d529e;
    border-color: #003366
}

[data-toggle~="collapse"] {
    cursor: pointer;
}

.info-message{
    color: #003e7e;
    font-weight: bold;
    font-size:15px;
    margin-top:-10px !important;
    margin-bottom:5px;
    padding-bottom:5px;
}

.error-message{
    color: #cc0000;
    font-weight: bold;
    margin-top:-10px !important;
    margin-bottom:5px;
    padding-bottom:5px;
}

.error-message::before{
    font-family: 'Font Awesome 5 Free' !important;
    content: "\f071";
    float: left;
    margin-right:5px;
}


.field label {
    float: left;
    width: 20%;
    text-align: left;
    padding-right: 10px;
    margin: 5px 0px 5px 0px;
}
.field input {
    width: 80%;
    margin: 0px;
}
.field select {
    width: 80%;
    margin: 0px;
}

div.form-group > li.list-group-item.list-inline-item > div.radio{
    display:table-row
}

div.radio > span{
    display:table-cell;
    vertical-align:middle;
}

div.radio > label{
    display:table-cell;
    font-size: 15px;
}

.first-child-group {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.last-child-group {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.label-line-break:after {
    content: '\A';
    white-space: pre;
}

input[type="radio"] {
    margin: 3px 3px 0px 5px;
}

.list-inline-item:not(:last-child) {
    margin-right: unset;
}