/* CSS Document */

table { position: relative; width: 864px; margin: auto; border: 1px solid #e7e7e7; }
img.t { cursor: pointer; position: absolute; }
.tooltip-inner { text-align: left; }
.tooltip-inner ul { padding-left: 20px; }
.outline { box-shadow: 0px 0px 6px #990000; border-color: #C00; border-style: solid; border-width: 1px; position: absolute; cursor: pointer; }
.pfm { width: 385px; padding: 10px 0 10px 0; text-align: justify; margin-left: 30px; }
.pfm h1 { font-size: 130%; }