* {
  font-family: -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               helvetica, 'helvetica neue',
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
}


.button-green, .button-green:hover {
  background: #90C241;
}

.button-modal{
  text-align: center;
  width: 100%;
}

.button-title-option, .button-title-option:hover {
  color: #234b7f;
  font-size: 1em;
  font-weight: bold;
  text-align: left;
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
  border-radius: 5px;
  padding:.7em;
  margin-bottom: 8px;
  width: 90%;
}

.button-title-option:first-of-type{
  margin-top: 20px;
}

.button-title-option img {
  vertical-align: inherit;
  margin-right: .5em;
}

.button-title-option p {
  display: inline-block;
  margin: 0;
}

.button-title-icon {
  display: inline-block;
  vertical-align: middle;
}

.button-content, ons-toolbar div.center {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	vertical-align: middle;	
}

ons-list-item p {
  margin: 0 0 0 8px;
}

.text-blue {
  color: #3784D2;
}

.text-gray {
  color: #6E6E72;
}

div.underlined-title {
	width: 90%;
	text-align: left;
	display: inline-block;
	border-bottom: 1px;
	border-bottom-color: lightgray;
	border-bottom-style: solid;
	font-size: 14px;
	padding: 30px 0px 8px 0px;
	text-indent: 10px;
	text-transform: uppercase;
}

ons-toolbar.toolbar-segment.toolbar {
	background: #fff;
	display: block;
	position:static;
}

ons-toolbar div.left, ons-toolbar div.right {
	width: 10%;
}

ons-toolbar div.center {
	width: 80%;
	padding-left: 10px;
	padding-right: 10px;
}

ons-toolbar.editPayeeTB div.center {width: 50%; color : #fff;}
ons-toolbar.addPayeeTB div.left, ons-toolbar div.right {width: 15%; font-size : calc(15.5px + (26 - 15.5) * ((100vw - 300px) / (1600 - 300)));}
ons-toolbar.editPayeeTB ons-back-button.back-button--material.back-button {
	display : inline!important;
	padding-left: 30%;
}

.toolbar__right, .toolbar--material__left, .toolbar--material__right, .toolbar-button--material {
	font-size : calc(15.5px + (26 - 15.5) * ((100vw - 300px) / (1600 - 300)));
}

ons-toolbar.with-buttons.addPayeeTB div.left, ons-toolbar.with-buttons.addPayeeTB div.right {
	width: 12%;
	
}

ons-toolbar.with-buttons.addPayeeTB div.right {
	width: 15%;
	
}

ons-toolbar.with-buttons.addPayeeTB div.left:not(.toolbar--material__left) { margin-left: 10px;}

ons-toolbar.with-buttons.addPayeeTB div.right {margin-right: 10px;}
ons-toolbar.with-buttons.editPayeeTB div.right {margin-right: 10px;}

ons-toolbar.with-buttons.editPayeeTB div.left, ons-toolbar.with-buttons.editPayeeTB div.right {
	width: 25%;
}

.toolbar--material__center {
	text-align: center;
    margin-left: -10px;}

ons-toolbar.with-buttons.addPayeeTB div.center {
	width: 73%;
	}

ons-back-button { 
	color: #fff;
}

.page-mt {
  margin-top: 5em;
}

ons-page div.page__background {
	background-color: #F5F5F5;
}

ons-page.addPayeePage.page--material div.page--material__background {
	background-color: #FFFFFF!important;
}

.toolbar__title {color:#fff;  overflow-x: hidden; overflow-y: hidden; text-overflow: ellipsis; font-weight: bold;	
	font-size : calc(15.5px + (26 - 15.5) * ((100vw - 300px) / (1600 - 300)));};


ons-list-header.list-header {
    padding-top: 20px;
    padding-bottom: 6px;
    background-color: #F5F5F5;
    font-size: 14px;
    font-weight: normal;
}

ons-list-header.empty-header {
	padding: 0px;
	min-height: 16px;
}

/***************************

Info Cards Padding

***************************/

ons-page#retirosAlerts .card--plastic-itemlist-title,
ons-page#creditAlerts .card--plastic-itemlist-title {
  padding-left: 8px;
}

/***************************

Info Card Design

***************************/

.card--plastic {
/*   background: #fff;
  box-shadow: inset 0 0 0 0 #C8C7CC;
  margin: 8px 0;
  padding: 16px; */
}

.card--plastic-header{
  display: flex;
  border-bottom: 1px solid #EEEEEE;
  width: 100%;
}

.card--plastic-header img {
  width: 44px;
  height: 44px;
  padding-right: 8px;
}


.card--plastic-header-section{
  display: flex;
  align-items: baseline;
  margin-bottom: 7px;
  justify-content: space-between;
  padding-right:10px;
}

.card--plastic-header-section:last-of-type{
  margin-bottom: 16px;
}

h2.card--plastic-header-holder.ath{
  margin: 0;

}
h2.card--plastic-header-holder.ath.acc-info{
  font-size: 15px;
  color: #4A4A4A;
  font-weight: lighter;
}

h4.card--plastic-header-number.ath{
  margin: 0;
}

h2.card--plastic-header-holder {
  font-size: 17px;
  color: #4A4A4A;
  margin: 0 0 8px 0;
}

h4.card--plastic-header-number{
  opacity: 0.5;
  font-size: 13px;
  color: #4A4A4A;
  margin: 0 0 12px 0;
}

.card--plastic-itemlist{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #EEEEEE;
  padding: 8px 10px 8px 0;
  margin-left: 10px;
  width: 100%;
}

.card--plastic-itemlist-item {
   padding-bottom: 0px; 
   padding-right : 0px;
}

.card--plastic-itemlist:last-child{
  border-bottom: none;
  padding-bottom: 12px;
}

h2.card--plastic-itemlist-title{
  font-size: 15px;
  color: #4A4A4A;
  max-width: 65%;
  min-width: 200px;
  margin: 0;
}

.card--plastic-itemlist-icons {
    display: flex;
    align-items: center;

}

.card--plastic-itemlist-icons img {
    margin-left: 8px;
}

h1.card--plastic-itemlist-title-main{
  margin: 16px 0 0 0;
  font-size: 15px;
  color: #3784D2;
  letter-spacing: -0.09px;
}

.card--plastic-header-info{
	width: 100%;
}

.alert-amount{
  font-weight: bold;
}

/***************************

Modal

***************************/

.dialog{
  width: 90%;
  max-width: 380px;
  height: auto;
  background: #FFFFFF;
  box-shadow: 0 4px 9px 0 rgba(0,0,0,0.30);
  border-radius: 10px;
}

.alert-dialog {
  width: 80%;
  max-width: 300px;
  height: auto;
  box-shadow: 0 4px 9px 0 rgba(0,0,0,0.30);
  padding: 20px;
  text-align: center;
}

.dialog-container{
  background: #fff;
}

.dialog--header{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #C8C7CC;
  padding: 12px 16px;
}

.dialog--header h6,
.dialog--header p {
  margin: 0;
  font-size: 15px;
}

.dialog--header h6 {
  font-weight: 500;
  font-size: 17px;
  color: #0B0B0B;
  letter-spacing: -0.42px;
}

.dialog--info-section{
  background: #F5F5F5;
  padding: 12px 16px;
  display: flex;
}

.dialog--info-section img {
  width: 36px;
  height: 36px;
  margin-right: 8px;
}

.dialog--card .card--plastic-header-section {
  flex-direction: column;
}

.dialog h2.card--plastic-header-holder{
  font-weight: 500;
  margin: 0 0 2px 0;
}

.dialog h4.card--plastic-header-number {
  font-weight: 400;
  margin-bottom: 0;
}

.dialog .card--plastic-header-section:last-of-type {
  margin-bottom: 0;
}

.dialog--card-body {
  padding: 16px;
}

.dialog--card .dialog--card-input-section{
  border-radius: 5px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  background: #F5F5F5;
}

.dialog .text-blue h2.card--plastic-header-holder {
  margin: 0 16px 0 0;
}

.dialog--card .dialog--card-input-section h2.card--plastic-header-holder{
  margin-right: 16px;
  margin-bottom: 0;

}

.dialog--card-body h2.dialog--card.card--plastic-header-holder.alert-title{
  color: #3784D2;
  margin-bottom: 8px;
}

.dialog--card .dialog--card-input-section input {
  background: none;
  border: 0;
  font-size: 34px;
  color: #3784D2;
  height: auto;
  width: 100%;
}

.dialog--card .dialog--card-input-section input::placeholder{
  color: #C8C7CC;
}

.dialog--card .dialog--card-input-section input:focus{
  color: #3784D2;
}

.dialog--button-container {
	padding: 8px;
}

.dialog-mask-ios{
	top: 44px !important;
}

.dialog-mask-android{
	top: 56px !important;
}

span.card--plastic-input-text,
input.card--plastic-input-text {
  font-size: 34px;
  color: #C8C7CC;
}

p.alert-type-title{
  text-transform: uppercase;
  font-size: 13px;
  color: #6D6D72;
  margin-top: 24px;
}

#close-dialog-btn{
	position:relative;
}
.cancel-clickable-area:after{
	content: "";
    padding: 21px 37px 23px 37px;
    position: absolute;
    left: -14px;
    top: -12px;
}

/***************************

Material

***************************/
.toolbar-button{
	padding-left: 4px;
    padding-right: 4px;
    color: #FFFFFF;
}

.alert-dialog-container--material {
	box-shadow: none;
}

.title_toolbar_button {
	color: #FFFFFF;
	background: none;
}

.back-button {
    height: 44px;
    padding-left: 8px;
    color: #FFFFFF;
}

.back-button__icon {
    margin-right: 6px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: inline-flex;
    fill: #FFFFFF;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
}

.toolbar {
  background-color: #234b7f;  
}

.toolbar--material {
  background-color: #003e7e;
}

ons-input .text-input, ons-search-input .search-input {
    width: 99%;
    display: inline-block;
}

ons-input .text-input{
	line-height: normal;
	outline-offset: 8px;
	outline-style: none;
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
	-webkit-appearance: none;
	border-radius: 0;
}

#dialog-amount {
	padding: 0px;
}

.navbar-spacing {
	top: 44px;
}
.navbar-spacing--material {
	top: 60px;
}

.search-input {
    background-color: rgba(255, 255, 255, 1);
}

.button--material:active {
  background-color: silver;
}

.button--material { 
  color : black;
}

.btn-primary {
	background:#90C241;
	background-image:none;
	border: none;					  
	-webkit-transition:opacity .3s ease-in-out;
	-moz-transition:opacity .3s ease-in-out;
	transition:opacity .3s ease-in-out;
	font-size : 16px;
	}

.btn-primary.active,.btn-primary:hover {
	background:#8fc13e!important;
	border: none!important						   
	}

.btn-primary.active,.btn-primary.disabled,.btn-primary:active,.btn-primary:focus,.btn-primary:hover,.btn-primary[disabled] {
					  
	border: none;					  
	background-color:#8fc13e!important;
	-webkit-transition:opacity .3s ease-in-out;
	-moz-transition:opacity .3s ease-in-out;
	transition:opacity .3s ease-in-out
}
.btn-primary.disabled,.btn-primary[disabled]{opacity:.6}
.btn-primary.active,.btn-primary:active{background-color:#8fc13e\9}

.title-content-success {
	text-align: center;
    color: #3e8bde;
    font-weight: bold;
    font-size: 20px;
}

.title-content-success img {
	display: block;
    margin-bottom: 15%;
    margin-top: 25%;
    margin-left: auto;
    margin-right: auto;
    width : 140px;
}

.content-success {
	text-align: center;
	font-weight: bold;
				  
					
	font-size: 16px;
}

.title-content-fail {
	text-align: center;
    color: #f48f2a;
    font-weight: bold;
    font-size: 20px;
}

.title-content-fail img {
	display: block;
    margin-bottom: 10%;
    margin-top: 25%;
    margin-left: auto;
    margin-right: auto;
    width : 160px;
}

.content-fail {
	text-align: center;
	font-weight: bold;
				  
					
	font-size: 16px;
	
}

.fullImg {
	max-width: 100%;
	height: auto;
	width : 90%;
	margin-left: auto;
    margin-right: auto;
    -webkit-transform:scale(2.0);
	-moz-transform:scale(2.0);
	-ms-transform:scale(2.0);
	-o-transform:scale(2.0);
	transform:scale(2.0);									   
	overflow:hidden;
}

.imgHelp {
    display: block;
    padding-bottom: 1%;
    width : 100%;
}
.imgHelpContainer {
	padding-right: 15px;
	background-color: #ffffff!important;
}

.helpImgOrientation {
	width: 15%;
    height: auto;
}

.containerBottom {
	position: absolute;
	right: 0;
	left: 0;
	margin-left: 10px;
	margin-right: 10px;
	padding: 2rem 0rem 1rem 0rem;
}

.containerBottomF {
	position: absolute;
	right: 0;
	left: 0;
	bottom:0;
	margin-left: 10px;
	margin-right: 10px;
	padding: 2rem 0rem 1rem 0rem;
}

.itemsListCustom{
	margin: 2% 0 2% 0;
}

@media only screen and (min-width: 768px) {
    .title-content-success img {
		display: block;
	    margin-bottom: 5%;
	    margin-top: 20%;
	    margin-left: auto;
	    margin-right: auto;
	    width : 20%;
	}
	
	.title-content-fail img {
		display: block;
	    margin-bottom: 5%;
	    margin-top: 20%;
	    margin-left: auto;
	    margin-right: auto;
	    width : 20%;
	}
	
	.containerBottom {
		position: absolute;
	    right: 0;
	    left: 0;
	    padding: 1rem 10rem 1rem 10rem;
	}
	.containerBottomF {
		position: absolute;
		right: 0;
		left: 0;
		bottom: 0;
		padding: 2rem 7rem 1rem 7rem;
	}
	ons-card.addPayeeCard {
		margin-top: 10%!important;
	}
	
	.fullImg {
		max-width: 100%;
    	height: auto;
    	width: calc(67% - 20px);
    }

	.toolbar__title {	font-size : calc(15.5px + (18 - 15.5) * ((100vw - 300px) / (1600 - 300)));};

}
@media only screen and (orientation: portrait) {

	.fullImg {
		transform : rotate(90deg) scale(2.0);
	}
}

@media only screen and (orientation: landscape) {
	.title-content-fail img {
		display : block;
		margin-left : auto;
		margin-right : auto;
		margin-bottom: 5%;
		margin-top: 5%;
		width : 20%;
	}

	.title-content-success img {
		display : block;
		margin-left : auto;
		margin-right : auto;
		margin-bottom: 5%;
		margin-top: 5%;
		width : 20%;
	}

 
	.containerBottom {
		position: absolute;
	    right: 0;
	    left: 0;
	    padding: 1rem 10rem 1rem 10rem;
	}

	.containerBottomF {
		position: absolute;
		right: 0;
		left: 0;
		bottom: 0;
		padding: 2rem 7rem 1rem 7rem;
	}


	.fullImg {
		max-width: 100%;
	    	height: auto;
    		width: calc(67% - 20px);
 		-webkit-transform:scale(1.5);
		-moz-transform:scale(1.5);
		-ms-transform:scale(1.5);
		-o-transform:scale(1.5);
		transform:scale(1.5);
	    }

	.toolbar__title {	font-size : calc(15.5px + (18 - 15.5) * ((100vw - 300px) / (1600 - 300)));};


}


ons-card.addPayeeCard {
	box-shadow: none;
	margin-top:20px;
	margin-bottom:20px;	
}

/***************************

Loading

***************************/
.loading-container {
	height: 100%; 
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
}

.loading-box-ios {
	color: #A9A9A9;
	height : 100px;
	width : 250px;
	background-color: #ffffff;
	margin: auto;
	-webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
	-moz-border-radius: 20px / 20px;
	-webkit-border-radius: 20px / 20px;
	border-radius: 20px / 20px;
	border-style: solid;
    	border-width: 1px 1px 1px 1px;
    	padding-top : 20px;
}

.loading-box-android {
	color: #000000;
	height : 80px;
	width : 85%;
	background-color: #f5f5f5;
	margin: auto;
	-webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
	-moz-border-radius: 2px / 2px;
	-webkit-border-radius: 2px / 2px;
	border-radius: 2px / 2px;

}

.loading-box-android img{
	width : 40px;
	opacity : .7;
	filter: alpha(opacity=70);
}

.loading-box-content {
	padding-left: 20px;
	padding-right: 20px;
}

.search_box {
	text-align: center;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.search-box-ios {
	color: #A9A9A9;
	height : 100px;
	width : 250px;
	margin: auto;
    	padding-top : 20px;
}

.search-box-android {
	color: #000000;
	height : 80px;
	width : 85%;
	margin: auto;
}

.search-box-android img{
	width : 40px;
	opacity : .7;
	filter: alpha(opacity=70);
}
.modal {
    background-color: rgba(0,0,0,.5);
}

.modal.search {
    background-color: rgba(0,0,0,0);
}

/*****************
Android 
*****************/
.switch--material__toggle {
    background-color: #e1e1e1;
    box-shadow: none;
}

.switch--material__handle {
    background-color: #d6d6d6;
    
}

:checked + .switch--material__toggle {
  background-color: rgba(200, 221, 246, 1);
}
:checked + .switch--material__toggle > .switch--material__handle {
  background-color: #498DDE;
}
.button--material,.button--material--flat{text-transform: capitalize;}



#spinner {
	opacity: .4;
	height: 50px;
	width: 50px;
	text-indent: 250px;
	white-space: nowrap;
	overflow: hidden;
	-webkit-mask-image: url(../img/newPayee/spinnerAndroid.png);
	background-color: #000;
	-webkit-animation-name: spinnerRotate;
	-webkit-animation-duration: 1.8s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes spinnerRotate {
	from {
		-webkit-transform:rotate(0deg);
	}
	to {
		-webkit-transform:rotate(-360deg);
	}
}
@-webkit-keyframes delButtonAnim {
    from {background-color: color: rgba(0,0,0,.5);}
    to {background-color: color: rgba(255,0,0,.6);}
}

@keyframes delButtonAnim {
    from {background-color: color: rgba(0,0,0,.5);}
    to {background-color: color: rgba(255,0,0,.6);}
}

.fab {
	background-color : red;
	font-size : 16px;
}

.fab:active {
  background-color: rgba(255, 8, 0, 0.7);
}
.fab--mini {
    width: 25px;
    height: 25px;
}
.fab--mini, .fab--mini__icon {
    line-height: 25px;
}
.fab--material {
	background-color : rgba(255,255,255,0);
	color: rgba(0,0,0,.5);
	box-shadow: none;
	vertical-align: middle;
}

.fab--material:active {
  background-color: rgba(255, 255, 255, .1);
  transition: all 0.2s ease;
  box-shadow: none;
  animation: delButtonAnim 1s;
}
.delButton {
	text-align : left;
	padding-left: 20px;
	padding-top: 5px;
    padding-bottom: 5px;
}

.delButton .delButtonText{
	display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 64%;
}

.delButton span{
	font-size: 12px;
    display: block;
    text-align: left;
    color: rgba(0,0,0,.5);
}

.delButton img{
	vertical-align : middle;
	padding-left: 20px;
}

.delButtonText span.list-item__subtitle.list-item--material__subtitle {
	font-size: 12px;
    color: rgba(0,0,0,.5);
}

.delButton img.material{ 
	padding-left: 0px;
}
.delButton span.material{
	padding-right: 10px;
}

.list-item__thumbnail {
	width: 60px;
    height: 50px;
    padding-left : 15px;
	
}

.delButtonText span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-item .delButtonText {
	width: 70%;
	}
.list-item--material__center .delButtonText {
	width: 50%;
}

.list-item--material__thumbnail {
	padding-left : 0px!important;
}

.delButtonText button.fab--material.fab--mini,.delButtonText ons-fab.fab.fab--material.fab--mini {
	position: absolute;
    left: 97%;
    font-size : 22px;
}

.editPayeeList .list-item--material {
	width: 90%;
}

.alert-dialog-content ul {
	text-align : left;
}

.separator {
    border-left: 2px solid rgba(255,255,255,.3);
    height: 40px;
    left: 16%;
    position: fixed;
    top: 10px;
}

#helpText {
	display: block;
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
}	
#msgEmail div {
    display: block;
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
}
#linkEmail a{
	color: #3e8bde;
}
#linkEmail a #customerEmail{
	text-decoration: none;
}

#nickname ,#nickname span{
	overflow: visible;
	font-size : 4vw;
}

@media (max-width: 400px) { 
	.toolbar-button {
		margin-left : -5px;
	}
	#nickname input.text-input { font-size : 4vw;}
	ons-toolbar.with-buttons.addPayeeTB div.left:not(.toolbar--material__left) { margin-left: 15px;}
}


.popularLogo {
	width :90%; 
	padding-top : 7%;
	margin-left: -10px;
}
.back-button { 
	padding-left: 8px;
}
.back-button2 { 
	padding-left: 13px;
}
.backSuccessAndroid{padding-left: 10px;
}

/** CSS to ONSEN fix */
.alert-dialog-container {
    padding-top: initial;
}

.alert-dialog--chDiag {
    padding: 0px!important;
}

.alert-dialog {
    width: 80%;
    max-width: 300px;
    height: auto;
    box-shadow: 0 4px 9px 0 rgba(0,0,0,0.30);
    padding: 20px;
    text-align: center;
}

.alert-dialog-container {
    padding-top: initial;
}