#AMclose, #AMclose a, #AMclose a:hover {
	color:#646869;
}

.menu_body_item {
	clear: both;
	background-color: #EAF1F6;
	margin: 2px 4px;
	cursor: pointer;
}

.menu_body_item_close {
	background: url(../../img/athMovil/btnDown.gif?@BUILD_TOKEN@) center right no-repeat;
	margin: 0px 5px; 
	padding: 5px 0px;
}

.menu_body_item_open {
	background: url(../../img/athMovil/btnUp.gif?@BUILD_TOKEN@) center right no-repeat;
	margin: 0px 5px; 
	padding: 5px 0px;
}

.menu_body_logo {
	background: url(../../img/athMovil/athmLogo.gif?@BUILD_TOKEN@) center right no-repeat;
	margin-right: 10px;
	height: 21px;
}

.transfer_stamp {
	background:url(../../img/athMovil/transferStamp.gif?@BUILD_TOKEN@) 74px 105px no-repeat;
}

.transfer_stamp_portal {
	background:url(../../img/athMovil/transferStamp.gif?@BUILD_TOKEN@) 165px 40px no-repeat;
}

.submit_Btn {
    width:80px;
	height:20px;
	color:#000000;
	font-size:11px;
	background:url(../../img/athMovil/btnSubmitLarge.gif?@BUILD_TOKEN@) no-repeat;
	cursor:pointer;
	border:none;
	margin-left: 10px;
	padding-bottom: 4px;
	padding-right: 4px;
}

.submit_small_Btn {
    width:45px;
	height:20px;
	color:#000000;
	font-size:11px;
	background:url(../../img/athMovil/btnSubmit.gif?@BUILD_TOKEN@) no-repeat;
	cursor:pointer;
	border:none;
	margin-left: 10px;
	padding-bottom: 4px;
	padding-right: 4px;
}

.submit_next_Btn {
    width:80px;
	height:20px;
	color:#000000;
	font-size:11px;
	background:url(../../img/athMovil/btnSubmitLarge.gif?@BUILD_TOKEN@) no-repeat;
	cursor:pointer;
	border:none;
	margin-top: 10px;
	padding-bottom: 4px;
	padding-right: 4px;
}

.cancel_Btn {
    width:64px;
	height:20px;
	color:#000000;
	font-size:11px;
	background:url(../../img/athMovil/btnCancel.gif?@BUILD_TOKEN@) no-repeat;
	cursor:pointer;
	border:none;
	margin-top: 10px;
	padding-bottom: 4px;
}

textarea 
{
  resize: none;
}

.mainInstructions {
	position: relative;
	width: 675px;
	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: normal;
	font-size: 16px;
	font-weight: bold;
  	margin-bottom: 10px;
	color: #2c3e61;
	
}

.sendMoney_formFields {
  	font-family: Arial, Helvetica, sans-serif, Sans;
	font-style: normal;
	font-size: 11px;
  	margin-bottom: 10px;
	color: #000000;
}

.athm_section_logo {
	background: url(../../img/athMovil/athmLogo.gif?@BUILD_TOKEN@) center right no-repeat;
	margin-right: 10px;
	height: 21px;
}

.athm_transfers {
	padding: 20px 5px;
	font-size:11px;
	color:#535456;
}

.athm_transfers .search_options{
	border-left:1px;
	border-top:0px;
	border-right:0px;
	border-bottom:0px;
	border-color: #cde6ff;
	border-style: solid;
	padding:10px;
	float:right;
}

.athm_transfers .search_options select{
	width:200px;
}

.athm_transfers .search_options .label{
	font-size:11px;
	font-weight:normal;
	color:#000000;
}

.athm_transfers .list{
	/* stub */
}

.athm_transfers .sent{
	color:#003366;
}

.athm_transfers .list td{
	padding: 0 5px !important;
}

.athm_friends{
	padding: 20px 5px;
}

.athm_friends h3{
	color: #535456;
}

.athm_friends .list{
	padding: 0 5px;
}

.athm_friends .list a, .athm_friends .list a:visited {
	text-decoration: underline;
	color: #003366;
	cursor: pointer;
}

.athm_friends .add_friends{
	font-size:11px;
	color: #535456;
}

.athm_friends .add_friends a {
	font-size: 11px;
	text-decoration: none;
	cursor: pointer;
	color: #003366;
}

.athm_profile_options{
	padding: 20px 5px;
}

.athm_profile_options h3{
	color: #535456;
}

.athm_profile_options .list{
	padding: 0 5px;
}

.athm_profile_options .list a, .athm_profile_options .list a:visited {
	text-decoration: underline;
	color: #2A9AC2;
	cursor: pointer;
}

.icon-help-athm { display: inline-block; width: 20px; height: 20px; margin-top: 1px; *margin-right: .3em;background-image: url('../../img/default-images.gif'); margin: 0px 4px -4px 0px; background-position: 0px 0px; background-repeat: no-repeat;display: inline-block; width: 20px; height: 20px; margin-top: 1px; *margin-right: .3em;
background-image: url('../../img/default-images.gif'); margin: 0px 4px -4px 0px; background-position: 0px 0px; background-repeat: no-repeat;background-position: -160px 0px; }

.icon-help-athm-step4 { display: inline-block; width: 18px; height: 18px; margin-top: 1px; *margin-right: .3em;background-image: url('../../img/default-images.gif'); margin: 0px 4px -4px 0px; background-position: 0px 0px; background-repeat: no-repeat;display: inline-block; width: 20px; height: 20px; margin-top: 1px; *margin-right: .3em;
background-image: url('../../img/default-images.gif'); margin: 0px 4px -4px 0px; background-position: 0px 0px; background-repeat: no-repeat;background-position: -160px 0px; }