@charset "ISO-8859-1";

input[type="submit"] {
	border-style: none !important;
	border-width: 0px !important;
	border-radius: 0px !important;
	background-image: none !important;
	box-shadow: none !important;
	padding: 0 !important;
	width: auto !important;
	height: auto !important;
	text-shadow: none !important;
}


html {
	margin: 0px;
	height: 100%;
	width: 100%;
}

body {
	margin: 0px;
	min-height: 100%;
	width: 100%;
	background: #f2f2f2 !important;
}

.top-nav {
	background: #00205c;
	color: #fff;
	padding: 10px 0;
	height: 80px;
	padding-right: 0;
	padding-left: 0;
	margin-bottom: 40px;
}

.row {
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.content {
	padding: 0 0 0 0;
	border-radius: 3px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	background-color: #FFFFFF;
}

.content-body{
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.top-nav a {
	color: #FFFFFF !important;
	text-decoration: none;
}

.top-nav a:hover {
	text-decoration: none !important;
}

.pull-left {
	margin-right: 5px;
	float: left !important;
}

.fluid-container {
	width: 100%;
}

.header-row {
	padding-top: 6px !important;
}

.text-default {
	font-family: "Open Sans" !important;
	height: 23px !important;
	width: 210px !important;
	color: #333333 !important;
	font-size: 17px !important;
	line-height: 23px !important;
}

.bppr {
	vertical-align: middle !important;
	height: auto !important;
	z-index: 1;
	height: auto !important;
}

.logo-container h2 {
	display: inline-block;
	float: left;
}

.logo-container {
	padding-left: 5.5%;
}

.imgBppr {
	padding-top: 8px;
}

.cancelDiv {
	text-align: right;
	padding-right: 5.5%;
}

.cancelar {
	height: 23px !important;
	width: 180px !important;
	font-family: "Open Sans";
	font-size: 17px !important;
	line-height: 40px !important;
	text-align: center !important;
}

.button-text {
	height: 23px;
	width: 111px;
	color: #FFFFFF;
	font-family: "Open Sans";
	font-size: 17px;
	line-height: 23px;
	text-align: center;
	text-shadow: 0 1px 1px 0 #00205C;
}

.bgImagePage1 {
	padding-top: 0px !important;
	position: relative;
	text-align: center;
}

.label-welcome {
	width: 100% !important;
	color: #FFFFFF !important;
	font-family: "Open Sans" !important;
	font-size: 35px !important;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.div-continue-btn{
	padding-right:5%;
}

#inputAccountNumber{
	font-size:14px;
	font-family: "Open Sans";
}

#inputAccountNumber::-webkit-input-placeholder {
  	color: #959595;	font-family: "Open Sans";	font-size: 14px;
}
#inputAccountNumber::-moz-placeholder {
  	color: #959595;	font-family: "Open Sans";	font-size: 14px;
}
#inputAccountNumber:-ms-input-placeholder {
  	color: #959595;	font-family: "Open Sans";	font-size: 14px;
}
#inputAccountNumber::placeholder {
  	color: #959595;	font-family: "Open Sans";	font-size: 14px;
}

.label-terms{
	height: 23px !important;	
	width: 100% !important;	
	color: #2278C9 !important;	
	font-family: "Open Sans" !important;	
	font-size: 17px !important;	
	line-height: 23px !important;
}

.label-read-terms{
	height: 23px !important;	
	width: 100% !important;	
	color: #333333 !important;	
	font-family: "Open Sans" !important;	
	font-size: 17px !important;	
	line-height: 23px !important;
}

.label-accept-terms{
	height: 20px !important;	
	width: 100% !important;	
	color: #142C58 !important;	
	font-family: "Open Sans" !important;	
	font-size: 15px !important;	
}

.inner-content{
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 30px;
}
  @media screen and (max-width: 445px) {
        .cancelar {
            font-size: 13px !important;
            line-height: 35px !important;
        }
}
