<style>
.errorAnswer {
	color: red;
	font-size: 16px;
	text-align: left;
	width: 95%;
	margin: auto;
	margin-bottom: 4px;
	margin-left: 0px;
}

#oobinterruptionpage_description {
	font-family: Open Sans;
	font-style: normal;
	text-align: left;
	color: #333333;
	margin-bottom: 24px;
	position: relative;
	width: 95%;
}

#oobinterruptionpage_preference_code {
	font-family: Open Sans;
	font-style: normal;
	text-align: left;
	color: #333333;
	margin-bottom: 24px;
	position: relative;
	width: 95%;
}

#answer{
	width: 100%;
    height: 42px;
}
.inputError {
	border: 1px solid red !important;
}

#oobinterruptionSecurityQuestion {
	text-align: left;
	font-weight: bold;
	margin-top: 32px;
	margin-bottom: 16px;
	color: gray;
}
</style>

<script>

function getQuestion () {
	jQuery('#oobinterruption-loading').fadeIn('fast', function() {
		j.ajax({
	        url: 'rsaQuestion',
	        cache: false
	    }).done(function(response) {
	    	try {
	        	questionResponse = JSON.parse(response);
	        	actionInterruptionRsaQuestion(questionResponse);
	    	} catch(err) {
	    		var navigator = document.querySelector('#oobInterupptionPageNavigator');
	    		showErrorDialog('#springMessageText("oob.interruptionpage.text.error" "")');
	    		navigator.resetToPage('interruptionPage.html', {animation : 'none'});
	    	}

	    	hideLoading();
	    }); 
	    document.getElementById("answer").value = "";	
	});	
}

function actionInterruptionRsaQuestion(questionResponse) {
	document.getElementById("oobinterruptionSecurityQuestion").innerHTML = questionResponse.securityQuestion;
    var resourceInput = document.getElementById('btnValidateQuestion');
    resourceInput.disabled = true;
    document.getElementById("oobInterruptionQuestion").removeAttribute('display');
    jQuery('#oobInterruptionQuestion').fadeIn('slow');

    if (questionResponse.devicetoken != "") {
        setRSAToken(questionResponse.devicetoken);
    }
    
    document.getElementById("bkSp_").style.display = "block";
};
	
function oobInterruptionValidateQuestion(element) {
    var answer = jQuery('#answer')[0].value;
    jQuery('#oobinterruption-loading').fadeIn('fast', function() {
    	jQuery.ajax({
            beforeSend: function() {
                element.disabled = true;
            },
            url: 'validateQuestion',
            data: {
                'answer': answer
            }
        }).done(function(response) {
        	hideLoading();
            oobInterruptionSendAction(response);
            element.disabled = false;
        }) 
    }); 
}

function oobInterruptionSendAction(response) {
    if (response) {
        var res = JSON.parse(response);
        if (res.messageError != "") {
            jQuery('#errorAnswer')[0].innerHTML = res.messageError;
            var input = document.getElementById('divphone');
        	input.classList.add("inputError");
        	document.getElementById("answer").value = "";
        } else if (res.result == "SUCCESS") {
            jQuery('#errorAnswer')[0].innerHTML = '';
            getContactInfo();
        } else if (res.result == "BLOCKED") {
            location.replace('regainaccess?resource=blocked');
        } else if (res.result == "EXCEPTION") {
            location.replace('login?noSessionError=null');
        }
    } 
}

function getContactInfo() {
	jQuery('#oobinterruption-loading').fadeIn('fast', function() {
    	jQuery.ajax({
            url: 'getOobInterruptionContactInfo'
        }).done(function(response) {
        	var res = JSON.parse(response);
        	hideLoading();
        	
        	userPhoneNumber = res.customerPhone;
	    	userPhoneType = res.phoneType;
	    	userEmailUser = res.customerEmail;
	    	defCarrier = res.defCarrier;
	    	
        	document.querySelector("#oobInterupptionPageNavigator").pushPage('userInformation.html', { animation: '$animation' });
        }) 
    }); 
}

function inputValidation(input) {
    var resourceInput = document.getElementById('btnValidateQuestion');
    resourceInput.disabled = input.value.length > 0 ? false : true;
}

</script>
	
<div id="oobInterruptionQuestion" class="principal-content box" style="display: none;">

	<div class="principal-content-padding row content">
	
		<p id="interruptionpagetitle" class = "principal-content-margin-top" style="text-align: left;margin-bottom: 12px">
			#springMessageText("oob.interruptionpage.rsa.title" "")</p>
		<p class="oobinterruptionpagetext"
			style="text-align: left; margin-top: 0; margin-bottom: 40px">
			#springMessageText("oob.interruptionpage.rsa.description" "")</p>
		<p id="oobinterruptionSecurityQuestion" class = "oobinterruptionpagetext" style="margin-top: 0;margin-bottom: 8px">
			#springMessageText("oob.interruptionpage.rsa.description" "")</p>

		<div id="divphone" class="divfield">

			<ons-input id="answer" type="password" class="text-input answerRsa"
				placeholder="#springMessageText(" rsa.text.answer" "" )" float
				onInput="inputValidation(this)"></ons-input>

		</div>
		<p id="errorAnswer" class="errorAnswer"></p>
		
	</div>
	
	<div class="oobinterruptionpagebuttons row footer">
		<div class = "oobinterruptionpagebuttons-padding">
			<ons-button id="btnValidateQuestion"
			class="interruptionpagebutton buttonNext"
			style = "width: 100%;"
			onclick="oobInterruptionValidateQuestion(this)"
			disabled=true>
		#springMessageText("oob.interruptionpage.next" "")</ons-button>
		</div>
	</div>
</div>

